<div class="grid_row row-content">
  <section>
    <h2><%= current_user.provider_id %> Service Option Assignments</h2>

    <% if policy(:service_option_assignment).create? %>
      <%= link_to 'Create a Service Option Assignment', new_service_option_assignments_path, class: 'eui-btn--blue space-bot' %>
    <% end %>

    <h3>Manage Service Option Assignments</h3>

    <p>To <em>view</em> or <em>remove</em> currently assigned Service Options select the service implementations to view below.</p>

    <%= form_tag(service_option_assignments_path, method: :put, class: "service-option-form", id: "service-option-assignments-form") do %>
      <fieldset>
        <p class="form-description space-bot"><strong>NOTE</strong> that only service implementations which have dataset tags will be presented.</p>

        <div class="grid_row">
          <div id="service-option-assignment-chooser-widget"></div>
        </div>
      </fieldset>

      <fieldset>
        <%= button_tag 'Display Assignments', class: 'eui-btn' %>
      </fieldset>
    <% end %>
  </section>
</div>
