---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=NASA_Test_Group_no_members_1&description=NASA%20is%20seriously%20the%20coolest_1.&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7547a8d9dfba575e75a785c8d318b18c"
    body:
      encoding: UTF-8
      string: '{"name":"NASA_Test_Group_no_members_1","app_uid":"mmt_test","description":"NASA
        is seriously the coolest_1.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"746ac3ae-f238-412e-beb2-58035aa66a4e"}'
  recorded_at: Mon, 03 Oct 2022 19:46:14 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/746ac3ae-f238-412e-beb2-58035aa66a4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"71f7a6d7d193a49d94aadea4cdbea9a3"
    body:
      encoding: UTF-8
      string: '{"group_id":"746ac3ae-f238-412e-beb2-58035aa66a4e","name":"NASA_Test_Group_no_members_1","description":"NASA
        is seriously the coolest_1.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Mon, 03 Oct 2022 19:46:14 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/746ac3ae-f238-412e-beb2-58035aa66a4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Mon, 03 Oct 2022 19:46:14 GMT
recorded_with: VCR 6.1.0
