.page {
  &__header {
    position: relative;
    background:
      linear-gradient(
        rgba(0 0 0 / 5%),
        rgba(0 0 0 / 30%)
      ),
      url('static/src/assets/images/yellow-sea-swirls.jpg');
    background-size: cover;
  }
}
