<% if @errors && !@errors.empty? %>
  <section class="errors">
    <div class="eui-banner--danger">
      <div class="eui-banner__message">
        <ul class="no-bullet">
          <% @errors.each do |error| %>
            <li>
              <%= "#{error[:field]}, " if error[:field] %>
              <%= error[:error] %>
              <% if error[:request_id] %>
                <a href="javascript:feedback.showForm({details: '\nFill in details above this line. Please try to be as specific as possible.\n--------------------\n\nRequest ID: <%= error[:request_id] %>'});">Click here to submit feedback</a>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>