<% if @unsupported_version %>
  <%# with MMT-2301 see if this can be refactored into a partial %>
  <div class="eui-banner--warn">
    <p class="eui-banner__message">
      <%= "This #{@published_resource_name} has been published to the CMR at a higher UMM version than what MMT currently supports. In order to prevent unintentional data loss, editing this #{@published_resource_name} is currently unavailable." %>
    </p>
    <p>
      <%= "Cloning this #{@published_resource_name} to create a new draft record may result is loss of data." %>
    </p>
  </div>
<% end %>