---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a0ea6aa58a4b79e873d6cb66d9d5bfb7"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true}]}'
  recorded_at: Tue, 02 May 2017 18:45:16 GMT
- request:
    method: delete
    uri: http://localhost:3002/providers/MMT_2/subscriptions/test_native_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 500
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - 88dd6d01-aa41-46fc-828d-705d7dec1bbb
    body:
      encoding: UTF-8
      string: '{"errors" => ["Concept with native-id [test_native_id] and concept-id
        [<%= concept_id %>] is already deleted."] }'
  recorded_at: Thu, 16 Jul 2020 17:19:54 GMT
- request:
    method: get
    uri: http://localhost:3011/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 866be3e9-3242-45b5-9d0c-bd8df58c0ccf
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
- request:
    method: get
    uri: http://localhost:3003/subscriptions.umm_json?concept_id=<%= concept_id %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.0; charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '10'
      cmr-request-id:
      - ea5ee97c-0b1f-493d-87da-48a3816d4030
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":10,"items":[{"meta":{"revision-id":14,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"typical","native-id":"test_native_id","concept-id":"<%= concept_id %>","revision-date":"2020-07-16T17:30:48Z","concept-type":"subscription"},"umm":{"Name":"Test_Subscription_38f5c2b5-4192-4866-bcd4-413452e27b65","CollectionConceptId":"C520536-TEST","Query":"bounding_box=-10,-5,10,5&attribute\\[\\]=float,PERCENTAGE,25.5,30","SubscriberId":"rarxd5taqea","EmailAddress":"uozydogeyyyujukey@tjbh.eyyy"}}]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
- request:
    method: get
    uri: http://localhost:3011/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 0daa280f-6586-46b6-b186-bffcb8409009
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
[...]
- request:
    method: get
    uri: http://localhost:3011/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 2e2d7e7c-57f1-41e1-b8c6-7daedce0a6da
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read"]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
- request:
    method: get
    uri: http://localhost:3011/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 24edd338-d818-4bad-9c2f-26aa216b5d48
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
[...]
- request:
    method: get
    uri: http://localhost:3011/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9faa6495-6144-42e8-9624-beed6443069a
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Thu, 16 Jul 2020 17:30:49 GMT
recorded_with: VCR 5.1.0
