input[type="text"] {
    border-radius: 5px;
  }
  
  .platform-field {
    &-select-title {
      font-weight: bold;
      margin-left: 8px;
      font-size: 1.2rem;
    }
  
    &-select-option {
      cursor: pointer;
      list-style: none;
      margin-top: 0px;
      padding-left: 20px;
      font-size: 1.1rem;
  
      &:hover {
        background-color: rgb(235, 242, 246);
      }
    }
  
    &-clear-option {
      cursor: pointer;
      list-style: none;
      margin-top: 0px;
      margin-left: 8px;
      font-size: 1.1rem;
  
      &:hover {
        background-color: rgb(235, 242, 246);
      }
    }
  }
  
  .platForm-field-text-field {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    min-width: 690px;
    height: 40px;
  }
  