<!-- Platform [r] -->
<div class="row taller">
  <div class="col-12">
    <label class="icon-required">Platform</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'platform',
        values: draft.draft['Platform'] || [{}],
        name_prefix: "draft_platform_",
        multiple: true,
        options: {} } %>
  </div>
</div>


<!-- Project -->
<div class="row taller">
  <div class="col-12">
    <label>Project</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'project',
        values: draft.draft['Project'] || [{}],
        name_prefix: "draft_project_",
        multiple: true,
        options: {} } %>
  </div>
  </div>
</div>
