<!-- Platforms [r] -->
<fieldset class="accordion is-closed" id="platforms">
  <div class="accordion-header">
    <h3 class="icon-required">Platforms</h3>
    <%= mmt_help_icon(
      title: 'Platforms',
      help: 'properties/Platforms'
    ) %>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Platforms</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'platform',
            values: draft.draft['Platforms'] || [{}],
            name_prefix: "draft_platforms_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Projects -->
<fieldset class="accordion is-closed" id="projects">
  <div class="accordion-header">
    <h3>Projects</h3>
    <%= mmt_help_icon(
      title: 'Projects',
      help: 'properties/Projects'
    ) %>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Projects</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'project',
            values: draft.draft['Projects'] || [{}],
            name_prefix: "draft_projects_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>
