<!-- Platforms [r] -->
<fieldset class="accordion is-closed" id="platforms">
  <div class="accordion__header">
    <h3 class="accordion__title eui-required">Platforms</h3>
    <%= mmt_help_icon(
      title: 'Platforms',
      help: 'properties/Platforms'
    ) %>
    <div class="accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Platforms</span>
    </div>
  </div>
  <div class="accordion__body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'platform',
            values: draft.draft['Platforms'] || [{}],
            name_prefix: "draft_platforms_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Projects -->
<fieldset class="accordion is-closed" id="projects">
  <div class="accordion__header">
    <h3 class="accordion__title">Projects</h3>
    <%= mmt_help_icon(
      title: 'Projects',
      help: 'properties/Projects'
    ) %>
    <div class="accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Projects</span>
    </div>
  </div>
  <div class="accordion__body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'project',
            values: draft.draft['Projects'] || [{}],
            name_prefix: "draft_projects_",
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>
