<!-- Platform [r] -->
<fieldset>
  <h3>Platform</h3>
  <div class="row taller">
    <div class="col-12">
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'platform',
          values: draft.draft['Platforms'] || [{}],
          name_prefix: "draft_platforms_",
          multiple: true,
          options: {} } %>
    </div>
  </div>
</fieldset>

<!-- Project -->
<fieldset>
  <h3>Project</h3>
  <div class="row taller">
    <div class="col-12">
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'project',
          values: draft.draft['Projects'] || [{}],
          name_prefix: "draft_projects_",
          multiple: true,
          options: {} } %>
    </div>
  </div>
</fieldset>

<script>
  var globalJsonSchema = <%= raw @json_schema.to_json %>;
</script>