<!-- Related URL [r] -->
<fieldset class="accordion is-closed" id="related-urls">
  <div class="accordion-header">
    <h3 class="icon-required">Related URLs</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Related URLs</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'related_url',
            values: draft.draft['RelatedUrls'] || [{}],
            name_prefix: 'draft_|related_urls|_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Distribution -->
<fieldset class="accordion is-closed" id="distributions">
  <div class="accordion-header">
    <h3>Distributions</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Distributions</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'distribution',
            values: draft.draft['Distributions'] || [{}],
            name_prefix: 'draft_distributions_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>
