<!-- Related URL [r] -->
<div class="row">
  <div class="col-12">
    <label for="draft_related_url" class="main-field icon-required">Related URL</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'related_url',
        values: draft.draft['RelatedUrl'] || [{}],
        name_prefix: 'draft_|related_url|_',
        multiple: true,
        options: {} } %>
  </div>
</div>

<!-- Distribution -->
<div class="row taller">
  <div class="col-12">
    <label for="draft_distribution" class="main-field">Distribution</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'distribution',
        values: draft.draft['Distribution'] || [{}],
        name_prefix: 'draft_distribution_',
        multiple: true,
        options: {} } %>
  </div>
</div>
