<!-- Related URL [r] -->
<fieldset class="eui-accordion is-closed" id="related-urls">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required-o">Distribution URLs</h3>
    <%= mmt_help_icon(
      title: 'Related URLs',
      help: 'properties/RelatedUrls'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Related URLs</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'related_url',
            values: draft.draft['RelatedUrls'] || [{}],
            name_prefix: 'draft_|related_urls|_',
            multiple: true,
            options: {
              always_required: true,
              related_url_title: 'Distribution URLs',
              related_url_form_type: RelatedUrlFieldsHelper::DISTRIBUTION_FORM
            }
          } %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Distribution -->
<fieldset class="eui-accordion is-closed" id="distributions">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">Distributions</h3>
    <%= mmt_help_icon(
      title: 'Distributions',
      help: 'properties/Distributions'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Distributions</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'drafts/forms/type', locals: {
            type: 'distribution',
            values: draft.draft['Distributions'] || [{}],
            name_prefix: 'draft_distributions_',
            multiple: true,
            options: {} } %>
      </div>
    </div>
  </div>
</fieldset>
