<!-- Metadata language -->
<fieldset class="accordion is-closed">
  <div class="accordion-header"><h3>Metadata Language</h3></div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <label for="draft_metadata_language" class="main-field">Metadata Language</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="properties/MetadataLanguage"></i></a>
        <%= text_field_tag('draft[metadata_language]', draft.draft['MetadataLanguage'], placeholder: 'English', class: 'half-width validate') %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Metadata Dates -->
<fieldset class="accordion is-closed">
  <div class="accordion-header"><h3>Metadata Dates</h3></div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'date',
              values: draft.draft['MetadataDates'] || [{}],
              name_prefix: 'draft_|metadata_dates|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
