<!-- Metadata language -->
<fieldset class="accordion is-closed" id="metadata-language">
  <div class="accordion-header">
    <h3>Metadata Language</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Metadata Language</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <%= mmt_select(
          name: 'metadata_language',
          title: 'Metadata Language',
          prefix: 'draft_',
          value: draft.draft['MetadataLanguage'],
          options: @language_codes,
          help: 'properties/MetadataLanguage'
        ) %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Metadata Dates -->
<fieldset class="accordion is-closed" id="metadata-dates">
  <div class="accordion-header">
    <h3>Metadata Dates</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Metadata Dates</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'date',
              values: draft.draft['MetadataDates'] || [{}],
              name_prefix: 'draft_|metadata_dates|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- DirectoryNames -->
<fieldset class="accordion is-closed" id="directory-names">
  <div class="accordion-header">
    <h3>Directory Names</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-invisible">Toggle Metadata Dates</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'directory_name',
              values: draft.draft['DirectoryNames'] || [{}],
              name_prefix: 'draft_|directory_names|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
