<!-- Metadata language -->
<fieldset class="accordion is-closed" id="metadata-language">
  <div class="accordion-header">
    <h3>Metadata Language</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Metadata Language</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <label for="draft_metadata_language" class="main-field">Metadata Language</label>
        <a href="#help-modal" class="display-modal" tabindex="-1">
          <i class="fa fa-info-circle" data-help-path="properties/MetadataLanguage"></i>
          <span class="is-hidden">Help modal for metadata language</span>
        </a>
        <%= select_tag 'draft[metadata_language]', options_for_select(@language_codes, draft.draft['MetadataLanguage']), class: 'half-width' %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Metadata Dates -->
<fieldset class="accordion is-closed" id="metadata-dates">
  <div class="accordion-header">
    <h3>Metadata Dates</h3>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Metadata Dates</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'date',
              values: draft.draft['MetadataDates'] || [{}],
              name_prefix: 'draft_|metadata_dates|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- DirectoryNames -->
<fieldset class="accordion is-closed" id="directory-names">
  <div class="accordion-header"><h3>Directory Names</h3></div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'directory_name',
              values: draft.draft['DirectoryNames'] || [{}],
              name_prefix: 'draft_|directory_names|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
