<!-- Metadata language -->
<fieldset class="accordion is-closed" id="metadata-language">
  <div class="accordion-header">
    <h3>Metadata Language</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Metadata Language</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row taller">
      <div class="col-12">
        <label for="draft_metadata_language" class="main-field">Metadata Language</label>
        <a href="#help-modal" class="display-modal" tabindex="-1">
          <i class="fa fa-info-circle" data-help-path="properties/MetadataLanguage"></i>
          <span class="hidden">Help modal for metadata language</span>
        </a>
        <%= text_field_tag('draft[metadata_language]', draft.draft['MetadataLanguage'], placeholder: 'English', class: 'half-width validate') %>
      </div>
    </div>
  </div>
</fieldset>

<!-- Metadata Dates -->
<fieldset class="accordion is-closed" id="metadata-dates">
  <div class="accordion-header">
    <h3>Metadata Dates</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Metadata Dates</span>
    </a>
  </div>
  <div class="accordion-body">
    <div class="row">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'date',
              values: draft.draft['MetadataDates'] || [{}],
              name_prefix: 'draft_|metadata_dates|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
