<!-- (Non) Data Center Contact Persons - multiple -->
<fieldset class="eui-accordion" id="non_data_center_contact_persons">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">(Non) Data Center Contact Persons</h3>
    <%= mmt_help_icon(
      title: 'Contact Persons',
      help: 'properties/ContactPersons'
    ) %>
  </div>
  <div class="eui-accordion__body">
    <div class="row taller">
      <div class="col-12">
        <div class="row">
          <%= render partial: 'drafts/forms/type', locals: {
            type: 'contact_person',
            values: draft.draft['ContactPersons'] || [{}],
            name_prefix: "draft_|contact_persons|_",
            multiple: true,
            options: {
              data_center_affiliation: false,
              related_url_title: 'Related URLs', # TODO each related url might have a different title
              related_url_form_type: RelatedUrlFieldsHelper::DATA_CENTERS_FORM
            }
          } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!-- (Non) Data Center Contact Groups - multiple -->
<fieldset class="eui-accordion" id="non_data_center_contact_groups">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title">(Non) Data Center Contact Groups</h3>
    <%= mmt_help_icon(
      title: 'Contact Groups',
      help: 'properties/ContactGroups'
    ) %>
  </div>
  <div class="eui-accordion__body">
    <div class="row taller">
      <div class="col-12">
        <div class="row">
          <%= render partial: 'drafts/forms/type', locals: {
            type: 'contact_group',
            values: draft.draft['ContactGroups'] || [{}],
            name_prefix: "draft_|contact_groups|_",
            multiple: true,
            options: {
              data_center_affiliation: false,
              related_url_title: 'Contact Group Related URLs',
              related_url_form_type: RelatedUrlFieldsHelper::NON_DATA_CENTER_AFFILIATION_FORM
            }
          } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>

<!--
Data Center {
  Roles* (multi-select)
  Shortname*
  Longname
  Contact Information {
    RelatedURL
    Service Hours
    Contact Instructions
    Mechanisms
    Address {
      Street
      City
      State
      Country
      PostalCode
    }
  }
  ContactPersonType {
    Roles*
    FirstName
    MiddleName
    LastName
    Contact Information {
      RelatedURL
      Service Hours
      Contact Instructions
      Mechanisms
      Address {
        Street
        City
        State
        Country
        PostalCode
      }
    }
  }
  [Add another Data Center contact person]
  ContactGroup {
    fields...
  }
  [Add another Data Center contact group]
}
[Add another Data Center]
 -->
