<fieldset class="eui-accordion" id="organizations">
  <div class="eui-accordion__header">
    <h3 class="eui-accordion__title eui-required">Organizations</h3>
    <%= mmt_help_icon(
      title: 'Organizations',
      help: 'properties/Organizations'
    ) %>
    <div class="eui-accordion__icon" tabindex="0">
      <i class="eui-icon eui-fa-chevron-circle-down"></i>
      <span class="eui-sr-only">Toggle Organizations</span>
    </div>
  </div>
  <div class="eui-accordion__body">
    <!-- Organization [r] -->
    <div class="row taller">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'responsibility',
              values: draft.draft['Organizations'] || [{}],
              name_prefix: "draft_|organizations|_",
              multiple: true,
              options: {
                type: 'organizations',
                limit_type: 'organization',
                title: 'Organization',
                always_required: true
              } } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
