<fieldset id="personnel">
  <div class="eui-accordion__header disable-toggle">
    <h3 class="eui-accordion__title">Personnel</h3>
    <%= mmt_help_icon(
      title: 'Personnel',
      help: 'properties/Personnel'
    ) %>
  </div>
  <div class="eui-accordion__body">
    <!-- Personnel -->
    <div class="row taller">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'responsibility',
              values: draft.draft['Personnel'] || [{}],
              name_prefix: "draft_|personnel|_",
              multiple: true,
              options: {
                type: 'personnel',
                limit_type: 'personnel',
                title: 'Personnel'
              } } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
