<fieldset id="personnel">
  <div class="accordion-header">
    <h3>Personnel</h3>
  </div>
  <div class="accordion-body">
    <!-- Personnel -->
    <div class="row taller">
      <div class="col-12">
        <div class="row sub-fields">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'responsibility',
              values: draft.draft['Personnel'] || [{}],
              name_prefix: "draft_|personnel|_",
              multiple: true,
              options: {
                type: 'personnel',
                limit_type: 'personnel',
                title: 'Personnel'
              } } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
