<fieldset class="accordion is-closed" id="collection-citation">
  <div class="accordion-header">
    <h3>Resource Citations</h3>
    <a href="#" class="fl-right">
      <i class="fa fa-angle-down toggle"></i>
      <span class="hidden">Toggle Resource Citation</span>
    </a>
  </div>
  <div class="accordion-body">
    <!-- Resource Citation -->
      <!-- CollectionCitation -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <%= render partial: 'drafts/forms/type', locals: {
              type: 'collection_citation',
              values: draft.draft['CollectionCitations'] || [{}],
              name_prefix: "draft_|collection_citations|_",
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
