<!-- Spatial Extent [r] -->
<div class="row">
  <div class="col-12">
    <label class="main-field icon-required">Spatial Extent</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'spatial_extent',
        values: draft.draft['SpatialExtent'] || {},
        name_prefix: 'draft_|spatial_extent|_',
        multiple: false,
        options: {} } %>
  </div>
</div>


<!-- Tiling Identification System -->
<div class="row">
  <div class="col-12">
    <label class="main-field icon-required">Tiling Identification System</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'tiling_identification_system',
        values: draft.draft['TilingIdentificationSystem'] || {},
        name_prefix: 'draft_|tiling_identification_system|_',
        multiple: false,
        options: {} } %>
  </div>
</div>


<!-- Spatial Representation Information -->
<div class="row">
  <div class="col-12">
    <label class="main-field icon-required">Spatial Representation Information</label><i class="fa fa-info-circle"></i>
    <%= render partial: 'drafts/forms/type', locals: {
        type: 'spatial_information',
        values: draft.draft['SpatialInformation'] || {},
        name_prefix: 'draft_|spatial_information|_',
        multiple: false,
        options: {} } %>
  </div>
</div>


<!-- Spatial Keywords -->
  <!-- KeywordUuidStringType -->
<div class="row">
  <div class="col-12">
    <label for="spatial_keywords">Spatial Keywords</label><i class="fa fa-info-circle"></i>
    <div class="row">
      <!-- Insert Fields -->
    </div>
  </div>
</div>
