<!-- Temporal Extent [r] -->
<div class="row">
  <div class="col-12">
    <label for="draft_related_url" class="main-field icon-required">Temporal Extent</label><i class="fa fa-info-circle"></i>
    <div class="row sub-fields">
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'temporal_extent',
          values: draft.draft['TemporalExtents'] || [{}],
          name_prefix: 'draft_|temporal_extents|_',
          multiple: true,
          options: {} } %>
    </div>
  </div>
</div>

<!-- Temporal Keywords -->
<div class="row">
  <div class="col-12">
    <label>Temporal Keywords</label><i class="fa fa-info-circle"></i>
    <div class="row sub-fields">
      <% keywords = draft.draft['TemporalKeywords'] || [nil] # [nil] creates at least one keyword field %>
      <div class="multiple temporal-keywords">
      <% keywords.each do |keyword| %>
        <div class="multiple-item">
          <label for="draft_temporal_keywords_">Temporal Keyword</label><i class="fa fa-info-circle"></i>
          <%= text_field_tag(name_to_param("draft_|temporal_keywords|_index"), keyword, class: 'half-width') %>
          <div class="actions">
            <button type="button" class="btn btn-green btn-sm btn-round add-new new-simple">Add another</button>
            <button type="button" class="btn btn-red btn-sm btn-round remove">Remove</button>
          </div>
        </div>
      <% end %>
      </div>

    </div>
  </div>
</div>

<!-- Paleo Temporal Coverage -->
<!-- PaleoTemporalCoverageType -->
<div class="row">
  <div class="col-12">
    <label for="paleo_temporal_coverage">Paleo Temporal Coverage</label><i class="fa fa-info-circle"></i>
    <div class="row sub-fields">
      <%= render partial: 'drafts/forms/type', locals: {
          type: 'paleo_temporal_coverage',
          values: draft.draft['PaleoTemporalCoverage'] || {},
          name_prefix: 'draft_|paleo_temporal_coverage|_',
          multiple: false,
          options: {} } %>
    </div>
  </div>
</div>
