---
http_interactions:
- request:
    method: post
    uri: http://ogre.adc4gis.com/convert
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"upload\";
        filename=\"simple.geojson\"\r\nContent-Length: 361\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\n{ \"type\": \"FeatureCollection\",\n  \"features\": [\n    {
        \"type\": \"Feature\",\n      \"geometry\": {\n        \"type\": \"Polygon\",\n
        \       \"coordinates\": [\n          [ [100.0, 0.0], [101.0, 0.0], [101.0,
        1.0],\n            [100.0, 1.0], [100.0, 0.0] ]\n        ]\n      },\n      \"properties\":
        {\n        \"prop0\": \"value0\",\n        \"prop1\": {\"this\": \"that\"}\n
        \     }\n    }\n  ]\n}\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"controller\"\r\n\r\nconversions\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"action\"\r\n\r\nconvert\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"prop0":"value0","prop1":{"this":"that"}},"geometry":{"type":"Polygon","coordinates":[[[100,0],[101,0],[101,1],[100,1],[100,0]]]}}]}'
  recorded_at: Mon, 14 Jan 2019 18:59:23 GMT
recorded_with: VCR 4.0.0
