.error-list-item {
    cursor: pointer;
    font-size: 15px;
    list-style: none;
}

.error-list-item:hover {
    background-color: rgb(245, 245, 245);
}

.error-list-total-number-of-arrays {
    /* font-style: italic; */
    font-weight: normal;
}