.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    width: 25%;
    height: 25vh;
    padding-top: 10px;
    margin-left: 20px;
}

.json-view {
    margin-top: 10px;
    margin-bottom: 50px;
}

/** CSS to removes up/down arrows when input type=number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}