.primary-navigation {
  &__item {
    --bs-border-color: transparent;

    &:hover {
      --bs-link-color-rgb: rgba(var(--bs-white) / 85%);
      --bs-text-opacity: 0.75;
    }
  }

  &__title {
    font-size: 0.925rem;
    letter-spacing: 0.02rem;
  }

  &__version {
    font-size: 0.75rem;
  }

  &__link {
    &--is-child {
      padding: 0;
    }
  }

  &__dropdown-button {
    opacity: 0.4;

    &:hover {
      opacity: 0.7;
    }
  }
}
