.primary-navigation {
  &__item:hover {
    --bs-link-color-rgb: rgba(var(--bs-white) / 85%);
    --bs-text-opacity: 0.75;
  }

  &__title {
    font-size: 0.925rem;
  }

  &__badge {
    font-size: 0.5rem;
    text-transform: none;
  }
}
