.primary-navigation {
  &__group-item {
    &:hover {
      background-color: var(--bs-light-dark);
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }

  &__item {
    --bs-border-color: transparent;

    &:hover {
      --bs-link-color-rgb: rgba(var(--bs-white) / 85%);
      --bs-text-opacity: 0.75;
    }
  }

  &__version {
    font-size: 0.75rem;
  }

  &__dropdown-button {
    opacity: 0.4;

    .primary-navigation__group-item:hover & {
      opacity: 0.7;
      transition: all 0.2s ease-in-out;
    }
  }
}
