---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_System_Permissions_Group_1_from_index_page_testing_5&description=Group%20to%20test%20system%20permissions&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"23a9bb4b36a22d1a8e74705bececdf0a"
    body:
      encoding: UTF-8
      string: '{"name":"Test_System_Permissions_Group_1_from_index_page_testing_5","app_uid":"mmt_test","description":"Group
        to test system permissions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"3d9b4dcb-3e18-4288-a00f-007105c6ae7b"}'
  recorded_at: Fri, 11 Nov 2022 18:47:20 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7ab095c2-6598-4421-adf5-f02892ca7e30
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Fri, 11 Nov 2022 18:47:29 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bfde73059b473168fbb14326f82e9224"
    body:
      encoding: UTF-8
      string: '[{"group_id":"56c21b46-1f1d-44f8-81d2-32e52c[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/56c21b46-1f1d-44f8-81d2-32e52cf265b5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5cb24a1714d723d6c30e00a4c0228b4"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"}]}'
  recorded_at: Fri, 11 Nov 2022 18:47:29 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=system&include_full_acl=true&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '24'
      cmr-took:
      - '1029'
      cmr-search-after:
      - '["system - user_context","ACL1200213987-CMR"]'
      cmr-request-id:
      - bc3a0cce-e272-4e32-9996-1ee78061b26b
    body:
      encoding: UTF-8
      string: '{"hits":24,"took":1012,"items":[{"concept_id":"ACL1200214047-CMR","revision_id":91,"identity_type":"System","acl":{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":["delete","create","read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200211472-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permissions":[],"group_id":"AG1200211479-CMR"},{"permissions":["read"],"group_id":"AG1200213192-CMR"},{"permissions":[],"group_id":"AG1200211482-CMR"},{"group_id":"AG1200211483-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200262387-CMR","permissions":[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/3d9b4dcb-3e18-4288-a00f-007105c6ae7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c5accbbca2b47b7343da6cc0afb91389"
    body:
      encoding: UTF-8
      string: '{"group_id":"3d9b4dcb-3e18-4288-a00f-007105c6ae7b","name":"Test_System_Permissions_Group_1_from_index_page_testing_5","description":"Group
        to test system permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Fri, 11 Nov 2022 18:53:36 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200213957-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":[],"group_id":"AG1200211472-CMR"},{"permissions":["delete"],"group_id":"AG1200211473-CMR"},{"permissions":["delete"],"group_id":"AG1200211474-CMR"},{"permissions":[],"group_id":"AG1200211483-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permission[...]
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200445585-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"b3fd1730-e2ae-476e-b7bd-5ff2880973a4","permissions":["create"]},{"group_id":"3d9b4dcb-3e18-4288-a00f-007105c6ae7b","permissions":["create"]}],"system_identity":{"target":"SYSTEM_OPTION_DEFINITION"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '2'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8e766151-5598-4e1d-a0e4-fe6417f274cd
    body:
      encoding: UTF-8
      string: '{"revision_id":2,"concept_id":"ACL1200445585-CMR"}'
  recorded_at: Fri, 11 Nov 2022 18:53:48 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=30&permitted_group=3d9b4dcb-3e18-4288-a00f-007105c6ae7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '4'
      cmr-took:
      - '2260'
      cmr-search-after:
      - '["system - tag_group","ACL1200442560-CMR"]'
      cmr-request-id:
      - 22892c8b-d6f9-443f-9061-cdc6af31105b
    body:
      encoding: UTF-8
      string: '{"hits":4,"took":2259,"items":[{"concept_id":"ACL1200213957-CMR","revision_id":66,"identity_type":"System","name":"System
        - EXTENDED_SERVICE","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200213957-CMR"},{"concept_id":"ACL1200213958-CMR","revision_id":68,"identity_type":"System","name":"System
        - METRIC_DATA_POINT_SAMPLE","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200213958-CMR"},{"concept_id":"ACL1200445585-CMR","revision_id":2,"identity_type":"System","name":"System
        - SYSTEM_OPTION_DEFINITION","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200445585-CMR"},{"concept_id":"ACL1200442560-CMR","revision_id":6,"identity_type":"System","name":"System
        - TAG_GROUP","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200442560-CMR"}]}'
  recorded_at: Fri, 11 Nov 2022 18:59:33 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5b4aad70d7edc51367ea5a5fcfba1e06"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 11 Nov 2022 19:03:59 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9a970390-b66f-4368-811f-a270462a4d17
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 17:54:02 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - f719b1a9-1c70-4aea-8ebf-51eeacf298ff
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 17:54:03 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 15b05ced-5a19-42cb-994f-84c205d47e2e
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 17:54:06 GMT
recorded_with: VCR 6.1.0
