---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_10&description=Group%20for%20creating%20provider%20object%20permission&tag=MMT_2
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff0b3caede8cbfd7aa9ac2fa63680f75"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_10","app_uid":"mmt_test","description":"Group
        for creating provider object permission","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"b4b4f049-d074-4396-af27-32fdd4f8c12f"}'
  recorded_at: Tue, 08 Nov 2022 14:36:58 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d1288093-9907-444f-8771-a9b024d85003
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:01 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/b4b4f049-d074-4396-af27-32fdd4f8c12f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"396cf591e7ba5c9e2a71880c11ecad21"
    body:
      encoding: UTF-8
      string: '{"group_id":"b4b4f049-d074-4396-af27-32fdd4f8c12f","name":"Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_10","description":"Group
        for creating provider object permission","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 08 Nov 2022 14:37:01 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/b4b4f049-d074-4396-af27-32fdd4f8c12f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:01 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=catalog_item&include_full_acl=true&page_num=1&page_size=50&permitted_group=b4b4f049-d074-4396-af27-32fdd4f8c12f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '118'
      cmr-request-id:
      - f825c35a-93bf-4999-8e97-7307e688890a
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":118,"items":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:02 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 82322f5e-e0c7-48a0-b551-fdc92903f736
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:22 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 47010113-693d-4c0a-a205-8c877f3f7cf7
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:23 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=CMR&target=PROVIDER_OBJECT_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 0e0ab579-f707-41e5-9d34-97ede6989a1c
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 08 Nov 2022 14:37:46 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=provider&include_full_acl=true&page_size=50&provider=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '26'
      cmr-took:
      - '200'
      cmr-search-after:
      - '["provider - mmt_2 - user","ACL1200216116-CMR"]'
      cmr-request-id:
      - 318e0b07-ddca-4e65-8eab-982af3f0ad88
    body:
      encoding: UTF-8
      string: '{"hits":26,"took":191,"items":[{"concept_id":"ACL1200215794-CMR","revision_id":17,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["read"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200212919-MMT_2"},{"permissions":["read"],"group_id":"AG1200211473-CMR"},{"permissions":["read"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["read"],"group_id":"dac6baa0-5564-4d3e-b151-113d78966548"},{"permissions":["read"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["read"]}],"legacy_guid":"D2A5276C-3A36-ED3F-3CE6-FA75DBD58947","provider_identity":{"target":"AUDIT_REPORT","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUDIT_REPORT","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200215794-CMR"},{"concept_id":"ACL1200215852-CMR","revision_id":18,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["create","delete"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete"],"group_id":"AG1200211473-CMR"},{"group_id":"AG1200212919-MMT_2","permissions":["create","delete"]},{"permissions":["create","delete"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["create","delete"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"dac6baa0-5564-4d3e-b151-113d78966548","permissions":["create","delete"]},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["create","delete"]}],"legacy_guid":"C65FB9D4-8B41-0DAB-86F2-F844F684A63D","provider_identity":{"target":"AUTHENTICATOR_DEFINITION","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUTHENTICATOR_DEFINITION","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200215852-CMR"},{"concept_id":"ACL1200216001-CMR","revision_id":24,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["create","delete","update","read"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete","update","read"],"group_id":"AG1200211473-CMR"},{"permissions":[],"user_type":"guest"},{"permissions":[],"user_type":"registered"},{"group_id":"AG1200230556-MMT_2","permissions":["read"]},{"group_id":"AG1200212919-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200369194-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200370157-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200377140-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200370046-MMT_2","permissions":["create"[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"d0afea66-573f-4960-8ca2-1ca4e5a10cfe","permissions":["delete"]}],"provider_identity":{"target":"EXTENDED_SERVICE","provider_id":"MMT_2"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 24b9a5ed-ba48-4af9-b927-065cd7f97c87
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444954-CMR"}'
  recorded_at: Tue, 08 Nov 2022 14:42:12 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200216102-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read","update"],"group_id":"AG1200212919-MMT_2"},{"permissions":["update","read"],"group_id":"AG1200211473-CMR"},{"group_id":"AG1200230556-MMT_2","permissions":["read"]},{"group_id":"AG1200371408-MMT_2","permissions":["read","update"]},{"gro[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200216105-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["create","delete","update"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete","update"],"group_id":"AG1200211473-CMR"},{"group_id":"AG1200212919-MMT_2","permissions":["create","update","delete"]},{"permissions":["create","delete","update"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["create","delete","update"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"dac6baa0-5564-4d3e-b151-113d78966548","permissions":["create","update","delete"]},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["create","update","delete"]},{"group_id":"d0afea66-573f-4960-8ca2-1ca4e5a10cfe","permissions":["create"]}],"legacy_guid":"0EA7F84A-7AE2-BEB9-C26F-AC9EFD40306D","provider_identity":{"target":"PROVIDER_CALENDAR_EVENT","provider_id":"MMT_2"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '19'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 532d6a6b-17a5-4037-a184-257e4a5203f8
    body:
      encoding: UTF-8
      string: '{"revision_id":19,"concept_id":"ACL1200216105-CMR"}'
  recorded_at: Tue, 08 Nov 2022 14:42:15 GMT
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a00c214180f12c19a37a8cd2ad99b1d1"
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiQ2xpZW50IiwiY2xpZW50X2lkIjoiODFGRWVtOTFObFRRcmVXdjJVZ3RYUSIsImV4cCI6MTY2OTIxNTc3MCwiaWF0IjoxNjY3OTE5NzcwLCJpc3MiOiJFYXJ0aGRhdGEgTG9naW4ifQ.WrIops1d4GJDedeyYo6GxVgjWgEdjoifdF9WdMZkXeYdXUj_6iIitiYgq4mVFwP1XX-hqqVBz7a7n_ikoG5pqm7hW9heyWbaREi1Zhr2qya3n5RXwZm06tpCZkQLsdlQMQIIY72uqtaH5KmfHLYW-RB6J_Eyk9q7c9O2i6TFhntId9_nDm7HDCpQpjmE06C_HlVKc1yGvEUcmWYA14xhkxsTAeioTBAvHn-712E5A4t3w2HBaPs6YQdvWHjMe-4vZbQqPw3doNsoVyJvMOIMKn4F8YwCq3UuVZ5e1sQhKlVabf6Dkx0haD809aBpqQY9zok34YQV1nAOeiIeCYdRYg","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Tue, 08 Nov 2022 15:02:50 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=50&permitted_group=d0afea66-573f-4960-8ca2-1ca4e5a10cfe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '40'
      cmr-request-id:
      - b9e6773e-0fe0-4a51-a619-9f9d1fc1459f
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":39,"items":[]}'
  recorded_at: Tue, 08 Nov 2022 15:03:41 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7983b8b6-a89a-4201-9ed5-b7a52225cd16
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Tue, 08 Nov 2022 15:20:53 GMT
recorded_with: VCR 6.1.0
