---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3dc4e17f6ca558842e36ec13b58ffe83"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Mon, 14 Nov 2022 20:47:33 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_15&description=Group%20for%20creating%20provider%20object%20permission&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"64e045ae0de7da7db850c63559a9bc8f"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_15","app_uid":"mmt_test","description":"Group
        for creating provider object permission","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"4323105a-d967-4d75-8370-987b6920141d"}'
  recorded_at: Mon, 14 Nov 2022 20:47:33 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - a2e16c0a-eab4-4734-b473-ee3a11abed8c
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Mon, 14 Nov 2022 20:47:43 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9128c094-bd55-49b7-9751-5f91d2b38b2a
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 14 Nov 2022 20:47:43 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7dcbd9a1-3605-45ac-868f-68ae71691883
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 14 Nov 2022 20:47:44 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=provider&include_full_acl=true&page_size=50&provider=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '26'
      cmr-took:
      - '225'
      cmr-search-after:
      - '["provider - mmt_2 - user","ACL1200216116-CMR"]'
      cmr-request-id:
      - 345be515-e8fe-4d4f-a2b6-a7775bb51c7b
    body:
      encoding: UTF-8
      string: '{"hits":26,"took":214,"items":[{"concept_id":"ACL1200215794-CMR","revision_id":17,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["read"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200212919-MMT_2"},{"permissions":["read"],"group_id":"AG1200211473-CMR"},{"permissions":["read"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["read"],"group_id":"dac6baa0-5564-4d3e-b151-113d78966548"},{"permissions":["read"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["read"]}],"legacy_guid":"D2A5276C-3A36-ED3F-3CE6-FA75DBD58947","provider_identity":{"target":"AUDIT_REPORT","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUDIT_REPORT","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200215794-CMR"},{"concept_id":"ACL1200444998-CMR","revision_id":2,"identity_type":"Provider","acl":{"group_permissions":[{"group_id":"e23098ba-1ede-46e1-abf0-8e4556b2ed25","permissions":["create"]}],"provider_identity":{"target":"AUTHENTICATOR_DEFINITION","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUTHENTICATOR_DEFINITION","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200444998-CMR"},{"concept_id":"ACL1200216001-CMR","revision_id":24,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["create","delete","update","read"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete","update","read"],"group_id":"AG1200211473-CMR"},{"permissions":[],"user_type":"guest"},{"permissions":[],"user_type":"registered"},{"group_id":"AG1200230556-MMT_2","permissions":["read"]},{"group_id":"AG1200212919-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200369194-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200370157-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200377140-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200370046-MMT_2","permissions":["create"[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4323105a-d967-4d75-8370-987b6920141d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3f742eab768f21a5eebce72843e826b"
    body:
      encoding: UTF-8
      string: '{"group_id":"4323105a-d967-4d75-8370-987b6920141d","name":"Test_Group_for_Creating_Provider_Object_Permissions_from_group_page_testing_15","description":"Group
        for creating provider object permission","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Mon, 14 Nov 2022 20:47:44 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/4323105a-d967-4d75-8370-987b6920141d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Mon, 14 Nov 2022 20:47:45 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=catalog_item&include_full_acl=true&page_num=1&page_size=50&permitted_group=4323105a-d967-4d75-8370-987b6920141d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '95'
      cmr-request-id:
      - 67b14487-e5f2-4e25-b5c4-c1352615b87d
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":94,"items":[]}'
  recorded_at: Mon, 14 Nov 2022 20:47:45 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200216104-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read","create"],"group_id":"AG1200211474-CMR"},{"permissions":["create","read"],"group_id":"AG1200211473-CMR"},{"permissions":["create","read"],"group_id":"AG1200212919-MMT_2"},{"group_id":"AG1200230556-MMT_2","permissions":["read"]},{"group_id":"AG1200375172-MMT_2","permissions":["create","read"]},{"per[...]
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200216203-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["delete","create"],"group_id":"AG1200211474-CMR"},{"permissions":["delete","create"],"group_id":"AG1200211473-CMR"},{"group_id":"AG1200212919-MMT_2","permissions":["create","delete"]},{"permissions":["delete","create"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["delete","create"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"dac6baa0-5564-4d3e-b151-113d78966548","permissions":["create","delete"]},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["create","delete"]},{"group_id":"b0291822-dd80-4a39-84a2-1ed86f4df282","permissions":["create"]},{"group_id":"b4b4f049-d074-4396-af27-32fdd4f8c12f","permissions":["create"]},{"group_id":"5898b325-fbed-487a-bc29-7e64c4735645","permissions":["create"]},{"group_id":"1bbb48ce-71a8-4161-9f9b-b1373c65ba3a","permissions":["create"]},{"group_id":"e23098ba-1ede-46e1-abf0-8e4556b2ed25","permissions":["create"]},{"group_id":"05a4ab3c-ae0f-452b-90ab-9f24bfe34e04","permissions":["create"]},{"group_id":"4323105a-d967-4d75-8370-987b6920141d","permissions":["create"]}],"legacy_guid":"14F5C501-17C1-9664-F4AF-CB259044AC02","provider_identity":{"target":"OPTION_DEFINITION","provider_id":"MMT_2"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '25'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - f748ea17-8d9c-4772-abb7-b039d53ba390
    body:
      encoding: UTF-8
      string: '{"revision_id":25,"concept_id":"ACL1200216203-CMR"}'
  recorded_at: Mon, 14 Nov 2022 20:47:48 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=CMR&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 1f2982f9-9889-4077-8b3f-4d8a4d44b478
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Mon, 14 Nov 2022 20:47:54 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=50&permitted_group=9df8c87d-7d59-4ad3-99cc-cebd4b633300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '170'
      cmr-request-id:
      - 495e2b43-f50b-477a-b3b0-08a36780ad0b
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":168,"items":[]}'
  recorded_at: Mon, 14 Nov 2022 21:24:11 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9df8c87d-7d59-4ad3-99cc-cebd4b633300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 14 Nov 2022 21:24:11 GMT
recorded_with: VCR 6.1.0
