---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d383be5be8b0b081ce3be18a1bf5ba2"
    body:
      encoding: UTF-8
      string: '{"access_token":"jwt_access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Tue, 08 Nov 2022 18:40:11 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_for_Creating_Provider_Object_Permissions_from_index_page_8&description=Group%20for%20creating%20provider%20object%20permissions&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"220c1241e5eed519fed171914e5bdd5b"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_for_Creating_Provider_Object_Permissions_from_index_page_8","app_uid":"mmt_test","description":"Group
        for creating provider object permissions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"1bbb48ce-71a8-4161-9f9b-b1373c65ba3a"}'
  recorded_at: Tue, 08 Nov 2022 18:40:11 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3bdd072f3fb6dff5acca97ec1612bee"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f69518[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20d930ced47a0df8fb2d3881e307d417"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Tue, 08 Nov 2022 18:40:13 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=provider&include_full_acl=true&page_size=50&provider=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '27'
      cmr-took:
      - '179'
      cmr-search-after:
      - '["provider - mmt_2 - user","ACL1200216116-CMR"]'
      cmr-request-id:
      - 3d97d2d8-582e-44c9-961a-29337f13d733
    body:
      encoding: UTF-8
      string: '{"hits":27,"took":161,"items":[{"concept_id":"ACL1200215794-CMR","revision_id":17,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["read"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200212919-MMT_2"},{"permissions":["read"],"group_id":"AG1200211473-CMR"},{"permissions":["read"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["read"],"group_id":"dac6baa0-5564-4d3e-b151-113d78966548"},{"permissions":["read"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["read"]}],"legacy_guid":"D2A5276C-3A36-ED3F-3CE6-FA75DBD58947","provider_identity":{"target":"AUDIT_REPORT","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUDIT_REPORT","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200215794-CMR"},{"concept_id":"ACL1200215852-CMR","revision_id":18,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["create","delete"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete"],"group_id":"AG1200211473-CMR"},{"group_id":"AG1200212919-MMT_2","permissions":["create","delete"]},{"permissions":["create","delete"],"group_id":"adb932a3-0c53-4b22-abee-d362cf60ff1b"},{"permissions":["create","delete"],"group_id":"fc9f3eab-97d5-4c99-8ba1-f2ae0eca42ee"},{"group_id":"dac6baa0-5564-4d3e-b151-113d78966548","permissions":["create","delete"]},{"group_id":"f29e0759-9578-4452-8e18-5517640244ab","permissions":["create","delete"]}],"legacy_guid":"C65FB9D4-8B41-0DAB-86F2-F844F684A63D","provider_identity":{"target":"AUTHENTICATOR_DEFINITION","provider_id":"MMT_2"}},"name":"Provider
        - MMT_2 - AUTHENTICATOR_DEFINITION","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200215852-CMR"},{"concept_id":"ACL1200216001-CMR","revision_id":24,"identity_type":"Provider","acl":{"group_permissions":[{"permissions":["create","delete","update","read"],"group_id":"AG1200211474-CMR"},{"permissions":["create","delete","update","read"],"group_id":"AG1200211473-CMR"},{"permissions":[],"user_type":"guest"},{"permissions":[],"user_type":"registered"},{"group_id":"AG1200230556-MMT_2","permissions":["read"]},{"group_id":"AG1200212919-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200369194-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200370157-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200377140-MMT_2","permissions":["create","read","update","delete"]},{"group_id":"AG1200370046-MMT_2","permissions":["create"[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4082d02a-4eea-477b-b838-e0a4dc57a685
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0cabe435f8bacec8966a66cd675ef7a9"
    body:
      encoding: UTF-8
      string: '{"group_id":"4082d02a-4eea-477b-b838-e0a4dc57a685","name":"Test_System_Group_for_Provider_Permissions_from_index_page_8","description":"System
        Group for creating provider permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 08 Nov 2022 18:40:25 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444954-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"d0afea66-573f-4960-8ca2-1ca4e5a10cfe","permissions":["delete"]},{"group_id":"b2718270-a829-46de-8255-65365b30e977","permissions":["delete"]},{"group_id":"4082d02a-4eea-477b-b838-e0a4dc57a685","permissions":["delete"]}],"provider_identity":{"target":"EXTENDED_SERVICE","provider_id":"MMT_2"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '3'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 22a57e8a-a346-4592-bb92-b6196fbfbd40
    body:
      encoding: UTF-8
      string: '{"revision_id":3,"concept_id":"ACL1200444954-CMR"}'
  recorded_at: Tue, 08 Nov 2022 18:40:26 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 8ab2692b-839d-44d5-ba8c-71c4411bf116
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Mon, 14 Nov 2022 21:00:47 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 8e870a57-55b6-4bc1-95ec-a7af3de6c6df
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 14 Nov 2022 21:00:48 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9d00aabc-6933-4478-82d0-38cfa2df916a
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 14 Nov 2022 21:00:48 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 3714d3ca-3f01-4081-bddf-219c6b7cc7d7
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 14 Nov 2022 21:00:55 GMT
recorded_with: VCR 6.1.0
