---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_System_Permissions_Group_1_from_group_page_15&description=Group%20to%20test%20system%20permissions&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c940c32cedd6deeb3bcf93c20f6fa17f"
    body:
      encoding: UTF-8
      string: '{"name":"Test_System_Permissions_Group_1_from_group_page_15","app_uid":"mmt_test","description":"Group
        to test system permissions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"43ee6ef8-b2ac-42cc-a12b-0b75585d420e"}'
  recorded_at: Tue, 22 Nov 2022 20:33:57 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d1d06b2e-8d3d-4dd1-9522-f8e812a04341
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 22 Nov 2022 20:33:59 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 0c6de17d-ce4f-4190-951e-06218d5a09be
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 22 Nov 2022 20:34:01 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/43ee6ef8-b2ac-42cc-a12b-0b75585d420e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67236c49635c2bd01477a5cca700bb3b"
    body:
      encoding: UTF-8
      string: '{"group_id":"43ee6ef8-b2ac-42cc-a12b-0b75585d420e","name":"Test_System_Permissions_Group_1_from_group_page_15","description":"Group
        to test system permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 22 Nov 2022 20:34:01 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/43ee6ef8-b2ac-42cc-a12b-0b75585d420e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 22 Nov 2022 20:34:01 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=catalog_item&include_full_acl=true&page_num=1&page_size=50&permitted_group=43ee6ef8-b2ac-42cc-a12b-0b75585d420e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '1500'
      cmr-request-id:
      - 922a3e3a-1a58-485e-ae02-023c4cbc0b24
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":1495,"items":[]}'
  recorded_at: Tue, 22 Nov 2022 20:34:03 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=CMR&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 4caf4900-cc55-427f-9455-ab18c0db98eb
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 22 Nov 2022 20:34:04 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=30&permitted_group=43ee6ef8-b2ac-42cc-a12b-0b75585d420e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '1117'
      cmr-request-id:
      - b3ecc955-6f9e-427b-905f-933a54a1aa52
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":1114,"items":[]}'
  recorded_at: Tue, 22 Nov 2022 20:34:07 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=system&include_full_acl=true&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '24'
      cmr-took:
      - '1306'
      cmr-search-after:
      - '["system - user_context","ACL1200213987-CMR"]'
      cmr-request-id:
      - 168ead18-8d0b-4a3e-ad76-2a8d8b66f7b9
    body:
      encoding: UTF-8
      string: '{"hits":24,"took":1205,"items":[{"concept_id":"ACL1200214047-CMR","revision_id":93,"identity_type":"System","acl":{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":["delete","create","read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200211472-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permissions":[],"group_id":"AG1200211479-CMR"},{"permissions":["read"],"group_id":"AG1200213192-CMR"},{"permissions":[],"group_id":"AG1200211482-CMR"},{"group_id":"AG1200211483-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200262387-CMR","permissions":[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200213957-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":[],"group_id":"AG1200211472-CMR"},{"permissions":["delete"],"group_id":"AG1200211473-CMR"},{"permissions":["delete"],"group_id":"AG1200211474-CMR"},{"permissions":[],"group_id":"AG1200211483-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permission[...]
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200445585-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"b3fd1730-e2ae-476e-b7bd-5ff2880973a4","permissions":["create"]},{"group_id":"3d9b4dcb-3e18-4288-a00f-007105c6ae7b","permissions":["create"]},{"group_id":"b0acd2aa-a7ce-47f4-84aa-fb8dea89cbea","permissions":["create"]},{"group_id":"cddceee5-9769-427c-abf1-49ded4bec10a","permissions":["create"]},{"group_id":"9cfc2776-4846-404b-94a0-c8da6855ba4d","permissions":["create"]},{"group_id":"43ee6ef8-b2ac-42cc-a12b-0b75585d420e","permissions":["create"]}],"system_identity":{"target":"SYSTEM_OPTION_DEFINITION"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '6'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8d34540c-50db-48a4-bd2e-784bf090efc2
    body:
      encoding: UTF-8
      string: '{"revision_id":6,"concept_id":"ACL1200445585-CMR"}'
  recorded_at: Tue, 22 Nov 2022 20:34:53 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449807-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d","permissions":["create"]},{"group_id":"9cfc2776-4846-404b-94a0-c8da6855ba4d","permissions":["update"]},{"group_id":"43ee6ef8-b2ac-42cc-a12b-0b75585d420e","permissions":["update"]}],"system_identity":{"target":"TAG_GROUP"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '3'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d27de9a3-ced9-48ce-b065-8b390bcb3235
    body:
      encoding: UTF-8
      string: '{"revision_id":3,"concept_id":"ACL1200449807-CMR"}'
  recorded_at: Tue, 22 Nov 2022 20:34:54 GMT
recorded_with: VCR 6.1.0
