---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 85524a10-eb68-4eee-b471-2204620953d8
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 16:56:41 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 5513629b-f2b3-4561-82d5-0f8a490401a2
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 16:56:42 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - ad1e5b81-c549-408a-9a85-22245784c191
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 16:56:42 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d32c6a56c2fd2e2c526188c440c9a8d"
    body:
      encoding: UTF-8
      string: '{"group_id":"cddceee5-9769-427c-abf1-49ded4bec10a","name":"Test_System_Permissions_Group_1_from_group_page_10","description":"Group
        to test system permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 15 Nov 2022 16:56:42 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 15 Nov 2022 16:56:42 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=catalog_item&include_full_acl=true&page_num=1&page_size=50&permitted_group=cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '158'
      cmr-request-id:
      - c372d0fb-924c-40cd-aac7-8612214ccc09
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":157,"items":[]}'
  recorded_at: Tue, 15 Nov 2022 16:56:43 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=CMR&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 5fbcdc11-065f-4eae-b39c-7d1e58061d90
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 15 Nov 2022 16:56:43 GMT
recorded_with: VCR 6.1.0
