---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_System_Permissions_Group_1_from_group_page_10&description=Group%20to%20test%20system%20permissions&tag=CMR
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9695e171e0c20a6b17fa2825ae1432eb"
    body:
      encoding: UTF-8
      string: '{"name":"Test_System_Permissions_Group_1_from_group_page_10","app_uid":"mmt_test","description":"Group
        to test system permissions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"cddceee5-9769-427c-abf1-49ded4bec10a"}'
  recorded_at: Tue, 15 Nov 2022 16:56:40 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b566e964-3818-4caf-9db0-b451ca86d8a3
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 16:57:31 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 608a03e8-0e44-4114-9693-7a0ba232ae00
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 16:57:31 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=system&include_full_acl=true&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '24'
      cmr-took:
      - '222'
      cmr-search-after:
      - '["system - user_context","ACL1200213987-CMR"]'
      cmr-request-id:
      - f54fde4f-4505-4825-b691-d3d522242410
    body:
      encoding: UTF-8
      string: '{"hits":24,"took":194,"items":[{"concept_id":"ACL1200214047-CMR","revision_id":91,"identity_type":"System","acl":{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":["delete","create","read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200211472-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permissions":[],"group_id":"AG1200211479-CMR"},{"permissions":["read"],"group_id":"AG1200213192-CMR"},{"permissions":[],"group_id":"AG1200211482-CMR"},{"group_id":"AG1200211483-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200262387-CMR","permissions":[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d32c6a56c2fd2e2c526188c440c9a8d"
    body:
      encoding: UTF-8
      string: '{"group_id":"cddceee5-9769-427c-abf1-49ded4bec10a","name":"Test_System_Permissions_Group_1_from_group_page_10","description":"Group
        to test system permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 15 Nov 2022 16:57:32 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200213957-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":[],"group_id":"AG1200211472-CMR"},{"permissions":["delete"],"group_id":"AG1200211473-CMR"},{"permissions":["delete"],"group_id":"AG1200211474-CMR"},{"permissions":[],"group_id":"AG1200211483-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permission[...]
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200445585-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"b3fd1730-e2ae-476e-b7bd-5ff2880973a4","permissions":["create"]},{"group_id":"3d9b4dcb-3e18-4288-a00f-007105c6ae7b","permissions":["create"]},{"group_id":"b0acd2aa-a7ce-47f4-84aa-fb8dea89cbea","permissions":["create"]},{"group_id":"cddceee5-9769-427c-abf1-49ded4bec10a","permissions":["create"]}],"system_identity":{"target":"SYSTEM_OPTION_DEFINITION"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '4'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a488899a-abfd-470b-ba10-116fdc174714
    body:
      encoding: UTF-8
      string: '{"revision_id":4,"concept_id":"ACL1200445585-CMR"}'
  recorded_at: Tue, 15 Nov 2022 16:57:35 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7b2f8db8-186a-49e4-b86e-e2b269b48320
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 16:57:36 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 15 Nov 2022 16:57:36 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=catalog_item&include_full_acl=true&page_num=1&page_size=50&permitted_group=cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '176'
      cmr-request-id:
      - 7ca3a8fb-0fd6-4f15-8ea7-901b9cc24adf
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":175,"items":[]}'
  recorded_at: Tue, 15 Nov 2022 16:57:36 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=CMR&target=PROVIDER_OBJECT_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 451de54e-6170-402f-b8eb-f8e6a0fa0081
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 15 Nov 2022 16:57:36 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=30&permitted_group=cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '0'
      cmr-took:
      - '54'
      cmr-request-id:
      - ab4ce028-0ee8-48b0-b001-2291522d4bb6
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":50,"items":[]}'
  recorded_at: Tue, 15 Nov 2022 17:00:57 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cddceee5-9769-427c-abf1-49ded4bec10a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiQ2xpZW50IiwiY2xpZW50X2lkIjoiODFGRWVtOTFObFRRcmVXdjJVZ3RYUSIsImV4cCI6MTY2OTgyNjA5OSwiaWF0IjoxNjY4NTMwMDk5LCJpc3MiOiJFYXJ0aGRhdGEgTG9naW4ifQ.06iVXOsNj34crKCFZ4RR1MsqdN7o1ts_8_RbYg3SHkR0CFxLa9jwxbrVsgJYuq4h7vqgYwpurN0l_iI2C96mV7Or-FcnY38vBraO9oNGuR0SQtdWaQANf3QgL86QPos2YSyrMydsnEwRpdDDjU_91Qf3oRizSxR7jIJfIiP0RKXxxUb_65xBmemWDfgWOIZPOdawqFjqHMXaJpOhquOmzSbUuRqNGw-W7KCvv4jOpr-v5HvGjhkktEMdTkUfKN0lwPzncY7yXUufRm7m80iX-t7PMOfLfM_bR7MGuyKA4sbjlbBGDqp7nho01cMXujJFViFmq0VfA9EtZUOPPW4g0w
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 15 Nov 2022 17:00:57 GMT
recorded_with: VCR 6.1.0
