---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?all_revisions=true&concept_id=C1200450549-MMT_2&include_granule_counts=true&sort_key=-revision_date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 5fefb054-a796-4bf8-87c7-b7c6909a1214
      cmr-search-after:
      - "[1681401342689,1200450549,9]"
      cmr-hits:
      - '18'
      cmr-took:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"hits":18,"took":42,"items":[{"meta":{"revision-id":18,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"chris.gokey","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"delete_metadata_1234","has-transforms":false,"has-variables":false,"concept-id":"C1200450549-MMT_2","revision-date":"2023-04-13T20:10:30.435Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"601281_Internal
        Accounting Engineer","entry-id":"642515_The Quantum Spirit_1","short-name":"642515_The
        Quantum Spirit","version-id":"1"}},{"meta":{"revision-id":17,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"dmistry","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"delete_metadata_1234","has-transforms":false,"has-variables":false,"concept-id":"C1200450549-MMT_2","revision-date":"2023-04-13T19:39:45.112Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"316335_Futu[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200450549-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.3; charset=utf-8
      cmr-request-id:
      - 5eb2185f-1387-4d14-9542-90955cfdc3f9
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.3","Version":"1.17.3"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?concept_id=C1200450549-MMT_2&include_tags=%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 0bfb7c6d-968a-410c-ae59-2d28f1623e30
      cmr-search-after:
      - '["601281_internal accounting engineer","MMT_2","642515_The Quantum Spirit","1",1200450549,18]'
      cmr-hits:
      - '1'
      cmr-took:
      - '81'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2023-04-13T20:10:44.486Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?concept_id=C1200450549-MMT_2&include_tags=%2A","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"1A","cloud_hosted":true,"boxes":["-90
        -180 90 180","18.968602 -96.9284587 58.968602 -56.9284587"],"time_start":"2014-07-01T00:00:00.000Z","version_id":"1","updated":"2015-07-05T00:00:00.000Z","dataset_id":"601281_Internal
        Accounting Engineer","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"MMT_2","short_name":"642515_The
        Quantum Spirit","organizations":["AARHUS-HYDRO","ESA/ED"],"title":"601281_Internal
        Accounting Engineer","coordinate_system":"CARTESIAN","summary":"This is a
        long description of the collection","time_end":"2016-08-01T00:00:00.000Z","service_features":{"opendap":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"esi":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"harmony":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false}},"orbit_parameters":{},"id":"C1200450549-MMT_2","has_formats":false,"consortiums":["GEOSS","EOSDIS"],"original_format":"UMM_JSON","collection_data_type":"SCIENCE_QUALITY","archive_center":"AARHUS-HYDRO","has_temporal_subsetting":false,"browse_flag":false,"platforms":["A340-600","SMAP"],"online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/metadata#","hreflang":"en-US","href":"http://example.com/"},{"length":"42KB","rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"https://search.earthdata.nasa.gov/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/service#","type":"Not
        provided","hreflang":"en-US","href":"https://example.com/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/data-citation-policy"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-1"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-2"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-3"}]}]}}'
  recorded_at: Thu, 13 Apr 2023 20:10:44 GMT
[...]
