---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?all_revisions=true&concept_id=C1200450552-MMT_2&include_granule_counts=true&sort_key=-revision_date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - aed937db-2579-4441-9efa-fb99bc2d01e5
      cmr-search-after:
      - "[1668718102182,1200450552,1]"
      cmr-hits:
      - '2'
      cmr-took:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '{"hits":2,"took":34,"items":[{"meta":{"revision-id":2,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"dmistry","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"update_metadata_135612","has-transforms":false,"has-variables":false,"concept-id":"C1200450552-MMT_2","revision-date":"2022-11-17T20:48:39.936Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"719869_Product
        Planner","entry-id":"Full Workflow Update Test Proposal_150195220272066_1","short-name":"Full
        Workflow Update Test Proposal_150195220272066","version-id":"1"}},{"meta":{"revision-id":1,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"dmistry","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"update_metadata_135612","has-transforms":false,"has-variables":false,"concept-id":"C1200450552-MMT_2","revision-date":"2022-11-17T20:48:22.182Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"719869_Product
        Planner","entry-id":"520087_Illustrious Penguin XI_1","short-name":"520087_Illustrious
        Penguin XI","version-id":"1"}}]}'
  recorded_at: Thu, 17 Nov 2022 20:51:02 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200450552-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - 59c034e2-0a23-4436-941e-0ab8a7012332
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?concept_id=C1200450552-MMT_2&include_tags=%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 149e970b-e698-48d8-b95f-f01bd06bf426
      cmr-search-after:
      - '["719869_product planner","MMT_2","Full Workflow Update Test Proposal_150195220272066","1",1200450552,2]'
      cmr-hits:
      - '1'
      cmr-took:
      - '59'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-11-17T20:51:04.673Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?concept_id=C1200450552-MMT_2&include_tags=%2A","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"1A","cloud_hosted":true,"boxes":["-90
        -180 90 180","18.968602 -96.9284587 58.968602 -56.9284587"],"time_start":"2014-07-01T00:00:00.000Z","version_id":"1","updated":"2015-07-05T00:00:00.000Z","dataset_id":"719869_Product
        Planner","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"MMT_2","short_name":"Full
        Workflow Update Test Proposal_150195220272066","organizations":["AARHUS-HYDRO","ESA/ED"],"title":"719869_Product
        Planner","coordinate_system":"CARTESIAN","summary":"This is a long description
        of the collection","time_end":"2016-08-01T00:00:00.000Z","service_features":{"opendap":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"esi":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"harmony":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false}},"orbit_parameters":{},"id":"C1200450552-MMT_2","has_formats":false,"consortiums":["GEOSS","EOSDIS"],"original_format":"UMM_JSON","collection_data_type":"SCIENCE_QUALITY","archive_center":"AARHUS-HYDRO","has_temporal_subsetting":false,"browse_flag":false,"platforms":["A340-600","SMAP"],"online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/metadata#","hreflang":"en-US","href":"http://example.com/"},{"length":"42KB","rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"https://search.earthdata.nasa.gov/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/service#","type":"Not
        provided","hreflang":"en-US","href":"https://example.com/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/data-citation-policy"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-1"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-2"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-3"}]}]}}'
  recorded_at: Thu, 17 Nov 2022 20:51:04 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200450549-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - bd3b8a77-0534-49c3-a908-575cac54d7a0
    body:
      encoding: UTF-8
      string: '{"errors":["Concept with concept-id [C1200450549-MMT_2] could not be
        found."]}'
  recorded_at: Thu, 17 Nov 2022 20:52:08 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?concept_id=C1200450549-MMT_2&include_tags=%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 054df545-2876-4575-88fc-4d92abfaf5b5
      cmr-hits:
      - '0'
      cmr-took:
      - '34'
    body:
      encoding: UTF-8
      string: '{"feed":{"updated":"2022-11-17T20:52:09.368Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?concept_id=C1200450549-MMT_2&include_tags=%2A","title":"ECHO
        dataset metadata","entry":[]}}'
  recorded_at: Thu, 17 Nov 2022 20:52:09 GMT
recorded_with: VCR 6.1.0
