---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic oauth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a7f6a586120f20b5049d09cdba42b83"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Tue, 27 Sep 2022 14:40:57 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Breadcrumbs_Test_Group_01&description=test%20group&tag=CMR
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ab4ca72c73b725dbc9fe2c512db5554b"
    body:
      encoding: UTF-8
      string: '{"name":"Breadcrumbs_Test_Group_01","app_uid":"mmt_test","description":"test
        group","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"bbe0d820-e74a-4d20-9c9f-9dbda4d59ef2"}'
  recorded_at: Tue, 27 Sep 2022 14:40:57 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/bbe0d820-e74a-4d20-9c9f-9dbda4d59ef2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18cf254f9308d2b69e0094a189103fd4"
    body:
      encoding: UTF-8
      string: '{"group_id":"bbe0d820-e74a-4d20-9c9f-9dbda4d59ef2","name":"Breadcrumbs_Test_Group_01","description":"test
        group","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 27 Sep 2022 14:40:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/bbe0d820-e74a-4d20-9c9f-9dbda4d59ef2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 27 Sep 2022 14:40:59 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/bbe0d820-e74a-4d20-9c9f-9dbda4d59ef2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 27 Sep 2022 14:41:00 GMT
recorded_with: VCR 6.1.0
