---
http_interactions:
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442557-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a9fc50c3-4c55-4c57-9718-c987ee6a7974
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200442557-CMR"}'
  recorded_at: Fri, 14 Oct 2022 20:01:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6067a74ed48f1e5fe3da5bf9d737566a"
    body:
      encoding: UTF-8
      string: '{"access_token":"jwt_access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=474d2da4ced5992e4fc0&description=my%20group%20description&tag=CMR
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70bea90adb26e8a9ad12513ae5d51c65"
    body:
      encoding: UTF-8
      string: '{"name":"474d2da4ced5992e4fc0","app_uid":"mmt_test","description":"my
        group description","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"28309ca2-a2e2-42cd-8305-f2214f1182ce"}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/28309ca2-a2e2-42cd-8305-f2214f1182ce/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"28309ca2-a2e2-42cd-8305-f2214f1182ce","permissions":["create","update","delete"]}],"system_identity":{"target":"TAG_GROUP"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8c29794c-4e45-4926-ab1d-a06831a7f12b
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442560-CMR"}'
  recorded_at: Fri, 14 Oct 2022 20:01:21 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442560-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - access_token_admin
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["Token does not exist"]}'
  recorded_at: Fri, 14 Oct 2022 20:01:47 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/123456785
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200443311-MMT_2/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - f65318bd-390d-4aea-ab5f-9b0e81041a80
    body:
      [...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=%2A&page_num=1&page_size=25&provider_id=LARC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 4d305bc8-c7b8-43e7-b596-301320c6e977
      cmr-search-after:
      - '[4.0,0.0,0.0,1666216222860,"1b","g3atb","4",28105,12]'
      cmr-hits:
      - '35'
      cmr-took:
      - '148'
    body:
      encoding: ASCII-8BIT
      string: '{"hits":35,"took":146,"items":[{"meta":{"revision-id":1,"deleted":false,"format":"application/dif10+xml","provider-id":"LARC","user-id":"chris.gokey","has-formats":false,"has-spatial-subsetting":false,"native-id":"C1575974139-LARC.xml","has-transforms":false,"has-variables":false,"concept-id":"C1200371912-LARC","revision-date":"2020-09-10T20:03:59.732Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"MOPITT
        Beta Derived CO (Thermal Infrared Radiances) V108","entry-id":"MOP02T_108","short-name":"MOP02T","version-id":"108"}},{"meta":{"revision-id":12,"deleted":false,"format":"application/echo10+xml","provider-id":"LARC","has-formats":false,"has-spatial-subsetting":false,"native-id":"TES/Aura
        L3 CH4 Daily Gridded V002","has-transforms":false,"has-variables":false,"concept-id":"C28104-LARC","revision-date":"2015-02-24T13:25:28.754Z","granule-count":55,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"TES/Aura
        L3 CH4 Daily Gridded V002","entry-id":"TL3CH4D_2","sh[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=%2A&page_num=1&page_size=25&provider_id=LARC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 1d5ec458-82d1-4b6b-bdb9-81985d152034
      cmr-search-after:
      - '[4.0,0.0,0.0,1666216223451,"1b","g3atb","4",28105,12]'
      cmr-hits:
      - '35'
      cmr-took:
      - '250'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-10-19T21:50:23.630Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?include_tags=%2A&keyword=%2A&page_num=1&page_size=25&provider_id=LARC","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"2","cloud_hosted":false,"tags":{"gov.nasa.eosdis":{}},"boxes":["-90
        -180 90 180"],"time_start":"2018-03-25T00:00:00.000Z","dif_ids":["MOP02T_108"],"version_id":"108","updated":"2019-06-19T00:00:00.000Z","dataset_id":"MOPITT
        Beta Derived CO (Thermal Infrared Radiances) V108","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"LARC","short_name":"MOP02T","organizations":["NASA/LARC/SD/ASDC"],"title":"MOPITT
        Beta Derived CO (Thermal Infrared Radiances) V108","coordinate_system":"CARTESIAN","summary":"MOP02T_108
        is the Measurements Of Pollution In The Troposphere (MOPITT) Beta Derived
        CO (Thermal Infrared Radiances) version 108 product. It is an unvalidated
        beta product subject to recalibration, consists of the geo-located, retrieved
        carbon monoxide profiles and total column amounts for carbon monoxide. Ancillary
        data concerning surface properties and cloud conditions at the locations of
        the retrieved parameters are also included. Each retrieval is accompanied
        by an estimated error. Version 108 products are beta versions for version
        8 products, they are unvalidated beta products subject to recalibration.\r\rMOPITT
        was successfully launched into sun-synchronous polar orbit aboard Terra, NASA''s
        first Earth Observing System spacecraft on December 18, 1999. The MOPITT instrument
        was constructed by a consortium of Canadian companies and funded by the Space
        Science Division of the Canadian Space Agency.","service_features":{"opendap":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"esi":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"harmony":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false}},"orbit_parameters":{},"id":"C1200371912-LARC","has_formats":false,"score":5.371959,"original_format":"DIF10","archive_center":"NASA/LARC/SD/ASDC","has_temporal_subsetting":false,"browse_flag":true,"platforms":["Terra"],"online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://eosweb.larc.nasa.gov/project/mopitt/mopitt-quality-statements"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"ftp://l5ftl01.larc.nasa.gov/MOPITT/BETA/MOP02T.108"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"https://search.earthdata.nasa.gov/search/granules?p=C1575974139-LARC"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/metadata#","hreflang":"en-US","href":"https://www2.acom.ucar.edu/mopitt"},{"rel":"http://esipfed.org/ns[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=MIRCCMF%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=MIRCCMF%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - de0a33b1-a08a-4ffc-ad1d-d18fb376bcd5
      cmr-search-after:
      - '[1.0,0.0,1666216228023,null,"MIRCCMF1","not provided",1200012453,3]'
      cmr-hits:
      - '5'
      cmr-took:
      - '63'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-10-19T21:50:28.075Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?include_tags=%2A&keyword=MIRCCMF%2A&page_num=1&page_size=25","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"1B","cloud_hosted":false,"tags":{"edsc.extra.serverless.collection_capabilities":{"data":{"cloud_cover":false,"day_night_flag":false,"granule_online_access_flag":true,"orbit_calculated_spatial_domains":true,"updated_at":"2022-10-19T18:24:24.243Z"}}},"boxes":["-90
        -180 90 180"],"time_start":"2000-12-13T21:51:05.000Z","version_id":"001","updated":"2018-09-17T10:25:39.170Z","dataset_id":"MISR
        FIRSTLOOK radiometric camera-by-camera Cloud Mask V001","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"EDF_DEV05","short_name":"MIRCCMF","organizations":["EDF_DEV05","NASA
        Langley ASDC User Services","NASA/LARC/SD/ASDC"],"title":"MISR FIRSTLOOK radiometric
  [...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=2008%2A+Long%2A+Description%2A+for%2A+Search%2A+Test%2A+Collection%2A+52367465%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - c01e623e-3d8a-46cd-82a8-809562260be5
      cmr-search-after:
      - '[1.2,0.0,1470009600000,"1a","Search Test Collection Short Name 16532535","4719635",1200443311,1]'
      cmr-hits:
      - '1'
      cmr-took:
      - '396'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":395,"items":[{"meta":{"revision-id":1,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"hvtranho","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"123456785","has-transforms":false,"has-variables":false,"concept-id":"C1200443311-MMT_2","revision-date":"2022-10-19T21:50:07.153Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"2008
        Long Description for Search Test Collection 52367465","entry-id":"Search Test
        Collection Short Name 16532535_4719635","short-name":"Search Test Collection
        Short Name 16532535","version-id":"4719635"}}]}'
  recorded_at: Wed, 19 Oct 2022 21:50:32 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=2008%2A+Long%2A+Description%2A+for%2A+Search%2A+Test%2A+Collection%2A+52367465%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=C1200443311-MMT_2%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=C1200443311-MMT_2%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - d67fd201-93a8-4fd3-bf8f-b94b[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=Search%2A+Test%2A+Collection%2A+Short%2A+Name%2A+16532535%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_um[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=Search%2A+Test%2A+Collection%2A+Short%2A+Name%2A+16532535%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=2008%2A+Long%2A+Descript%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
   [...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=2008%2A+Long%2A+Descript%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 92ed09b5-80dd-414e-bb[...]
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags
    body:
      encoding: UTF-8
      string: '{"tag_key":"tag.search.example.01","description":"This is a search
        example tag"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 409
      message: Conflict
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - '00586309-a332-4e8f-98b1-d67da242c683'
    body:
      encoding: UTF-8
      string: '{"errors":["A tag with tag-key [tag.search.example.01] already exists
        with concept id [T1200442994-CMR]."]}'
  recorded_at: Wed, 19 Oct 2022 21:50:51 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags/tag.search.example.01/associations/by_query
    body:
      encoding: UTF-8
      string: '{"condition":{"short_name":"Collection Tagging search example 3125735735"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3c4d7ef4-aa60-4e67-957f-c53ef2de5407
    body:
      encoding: UTF-8
      string: '[{"tag_association":{"concept_id":"TA1200443313-CMR","revision_id":1},"tagged_item":{"concept_id":"C1200443312-MMT_2"}}]'
  recorded_at: Wed, 19 Oct 2022 21:50:51 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=Collection%2A+Tagging%2A+search%2A+example%2A+3125735735%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=Collection%2A+Tagging%2A+search%2A+example%2A+3125735735%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - 1dd0120a-8a49-4450-bb94-5973eefc7c75
      cmr-search-after:
      - '[1.0,0.0,1470009600000,"1a","Collection Tagging search example 3125735735","1",1200443312,1]'
      cmr-hits:
      - '1'
      cmr-took:
      - '220'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-10-19T21:50:54.789Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?include_tags=%2A&keyword=Collection%2A+Tagging%2A+search%2A+example%2A+3125735735%2A&page_num=1&page_size=25","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"1A","cloud_hosted":true,"tags":{"tag.search.example.01":{}},"boxes":["-90
        -180 90 180","18.968602 -96.9284587 58.968602 -56.9284587"],"time_start":"2014-07-01T00:00:00.000Z","version_id":"1","updated":"2015-07-05T00:00:00.000Z","dataset_id":"927578_District
        Designer","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"MMT_2","short_name":"Collection
        Tagging search example 3125735735","organizations":["AARHUS-HYDRO","ESA/ED"],"title":"927578_District
        Designer","coordinate_system":"CARTESIAN","summary":"This is a long description
        of the collection","time_end":"2016-08-01T00:00:00.000Z","service_features":{"opendap":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"esi":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"harmony":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false}},"orbit_parameters":{},"id":"C1200443312-MMT_2","has_formats":false,"score":0.97999995,"consortiums":["GEOSS","EOSDIS"],"original_format":"UMM_JSON","collection_data_type":"SCIENCE_QUALITY","archive_center":"AARHUS-HYDRO","has_temporal_subsetting":false,"browse_flag":false,"platforms":["A340-600","SMAP"],"online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/metadata#","hreflang":"en-US","href":"http://example.com/"},{"length":"42KB","rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"https://search.earthdata.nasa.gov/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/service#","type":"Not
        provided","hreflang":"en-US","href":"https://example.com/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/data-citation-policy"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-1"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-2"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"https://example.com/documentation-3"}]}]}}'
  recorded_at: Wed, 19 Oct 2022 21:50:54 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&keyword=NO%2A+HITS%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?include_tags=%2A&keyword=NO%2A+HITS%2A&page_num=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - bf10d507-12b0-482a-a650-ccc6c3455107
      cmr-search-after:
      - '[0.6,0.0,936143999999,"2","NARSTO_EPA_SS_ATLANTA_RAPID_SPMS_DATA","1",1200302617,1]'
      cmr-hits:
      - '30'
      cmr-took:
      - '83'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-10-19T21:50:58.168Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?include_tags=%2A&keyword=NO%2A+HITS%2A&page_num=1&page_size=25","title":"ECHO
        dataset metadata","entry":[{"cloud_hosted":false,"time_start":"2021-01-01T00:00:00.000Z","dif_ids":["KOPRI-KPDC-00001834_1"],"version_id":"1","updated":"2021-10-05T08:50:20.000Z","dataset_id":"Cloud
        droplet data at DASAN Station in 2021","has_spatial_subsetting":false,"points":["78.9213
        11.8683"],"has_transforms":false,"has_variables":false,"data_center":"AMD_KOPRI","short_name":"KOPRI-KPDC-00001834","organizations":["KPDC"],"title":"Cloud
        droplet data at DASAN Station in 2021","coordinate_system":"CARTESIAN","summary":"Cloud
        droplet probe CDP-2 (DMT, USA) has been operated on the roof of the Zeppelin
        Observatory, Ny-Alesund . The probes produces information on cloud droplet
        size and number: number concentration, size, liquid wa[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags?tag_key%5B%5D=tag.search.example.01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b7ec3c50-fdbf-4bc8-bf31-6935668781e6
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":7,"items":[{"concept_id":"T1200442994-CMR","revision_id":1,"tag_key":"tag.search.example.01","description":"This
        is a search example tag","originator_id":"hvtranho"}]}'
  recorded_at: Wed, 19 Oct 2022 22:55:29 GMT
recorded_with: VCR 6.1.0
