---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Approver_Email_Fail_Test_Group_011&description=Vel%20quas%20placeat%20id.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5aa01721e9a58ca725f40f06d72e8bcb"
    body:
      encoding: UTF-8
      string: '{"name":"Approver_Email_Fail_Test_Group_011","app_uid":"mmt_test","description":"Vel
        quas placeat id.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"d17ef08a-786a-4049-85cb-3b649baa3c82"}'
  recorded_at: Tue, 15 Nov 2022 17:31:29 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d17ef08a-786a-4049-85cb-3b649baa3c82/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"163b9917068621229e940af98319b135"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Approver_Email_Fail_Test_Group_011"}'
  recorded_at: Tue, 15 Nov 2022 17:31:29 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449765-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200449765-CMR] was deleted."]}'
  recorded_at: Tue, 15 Nov 2022 17:31:30 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"d17ef08a-786a-4049-85cb-3b649baa3c82","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 69391876-4201-4498-b0a1-714f9df2454c
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449767-CMR"}'
  recorded_at: Tue, 15 Nov 2022 17:31:30 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?include_full_acl=true&provider=MMT_2&target=NON_NASA_DRAFT_APPROVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '184'
      cmr-search-after:
      - '["provider - mmt_2 - non_nasa_draft_approver","ACL1200449767-CMR"]'
      cmr-request-id:
      - eef9e66b-e2de-46ee-b377-2b2ba3310528
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":183,"items":[{"concept_id":"ACL1200449767-CMR","revision_id":1,"identity_type":"Provider","acl":{"group_permissions":[{"group_id":"d17ef08a-786a-4049-85cb-3b649baa3c82","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}},"name":"Provider
        - MMT_2 - NON_NASA_DRAFT_APPROVER","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200449767-CMR"}]}'
  recorded_at: Tue, 15 Nov 2022 17:31:31 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=full_collection_draft_proposal_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 24078197-7d77-420e-9c09-da31116814af
      cmr-hits:
      - '0'
      cmr-took:
      - '47'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":45,"items":[]}'
  recorded_at: Tue, 15 Nov 2022 17:31:32 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449767-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - c38855d4-aa41-4b3f-b029-abd8795ccf04
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200449767-CMR"}'
  recorded_at: Tue, 15 Nov 2022 17:31:33 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d17ef08a-786a-4049-85cb-3b649baa3c82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e5f266953e010f1ff4fec49b9a42d90"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"testuser","first_name":"Test","last_name":"User","email_address":"testuser@email.com"}]}'
  recorded_at: Tue, 15 Nov 2022 17:31:34 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d17ef08a-786a-4049-85cb-3b649baa3c82/user?user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1280c82004fbfb18ab5c92a16366d78f"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully deleted from group Approver_Email_Fail_Test_Group_011"}'
  recorded_at: Tue, 15 Nov 2022 17:31:34 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d17ef08a-786a-4049-85cb-3b649baa3c82
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 15 Nov 2022 17:31:34 GMT
recorded_with: VCR 6.1.0
