---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Approver_Email_Success_Test_Group_011&description=Id%20sed%20est%20reprehenderit.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6e16b48050c27fe79be898d384e9ba27"
    body:
      encoding: UTF-8
      string: '{"name":"Approver_Email_Success_Test_Group_011","app_uid":"mmt_test","description":"Id
        sed est reprehenderit.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"0b2592fd-c7e5-4334-ba58-434a688d5b0f"}'
  recorded_at: Tue, 15 Nov 2022 17:31:35 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0b2592fd-c7e5-4334-ba58-434a688d5b0f/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f02280dcaa338fedb57fb6f2d8fc9d24"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Approver_Email_Success_Test_Group_011"}'
  recorded_at: Tue, 15 Nov 2022 17:31:36 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0b2592fd-c7e5-4334-ba58-434a688d5b0f/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Tue, 15 Nov 2022 17:31:36 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449765-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200449765-CMR] was deleted."]}'
  recorded_at: Tue, 15 Nov 2022 17:31:37 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"0b2592fd-c7e5-4334-ba58-434a688d5b0f","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 103bd3cd-a6de-4bd7-9f57-873e4ebd6941
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449768-CMR"}'
  recorded_at: Tue, 15 Nov 2022 17:31:38 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?include_full_acl=true&provider=MMT_2&target=NON_NASA_DRAFT_APPROVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '265'
      cmr-search-after:
      - '["provider - mmt_2 - non_nasa_draft_approver","ACL1200449768-CMR"]'
      cmr-request-id:
      - 2c667c77-8077-432f-b4ee-c8a9a48271d9
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":264,"items":[{"concept_id":"ACL1200449768-CMR","revision_id":1,"identity_type":"Provider","acl":{"group_permissions":[{"group_id":"0b2592fd-c7e5-4334-ba58-434a688d5b0f","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}},"name":"Provider
        - MMT_2 - NON_NASA_DRAFT_APPROVER","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200449768-CMR"}]}'
  recorded_at: Tue, 15 Nov 2022 17:31:39 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/0b2592fd-c7e5-4334-ba58-434a688d5b0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5cb24a1714d723d6c30e00a4c0228b4"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"}]}'
  recorded_at: Tue, 15 Nov 2022 17:31:39 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=full_collection_draft_proposal_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - cf34d61f-6568-4204-9a1d-d1606cfb0d43
      cmr-hits:
      - '0'
      cmr-took:
      - '46'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":45,"items":[]}'
  recorded_at: Tue, 15 Nov 2022 17:31:40 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449768-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - c23eac59-445b-4899-97cd-bf075f760068
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200449768-CMR"}'
  recorded_at: Tue, 15 Nov 2022 17:31:41 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0b2592fd-c7e5-4334-ba58-434a688d5b0f/user?user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"df976434255805bf47dce5fb58e1947f"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully deleted from group Approver_Email_Success_Test_Group_011"}'
  recorded_at: Tue, 15 Nov 2022 17:31:41 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0b2592fd-c7e5-4334-ba58-434a688d5b0f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 15 Nov 2022 17:31:42 GMT
recorded_with: VCR 6.1.0
