---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Approver_Email_Success_Test_Group_005&description=Aut%20et%20cumque%20aliquam.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"34beb4f2aec928c32929847281e2a8af"
    body:
      encoding: UTF-8
      string: '{"name":"Approver_Email_Success_Test_Group_005","app_uid":"mmt_test","description":"Aut
        et cumque aliquam.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"e25882ca-e982-4ece-86dc-f8315154eb50"}'
  recorded_at: Mon, 14 Nov 2022 23:26:08 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/e25882ca-e982-4ece-86dc-f8315154eb50/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"77a1a32a02ea3deee401a6edb24a58e0"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Approver_Email_Success_Test_Group_005"}'
  recorded_at: Mon, 14 Nov 2022 23:26:09 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/e25882ca-e982-4ece-86dc-f8315154eb50/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Mon, 14 Nov 2022 23:26:09 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442551-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200442551-CMR] was deleted."]}'
  recorded_at: Mon, 14 Nov 2022 23:26:10 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"e25882ca-e982-4ece-86dc-f8315154eb50","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - ea5c52aa-7829-4e26-a56d-39f60a9cce3e
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449738-CMR"}'
  recorded_at: Mon, 14 Nov 2022 23:26:11 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?include_full_acl=true&provider=MMT_2&target=NON_NASA_DRAFT_APPROVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '139'
      cmr-search-after:
      - '["provider - mmt_2 - non_nasa_draft_approver","ACL1200449738-CMR"]'
      cmr-request-id:
      - c2cc366e-0d19-4e52-bcac-4083234704d2
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":139,"items":[{"concept_id":"ACL1200449738-CMR","revision_id":1,"identity_type":"Provider","acl":{"group_permissions":[{"group_id":"e25882ca-e982-4ece-86dc-f8315154eb50","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}},"name":"Provider
        - MMT_2 - NON_NASA_DRAFT_APPROVER","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200449738-CMR"}]}'
  recorded_at: Mon, 14 Nov 2022 23:26:12 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/e25882ca-e982-4ece-86dc-f8315154eb50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5cb24a1714d723d6c30e00a4c0228b4"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"}]}'
  recorded_at: Mon, 14 Nov 2022 23:26:13 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=full_collection_draft_proposal_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 8f6cdfcc-f86f-4c07-adae-fbe4bc42b593
      cmr-hits:
      - '0'
      cmr-took:
      - '41'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":41,"items":[]}'
  recorded_at: Mon, 14 Nov 2022 23:26:13 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449738-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - f0d14665-2805-482e-b3a1-2d55e1dda804
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200449738-CMR"}'
  recorded_at: Mon, 14 Nov 2022 23:26:15 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/e25882ca-e982-4ece-86dc-f8315154eb50/user?user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c0b54b7205a870c4c5a09e56931d93b1"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully deleted from group Approver_Email_Success_Test_Group_005"}'
  recorded_at: Mon, 14 Nov 2022 23:26:16 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/e25882ca-e982-4ece-86dc-f8315154eb50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 14 Nov 2022 23:26:16 GMT
recorded_with: VCR 6.1.0
