---
http_interactions:
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442557-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a9fc50c3-4c55-4c57-9718-c987ee6a7974
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200442557-CMR"}'
  recorded_at: Fri, 14 Oct 2022 20:01:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6067a74ed48f1e5fe3da5bf9d737566a"
    body:
      encoding: UTF-8
      string: '{"access_token":"jwt_access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=474d2da4ced5992e4fc0&description=my%20group%20description&tag=CMR
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70bea90adb26e8a9ad12513ae5d51c65"
    body:
      encoding: UTF-8
      string: '{"name":"474d2da4ced5992e4fc0","app_uid":"mmt_test","description":"my
        group description","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"28309ca2-a2e2-42cd-8305-f2214f1182ce"}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/28309ca2-a2e2-42cd-8305-f2214f1182ce/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Fri, 14 Oct 2022 20:01:20 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"28309ca2-a2e2-42cd-8305-f2214f1182ce","permissions":["create","update","delete"]}],"system_identity":{"target":"TAG_GROUP"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8c29794c-4e45-4926-ab1d-a06831a7f12b
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442560-CMR"}'
  recorded_at: Fri, 14 Oct 2022 20:01:21 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442560-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - access_token_admin
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["Token does not exist"]}'
  recorded_at: Fri, 14 Oct 2022 20:01:47 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/12345678903
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200443416-MMT_2/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - 72873d87-9f28-4416-a04b-f154e1941958
    body:
      [...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags
    body:
      encoding: UTF-8
      string: '{"tag_key":"tag.collection.example.01","description":"This is sample
        tag #1"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 409
      message: Conflict
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6e402bbb-715f-422a-a5d6-c3e8114fd3bf
    body:
      encoding: UTF-8
      string: '{"errors":["A tag with tag-key [tag.collection.example.01] already
        exists with concept id [T1200441429-CMR]."]}'
  recorded_at: Thu, 20 Oct 2022 15:21:03 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags/tag.collection.example.01/associations/by_query
    body:
      encoding: UTF-8
      string: '{"condition":{"short_name":"Tagging Collection Example Collection 471291393"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 1a1412a7-c691-45dd-9a2f-d63c002a6bf0
    body:
      encoding: UTF-8
      string: '[{"tag_association":{"concept_id":"TA1200443417-CMR","revision_id":2},"tagged_item":{"concept_id":"C1200443416-MMT_2"}}]'
  recorded_at: Thu, 20 Oct 2022 15:21:04 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags/tag.collection.example.02/associations/by_query
    body:
      encoding: UTF-8
      string: '{"condition":{"short_name":"Tagging Collection Example Collection 471291393"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 2b27decd-0b33-4ded-8432-f8891fd6ebed
    body:
      encoding: UTF-8
      string: '[{"tag_association":{"concept_id":"TA1200443418-CMR","revision_id":2},"tagged_item":{"concept_id":"C1200443416-MMT_2"}}]'
  recorded_at: Thu, 20 Oct 2022 15:21:04 GMT
recorded_with: VCR 6.1.0
