---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Approver_Email_Fail_Test_Group_005&description=Suscipit%20repellat%20temporibus%20fugit.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"14622de84a66e4f3d6837088f377901e"
    body:
      encoding: UTF-8
      string: '{"name":"Approver_Email_Fail_Test_Group_005","app_uid":"mmt_test","description":"Suscipit
        repellat temporibus fugit.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3"}'
  recorded_at: Mon, 14 Nov 2022 23:26:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85bb5cdec21f97f46e5da7b7da5043e8"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Approver_Email_Fail_Test_Group_005"}'
  recorded_at: Mon, 14 Nov 2022 23:26:19 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 9931e976-97e2-4039-8ccd-0cbf60e3f329
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449739-CMR"}'
  recorded_at: Mon, 14 Nov 2022 23:26:20 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?include_full_acl=true&provider=MMT_2&target=NON_NASA_DRAFT_APPROVER
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '187'
      cmr-search-after:
      - '["provider - mmt_2 - non_nasa_draft_approver","ACL1200449739-CMR"]'
      cmr-request-id:
      - cfabf8cb-28aa-49e3-9d5f-9d0578a1cabb
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":185,"items":[{"concept_id":"ACL1200449739-CMR","revision_id":1,"identity_type":"Provider","acl":{"group_permissions":[{"group_id":"c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}},"name":"Provider
        - MMT_2 - NON_NASA_DRAFT_APPROVER","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200449739-CMR"}]}'
  recorded_at: Mon, 14 Nov 2022 23:26:21 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=full_collection_draft_proposal_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 48500c15-0809-43c6-b598-0944f5127384
      cmr-hits:
      - '0'
      cmr-took:
      - '80'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":79,"items":[]}'
  recorded_at: Mon, 14 Nov 2022 23:26:22 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449739-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 7dd54237-42aa-4c1c-9a9b-eda0e8696595
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200449739-CMR"}'
  recorded_at: Mon, 14 Nov 2022 23:26:24 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e5f266953e010f1ff4fec49b9a42d90"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"testuser","first_name":"Test","last_name":"User","email_address":"testuser@email.com"}]}'
  recorded_at: Mon, 14 Nov 2022 23:26:24 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3/user?user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c50ba7d7d08768529980eeee7af18e3d"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully deleted from group Approver_Email_Fail_Test_Group_005"}'
  recorded_at: Mon, 14 Nov 2022 23:26:25 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/c75bd98c-ec18-40dc-af4a-e2a6fe9b7df3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 14 Nov 2022 23:26:25 GMT
recorded_with: VCR 6.1.0
