---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_System_Permissions_Group_53&description=Group%20to%20test%20system%20permissions&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"268de50ad200b2153ded28839b48d5f7"
    body:
      encoding: UTF-8
      string: '{"name":"Test_System_Permissions_Group_53","app_uid":"mmt_test","description":"Group
        to test system permissions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d"}'
  recorded_at: Tue, 15 Nov 2022 18:49:15 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - a28637d9-e180-4cfb-accb-0dcc36b37440
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 18:49:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 8ce9d787-737a-44bb-87bd-80f4f05a13ce
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 18:49:17 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=system&include_full_acl=true&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '24'
      cmr-took:
      - '154'
      cmr-search-after:
      - '["system - user_context","ACL1200213987-CMR"]'
      cmr-request-id:
      - c3c4c493-e003-4fd9-8b99-7c9800ff10af
    body:
      encoding: UTF-8
      string: '{"hits":24,"took":92,"items":[{"concept_id":"ACL1200214047-CMR","revision_id":91,"identity_type":"System","acl":{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":["delete","create","read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200211472-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permissions":[],"group_id":"AG1200211479-CMR"},{"permissions":["read"],"group_id":"AG1200213192-CMR"},{"permissions":[],"group_id":"AG1200211482-CMR"},{"group_id":"AG1200211483-CMR","permissions":["create","read","update","delete"]},{"group_id":"AG1200262387-CMR","permissions":[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4233a7c0-3716-4f78-b7fd-feff34dea01d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cf5218318fd36e9d6a5c43949371e10e"
    body:
      encoding: UTF-8
      string: '{"group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d","name":"Test_System_Permissions_Group_53","description":"Group
        to test system permissions","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 15 Nov 2022 18:49:18 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449781-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 4a8fdf91-4723-4e58-b1d0-0d26244f0bcf
    body:
      encoding: UTF-8
      string: '{"revision-id":3,"concept-id":"ACL1200449781-CMR"}'
  recorded_at: Tue, 15 Nov 2022 18:49:19 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d","permissions":["create"]}],"system_identity":{"target":"DASHBOARD_ADMIN"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3b9e6fdd-abfc-48ca-8548-3008aa9c36b1
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449783-CMR"}'
  recorded_at: Tue, 15 Nov 2022 18:49:20 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/bulk-update/collections/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d7434893-134e-4d42-a6ce-4d14b217859a
    body:
      encoding: UTF-8
      string: '{"status":200,"tasks":[]}'
  recorded_at: Tue, 15 Nov 2022 18:49:23 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 733d8d39-2b09-41f8-9de4-1e379d020c04
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 18:50:56 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=dmistry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - c1fc16df-53de-4a1a-b4cb-b9a83cff4c67
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 18:50:56 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e1af2895e0fdf493e58eb8b98629a1c4"
    body:
      encoding: UTF-8
      string: '[{"group_id":"56c21b46-1f1d-44f8-81d2-32e52c[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/56c21b46-1f1d-44f8-81d2-32e52cf265b5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5cb24a1714d723d6c30e00a4c0228b4"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"}]}'
  recorded_at: Tue, 15 Nov 2022 18:50:57 GMT
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449783-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d","permissions":["read","update"]}],"system_identity":{"target":"USER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200449783-CMR] was deleted."]}'
  recorded_at: Tue, 15 Nov 2022 19:12:05 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 2db6c8cf-7453-425d-bd97-d420f8a67eb3
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Tue, 15 Nov 2022 19:19:24 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 13dbe42f-dff7-4506-b872-7cd8437e4073
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Tue, 15 Nov 2022 19:19:25 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b34dfd55-1e89-4929-833c-df950f3f15dd
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Tue, 15 Nov 2022 19:19:26 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 04e247ea-c550-4b02-b426-adfcff4fe118
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":[]}'
  recorded_at: Tue, 15 Nov 2022 19:19:26 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - a612d998-8e7b-40dc-9c09-d982c568db04
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Tue, 15 Nov 2022 19:19:27 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?page_size=30&permitted_group=4233a7c0-3716-4f78-b7fd-feff34dea01d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '99'
      cmr-search-after:
      - '["system - user","ACL1200213983-CMR"]'
      cmr-request-id:
      - 836a57ff-14f4-44cf-b93e-db50c9cd290d
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":97,"items":[{"concept_id":"ACL1200213983-CMR","revision_id":71,"identity_type":"System","name":"System
        - USER","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200213983-CMR"}]}'
  recorded_at: Tue, 15 Nov 2022 19:51:40 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e60159dd-25d1-4cad-b2e5-99fe50a788dc
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 20:00:15 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9a2f597c-ef9d-4ede-8c83-21c846c260b3
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 20:00:16 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9191cf2a-d93f-4968-9432-7c143fabfaaa
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 20:00:19 GMT
recorded_with: VCR 6.1.0
