---
http_interactions:
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200449805-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - e00ebe8d-3b98-40a1-874d-b66e9f158de9
    body:
      encoding: UTF-8
      string: '{"revision-id":3,"concept-id":"ACL1200449805-CMR"}'
  recorded_at: Tue, 15 Nov 2022 20:19:50 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"4233a7c0-3716-4f78-b7fd-feff34dea01d","permissions":["read"]}],"system_identity":{"target":"USER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6083e5a0-6bcd-40a2-80a0-9267d8d03e19
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200449814-CMR"}'
  recorded_at: Tue, 15 Nov 2022 20:19:51 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 3e97d78c-9c82-4f1f-b554-fc803137d014
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 15 Nov 2022 20:19:52 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 4ffaf149-2863-4bb7-8905-def2601febb4
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 15 Nov 2022 20:19:53 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?identity_type=system&include_full_acl=true&page_size=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '23'
      cmr-took:
      - '157'
      cmr-search-after:
      - '["system - user_context","ACL1200213987-CMR"]'
      cmr-request-id:
      - e8abafdf-db53-44a7-8d5a-635eaddf25d1
    body:
      encoding: ASCII-8BIT
      string: '{"hits":23,"took":100,"items":[{"concept_id":"ACL1200214047-CMR","revision_id":91,"identity_type":"System","acl":{"group_permissions":[{"permissions":[],"group_id":"AG1200211475-CMR"},{"permissions":["delete","create","read","update"],"group_id":"AG1200211474-CMR"},{"permissions":["read"],"group_id":"AG1200211472-CMR"},{"permissions":[],"group_id":"AG1200211477-CMR"},{"permissions":[],"group_id":"AG1200211479-CMR"},{"permissions":["read"],"group_id":"AG1200213192-CMR"},{"permissions":[],"group_id":"AG1200211482-CMR"},{"group_id":"AG1200211483-CMR","permissions":["create","read","update","delete"]},{"group_[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4233a7c0-3716-4f78-b7fd-feff34dea01d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group or the group is not created by you"}'
  recorded_at: Tue, 15 Nov 2022 20:19:53 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/bulk-update/collections/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - ed8053a2-d2d8-4358-9ef8-c73c530d6650
    body:
      encoding: UTF-8
      string: '{"status":200,"tasks":[]}'
  recorded_at: Tue, 15 Nov 2022 20:19:57 GMT
recorded_with: VCR 6.1.0
