---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=CREATE_SUBSCRIPTION_SPEC_GROUP_007&description=Laboriosam%20modi%20quos%20vel.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"663f625336956200a351264a377cadac"
    body:
      encoding: UTF-8
      string: '{"name":"CREATE_SUBSCRIPTION_SPEC_GROUP_007","app_uid":"mmt_test","description":"Laboriosam
        modi quos vel.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"cda1aa6d-5923-454d-b8de-6b655782ebdf"}'
  recorded_at: Mon, 21 Nov 2022 23:27:42 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cda1aa6d-5923-454d-b8de-6b655782ebdf/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a23d19457b9a9794508f74715045fed3"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Mon, 21 Nov 2022 23:27:43 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"cda1aa6d-5923-454d-b8de-6b655782ebdf","permissions":["update","read"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - dbca4a59-a2dc-4f77-ad1a-bad2c7387e9c
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451211-CMR"}'
  recorded_at: Mon, 21 Nov 2022 23:27:44 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/create_subscription_spec_007
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200451212-MMT_2/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - 83b26a87-47d9-41ab-ac56-872f6486336b
    body:
      [...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d5930d6a765b0f810d5808ec9df6fe8"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-09-15T15:27:12.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Mon, 21 Nov 2022 23:28:04 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8aab0c7b2bb79a07d078ce5c5869005a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2020-07-23T18:56:43.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Mon, 21 Nov 2022 23:28:06 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451211-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 5f6a35ad-c0e5-4231-a5bb-a10727d6fedf
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200451211-CMR"}'
  recorded_at: Mon, 21 Nov 2022 23:28:22 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/cda1aa6d-5923-454d-b8de-6b655782ebdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6880a4d6bd72c464b5450862d849c25f"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"},{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov"}]}'
  recorded_at: Mon, 21 Nov 2022 23:28:22 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cda1aa6d-5923-454d-b8de-6b655782ebdf/user?user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bbd7d6aa74cf3eab53b4cb4247a91789"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully deleted from group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Mon, 21 Nov 2022 23:28:22 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cda1aa6d-5923-454d-b8de-6b655782ebdf/user?user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c9ebf18658c5e7dcea1710cea7119cb7"
    body:
      encoding: UTF-8
      string: '{"msg":"ttle9 successfully deleted from group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Mon, 21 Nov 2022 23:28:23 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/cda1aa6d-5923-454d-b8de-6b655782ebdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 21 Nov 2022 23:28:23 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/test_native_id
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data4","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-80.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - '01729b1f-3a35-43e7-9dc3-28cabdc3a5ff'
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200444948-MMT_2</concept-id><native-id>test_native_id</native-id><revision-id>23</revision-id></result>
  recorded_at: Mon, 21 Nov 2022 23:28:31 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200444948-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - a7712851-5d15-4602-8b88-c73f981fb50b
      cmr-search-after:
      - '["exciting subscription with important data4","MMT_2","Exciting Subscription
        with Important Data4","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '29'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":28,"items":[{"meta":{"revision-id":22,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"hvtranho","creation-date":"2022-11-07T20:53:17.979Z","native-id":"test_native_id","concept-id":"SUB1200444948-MMT_2","revision-date":"2022-11-21T22:56:39.836Z","concept-type":"subscription"},"umm":{"Name":"Exciting
        Subscription with Important Data4","CollectionConceptId":"C1200451209-MMT_2","Query":"point=100,20&attribute[]=float,X\\Y\\Z,7&instrument=1B&cloud_cover=-80.0,120.0&equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z&cycle[]=1","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Mon, 21 Nov 2022 23:28:32 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 23643b1a-b87b-48c7-a17d-c13d4a9754a8
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 23:28:57 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d5ee08ba-75f6-482f-bd14-283a0bf50828
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 23:28:58 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9057ca8f-0fa1-4a97-955f-a29f35542918
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Mon, 21 Nov 2022 23:28:58 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 8f1a33a7-48c6-48c3-a007-53f2b9dbae71
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["read","create","delete"]}'
  recorded_at: Mon, 21 Nov 2022 23:28:59 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/mmt_subscription_submit_test_fails
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data4","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-80.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1","SubscriberId":"hvtranho"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 409
      message: Conflict
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 5d2fa98d-b81b-4a73-9516-a85ebb138a82
    body:
      encoding: UTF-8
      string: '{"errors":["The subscriber-id [hvtranho] has already subscribed to
        the collection with concept-id [C1200451212-MMT_2] using the query [eb345eedb18a5d42aa050b6fa2c90eaa].
        Subscribers must use unique queries for each Collection."]}'
  recorded_at: Mon, 21 Nov 2022 23:31:53 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/mmt_subscription_submit_test_success
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data a24d6ac2-1b7b-46a6-b3f1-371056ace21c","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-70.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1\u0026passes[0][pass]=1\u0026passes[0][tiles]=1L,2F","SubscriberId":"hvtranho"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - f4e3e7f9-c9bb-45fb-9551-c38c472dc735
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451213-MMT_2</concept-id><native-id>mmt_subscription_submit_test_success</native-id><revision-id>1</revision-id></result>
  recorded_at: Mon, 21 Nov 2022 23:32:01 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?concept_id=SUB1200451213-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - accd1c2b-49ea-4ccc-84f8[...]
