---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entry_Group_15&description=Ut%20deserunt%20et%20qui.&tag=CMR
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"888074d704117bcc2af87643dc50c3eb"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entry_Group_15","app_uid":"mmt_test","description":"Ut
        deserunt et qui.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"2ae77a08-0aa2-4022-b507-c23e8ebf1470"}'
  recorded_at: Wed, 26 Oct 2022 21:04:39 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/2ae77a08-0aa2-4022-b507-c23e8ebf1470/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"095444cf64013c69672d29f0abd59c42"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entry_Group_15"}'
  recorded_at: Wed, 26 Oct 2022 21:04:40 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443647-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6f7d9f82-d97a-494b-9caf-d0ee05a9e7aa
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443647-CMR"}'
  recorded_at: Wed, 26 Oct 2022 21:04:41 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"2ae77a08-0aa2-4022-b507-c23e8ebf1470","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - f3717cd5-9b3e-42f4-903a-e1216856f47a
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443649-CMR"}'
  recorded_at: Wed, 26 Oct 2022 21:04:41 GMT
recorded_with: VCR 6.1.0
