---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e4e6b909-b3c0-4b58-b890-12739d04ee38
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 13 Oct 2022 17:43:59 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 21b7adfe-381e-4864-a886-94af804b746d
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 4ed7208e-cd6b-4489-bd1e-c0ea0af00d3e
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":["create"]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - c5d13dc5-400c-427d-8501-da38e34a0c60
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":[]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
recorded_with: VCR 6.1.0
