---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b4aaeb8624dd79f23f6be32d84ef931c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Fri, 28 Oct 2022 20:10:13 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=qhw5mjoxgs2vjptmvzco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a47e02dfa8ff4b7a6497e1f30ca9d550"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","email_verified":true,"country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Fri, 28 Oct 2022 20:10:13 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=q6ddmkhivmuhk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b216a81a4aa68b0eac752f10a28b434c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","email_verified":true,"country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Fri, 28 Oct 2022 20:10:14 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=t_xi_1666987811&description=Laborum%20debitis%20quibusdam.%20Quaerat%20voluptatem%20incidunt.%20Harum%20vero%20sint.&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7535741f84a13fee9b48e01d342b7bdd"
    body:
      encoding: UTF-8
      string: '{"name":"t_xi_1666987811","app_uid":"mmt_test","description":"Laborum
        debitis quibusdam. Quaerat voluptatem incidunt. Harum vero sint.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"442a9094-5316-4fca-a8e2-ad88632789dd"}'
  recorded_at: Fri, 28 Oct 2022 20:10:14 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/442a9094-5316-4fca-a8e2-ad88632789dd/user
    body:
      encoding: UTF-8
      string: user_id=rarxd5taqea
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"506cdcf8acebbf4a164fd059e4480715"
    body:
      encoding: UTF-8
      string: '{"msg":"rarxd5taqea successfully added to user group t_xi_1666987811"}'
  recorded_at: Fri, 28 Oct 2022 20:10:14 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/442a9094-5316-4fca-a8e2-ad88632789dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b3d976b9413c8258bea6614e489c73b"
    body:
      encoding: UTF-8
      string: '{"group_id":"442a9094-5316-4fca-a8e2-ad88632789dd","name":"t_xi_1666987811","description":"Laborum
        debitis quibusdam. Quaerat voluptatem incidunt. Harum vero sint.","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Fri, 28 Oct 2022 20:10:15 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/442a9094-5316-4fca-a8e2-ad88632789dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f13a08832cac845ef6526e4c83ba4c94"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
  recorded_at: Fri, 28 Oct 2022 20:10:15 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=q6ddmkhivmuhk&uids%5B%5D=qhw5mjoxgs2vjptmvzco&uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a9b4a3578287239c739b0a27296b50a"
    body:
      encoding: UTF-[...]
