---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e4e6b909-b3c0-4b58-b890-12739d04ee38
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 13 Oct 2022 17:43:59 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 21b7adfe-381e-4864-a886-94af804b746d
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 4ed7208e-cd6b-4489-bd1e-c0ea0af00d3e
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":["create"]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - c5d13dc5-400c-427d-8501-da38e34a0c60
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":[]}'
  recorded_at: Thu, 13 Oct 2022 17:44:00 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ProviderServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderNames
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:guids
        xsi:nil="true"/></ns2:GetProviderNames><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 500
      message: Server Error
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Token
        [access_XXX] does not exist</faultstring><detail><ns4:ItemNotFoundFault xmlns:ns2="http://echo.nasa.gov/echo/v10"
        xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>TokenNotFound</ns4:ErrorCode><ns4:OpsMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Token
        [access_XXX] does not exist</ns4:SystemMessage><ns4:Timestamp>2022-10-14T10:20:37.934Z</ns4:Timestamp><ns4:ErrorInstanceId>38A618DC-5DEC-0F37-CEC6-A6C414509CCE</ns4:ErrorInstanceId><ns4:Arguments><ns4:Argument><ns4:Name>Token</ns4:Name><ns4:Value>access_token</ns4:Value></ns4:Argument></ns4:Arguments></ns4:ItemNotFoundFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 14 Oct 2022 10:20:39 GMT
recorded_with: VCR 6.1.0
