---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b4aaeb8624dd79f23f6be32d84ef931c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 25 Oct 2022 14:18:51 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=qhw5mjoxgs2vjptmvzco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a47e02dfa8ff4b7a6497e1f30ca9d550"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","email_verified":true,"country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 25 Oct 2022 14:18:53 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=q6ddmkhivmuhk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b216a81a4aa68b0eac752f10a28b434c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","email_verified":true,"country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 25 Oct 2022 14:18:54 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=apocalypse_fist_1666707530&description=Incidunt%20quae%20repellendus.%20Ex%20accusantium%20ipsam.%20Qui%20quia%20doloribus.&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dbf26060d0628a8959d7a4afc0b036ac"
    body:
      encoding: UTF-8
      string: '{"name":"apocalypse_fist_1666707530","app_uid":"mmt_test","description":"Incidunt
        quae repellendus. Ex accusantium ipsam. Qui quia doloribus.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"d2820e0f-7fb8-4a81-b83f-973259900cf5"}'
  recorded_at: Tue, 25 Oct 2022 14:18:54 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d2820e0f-7fb8-4a81-b83f-973259900cf5/user
    body:
      encoding: UTF-8
      string: user_id=rarxd5taqea
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5d48166bb94a42d68e6c90d50b0baa0"
    body:
      encoding: UTF-8
      string: '{"msg":"rarxd5taqea successfully added to user group apocalypse_fist_1666707530"}'
  recorded_at: Tue, 25 Oct 2022 14:18:54 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d2820e0f-7fb8-4a81-b83f-973259900cf5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f21802f067e21afb01f5597db49a9d8"
    body:
      encoding: UTF-8
      string: '{"group_id":"d2820e0f-7fb8-4a81-b83f-973259900cf5","name":"apocalypse_fist_1666707530","description":"Incidunt
        quae repellendus. Ex accusantium ipsam. Qui quia doloribus.","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 25 Oct 2022 14:18:55 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d2820e0f-7fb8-4a81-b83f-973259900cf5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f13a08832cac845ef6526e4c83ba4c94"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
  recorded_at: Tue, 25 Oct 2022 14:18:55 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=q6ddmkhivmuhk&uids%5B%5D=qhw5mjoxgs2vjptmvzco&uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a9b4a3578287239c739b0a27296b50a"
    body:
      encoding: UTF-[...]
