---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entry_Group_Create_12&description=Nihil%20consequatur%20molestiae%20temporibus.&tag=CMR
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"03e3ee6901de1decb71fc5ffdbacd166"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entry_Group_Create_12","app_uid":"mmt_test","description":"Nihil
        consequatur molestiae temporibus.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"393c3ae1-e3e3-47f6-8e73-d886f8484cd2"}'
  recorded_at: Fri, 28 Oct 2022 17:48:09 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/393c3ae1-e3e3-47f6-8e73-d886f8484cd2/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5c96ac0ceb1cb4b38e59e9caf54c3d93"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entry_Group_Create_12"}'
  recorded_at: Fri, 28 Oct 2022 17:48:10 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"393c3ae1-e3e3-47f6-8e73-d886f8484cd2","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 10ee9320-e661-476f-97d2-aaf9e8094b80
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443728-CMR"}'
  recorded_at: Fri, 28 Oct 2022 17:48:11 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 36011482-b9af-4411-9c52-46359768f22a
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":["create"]}'
  recorded_at: Fri, 28 Oct 2022 17:48:13 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetTagsByTagGroup
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6Imh2dHJhbmhvIiwiZXhwIjoxNjcxOTk5NTI5LCJpYXQiOjE2NjY4MTU1MjksImlzcyI6IkVhcnRoZGF0YSBMb2dpbiJ9.HBP0gCm3I41bu_oS4CAkiXz1rVUAwHfv7DbxmELQyj8_gNKCdIn-nFTFmPiU7_oowOLiVB_GltSn-8MJpbT8Rgn3w5RqTvloNELsrG9WtVkRbyjv-n65t7_tSJp2m60Ol1-SnKyAa-TKciVrh0PW8WmdA0jW50K4mnbmmHRvqnWQzglv_DvVnYa5TUQ2BZgNSGBEJZialqYEw7EOT03NNXwc7N4HhCdbh8q3JAKW9ManuVTY5befc-BhqwfdnZAtvW4NrLHg3vWJOAqywGmG-l3ThTen7iUidRINDvQgXXZNbzB-OdAZpZb5h95H0auSPJd00A_Hdfk6Uw9XfB9cxQ</ns2:token><ns2:tagGroupGuid>SERVICE-INTERFACE</ns2:tagGroupGuid></ns2:GetTagsByTagGroup><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: ASCII-8BIT
      string: '<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetTagsByTagGroupResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>SERVICE-INTERFACE_14EBCE04-B276-2CA3-67E3-19EF089E9860</ns3:Guid><ns3:TagGroupGuid>SERVICE-INTERFACE</ns3:TagGroupGuid><ns3:Value>EOSDIS
        Service Interface</ns3:Value></ns3:Item><ns3:Item><ns3:Guid>SERVICE-INTERFACE_C777FE02-8993-554B-60B3-6C20CFF6970B</ns3:Guid><ns3:TagGroupGuid>SERVICE-INTERFACE</ns3:TagGroupGuid><ns3:Value>Test
        Service Entry</ns3:Value></ns3:Item><ns3:Item><ns3:Guid>SERVICE-INTERFACE_6DEFABAC-4489-67B5-A09F-05D015E20828</ns3:Guid><ns3:TagGroupGuid>SERVICE-INTERFACE</ns3:TagGroupGuid><ns3:Value>Triton</ns3:Value></ns3:Item><ns3:Item><ns3:Guid>SERVICE-INTERFACE_495B54D4-0ED2-65E5-2D86-958FE[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443728-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d567b406-b997-4e7d-a077-6a63433037b9
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443728-CMR"}'
  recorded_at: Fri, 28 Oct 2022 17:48:16 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/393c3ae1-e3e3-47f6-8e73-d886f8484cd2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Fri, 28 Oct 2022 17:48:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - c31bd57c-784f-472b-b23e-a61d7f00ede5
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Fri, 28 Oct 2022 17:54:25 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - '097c6646-d1b9-4bb8-89ed-b88908bbb2c3'
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["delete"]}'
  recorded_at: Fri, 28 Oct 2022 17:54:27 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - dfe85f91-c226-468c-bc8e-ade90ddbdad8
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":[]}'
  recorded_at: Fri, 28 Oct 2022 17:54:27 GMT
recorded_with: VCR 6.1.0
