---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=CREATE_SUBSCRIPTION_SPEC_GROUP_007&description=Et%20ad%20ratione%20iure.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c4e162e2583b4f8bb9d3deb3baac4f5f"
    body:
      encoding: UTF-8
      string: '{"name":"CREATE_SUBSCRIPTION_SPEC_GROUP_007","app_uid":"mmt_test","description":"Et
        ad ratione iure.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"9a806ace-3798-47d4-ba25-e9d0e05dc316"}'
  recorded_at: Tue, 22 Nov 2022 19:25:26 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9a806ace-3798-47d4-ba25-e9d0e05dc316/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a23d19457b9a9794508f74715045fed3"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Tue, 22 Nov 2022 19:25:26 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"9a806ace-3798-47d4-ba25-e9d0e05dc316","permissions":["update","read"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b9179a7a-3292-44a3-bff9-c7a805cede5d
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451241-CMR"}'
  recorded_at: Tue, 22 Nov 2022 19:25:28 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/create_subscription_spec_007
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200451212-MMT_2/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - '013949ab-8ee8-44b8-8b8e-0ebc7dc757a5'
    body:
    [...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 0e35eec8-e9cf-469b-8a7c-f3731a2e9f89
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 22 Nov 2022 19:25:34 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - a74591e0-96f5-43e6-a357-e60d2fad7ff6
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Tue, 22 Nov 2022 19:25:35 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d5930d6a765b0f810d5808ec9df6fe8"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-09-15T15:27:12.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 22 Nov 2022 19:25:49 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/test_native_id
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data4","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-80.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - cfec1d0d-ec8d-4d2b-8b82-b9403a2fd55a
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200444948-MMT_2</concept-id><native-id>test_native_id</native-id><revision-id>24</revision-id></result>
  recorded_at: Tue, 22 Nov 2022 19:25:52 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200444948-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 99fa7fd3-b773-4d37-8afb-041ed92f6159
      cmr-search-after:
      - '["exciting subscription with important data4","MMT_2","Exciting Subscription
        with Important Data4","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '33'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":32,"items":[{"meta":{"revision-id":24,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"hvtranho","creation-date":"2022-11-07T20:53:17.979Z","native-id":"test_native_id","concept-id":"SUB1200444948-MMT_2","revision-date":"2022-11-22T19:25:52.400Z","concept-type":"subscription"},"umm":{"Name":"Exciting
        Subscription with Important Data4","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20&attribute[]=float,X\\Y\\Z,7&instrument=1B&cloud_cover=-80.0,120.0&equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z&cycle[]=1","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Tue, 22 Nov 2022 19:25:53 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451241-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3cc4b09d-c5ab-4b94-81dc-d6715c748e0e
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200451241-CMR"}'
  recorded_at: Tue, 22 Nov 2022 19:26:11 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/9a806ace-3798-47d4-ba25-e9d0e05dc316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6880a4d6bd72c464b5450862d849c25f"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"},{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov"}]}'
  recorded_at: Tue, 22 Nov 2022 19:26:12 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9a806ace-3798-47d4-ba25-e9d0e05dc316/user?user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bbd7d6aa74cf3eab53b4cb4247a91789"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully deleted from group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Tue, 22 Nov 2022 19:26:12 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9a806ace-3798-47d4-ba25-e9d0e05dc316/user?user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c9ebf18658c5e7dcea1710cea7119cb7"
    body:
      encoding: UTF-8
      string: '{"msg":"ttle9 successfully deleted from group CREATE_SUBSCRIPTION_SPEC_GROUP_007"}'
  recorded_at: Tue, 22 Nov 2022 19:26:12 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9a806ace-3798-47d4-ba25-e9d0e05dc316
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 22 Nov 2022 19:26:13 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - fbec77ed-abd9-4005-ad03-95b9b86fe7ca
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 22 Nov 2022 19:26:45 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - bb2f7bbe-77c9-404e-b155-7ea5e8470713
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Tue, 22 Nov 2022 19:26:46 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 108a8851-e056-4e80-8466-5ffbad719c64
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Tue, 22 Nov 2022 19:26:47 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 19fa651e-fa53-4ddb-87ad-b239756cb3b3
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["read","create","delete"]}'
  recorded_at: Tue, 22 Nov 2022 19:26:47 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/mmt_subscription_submit_test_fails
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data4","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-80.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1","SubscriberId":"hvtranho"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 409
      message: Conflict
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d52c2838-287a-4ced-bf17-ec0f4e41f0f9
    body:
      encoding: UTF-8
      string: '{"errors":["The subscriber-id [hvtranho] has already subscribed to
        the collection with concept-id [C1200451212-MMT_2] using the query [eb345eedb18a5d42aa050b6fa2c90eaa].
        Subscribers must use unique queries for each Collection."]}'
  recorded_at: Tue, 22 Nov 2022 19:30:40 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f618ed23a3cf81128b55ae823370b0d6"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-09-15T15:27:12.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 22 Nov 2022 19:30:41 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/mmt_subscription_submit_test_success
    body:
      encoding: UTF-8
      string: '{"Name":"Exciting Subscription with Important Data 5f61b3b0-afc2-430e-bbe4-d046390ef402","CollectionConceptId":"C1200451212-MMT_2","Query":"point=100,20\u0026attribute[]=float,X\\Y\\Z,7\u0026instrument=1B\u0026cloud_cover=-70.0,120.0\u0026equator_crossing_date=2000-01-01T10:00:00Z,2010-03-10T12:00:00Z\u0026cycle[]=1\u0026passes[0][pass]=1\u0026passes[0][tiles]=1L,2F","SubscriberId":"hvtranho"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - 8734c32d-b728-49da-9990-2b5deb636ccf
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451213-MMT_2</concept-id><native-id>mmt_subscription_submit_test_success</native-id><revision-id>2</revision-id></result>
  recorded_at: Tue, 22 Nov 2022 19:30:49 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?concept_id=SUB1200451213-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 71bb4ef7[...]
