---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entry_Group_Create_3&description=Praesentium%20aut%20eaque%20officia.&tag=CMR
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b4139758277bd89488e551dfeb01aa0e"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entry_Group_Create_3","app_uid":"mmt_test","description":"Praesentium
        aut eaque officia.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"dd19978e-a48e-46e2-8f2e-c598a673877d"}'
  recorded_at: Thu, 27 Oct 2022 21:30:44 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/dd19978e-a48e-46e2-8f2e-c598a673877d/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5eff268dd022bc8870b4e573b5df5d44"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entry_Group_Create_3"}'
  recorded_at: Thu, 27 Oct 2022 21:30:44 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443689-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - e10fd3aa-4903-44a4-8daf-d75f2cbf52db
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443689-CMR"}'
  recorded_at: Thu, 27 Oct 2022 21:30:45 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"dd19978e-a48e-46e2-8f2e-c598a673877d","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - cda4095e-8b64-41aa-9ea1-fd9a2058dca2
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443691-CMR"}'
  recorded_at: Thu, 27 Oct 2022 21:30:47 GMT
[...]
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/dd19978e-a48e-46e2-8f2e-c598a673877d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 27 Oct 2022 21:30:51 GMT
recorded_with: VCR 6.1.0
