---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"91719c8d8240206b7c998212bae8a125"
    body:
      encoding: UTF-8
      string: '{"access_token":"Generate JWT token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Thu, 13 Oct 2022 20:58:45 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Option_Association_Group_for_Permissions_Delete_354460c2d985404aaa6832744e09e601&description=Dolorem%20suscipit%20accusamus%20eveniet.&tag=MMT_2
    headers:
      Authorization:
      - Bearer accesss_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e5f3774f0457c05a9dae661a61d5433a"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Option_Association_Group_for_Permissions_Delete_354460c2d985404aaa6832744e09e601","app_uid":"mmt_test","description":"Dolorem
        suscipit accusamus eveniet.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"504dc66e-204e-4d0f-82d2-01aab06061a2"}'
  recorded_at: Thu, 13 Oct 2022 20:58:45 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/504dc66e-204e-4d0f-82d2-01aab06061a2/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3d4eb854933dd7fff6337d4bc0ec276f"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Service_Option_Association_Group_for_Permissions_Delete_354460c2d985404aaa6832744e09e601"}'
  recorded_at: Thu, 13 Oct 2022 20:58:45 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442536-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 67a4151f-3308-4a91-a14c-d905db60aafa
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200442536-CMR"}'
  recorded_at: Thu, 13 Oct 2022 20:58:46 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"504dc66e-204e-4d0f-82d2-01aab06061a2","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"OPTION_ASSIGNMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a3e1535f-7d60-41fc-a645-357c2e3a3bc0
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442538-CMR"}'
  recorded_at: Thu, 13 Oct 2022 20:58:46 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b84f0590-39d8-4046-bdd4-5e8781716aaa
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Thu, 13 Oct 2022 20:58:49 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 6b7623d1-8b11-44a3-82db-f1f847a17646
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["delete"]}'
  recorded_at: Thu, 13 Oct 2022 20:58:50 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ProviderServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderNames
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:guids
        xsi:nil="true"/></ns2:GetProviderNames><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 500
      message: Server Error
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Token
        [access_XXX] does not exist</faultstring><detail><ns4:ItemNotFoundFault xmlns:ns2="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns3="http://echo.nasa.gov/echo/v10" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>TokenNotFound</ns4:ErrorCode><ns4:OpsMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Token
        [access_XXX] does not exist</ns4:SystemMessage><ns4:Timestamp>2022-10-13T20:59:02.272Z</ns4:Timestamp><ns4:ErrorInstanceId>47ADB300-5579-EC87-CF9C-BED097C38158</ns4:ErrorInstanceId><ns4:Arguments><ns4:Argument><ns4:Name>Token</ns4:Name><ns4:Value>access_token</ns4:Value></ns4:Argument></ns4:Arguments></ns4:ItemNotFoundFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 13 Oct 2022 20:59:04 GMT
[...]
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/504dc66e-204e-4d0f-82d2-01aab06061a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Generate JWT token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 13 Oct 2022 21:21:21 GMT
recorded_with: VCR 6.1.0
