---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_DELETE_04&description=Rem%20ut%20dolore%20vero.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e963e53e3de85e6d25579d81323663c4"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_DELETE_04","app_uid":"mmt_test","description":"Rem
        ut dolore vero.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"e0c02e46-c94a-45b8-acb0-d1f898872eee"}'
  recorded_at: Wed, 26 Oct 2022 23:57:39 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/e0c02e46-c94a-45b8-acb0-d1f898872eee/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e9fb6591f7de6b424c8bde683a0c5f6d"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_DELETE_04"}'
  recorded_at: Wed, 26 Oct 2022 23:57:39 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443659-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - ab76a9f5-dc6b-4f5e-9490-552ad1ae5a53
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443659-CMR"}'
  recorded_at: Wed, 26 Oct 2022 23:57:41 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"e0c02e46-c94a-45b8-acb0-d1f898872eee","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - f713fab4-db6a-452a-9461-4c8040f5e882
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443661-CMR"}'
  recorded_at: Wed, 26 Oct 2022 23:57:42 GMT
recorded_with: VCR 6.1.0
