---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=35e0fe8af653988ab28d&description=Et%20sed%20velit%20nobis.&tag=MMT_2
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c76499bb22a510c2b3da94888b862b6f"
    body:
      encoding: UTF-8
      string: '{"name":"35e0fe8af653988ab28d","app_uid":"mmt_test","description":"Et
        sed velit nobis.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"c6e0e4bd-a544-4957-9a87-ab9dcfdec001"}'
  recorded_at: Thu, 17 Nov 2022 21:52:08 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/c6e0e4bd-a544-4957-9a87-ab9dcfdec001/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"73962a58fc2bbae35d87074768df3b5f"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group 35e0fe8af653988ab28d"}'
  recorded_at: Thu, 17 Nov 2022 21:52:08 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200450578-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - bfee0147-701b-4918-b608-e1d6b0e3e9f0
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200450578-CMR"}'
  recorded_at: Thu, 17 Nov 2022 21:52:10 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"c6e0e4bd-a544-4957-9a87-ab9dcfdec001","permissions":["update","read"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 0fe38379-890f-4214-95a6-48f5ff0c9df3
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200450581-CMR"}'
  recorded_at: Thu, 17 Nov 2022 21:52:10 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/test_native_id
    body:
      encoding: UTF-8
      string: '{"Name":"Test_Subscription_d77423fb-dff8-4537-8785-18a1e28e97db","CollectionConceptId":"C1200006992-MMT_2","Query":"bounding_box=-10,-5,10,5\u0026attribute[]=float,PERCENTAGE,25.5,30\u0026entry_title=d77423fb-dff8-4537-8785-18a1e28e97db","SubscriberId":"ttle9","EmailAddress":"thanhtam.t.le@nasa.gov"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - e9fc51a7-1e26-4032-91cc-c89727d7afc5
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200444948-MMT_2</concept-id><native-id>test_native_id</native-id><revision-id>16</revision-id></result>
  recorded_at: Thu, 17 Nov 2022 21:52:13 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - adcc0441-adf3-4e72-958e-46820e86afa5
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 17 Nov 2022 21:52:15 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 850adbf0-5683-4c32-a12d-896d052cb629
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 17 Nov 2022 21:52:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?concept_id=SUB1200444948-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - a1ee82d3-fc59-42c8-88f9-3ec40411658b
      cmr-search-after:
      - '["test_subscription_d77423fb-dff8-4537-8785-18a1e28e97db","MMT_2","Test_Subscription_d77423fb-dff8-4537-8785-18a1e28e97db","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '102'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":101,"items":[{"meta":{"revision-id":16,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"ttle9","creation-date":"2022-11-07T20:53:17.979Z","native-id":"test_native_id","concept-id":"SUB1200444948-MMT_2","revision-date":"2022-11-17T21:52:13.684Z","concept-type":"subscription"},"umm":{"Name":"Test_Subscription_d77423fb-dff8-4537-8785-18a1e28e97db","CollectionConceptId":"C1200006992-MMT_2","Query":"bounding_box=-10,-5,10,5&attribute[]=float,PERCENTAGE,25.5,30&entry_title=d77423fb-dff8-4537-8785-18a1e28e97db","SubscriberId":"ttle9","EmailAddress":"thanhtam.t.le@nasa.gov","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Thu, 17 Nov 2022 21:52:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 5e521776-88b2-4f17-80ff-db370b87c771
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Thu, 17 Nov 2022 21:52:17 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5062d668e9d1d0c4a6eb34a400de235a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2022-01-20T18:59:46.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Thu, 17 Nov 2022 21:52:17 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/test_native_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - '0119ca8a-e1c7-4683-a059-72f29825e013'
    body:
      encoding: UTF-8
      string: '{"errors":["Subscription with native-id [test_native_id] has already
        been deleted."]}'
  recorded_at: Thu, 17 Nov 2022 22:22:14 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200444948-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - be9fec3f-[...]
