---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_DELETE_06&description=Totam%20assumenda%20dolorum%20culpa.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"eec1af7e40abf71a0fcd29660d66908d"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_DELETE_06","app_uid":"mmt_test","description":"Totam
        assumenda dolorum culpa.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"8d25a8af-529c-45f7-9e9a-6728edb724c4"}'
  recorded_at: Thu, 27 Oct 2022 21:49:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/8d25a8af-529c-45f7-9e9a-6728edb724c4/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"39872d4ddbc9c60b6a23985727d35a02"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_DELETE_06"}'
  recorded_at: Thu, 27 Oct 2022 21:49:19 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"8d25a8af-529c-45f7-9e9a-6728edb724c4","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b5132368-146f-4d7a-aae8-5181ee8c191f
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443692-CMR"}'
  recorded_at: Thu, 27 Oct 2022 21:49:20 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443692-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 1b003308-65d4-484b-a51c-14f505fe76cc
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443692-CMR"}'
  recorded_at: Thu, 27 Oct 2022 21:49:22 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/8d25a8af-529c-45f7-9e9a-6728edb724c4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 27 Oct 2022 21:49:22 GMT
recorded_with: VCR 6.1.0
