---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_DELETE_17&description=Dolores%20numquam%20sint%20nihil.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fec86fb7551ee6c7925a576e9a986607"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_DELETE_17","app_uid":"mmt_test","description":"Dolores
        numquam sint nihil.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"0d0c1d24-b47c-494d-a406-2e6ecc0d7565"}'
  recorded_at: Fri, 28 Oct 2022 22:25:46 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0d0c1d24-b47c-494d-a406-2e6ecc0d7565/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e7e9f8d299fcf8adee1bb07933f15739"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_DELETE_17"}'
  recorded_at: Fri, 28 Oct 2022 22:25:46 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"0d0c1d24-b47c-494d-a406-2e6ecc0d7565","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 0bc3f554-a714-4746-aa97-c735797ac808
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443745-CMR"}'
  recorded_at: Fri, 28 Oct 2022 22:25:47 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceEntries
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6Imh2dHJhbmhvIiwiZXhwIjoxNjcxOTk5NTI5LCJpYXQiOjE2NjY4MTU1MjksImlzcyI6IkVhcnRoZGF0YSBMb2dpbiJ9.HBP0gCm3I41bu_oS4CAkiXz1rVUAwHfv7DbxmELQyj8_gNKCdIn-nFTFmPiU7_oowOLiVB_GltSn-8MJpbT8Rgn3w5RqTvloNELsrG9WtVkRbyjv-n65t7_tSJp2m60Ol1-SnKyAa-TKciVrh0PW8WmdA0jW50K4mnbmmHRvqnWQzglv_DvVnYa5TUQ2BZgNSGBEJZialqYEw7EOT03NNXwc7N4HhCdbh8q3JAKW9ManuVTY5befc-BhqwfdnZAtvW4NrLHg3vWJOAqywGmG-l3ThTen7iUidRINDvQgXXZNbzB-OdAZpZb5h95H0auSPJd00A_Hdfk6Uw9XfB9cxQ</ns2:token><ns2:serviceEntryGuids><ns3:Item>9A924C8A-CA74-F245-542D-AE1D2D09E932</ns3:Item></ns2:serviceEntryGuids></ns2:GetServiceEntries><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceEntriesResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>9A924C8A-CA74-F245-542D-AE1D2D09E932</ns3:Guid><ns3:ProviderGuid>07ACF84C-6360-0BC7-92A8-E95A958DDE12</ns3:ProviderGuid><ns3:Name>Rigil
        Kentaurus</ns3:Name><ns3:Url>http://schmidt.net/sylvia.pollich</ns3:Url><ns3:Description>Aut
        nobis enim non officia veniam laboriosam.</ns3:Description><ns3:EntryType>SERVICE_IMPLEMENTATION</ns3:EntryType><ns3:TagGuids/></ns3:Item></ns2:result></ns2:GetServiceEntriesResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 28 Oct 2022 22:25:49 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e960085c-6d4e-4d6b-88a3-b2df3b3c4bf7
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":["delete"]}'
  recorded_at: Fri, 28 Oct 2022 22:25:50 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443745-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b4dfab9c-a0e2-4ba5-a9f9-466831d713c2
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443745-CMR"}'
  recorded_at: Fri, 28 Oct 2022 22:25:52 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/0d0c1d24-b47c-494d-a406-2e6ecc0d7565
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Fri, 28 Oct 2022 22:25:52 GMT
recorded_with: VCR 6.1.0
