http_interactions:
  - request:
      method: post
      uri: https://sit.urs.earthdata.nasa.gov/oauth/token
      body:
        encoding: UTF-8
        string: grant_type=client_credentials
      headers:
        Authorization:
          - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"af57b90e98aed2c2c457fb15d1fef912"
      body:
        encoding: UTF-8
        string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
    recorded_at: Tue, 18 Oct 2022 17:49:49 GMT
  - request:
      method: post
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
      body:
        encoding: UTF-8
        string: name=Service_Option_Association_Group_for_Permissions_Delete_9b7d3db6291546acbf7f257648ac39bb&description=Fuga%20et%20aut%20impedit.&tag=MMT_2
      headers:
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"6d3747c33165a7cffadd35a602be17e2"
      body:
        encoding: UTF-8
        string: '{"name":"Service_Option_Association_Group_for_Permissions_Delete_9b7d3db6291546acbf7f257648ac39bb","app_uid":"mmt_test","description":"Fuga
        et aut impedit.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"13f673d3-690f-447c-a393-602f1755943c"}'
    recorded_at: Tue, 18 Oct 2022 17:49:49 GMT
  - request:
      method: post
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/13f673d3-690f-447c-a393-602f1755943c/user
      body:
        encoding: UTF-8
        string: user_id=testuser
      headers:
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"078503e02c171493515a4960f5e1050a"
      body:
        encoding: UTF-8
        string: '{"msg":"testuser successfully added to user group Service_Option_Association_Group_for_Permissions_Delete_9b7d3db6291546acbf7f257648ac39bb"}'
    recorded_at: Tue, 18 Oct 2022 17:49:49 GMT
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
      body:
        encoding: UTF-8
        string: '{"group_permissions":[{"group_id":"13f673d3-690f-447c-a393-602f1755943c","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"OPTION_ASSIGNMENT"}}'
      headers:
        Content-Type:
          - application/json
        Client-Id:
          - MMT
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json
        cmr-request-id:
          - d7e73da0-1cbc-4865-8071-3bc8a1148be0
      body:
        encoding: UTF-8
        string: '{"revision_id":1,"concept_id":"ACL1200442818-CMR"}'
    recorded_at: Tue, 18 Oct 2022 17:49:50 GMT
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - e386106e-b0af-4df3-8410-ec3799fab207
      body:
        encoding: UTF-8
        string: '{"OPTION_ASSIGNMENT":["delete"]}'
    recorded_at: Tue, 18 Oct 2022 17:49:52 GMT
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceEntriesByProvider
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:providerGuids></ns2:providerGuids></ns2:GetServiceEntriesByProvider><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
      headers:
        Content-Type:
          - text/xml
    response:
      status:
        code: 500
        message: Server Error
      headers:
        content-type:
          - text/xml;charset=utf-8
        soapaction:
          - '""'
      body:
        encoding: UTF-8
        string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Token
          [access_XXX] does not exist</faultstring><detail><ns4:ItemNotFoundFault xmlns:ns2="http://echo.nasa.gov/echo/v10"
          xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>TokenNotFound</ns4:ErrorCode><ns4:OpsMessage
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Token
          [access_XXX] does not exist</ns4:SystemMessage><ns4:Timestamp>2022-10-18T17:50:05.806Z</ns4:Timestamp><ns4:ErrorInstanceId>4862A95B-6933-05F9-28C7-7CC0474AC90C</ns4:ErrorInstanceId><ns4:Arguments><ns4:Argument><ns4:Name>Token</ns4:Name><ns4:Value>access_token</ns4:Value></ns4:Argument></ns4:Arguments></ns4:ItemNotFoundFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
    recorded_at: Tue, 18 Oct 2022 17:50:07 GMT
  - request:
      method: delete
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442818-CMR
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Content-Type:
          - application/json
        Client-Id:
          - MMT
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json
        cmr-request-id:
          - f8b5620c-b70d-48cb-b4fa-276cc70b49c8
      body:
        encoding: UTF-8
        string: '{"revision-id":2,"concept-id":"ACL1200442818-CMR"}'
    recorded_at: Tue, 18 Oct 2022 17:50:28 GMT
  - request:
      method: delete
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/13f673d3-690f-447c-a393-602f1755943c
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer access_token
    response:
      status:
        code: 401
        message: Unauthorized
      headers:
        content-type:
          - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"error":"User group (Service_Option_Association_Group_for_Permissions_Delete_9b7d3db6291546acbf7f257648ac39bb)
        has active group members, cannot be deleted"}'
    recorded_at: Tue, 18 Oct 2022 17:50:28 GMT
recorded_with: VCR 6.1.0
