---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 64d8656a-067a-4db4-a7b9-d4a0269e7b64
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Mon, 21 Nov 2022 17:01:05 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?concept_id=SUB1200451148-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 0752ae6a-c735-4814-8130-a390f3dedefc
      cmr-search-after:
      - '["test_edit_subscriptions_122a different name","MMT_2","Test_edit_subscriptions_122A
        Different Name","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '144'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":143,"items":[{"meta":{"revision-id":4,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"ttle9","creation-date":"2022-11-20T19:28:57.132Z","native-id":"ingest_nativeId_1234","concept-id":"SUB1200451148-MMT_2","revision-date":"2022-11-20T22:27:57.525Z","concept-type":"subscription"},"umm":{"Name":"Test_edit_subscriptions_122A
        Different Name","CollectionConceptId":"C1200451147-MMT_2","Query":"bounding_box=-10,-5,10,5&attribute[]=float,PERCENTAGE,25.5,30&entry_title=9fed60ea-b092-4cf3-83a9-7e133171f4f6f","SubscriberId":"ttle9","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Mon, 21 Nov 2022 17:01:05 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - ec79d66f-5fd8-4d32-99b9-88bba0a76c70
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Mon, 21 Nov 2022 17:01:06 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/ingest_nativeId_1234
    body:
      encoding: UTF-8
      string: '{"Name":"Test_edit_subscriptions_122A Different Name","CollectionConceptId":"C1200451147-MMT_2","Query":"bounding_box=-10,-5,10,5\u0026attribute[]=float,PERCENTAGE,25.5,30\u0026entry_title=9fed60ea-b092-4cf3-83a9-7e133171f4f6f","SubscriberId":"ttle9","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.1
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - b5f1179a-c580-4e98-b522-f0fb18cc4f07
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451148-MMT_2</concept-id><native-id>ingest_nativeId_1234</native-id><revision-id>5</revision-id></result>
  recorded_at: Mon, 21 Nov 2022 17:01:08 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 818adbf7-a5fc-453f-a91b-266908948dba
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 17:01:08 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e211bf1f-fcbb-4eca-a5c7-0ee2514eadeb
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 17:01:09 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5062d668e9d1d0c4a6eb34a400de235a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2022-01-20T18:59:46.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Mon, 21 Nov 2022 17:01:09 GMT
recorded_with: VCR 6.1.0
