---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=57f3a6ddc744f136afdb&description=Voluptatem%20similique%20illum%20repellendus.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f325c01e1263de405d8ef1dd5588785f"
    body:
      encoding: UTF-8
      string: '{"name":"57f3a6ddc744f136afdb","app_uid":"mmt_test","description":"Voluptatem
        similique illum repellendus.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"43e9a351-478e-44d9-b8c1-b5571ffb2a3d"}'
  recorded_at: Thu, 03 Nov 2022 16:03:39 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/43e9a351-478e-44d9-b8c1-b5571ffb2a3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b963dd19cba79f92f6a6bcf0b512a330"
    body:
      encoding: UTF-8
      string: '{"group_id":"43e9a351-478e-44d9-b8c1-b5571ffb2a3d","name":"57f3a6ddc744f136afdb","description":"Voluptatem
        similique illum repellendus.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Thu, 03 Nov 2022 16:03:39 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/43e9a351-478e-44d9-b8c1-b5571ffb2a3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Thu, 03 Nov 2022 16:03:40 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/43e9a351-478e-44d9-b8c1-b5571ffb2a3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 03 Nov 2022 16:03:40 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 03 Nov 2022 16:04:15 GMT
recorded_with: VCR 6.1.0
