---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 563b707b-cee8-41f6-96e1-7cd2bdcbb6ee
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Tue, 25 Apr 2023 16:39:42 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d98f7322-0028-4718-8184-773de8194857
    body:
      encoding: UTF-8
      string: '{"GROUP":["read","create"]}'
  recorded_at: Tue, 25 Apr 2023 16:39:42 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e1af82d41930b2f2de192520169e9f26"
    body:
      encoding: UTF-8
      string: '[{"group_id":"78e55398-6c8d-40b0-b484-c590118ad751","name":"AG1200441545-JAY","description":"Provider
        Admin Group","app_uid":"mmt_test","tag":"JAY","shared_user_group":false,"client_id":"81FEem91NlTQreWv2UgtXQ","created_by":"mmt_test"},{"group_id":"56c21b46-1f1d-44f8-81d2-32e52cf265b5","name":"Service_Entry_Group_35","description":"Ea
        adipisci nihil qui.","app_uid":"mmt_test","tag":"CMR","shared_user_group":false,"client_id":"81FEem91NlTQreWv2UgtXQ","created_by":"mmt_test"},{"group_id":"2981cb3c-80d0-4b97-9599-f82227e315d0","name":"TestGroup","description":"Test
        Shared App group from API","app_uid":null,"tag":null,"shared_user_group":true,"client_id":null,"created_by":"testapp"},{"group_id":"1d44341[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/78e55398-6c8d-40b0-b484-c590118ad751
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ab4b266c28d270dd9b9c241b9b146ba5"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"jay.barra.sit","first_name":"Jay","last_name":"Barra","email_address":"jay.barra@nasa.gov"}]}'
  recorded_at: Tue, 25 Apr 2023 16:44:41 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/af712868-ea62-474c-9400-76800716dae9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86eb707c931ae1eba713c656c5991580"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"merisupdater","first_name":"Paul","last_name":"Pilone","email_address":"paul@pilone.org"}]}'
  recorded_at: Tue, 25 Apr 2023 16:44:44 GMT
recorded_with: VCR 6.1.0
