---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic outh_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"954ddcffb87fd5e8b76f9a6d085f847a"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Thu, 06 Oct 2022 18:44:48 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_For_Provider_Context_Actions_14ab&description=Group%20to%20test%20provider%20context%20actions&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e32db10ef4cfaf2a6e698cc3b277a363"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_For_Provider_Context_Actions_14ab","app_uid":"mmt_test","description":"Group
        to test provider context actions","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"4ff79504-162f-4c77-b4c5-34c5eb62af7e"}'
  recorded_at: Thu, 06 Oct 2022 18:44:48 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f2f5ef75d7b4e45426260e952961dfe"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/c03ca9f3-c8a0-47fd-b63e-58f6af827ab3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5626c755dac17895b6739fd616edf589"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov"},{"uid":"tcherry","first_name":"Thomas","last_name":"Cherry","email_address":"thomas.a.cherry@nasa.gov"},{"uid":"hvtranho","first_name":"Hoan
        Vu","last_name":"Tran Ho","email_address":"hv.tranho@gmail.com"},{"uid":"rspec_user1516","first_name":"First","last_name":"Last","email_address":"rspec_user1519@urs.test.nasa.gov"},{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"},{"uid":"chuang14","first_name":"Charles","last_name":"Huang","email_address":"charles.huang@nasa.gov"}]}'
  recorded_at: Thu, 06 Oct 2022 18:44:50 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4ff79504-162f-4c77-b4c5-34c5eb62af7e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9d8f91ebef2621ac8b48d85d21a489c4"
    body:
      encoding: UTF-8
      string: '{"group_id":"4ff79504-162f-4c77-b4c5-34c5eb62af7e","name":"Test_Group_For_Provider_Context_Actions_14ab","description":"Group
        to test provider context actions","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Thu, 06 Oct 2022 18:44:59 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/16aec2fe-ad6a-43fb-b573-cde27e329a2a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9fa8cf1c92f62d3d8e8e528496e650f7"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"}]}'
  recorded_at: Thu, 06 Oct 2022 18:45:05 GMT
recorded_with: VCR 6.1.0
