---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 18 Oct 2022 19:33:23 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/dac6baa0-5564-4d3e-b151-113d78966548
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2c8c4d0e420bfb2ccf2bb0138b0f8d98"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"echo_sys","first_name":"ECHO","last_name":"SYSTEM","email_address":"testbedops@echo.nasa.gov"},{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov"},{"uid":"bademilu","first_name":"bryant","last_name":"ademiluyi","email_address":"bryant.ademiluyi@nasa.gov"},{"uid":"francell","first_name":"Willard","last_name":"Gray","email_address":"willard.f.gray@nasa.gov"},{"uid":"francell_test_2","first_name":"W
        Francell","last_name":"Gray","email_address":"francellgray@gmail.com"},{"uid":"tstevens","first_name":"T[...]
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=test1&description=The%20super%20group%20for%20provider%20LARCtest1&tag=LARC
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"05cb69dac5acdd7b83dc92cd0a035874"
    body:
      encoding: UTF-8
      string: '{"name":"test1","app_uid":"mmt_test","description":"The super group
        for provider LARCtest1","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"LARC","group_id":"0c480808-6fbb-4e4b-991a-3caa1c75941b"}'
  recorded_at: Tue, 18 Oct 2022 19:34:14 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"60eb3f65db0a341b0df7af05951966d3"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"[...]
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/7da65733-0d70-4c24-a280-9ac802237b27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e5f266953e010f1ff4fec49b9a42d90"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"testuser","first_name":"Test","last_name":"User","email_address":"testuser@email.com"}]}'
  recorded_at: Wed, 19 Oct 2022 17:34:55 GMT
recorded_with: VCR 6.1.0
