---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_subscription_group668&description=In%20saepe%20sunt%20quaerat.&tag=MMT_2
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b190728a693ff7cc3cc61de5aa59d445"
    body:
      encoding: UTF-8
      string: '{"name":"Test_subscription_group668","app_uid":"mmt_test","description":"In
        saepe sunt quaerat.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"f796ee26-7d04-4acb-bb1b-cea87066b30a"}'
  recorded_at: Fri, 18 Nov 2022 21:46:05 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/f796ee26-7d04-4acb-bb1b-cea87066b30a/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e8569c8b1721fef855a975bb14d30ff7"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Test_subscription_group668"}'
  recorded_at: Fri, 18 Nov 2022 21:46:05 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451084-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d8fbd00c-1b80-4444-803f-ed65fc1ebe62
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200451084-CMR"}'
  recorded_at: Fri, 18 Nov 2022 21:46:06 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"f796ee26-7d04-4acb-bb1b-cea87066b30a","permissions":["read","update"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3334b92c-d0e1-426b-8c10-3e95f4fecbe3
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451090-CMR"}'
  recorded_at: Fri, 18 Nov 2022 21:46:07 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/index_subscription_12699314
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200451091-MMT_2/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - b719e3d1-9029-48a4-a20f-65105215980f
    body:
      [...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/ingest_nativeId_125
    body:
      encoding: UTF-8
      string: '{"Name":"Test_subscription_2345_01","CollectionConceptId":"C1200451091-MMT_2","Query":"bounding_box=-10,-5,10,5\u0026attribute[]=float,PERCENTAGE,25.5,30\u0026entry_title=334eb338-09c8-41ef-b00f-db3b365db492","SubscriberId":"ttle9","EmailAddress":"thanhtam.t.le@nasa.gov"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - f44af194-09d2-449c-85a2-d3f195a787d6
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451092-MMT_2</concept-id><native-id>ingest_nativeId_125</native-id><revision-id>1</revision-id></result>
  recorded_at: Fri, 18 Nov 2022 21:46:12 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200451092-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - b7f6ab58-b2b2-466a-9e9a-3fb9b27af595
      cmr-search-after:
      - '["test_subscription_2345_01","MMT_2","Test_subscription_2345_01","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '36'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":35,"items":[{"meta":{"revision-id":1,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"ttle9","creation-date":"2022-11-18T21:46:12.800Z","native-id":"ingest_nativeId_125","concept-id":"SUB1200451092-MMT_2","revision-date":"2022-11-18T21:46:12.800Z","concept-type":"subscription"},"umm":{"Name":"Test_subscription_2345_01","CollectionConceptId":"C1200451091-MMT_2","Query":"bounding_box=-10,-5,10,5&attribute[]=float,PERCENTAGE,25.5,30&entry_title=334eb338-09c8-41ef-b00f-db3b365db492","SubscriberId":"ttle9","EmailAddress":"thanhtam.t.le@nasa.gov","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Fri, 18 Nov 2022 21:46:13 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - ed8e8d70-013c-4a51-a73a-24b89d599971
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Fri, 18 Nov 2022 21:46:19 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 02be0923-d540-4227-b7ee-1a8893f3f1a9
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Fri, 18 Nov 2022 21:46:20 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 0dcee0a7-5905-454e-95[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 66f8387a-c1bc-4210-a90c-8f87be40b187
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Fri, 18 Nov 2022 21:53:05 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 1930e1f1-9ee9-4135-b36f-062f0ee116a0
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Fri, 18 Nov 2022 21:53:06 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - f4ee54f3-5dcd-4018-aad5-c2916be94c8f
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Fri, 18 Nov 2022 21:53:07 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - aafa51b1-eaae-4acb-baf3-426f834ec46d
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["read","create","delete"]}'
  recorded_at: Fri, 18 Nov 2022 21:53:08 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/AACL1200451100-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["Concept-id [AACL1200451100-CMR] is not valid."]}'
  recorded_at: Fri, 18 Nov 2022 22:42:27 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451100-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 18503880-7442-4724-beaf-7d1729495c4f
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200451100-CMR"}'
  recorded_at: Fri, 18 Nov 2022 22:44:10 GMT
recorded_with: VCR 6.1.0
