---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_subscription_group66844&description=Explicabo%20temporibus%20impedit%20esse.&tag=MMT_2
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"baeaa1fb0993630477f13f32a4c8950b"
    body:
      encoding: UTF-8
      string: '{"name":"Test_subscription_group66844","app_uid":"mmt_test","description":"Explicabo
        temporibus impedit esse.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"5e7a95a4-31ef-480e-a7f5-d96d7059aa3e"}'
  recorded_at: Mon, 21 Nov 2022 19:56:40 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/5e7a95a4-31ef-480e-a7f5-d96d7059aa3e/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"70ce13d3d15cf6c8d355f671290428d4"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Test_subscription_group66844"}'
  recorded_at: Mon, 21 Nov 2022 19:56:40 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451179-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200451179-CMR] was deleted."]}'
  recorded_at: Mon, 21 Nov 2022 19:56:41 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"5e7a95a4-31ef-480e-a7f5-d96d7059aa3e","permissions":["read","update"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 5067517e-6065-49fd-9604-9f65bd981f34
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451187-CMR"}'
  recorded_at: Mon, 21 Nov 2022 19:57:08 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/index_subscription_1269931444
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200451188-MMT_2/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - bb44a821-cf0c-4148-ad4e-c3779156eb72
    body:
      [...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/ingest_nativeId_12544
    body:
      encoding: UTF-8
      string: '{"Name":"Test_subscription_2345_01444","CollectionConceptId":"C1200451188-MMT_2","Query":"bounding_box=-10,-5,10,5\u0026attribute[]=float,PERCENTAGE,25.5,30\u0026entry_title=334eb338-09c8-41ef-b00f-db3b364db444","SubscriberId":"ttle9","EmailAddress":"thanhtam.t.le@nasa.gov"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - 59fe7eb2-64a2-41fe-8795-92025d9f2ccb
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451189-MMT_2</concept-id><native-id>ingest_nativeId_12544</native-id><revision-id>1</revision-id></result>
  recorded_at: Mon, 21 Nov 2022 19:57:11 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200451189-MMT_2&page_size=2000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - dade443f-69f2-435a-aec9-c712ea1b8acb
      cmr-hits:
      - '0'
      cmr-took:
      - '11'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":11,"items":[]}'
  recorded_at: Mon, 21 Nov 2022 19:57:12 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 71e779a9-45ef-48d9-95dc-21a572b44525
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Mon, 21 Nov 2022 19:57:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 2c50538c-931c-411d-bb80-59999660c232
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 19:57:16 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 0cd1295e-2420-4279-bb10-aa92f82b26bc
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 19:57:17 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=EXTENDED_SERVICE&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 6993b2ed-3778-4827-ad53-0b9ee0155835
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Mon, 21 Nov 2022 19:57:18 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d3673090-0f5d-4cc4-88d3-c8c23f8b4899
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["read","create","delete"]}'
  recorded_at: Mon, 21 Nov 2022 19:57:19 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 2386c8ca-bf12-4f76-93be-f65b4fc8b159
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Mon, 21 Nov 2022 19:57:19 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 909349a9-ddeb-4f78-89f0-6f1553153ed7
      cmr-search-after:
      - '["test_subscription_2345_02444","MMT_2","Test_subscription_2345_02444","MMT_2"]'
      cmr-hits:
      - '3'
      cmr-took:
      - '48'
    body:
      encoding: UTF-8
      string: '{"hits":3,"took":46,"items":[{"meta":{"revision-id":5,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"ttle9","creation-date":"2022-11-20T19:28:57.132Z","native-id":"ingest_nativeId_1234","concept-id":"SUB1200451148-MMT_2","revision-date":"2022-11-21T17:01:07.949Z","concept-type":"subscription"},"umm":{"Name":"Test_edit_subscriptions_122A
        Different Name","CollectionConceptId":"C1200451147-MMT_2","Query":"bounding_box=-10,-5,10,5&attribute[]=float,PERCENTAGE,25.5,30&entry_title=9fed60ea-b092-4cf3-83a9-7e133171f4f6f","SubscriberId":"ttle9","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}},{"meta":{"revision-id":1,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","use[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/ingest_nativeId_15111111
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartD[...]
[...]
