---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_subscription_group231&description=Voluptatem%20ab%20dolor%20harum.&tag=MMT_2
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f1b5d996d915bf78ded33bd5c58aa4b1"
    body:
      encoding: UTF-8
      string: '{"name":"Test_subscription_group231","app_uid":"mmt_test","description":"Voluptatem
        ab dolor harum.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"4f1b0100-5bf3-4e0b-b432-c3ecc716aab9"}'
  recorded_at: Fri, 18 Nov 2022 20:03:58 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4f1b0100-5bf3-4e0b-b432-c3ecc716aab9/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0513fe4ee02f9fe276f7a1a07dae05e8"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Test_subscription_group231"}'
  recorded_at: Fri, 18 Nov 2022 20:03:58 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451058-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - dc92ee40-780c-44f7-8b49-a593567a3aa8
    body:
      encoding: UTF-8
      string: '{"revision-id":3,"concept-id":"ACL1200451058-CMR"}'
  recorded_at: Fri, 18 Nov 2022 20:03:59 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"4f1b0100-5bf3-4e0b-b432-c3ecc716aab9","permissions":["read","update"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 71ea4daf-7f2b-4829-9bba-6b3588ba2ae1
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451060-CMR"}'
  recorded_at: Fri, 18 Nov 2022 20:04:01 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 16f187d3-ae6a-4a6f-a76d-16d0282877ec
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Fri, 18 Nov 2022 20:04:03 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - d818d5d6-bfe1-4a03-b5f4-74893ee8aea5
      cmr-hits:
      - '0'
      cmr-took:
      - '59'
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":59,"items":[]}'
  recorded_at: Fri, 18 Nov 2022 20:04:04 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - f1128bd9-0e76-4d84-b96f-a9fd8eb05223
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:19 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e51d3fef-d6b5-4f3e-a280-f4fa9128ab09
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":["read","update"]}'
  recorded_at: Fri, 18 Nov 2022 20:17:20 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=LARC&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - bf1ab6bb-d239-4f3e-9e8f-6200024052bf
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:21 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9f238563-9b12-45f0-a192-25d749719ba1
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Fri, 18 Nov 2022 20:17:23 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=LARC&target=PROVIDER_OBJECT_ACL&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - dd874840-d8ab-457e-9bc2-c9c508e34d4c
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:24 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=LARC&target=EXTENDED_SERVICE&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - e67bd0ed-7d72-4e5a-83b6-ed9428e72c15
    body:
      encoding: UTF-8
      string: '{"EXTENDED_SERVICE":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:24 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=LARC&target=OPTION_ASSIGNMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - c9c5e6a4-8c7a-4594-bc06-5168b7a99729
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:24 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=LARC&target=SUBSCRIPTION_MANAGEMENT&user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 72236ab0-3626-4f4f-8609-e007d3bc14a7
    body:
      encoding: UTF-8
      string: '{"SUBSCRIPTION_MANAGEMENT":[]}'
  recorded_at: Fri, 18 Nov 2022 20:17:25 GMT
recorded_with: VCR 6.1.0
