---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 59ff748d-80f3-4c48-9749-283ea1175a16
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["delete"]}'
  recorded_at: Mon, 07 Nov 2022 18:15:25 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionAssignmentsByService
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>jwt_access_token</ns2:token><ns2:serviceEntryGuids><ns3:Item>3E5F3D05-C8F5-C540-4484-F3E67A7D5E62</ns3:Item><ns3:Item>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:Item></ns2:serviceEntryGuids></ns2:GetServiceOptionAssignmentsByService><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: ASCII-8BIT
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionAssignmentsByServiceResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>A8937901-8755-3F75-8E73-4E851AD8853A</ns3:Guid><ns3:ServiceOptionDefinitionGuid>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns3:ServiceOptionDefinitionGuid><ns3:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:ServiceEntryGuid><ns3:CatalogItemGuid>C1200019403-MMT_2</ns3:CatalogItemGuid><ns3:AppliesOnlyToGranules>true</ns3:AppliesOnlyToGranules></ns3:Item><ns3:Item><ns3:Guid>283D0822-5321-2A51-E0C5-69F8C99D925E</ns3:Guid><ns3:ServiceOptionDefinitionGuid>A700514B-9AB7-EA4A-3971-277F3891C3D4</ns3:ServiceOptionDefinitionGuid><ns3:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:ServiceEntryGuid><ns3:CatalogItemGuid>C1200190013-MMT_2</ns3:CatalogItemGuid><ns3:AppliesOnlyToGranules>false</ns3:AppliesOnlyToGranules></ns3:Item></ns2:result></ns2:GetServiceOptionAssignmentsByServiceResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Mon, 07 Nov 2022 18:22:14 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitions
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6ImRtaXN0cnkiLCJleHAiOjE2NzIxNTA2MDUsImlhdCI6MTY2Njk2NjYwNSwiaXNzIjoiRWFydGhkYXRhIExvZ2luIn0.lK7s9ZaSQfV_UHd4neH7uUyJKJK9Y4d3XEDJ439Ph_PiIVBp0SjmNMFXvqb_VLkkVUiD5B0v_-5nnlngx7eu1CSfWgjxjeTQysGOayL6KB31FYUfTZfgXqovval_6rhXNaOtye7aWct7ZW1DugUqW6LkxBgpI13EgivkEWEaq7kJlfuLhsMFqzNRB7dswOxsCmMf4wMkBPS2LJMnUdIL5FDNzgCb6ZBsmt9y4ZXKkfwxURRNLmZoem4bTnRgL8FQeaVixdGKe2YD7BXqRAXwDzq0FODB3uZNkQSrR4pTlKPcjDIKsGU6MXtY-mXDEwLFnKkbhnAFhjMv6PJVnrEIGw</ns2:token><ns2:optionGuids><ns3:Item>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns3:Item><ns3:Item>A700514B-9AB7-EA4A-3971-277F3891C3D4</ns3:Item></ns2:optionGuids></ns2:GetServiceOptionDefinitions><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
      soapaction:
      - '""'
    body:
      encoding: ASCII-8BIT
      string: |-
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitionsResponse xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns3:Guid><ns3:ProviderGuid>07ACF84C-6360-0BC7-92A8-E95A958DDE12</ns3:ProviderGuid><ns3:Name>Bibendum Mollis Lorem Elit Condimentum</ns3:Name><ns3:Description>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</ns3:Description><ns3:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
                    &lt;model&gt;
                      &lt;instance&gt;
                        &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                          &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                          &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
                        &l[...]
