---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_LIST_05&description=Totam%20qui%20sapiente%20ab.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"851468b6a638552484c3674e6412b8ec"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_LIST_05","app_uid":"mmt_test","description":"Totam
        qui sapiente ab.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"68e0de0f-04c6-422d-b64b-60b2312f80e6"}'
  recorded_at: Thu, 27 Oct 2022 22:38:00 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/68e0de0f-04c6-422d-b64b-60b2312f80e6/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8f74b0457595f7c04dd1b0ddef52b728"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_LIST_05"}'
  recorded_at: Thu, 27 Oct 2022 22:38:00 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/68e0de0f-04c6-422d-b64b-60b2312f80e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 27 Oct 2022 22:38:02 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"68e0de0f-04c6-422d-b64b-60b2312f80e6","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d021fffe-056b-4530-a35a-5adf09e36609
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443693-CMR"}'
  recorded_at: Thu, 27 Oct 2022 22:38:04 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443693-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - fbc6a043-23fa-45d0-aa10-67dd3c37367e
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443693-CMR"}'
  recorded_at: Thu, 27 Oct 2022 22:38:09 GMT
recorded_with: VCR 6.1.0
