---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_LIST_03&description=Facere%20est%20eum%20ex.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9376264390e44bafc3da507a6811c2c2"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_LIST_03","app_uid":"mmt_test","description":"Facere
        est eum ex.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"f9a98300-273f-4f1c-8c87-7eb77c9e2958"}'
  recorded_at: Thu, 27 Oct 2022 00:21:20 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/f9a98300-273f-4f1c-8c87-7eb77c9e2958/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3f229c7d93b1bd66fdfe85a45fee8eb"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_LIST_03"}'
  recorded_at: Thu, 27 Oct 2022 00:21:21 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443663-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 0f6f873c-6650-4ba6-8c81-774467933faf
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443663-CMR"}'
  recorded_at: Thu, 27 Oct 2022 00:21:22 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"f9a98300-273f-4f1c-8c87-7eb77c9e2958","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6d00d49b-9ca6-4491-8df2-0c49bfa73a57
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443665-CMR"}'
  recorded_at: Thu, 27 Oct 2022 00:21:28 GMT
recorded_with: VCR 6.1.0
