---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?EntryTitle=Global+Cyclone+Hazard+Frequency+and+Distribution
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 4a1070d6-fdc9-40bd-9025-6bf0844f44cd
      cmr-search-after:
      - '["global cyclone hazard frequency and distribution","SEDAC","CIESIN_CHRR_NDH_CYCLONE_HFD","1.0",1172,11]'
      cmr-hits:
      - '1'
      cmr-took:
      - '111'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":111,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"SEDAC","has-formats":false,"has-spatial-subsetting":false,"native-id":"Global
        Cyclone Hazard Frequency and Distribution","has-transforms":false,"has-variables":false,"concept-id":"C1172-SEDAC","revision-date":"2015-02-24T13:25:52.686Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Global
        Cyclone Hazard Frequency and Distribution","entry-id":"CIESIN_CHRR_NDH_CYCLONE_HFD_1.0","short-name":"CIESIN_CHRR_NDH_CYCLONE_HFD","version-id":"1.0"}}]}'
  recorded_at: Thu, 10 Nov 2022 16:05:30 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?all_revisions=true&concept_id=C1172-SEDAC&include_granule_counts=true&sort_key=-revision_date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 4879f6b7-2934-49bf-b0cc-37bc0658857e
      cmr-search-after:
      - "[1415315103656,1172,2]"
      cmr-hits:
      - '10'
      cmr-took:
      - '25'
    body:
      encoding: UTF-8
      string: '{"hits":10,"took":25,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"SEDAC","has-formats":false,"has-spatial-subsetting":false,"native-id":"Global
        Cyclone Hazard Frequency and Distribution","has-transforms":false,"has-variables":false,"concept-id":"C1172-SEDAC","revision-date":"2015-02-24T13:25:52.686Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Global
        Cyclone Hazard Frequency and Distribution","entry-id":"CIESIN_CHRR_NDH_CYCLONE_HFD_1.0","short-name":"CIESIN_CHRR_NDH_CYCLONE_HFD","version-id":"1.0"}},{"meta":{"revision-id":10,"deleted":false,"format":"application/echo10+xml","provider-id":"SEDAC","has-formats":false,"has-spatial-subsetting":false,"native-id":"Global
        Cyclone Hazard Frequency and Distribution","has-transforms":false,"has-[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1172-SEDAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - 17a7eb3d-56b0-45dc-b496-c22bf251dc38
    body:
      encoding: UTF-8
      string: '{"CollectionCitations":[{"OtherCitationDetails":"Center for Hazards
        and Risk Research (CHRR), Columbia University; Center for International Earth
        Science Information Network (CIESIN), Columbia University; International Bank
        for Reconstruction and Development/The World Bank; United Nations Environment
        Programme Global Resource Information Database Geneva (UNEP/GRID-Geneva).
        2005. Global Cyclone Hazard Frequency and Distribution Version 1.0. Palisades,
        NY: CHRR, Columbia University. Available at http://www.ldeo.columbia.edu/chrr/research/hotspots/"}],"LocationKeywords":[{"Category":"OTHER","Type":"East
        Asia"},{"Category":"GEOGRAPHIC REGION","Type":"MID-LATITUDE"},{"Category":"GEOGRAPHIC
        REGION","Type":"EQUATORIAL"},{"Category":"CONTINENT","Type":"ASIA"},{"Category":"CONTINENT","Type":"ASIA","Subregion1":"EASTERN
        ASIA","Subregion2":"CHINA"}],"ShortName":"CIESIN_CHRR_NDH_CYCLONE_HFD","Abstract":"Global
        Cyclone Hazard Frequency and Distribution is a 2.5 by 2.5 minute grid based
        on more than 1,600 storm tracks for the period 1 January 1980 through 31 December
        2000 for the Atlantic, Pacific, and Indian Oceans that were assembled and
        modeled at UNEP/GRID-Geneva PreView. Windspeeds around storm tracks were modeled
        using Holland''s model (1997) to assess the grid cells likely to have been
        exposed to high wind levels. Post-modeling, the cells were divided into deciles,
        10 classes consisting of approximately equal number of grid cells. The higher
        the value of the grid cell, the higher the decile ranking and the greater
        the frequency of the hazard relative to other cells. The dataset is the result
        of collaboration among the Columbia University Center for Hazards and Risk
        Research (CHRR), International Bank for Reconstruction and Development/The
        World Bank, United Nations Environment Programme Global Resource Information
        Database Geneva (UNEP/GRID-Geneva), and Columbia University Center for International
        Earth Science Information Network (CIESIN).","Purpose":"To provide a means
        of assessing the relative distribution and frequency of global cyclone hazard.","DOI":{"MissingReason":"Unknown","Explanation":"It
        is unknown if this record has a DOI."},"RelatedUrls":[{"Description":"FTP
        site with data in American Standard Code for Information Interchange (ASCII)
        format","URLContentType":"DistributionURL","Type":"GET DATA","URL":"ftp://ftp.ciesin.columbia.edu/pub/hotspots/gdcyc.zip"},{"Description":"data
        set homepage","URLContentType":"PublicationURL","Type":"VIEW RELATED INFORMATION","Subtype":"GENERAL
        DOCUMENTATION","URL":"http://www.ldeo.columbia.edu/chrr/research/hotspots/"},{"URLContentType":"VisualizationURL","Type":"GET
        RELATED VISUALIZATION","URL":"http://www.ciesin.columbia.edu/repository/hazards/maps/Cyclone_Frequency_Distribution.jpg"},{"URLContentType":"VisualizationURL","Type":"GET
        RELATED VISUALIZATION","URL":"http://www.ciesin.columbia.edu/repository/hazards/maps/Cyclone_Frequency_Distribution.pdf"}],"DataDates":[{"Date":"2009-05-08T00:00:00.000Z","Type":"CREATE"},{"Date":"2009-05-08T00:00:00.000Z","Type":"UPDATE"}],"AccessConstraints":{"Description":"None"},"SpatialExtent":{"SpatialCoverageType":"HORIZONTAL","HorizontalSpatialDomain":{"Geometry":{"CoordinateSystem":"CARTESIAN","BoundingRectangles":[{"WestBoundingCoordinate":-180.0,"NorthBoundingCoordinate":90.0,"EastBoundingCoordinate":180.0,"SouthBoundingCoordinate":-55.0}]}},"GranuleSpatialRepresentation":"CARTESIAN"},"ArchiveAndDistributionInformation":{"FileDistributionInformation":[{"FormatType":"Native","Fees":"0","Format":"ASCII"}]},"ScienceKeywords":[{"Category":"EARTH
        SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC PHENOMENA","VariableLevel1":"CYCLONES"},{"Category":"EARTH
        SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC PHENOMENA","VariableLevel1":"HURRICANES"},{"Category":"EARTH
        SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC PRESSURE","VariableLevel1":"ANTICYCLONES/CYCLONES"},{"Category":"EARTH
        SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC WINDS","VariableLevel1":"SURFACE
        WINDS"},{"Category":"EARTH SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC
        WINDS","VariableLevel1":"UPPER LEVEL WINDS"}],"EntryTitle":"Global Cyclone
        Hazard Frequency and Distribution","CollectionProgress":"NOT PROVIDED","ProcessingLevel":{"ProcessingLevelDescription":"GRID","Id":"Level
        3"},"Platforms":[{"ShortName":"Not provided"}],"Projects":[{"ShortName":"NDH","LongName":"Natural
        Disaster Hotspots"}],"Version":"1.0","TemporalExtents":[{"PrecisionOfSeconds":1,"EndsAtPresentFlag":true,"RangeDateTimes":[{"BeginningDateTime":"1980-01-01T00:00:00.000Z","EndingDateTime":"2000-12-31T00:00:00.000Z"}]}],"DataCenters":[{"Roles":["PROCESSOR"],"ShortName":"SEDAC"},{"Roles":["ARCHIVER"],"ShortName":"SEDAC"},{"Roles":["ARCHIVER"],"ShortName":"Socioeconomic
        Data and Applications Center (SEDAC)","ContactPersons":[{"Roles":["Technical
        Contact"],"FirstName":"SEDAC","MiddleName":"User","LastName":"Services"}],"ContactInformation":{"ServiceHours":"9:00
        A.M. to 5:00 P.M., Monday to Friday","ContactMechanisms":[{"Type":"Telephone","Value":"+1
        845-365-8920"},{"Type":"Fax","Value":"+1 845-365-8922"},{"Type":"Email","Value":"ciesin.info@ciesin.columbia.edu"}],"Addresses":[{"StreetAddresses":["CIESIN,
        Columbia University, 61 Route 9W, P.O. Box 1000"],"City":"Palisades","StateProvince":"NY","Country":"USA","PostalCode":"10964"}]}}],"MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Name":"UMM-C","Version":"1.17.0"}}'
  recorded_at: Thu, 10 Nov 2022 16:05:32 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.json?concept_id=C1172-SEDAC&include_tags=%2A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-request-id:
      - cc9db634-9830-45b6-9bb2-c4ddf9331ecb
      cmr-search-after:
      - '["global cyclone hazard frequency and distribution","SEDAC","CIESIN_CHRR_NDH_CYCLONE_HFD","1.0",1172,11]'
      cmr-hits:
      - '1'
      cmr-took:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"feed":{"updated":"2022-11-10T16:05:32.576Z","id":"https://cmr.sit.earthdata.nasa.gov:443/search/collections.json?concept_id=C1172-SEDAC&include_tags=%2A","title":"ECHO
        dataset metadata","entry":[{"processing_level_id":"Level 3","cloud_hosted":false,"tags":{"gov.nasa.eosdis":{}},"boxes":["-55
        -180 90 180"],"time_start":"1980-01-01T00:00:00.000Z","version_id":"1.0","updated":"2009-05-08T00:00:00.000Z","dataset_id":"Global
        Cyclone Hazard Frequency and Distribution","has_spatial_subsetting":false,"has_transforms":false,"has_variables":false,"data_center":"SEDAC","short_name":"CIESIN_CHRR_NDH_CYCLONE_HFD","organizations":["SEDAC","Socioeconomic
        Data and Applications Center (SEDAC)"],"title":"Global Cyclone Hazard Frequency
        and Distribution","coordinate_system":"CARTESIAN","summary":"Global Cyclone
        Hazard Frequency and Distribution is a 2.5 by 2.5 minute grid based on more
        than 1,600 storm tracks for the period 1 January 1980 through 31 December
        2000 for the Atlantic, Pacific, and Indian Oceans that were assembled and
        modeled at UNEP/GRID-Geneva PreView. Windspeeds around storm tracks were modeled
        using Holland''s model (1997) to assess the grid cells likely to have been
        exposed to high wind levels. Post-modeling, the cells were divided into deciles,
        10 classes consisting of approximately equal number of grid cells. The higher
        the value of the grid cell, the higher the decile ranking and the greater
        the frequency of the hazard relative to other cells. The dataset is the result
        of collaboration among the Columbia University Center for Hazards and Risk
        Research (CHRR), International Bank for Reconstruction and Development/The
        World Bank, United Nations Environment Programme Global Resource Information
        Database Geneva (UNEP/GRID-Geneva), and Columbia University Center for International
        Earth Science Information Network (CIESIN).","service_features":{"opendap":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"esi":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false},"harmony":{"has_formats":false,"has_variables":false,"has_transforms":false,"has_spatial_subsetting":false,"has_temporal_subsetting":false}},"orbit_parameters":{},"id":"C1172-SEDAC","has_formats":false,"original_format":"ECHO10","archive_center":"SEDAC","has_temporal_subsetting":false,"browse_flag":true,"platforms":[],"online_access_flag":true,"links":[{"rel":"http://esipfed.org/ns/fedsearch/1.1/data#","hreflang":"en-US","href":"ftp://ftp.ciesin.columbia.edu/pub/hotspots/gdcyc.zip"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/documentation#","hreflang":"en-US","href":"http://www.ldeo.columbia.edu/chrr/research/hotspots/"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","hreflang":"en-US","href":"http://www.ciesin.columbia.edu/repository/hazards/maps/Cyclone_Frequency_Distribution.jpg"},{"rel":"http://esipfed.org/ns/fedsearch/1.1/browse#","hreflang":"en-US","href":"http://www.ciesin.columbia.edu/repository/hazards/maps/Cyclone_Frequency_Distribution.pdf"}]}]}}'
  recorded_at: Thu, 10 Nov 2022 16:05:32 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/tags?tag_key%5B%5D=gov.nasa.eosdis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 62b055a7-f960-4297-9df0-63d9217c8f6d
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":7,"items":[{"concept_id":"T1200231140-CMR","revision_id":1,"tag_key":"gov.nasa.eosdis","description":"Data
        from a NASA Earth Observing System Data and Information System (EOSDIS) provider.","originator_id":"cduma1"}]}'
  recorded_at: Thu, 10 Nov 2022 16:05:33 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=Global+Cyclone+Hazard+Frequency+and+Distribution
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 2532ebb8-e0a7-4f08-bf52-5d9a988607fb
      cmr-search-after:
      - '["global cyclone hazard frequency and distribution","SEDAC","CIESIN_CHRR_NDH_CYCLONE_HFD","1.0",1172,11]'
      cmr-hits:
      - '1'
      cmr-took:
      - '46'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":46,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"SEDAC","has-formats":false,"has-spatial-subsetting":false,"native-id":"Global
        Cyclone Hazard Frequency and Distribution","has-transforms":false,"has-variables":false,"concept-id":"C1172-SEDAC","revision-date":"2015-02-24T13:25:52.686Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Global
        Cyclone Hazard Frequency and Distribution","entry-id":"CIESIN_CHRR_NDH_CYCLONE_HFD_1.0","short-name":"CIESIN_CHRR_NDH_CYCLONE_HFD","version-id":"1.0"}}]}'
  recorded_at: Thu, 10 Nov 2022 16:06:28 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?native_id=Global+Cyclone+Hazard+Frequency+and+Distribution
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - bfed1b9f-af0a-4297-9519-8ada6524bc25
      cmr-search-after:
      - '["global cyclone hazard frequency and distribution","SEDAC","CIESIN_CHRR_NDH_CYCLONE_HFD","1.0",1172,11]'
      cmr-hits:
      - '1'
      cmr-took:
      - '37'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":36,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"SEDAC","has-formats":false,"has-spatial-subsetting":false,"native-id":"Global
        Cyclone Hazard Frequency and Distribution","has-transforms":false,"has-variables":false,"concept-id":"C1172-SEDAC","revision-date":"2015-02-24T13:25:52.686Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Global
        Cyclone Hazard Frequency and Distribution","entry-id":"CIESIN_CHRR_NDH_CYCLONE_HFD_1.0","short-name":"CIESIN_CHRR_NDH_CYCLONE_HFD","version-id":"1.0"}}]}'
  recorded_at: Thu, 10 Nov 2022 16:06:28 GMT
recorded_with: VCR 6.1.0
