---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/619358bd-ab66-4063-be45-16a1ccfc267c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bc5400d0b9185b4f636ae9f6d11dce3e"
    body:
      encoding: UTF-8
      string: '{"group_id":"619358bd-ab66-4063-be45-16a1ccfc267c","name":"Test_Admin_Group_Manage_Provider_and_System_Permissions","description":"test
        admin group","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 25 Oct 2022 12:45:37 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/619358bd-ab66-4063-be45-16a1ccfc267c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 25 Oct 2022 12:45:37 GMT
recorded_with: VCR 6.1.0
