---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic oauth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3fcd23f7d4909a71e3c7f9caeb2ef1c4"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Tue, 11 Oct 2022 20:27:02 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_MMT_2_Group_Manage_Provider_Permissions&description=test%20group&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b762d4c37a1a6c6b824fe0cf8467aa6b"
    body:
      encoding: UTF-8
      string: '{"name":"Test_MMT_2_Group_Manage_Provider_Permissions","app_uid":"mmt_test","description":"test
        group","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"4cd091c3-71a8-4ea2-becc-392b4bf5cd9e"}'
  recorded_at: Tue, 11 Oct 2022 20:27:03 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/4cd091c3-71a8-4ea2-becc-392b4bf5cd9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a092886ad0d09c949db0e30f92a34207"
    body:
      encoding: UTF-8
      string: '{"group_id":"4cd091c3-71a8-4ea2-becc-392b4bf5cd9e","name":"Test_MMT_2_Group_Manage_Provider_Permissions","description":"test
        group","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 11 Oct 2022 20:27:03 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/4cd091c3-71a8-4ea2-becc-392b4bf5cd9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 11 Oct 2022 20:27:03 GMT
[...]
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/f2d96921-ffb2-4823-901b-347133488600
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 11 Oct 2022 20:27:07 GMT
recorded_with: VCR 6.1.0
