---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Admin_Group_Manage_Provider_and_System_Permissions1&description=test%20admin%20group1&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1da98910abcabec0c24b16036ba1e702"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Admin_Group_Manage_Provider_and_System_Permissions1","app_uid":"mmt_test","description":"test
        admin group1","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"0de88c6d-2eb9-48aa-9b5f-5e19c3487e76"}'
  recorded_at: Tue, 25 Oct 2022 20:05:44 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/f2ab8761-4d5a-4bae-af8d-e214cc8ecdab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"72d9d9faa2ac97d29d06e4451e567779"
    body:
      encoding: UTF-8
      string: '{"group_id":"f2ab8761-4d5a-4bae-af8d-e214cc8ecdab","name":"Test_MMT_2_Group_Manage_Provider_and_System_Permissions1","description":"test
        group1","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 25 Oct 2022 20:05:46 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/f2ab8761-4d5a-4bae-af8d-e214cc8ecdab
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 25 Oct 2022 20:05:46 GMT
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a7f43be8d03379038f63efaabc2a2f88"
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiQ2xpZW50IiwiY2xpZW50X2lkIjoiODFGRWVtOTFObFRRcmVXdjJVZ3RYUSIsImV4cCI6MTY2ODI3OTMzNywiaWF0IjoxNjY2OTgzMzM3LCJpc3MiOiJFYXJ0aGRhdGEgTG9naW4ifQ.BboP8LVYXVXgKbSjQsy8iddmK7IMgXVBaKZL8Tn0nM7JcOmeaTXwGSNQvMA_sVLN08-F_vwW8TsVHMBLbaY3u7jRe7juC-idzIbfR6-bg8SFEh6Ep2HuMwO6Yish2qSaDIUc00Osy_iCwNGznTQ4un9rsOr9y30VeY1p8ClLpRlOa53ePm8nAcf79OKsnzWNJLA_dDRwnnqdzVWLnK8wLwP7KQkeCjcAbKBef8RCpyUl-it44gVoLuzmyEySCK9ZdgrB4tQCGB8Ac3RjQ4Nlcr6ApCDaqz_oOV90-f2DtVJiE7RWX87uuncJbKeHISrGVopFEhL5mhm_7dd2Wxe7pQ","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 28 Oct 2022 18:55:37 GMT
recorded_with: VCR 6.1.0
