---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Admin_Group_Manage_Provider_and_System_Permissions&description=test%20admin%20group&tag=CMR
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb19e0471600a39e868a2b9171a1df83"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Admin_Group_Manage_Provider_and_System_Permissions","app_uid":"mmt_test","description":"test
        admin group","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"619358bd-ab66-4063-be45-16a1ccfc267c"}'
  recorded_at: Tue, 25 Oct 2022 10:49:23 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/86a5db56-48ee-47ad-a4ec-e901a8f7240b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d9c48794c30e629b56c5221d57ff6dc0"
    body:
      encoding: UTF-8
      string: '{"group_id":"86a5db56-48ee-47ad-a4ec-e901a8f7240b","name":"Test_MMT_2_Group_Manage_Provider_and_System_Permissions","description":"test
        group","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 25 Oct 2022 13:30:14 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/86a5db56-48ee-47ad-a4ec-e901a8f7240b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Tue, 25 Oct 2022 13:30:14 GMT
recorded_with: VCR 6.1.0
---
http_interactions:
[...]
