---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Permissions_Controller_Test_Group_012&description=Ut%20autem%20voluptate%20aut.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d2d117dd84bc6b5b6cd50695a214751"
    body:
      encoding: UTF-8
      string: '{"name":"Permissions_Controller_Test_Group_012","app_uid":"mmt_test","description":"Ut
        autem voluptate aut.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"1b9028c9-57a2-48ae-960c-ad59618e901d"}'
  recorded_at: Thu, 03 Nov 2022 17:38:16 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/1b9028c9-57a2-48ae-960c-ad59618e901d/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a736d2fb0df1e5c763cb579770de9fe"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Permissions_Controller_Test_Group_012"}'
  recorded_at: Thu, 03 Nov 2022 17:38:16 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444857-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - cdcaedef-fa16-4af6-82df-f9554f798edb
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200444857-CMR"}'
  recorded_at: Thu, 03 Nov 2022 17:38:18 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"1b9028c9-57a2-48ae-960c-ad59618e901d","permissions":["read","order"]},{"user_type":"registered","permissions":["read","order"]},{"user_type":"guest","permissions":["read"]}],"catalog_item_identity":{"name":"Permissions
        Permission Name","provider_id":"MMT_2","granule_applicable":true,"collection_applicable":true}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 2ca8cf76-d9bd-4262-9533-ca718c23b5a1
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444859-CMR"}'
  recorded_at: Thu, 03 Nov 2022 17:38:20 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 76ff71a7-25d2-4deb-8b20-4b4063f0efb6
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 03 Nov 2022 17:38:21 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 231979a2-a27a-40fc-8ff2-5a7a56bf041b
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 03 Nov 2022 17:38:22 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444859-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b7a99f19-811a-4a5b-bb58-8926ffe0c5ca
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"1b9028c9-57a2-48ae-960c-ad59618e901d","permissions":["read","order"]},{"user_type":"registered","permissions":["read","order"]},{"user_type":"guest","permissions":["read"]}],"catalog_item_identity":{"name":"Permissions
        Permission Name","provider_id":"MMT_2","granule_applicable":true,"collection_applicable":true}}'
  recorded_at: Thu, 03 Nov 2022 17:38:24 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/1b9028c9-57a2-48ae-960c-ad59618e901d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"992fc409646175893a26ae43b65b3da4"
    body:
      encoding: UTF-8
      string: '{"group_id":"1b9028c9-57a2-48ae-960c-ad59618e901d","name":"Permissions_Controller_Test_Group_012","description":"Ut
        autem voluptate aut.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Thu, 03 Nov 2022 17:38:24 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/1b9028c9-57a2-48ae-960c-ad59618e901d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e5f266953e010f1ff4fec49b9a42d90"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"testuser","first_name":"Test","last_name":"User","email_address":"testuser@email.com"}]}'
  recorded_at: Thu, 03 Nov 2022 17:38:24 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/1b9028c9-57a2-48ae-960c-ad59618e901d/user?user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c0a15bceaf7df2f5d3b6b19b7b6e073e"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully deleted from group Permissions_Controller_Test_Group_012"}'
  recorded_at: Thu, 03 Nov 2022 17:38:25 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 03 Nov 2022 17:38:26 GMT
recorded_with: VCR 6.1.0
