---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d27f83da5cb4c80b1300035248a3b033"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 14 Oct 2022 17:49:26 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Non_NASA_Draft_Approvers_Group60bbc4298426479d90db5d95e96f51b7&description=Velit%20esse%20omnis%20ut.&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6d8c56c8b5b49b52f32d124526669282"
    body:
      encoding: UTF-8
      string: '{"name":"Non_NASA_Draft_Approvers_Group60bbc4298426479d90db5d95e96f51b7","app_uid":"mmt_test","description":"Velit
        esse omnis ut.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"ef5a59bc-d3d8-4d30-96ba-9e3a136c1f4f"}'
  recorded_at: Fri, 14 Oct 2022 17:49:26 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ef5a59bc-d3d8-4d30-96ba-9e3a136c1f4f/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"31f28dde9a465bf99c6259ddf68b6cbb"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Non_NASA_Draft_Approvers_Group60bbc4298426479d90db5d95e96f51b7"}'
  recorded_at: Fri, 14 Oct 2022 17:49:26 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200375136-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200375136-CMR] was deleted."]}'
  recorded_at: Fri, 14 Oct 2022 17:49:27 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"ef5a59bc-d3d8-4d30-96ba-9e3a136c1f4f","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_APPROVER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3a2fbf94-496f-4a9d-a07f-155757b3d555
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442551-CMR"}'
  recorded_at: Fri, 14 Oct 2022 17:49:28 GMT
recorded_with: VCR 6.1.0
