---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Non_NASA_Draft_Users_Group_003&description=Velit%20dolorem%20est%20iste.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ea556a306bbf2e230893048c42d6655c"
    body:
      encoding: UTF-8
      string: '{"name":"Non_NASA_Draft_Users_Group_003","app_uid":"mmt_test","description":"Velit
        dolorem est iste.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"174b1ee8-4618-46a8-a498-93ae98abe169"}'
  recorded_at: Wed, 09 Nov 2022 17:03:54 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/174b1ee8-4618-46a8-a498-93ae98abe169/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"386fddbec5b542861087499be8275baa"
    body:
      encoding: UTF-8
      string: '{"msg":"admin successfully added to user group Non_NASA_Draft_Users_Group_003"}'
  recorded_at: Wed, 09 Nov 2022 17:03:54 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200445283-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - bf0efc17-982f-4e7f-a45f-045f504d1c48
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200445283-CMR"}'
  recorded_at: Wed, 09 Nov 2022 17:03:55 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"174b1ee8-4618-46a8-a498-93ae98abe169","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_USER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6e2a691d-9aed-4496-b429-cc143b09569f
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200445285-CMR"}'
  recorded_at: Wed, 09 Nov 2022 17:03:56 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/174b1ee8-4618-46a8-a498-93ae98abe169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5cb24a1714d723d6c30e00a4c0228b4"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"admin","first_name":"Admin","last_name":"Admin","email_address":"admin@gmail.com"}]}'
  recorded_at: Wed, 09 Nov 2022 17:04:09 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/174b1ee8-4618-46a8-a498-93ae98abe169/user?user_id=admin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"49a9c294f1974f6e793aa21861f843f9"
    body:
      encoding: UTF-8
      string: '{"msg":"admin successfully deleted from group Non_NASA_Draft_Users_Group_003"}'
  recorded_at: Wed, 09 Nov 2022 17:04:10 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/174b1ee8-4618-46a8-a498-93ae98abe169
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 09 Nov 2022 17:04:10 GMT
recorded_with: VCR 6.1.0
