---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7ab28e14dc9d870349deb12096c5452f"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Sat, 15 Oct 2022 01:18:30 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Non_NASA_Draft_Users_Group_fa69fff60cde4c23886111f963375b74&description=Magni%20laborum%20voluptatem%20at.&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"30db1b724274cb458681df12220f4c9f"
    body:
      encoding: UTF-8
      string: '{"name":"Non_NASA_Draft_Users_Group_fa69fff60cde4c23886111f963375b74","app_uid":"mmt_test","description":"Magni
        laborum voluptatem at.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"6d6bb2b1-eab4-43dd-95e2-a33d4467ec80"}'
  recorded_at: Sat, 15 Oct 2022 01:18:30 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6d6bb2b1-eab4-43dd-95e2-a33d4467ec80/user
    body:
      encoding: UTF-8
      string: user_id=chris.gokey
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"32bfcefd42a7609f292f6c8e1623ddf4"
    body:
      encoding: UTF-8
      string: '{"msg":"chris.gokey successfully added to user group Non_NASA_Draft_Users_Group_fa69fff60cde4c23886111f963375b74"}'
  recorded_at: Sat, 15 Oct 2022 01:18:30 GMT
[...]
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442598-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"errors":["ACL with concept id [ACL1200442598-CMR] was deleted."]}'
  recorded_at: Sat, 15 Oct 2022 01:18:31 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"6d6bb2b1-eab4-43dd-95e2-a33d4467ec80","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_USER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d3cacba2-9339-4113-b08e-b9555e4e3d5f
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442600-CMR"}'
  recorded_at: Sat, 15 Oct 2022 01:19:00 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442600-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 0f493f62-f58b-4461-97bf-2ad90ca175ab
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200442600-CMR"}'
  recorded_at: Sat, 15 Oct 2022 01:47:17 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/6d6bb2b1-eab4-43dd-95e2-a33d4467ec80
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e4bae3c995c9ab91e64191b63d03c0b2"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov"},{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Sat, 15 Oct 2022 01:47:18 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6d6bb2b1-eab4-43dd-95e2-a33d4467ec80/user?user_id=rosy.cordova
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f7bfc2fc9f2a58e74a9073def8c7ebf4"
    body:
      encoding: UTF-8
      string: '{"msg":"rosy.cordova successfully deleted from group Non_NASA_Draft_Users_Group_fa69fff60cde4c23886111f963375b74"}'
  recorded_at: Sat, 15 Oct 2022 01:47:18 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6d6bb2b1-eab4-43dd-95e2-a33d4467ec80/user?user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4bfcc4104ac9baa9eee6c94e8589ae90"
    body:
      encoding: UTF-8
      string: '{"msg":"chris.gokey successfully deleted from group Non_NASA_Draft_Users_Group_fa69fff60cde4c23886111f963375b74"}'
  recorded_at: Sat, 15 Oct 2022 01:47:18 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6d6bb2b1-eab4-43dd-95e2-a33d4467ec80
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 15 Oct 2022 01:47:18 GMT
recorded_with: VCR 6.1.0
