---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"508f1a77dfdc9759070d3cafaccb99b3"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Wed, 19 Oct 2022 14:38:15 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Non_NASA_Draft_Users_Group_1&description=Nobis%20fugiat%20quaerat%20incidunt.&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e6329cc76d6895ab52d5025b878ad35a"
    body:
      encoding: UTF-8
      string: '{"name":"Non_NASA_Draft_Users_Group_1","app_uid":"mmt_test","description":"Nobis
        fugiat quaerat incidunt.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"d05f8034-7124-48ad-bd04-6b83b5020ac8"}'
  recorded_at: Wed, 19 Oct 2022 14:38:15 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d05f8034-7124-48ad-bd04-6b83b5020ac8/user
    body:
      encoding: UTF-8
      string: user_id=chris.gokey
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e86423ff76e23c4dccdde0eeb599bc9e"
    body:
      encoding: UTF-8
      string: '{"msg":"chris.gokey successfully added to user group Non_NASA_Draft_Users_Group_1"}'
  recorded_at: Wed, 19 Oct 2022 14:38:15 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"d05f8034-7124-48ad-bd04-6b83b5020ac8","permissions":["create"]}],"provider_identity":{"provider_id":"MMT_2","target":"NON_NASA_DRAFT_USER"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - '082e5483-57cf-4c9e-9c97-0d5387fed5c5'
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200442993-CMR"}'
  recorded_at: Wed, 19 Oct 2022 14:38:17 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200442993-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 1ae52b18-4ba8-4a71-a3bb-69a902587ea4
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200442993-CMR"}'
  recorded_at: Wed, 19 Oct 2022 14:38:23 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d05f8034-7124-48ad-bd04-6b83b5020ac8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e4bae3c995c9ab91e64191b63d03c0b2"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov"},{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Wed, 19 Oct 2022 14:38:23 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d05f8034-7124-48ad-bd04-6b83b5020ac8/user?user_id=rosy.cordova
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"27214735d75a5d2931bf9da53a49c034"
    body:
      encoding: UTF-8
      string: '{"msg":"rosy.cordova successfully deleted from group Non_NASA_Draft_Users_Group_1"}'
  recorded_at: Wed, 19 Oct 2022 14:38:24 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d05f8034-7124-48ad-bd04-6b83b5020ac8/user?user_id=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fb84f73ea1b5c19f90cac9214a1b976a"
    body:
      encoding: UTF-8
      string: '{"msg":"chris.gokey successfully deleted from group Non_NASA_Draft_Users_Group_1"}'
  recorded_at: Wed, 19 Oct 2022 14:38:24 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d05f8034-7124-48ad-bd04-6b83b5020ac8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 19 Oct 2022 14:38:24 GMT
recorded_with: VCR 6.1.0
