---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Orders_Group_for_Permissions_RESUBMIT_6a0b261411014e479afac0ac8f30ba64&description=Eos%20molestiae%20iure%20ipsum.&tag=NSIDC_ECS
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ca0bcc9d0ddc6beb574dbec0b28f1a8"
    body:
      encoding: UTF-8
      string: '{"name":"Orders_Group_for_Permissions_RESUBMIT_6a0b261411014e479afac0ac8f30ba64","app_uid":"mmt_test","description":"Eos
        molestiae iure ipsum.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"NSIDC_ECS","group_id":"9434954d-cf79-47e7-8c9f-08e1fd66eea5"}'
  recorded_at: Fri, 04 Nov 2022 14:50:05 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9434954d-cf79-47e7-8c9f-08e1fd66eea5/user
    body:
      encoding: UTF-8
      string: user_id=testuser
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e7d8192016f47d827eddd6b3bf641ceb"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully added to user group Orders_Group_for_Permissions_RESUBMIT_6a0b261411014e479afac0ac8f30ba64"}'
  recorded_at: Fri, 04 Nov 2022 14:50:05 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444867-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 4a87ab7c-d4d8-4965-86c4-9799ff2c000e
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200444867-CMR"}'
  recorded_at: Fri, 04 Nov 2022 14:50:06 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"9434954d-cf79-47e7-8c9f-08e1fd66eea5","permissions":["create"]}],"provider_identity":{"provider_id":"NSIDC_ECS","target":"PROVIDER_ORDER_RESUBMISSION"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - dc8d4dc9-5f8f-4fd9-b441-897665fd3f61
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444869-CMR"}'
  recorded_at: Fri, 04 Nov 2022 14:50:07 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/9434954d-cf79-47e7-8c9f-08e1fd66eea5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8e5f266953e010f1ff4fec49b9a42d90"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"testuser","first_name":"Test","last_name":"User","email_address":"testuser@email.com"}]}'
  recorded_at: Fri, 04 Nov 2022 14:50:10 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9434954d-cf79-47e7-8c9f-08e1fd66eea5/user?user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9473ac606d9ab9bc24df7f3f82683801"
    body:
      encoding: UTF-8
      string: '{"msg":"testuser successfully deleted from group Orders_Group_for_Permissions_RESUBMIT_6a0b261411014e479afac0ac8f30ba64"}'
  recorded_at: Fri, 04 Nov 2022 14:50:10 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/9434954d-cf79-47e7-8c9f-08e1fd66eea5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 04 Nov 2022 14:50:10 GMT
recorded_with: VCR 6.1.0
