---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=SHOW_SUBSCRIPTION_SPEC_GROUP_025&description=Nam%20vero%20reiciendis%20fugit.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"71533a574d141e49b555091a687abb15"
    body:
      encoding: UTF-8
      string: '{"name":"SHOW_SUBSCRIPTION_SPEC_GROUP_025","app_uid":"mmt_test","description":"Nam
        vero reiciendis fugit.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"507694fd-276e-4215-a4b8-384783d77064"}'
  recorded_at: Mon, 21 Nov 2022 21:10:30 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/507694fd-276e-4215-a4b8-384783d77064/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b91f8b92ee0c3f6612b0681b4274c305"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group SHOW_SUBSCRIPTION_SPEC_GROUP_025"}'
  recorded_at: Mon, 21 Nov 2022 21:10:30 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"507694fd-276e-4215-a4b8-384783d77064","permissions":["update","read"]}],"provider_identity":{"provider_id":"MMT_2","target":"SUBSCRIPTION_MANAGEMENT"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - c5e8c248-f090-4693-9588-48f075f17a76
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200451200-CMR"}'
  recorded_at: Mon, 21 Nov 2022 21:10:31 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/show_subscription_spec_025
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/concepts/C1200451201-MMT_2/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm+json;version=1.17.0; charset=utf-8
      cmr-request-id:
      - b404095d-ec3b-455f-9ee0-6fd84cbee4e5
    body:
      [...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/subscriptions/mmt_subscription_show_subsrciption_spec_020
    body:
      encoding: UTF-8
      string: '{"Name":"show_subsrciption_spec_020","CollectionConceptId":"C1200451201-MMT_2","Query":"bounding_box=-10,-5,10,5\u0026attribute[]=float,PERCENTAGE,25.5,30\u0026entry_title=d3c51fbe-f4d7-45b3-85c7-32331c5cea17","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com"}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json;version=1.0
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml
      cmr-request-id:
      - 64ed8804-08af-420f-8ab1-5645a46bca60
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><result><concept-id>SUB1200451127-MMT_2</concept-id><native-id>mmt_subscription_show_subsrciption_spec_020</native-id><revision-id>3</revision-id></result>
  recorded_at: Mon, 21 Nov 2022 21:10:37 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?ConceptId=SUB1200451127-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 8edfa917-1ee4-4239-a436-c2c539ece972
      cmr-search-after:
      - '["show_subsrciption_spec_020","MMT_2","show_subsrciption_spec_020","MMT_2"]'
      cmr-hits:
      - '1'
      cmr-took:
      - '35'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":33,"items":[{"meta":{"revision-id":2,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"hvtranho","creation-date":"2022-11-18T23:08:42.641Z","native-id":"mmt_subscription_show_subsrciption_spec_020","concept-id":"SUB1200451127-MMT_2","revision-date":"2022-11-21T20:53:28.412Z","concept-type":"subscription"},"umm":{"Name":"show_subsrciption_spec_020","CollectionConceptId":"C1200451198-MMT_2","Query":"bounding_box=-10,-5,10,5&attribute[]=float,PERCENTAGE,25.5,30&entry_title=fe60dcc6-7f5e-4f9d-9878-f119524a7057","SubscriberId":"hvtranho","EmailAddress":"hv.tranho@gmail.com","Type":"granule","MetadataSpecification":{"URL":"https://cdn.earthdata.nasa.gov/umm/subscription/v1.1","Name":"UMM-Sub","Version":"1.1"}}}]}'
  recorded_at: Mon, 21 Nov 2022 21:10:38 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b82560f6-0293-4782-ba57-b0c644081389
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 21:10:39 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 57870d7b-031b-40ee-ac31-483c08d0b5e8
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":["read","create","update","delete"]}'
  recorded_at: Mon, 21 Nov 2022 21:10:40 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/subscriptions.umm_json?concept_id=SUB1200451127-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.1; charset=utf-8
      cmr-request-id:
      - 198b636c-6457-4325-8b36[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f618ed23a3cf81128b55ae823370b0d6"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-09-15T15:27:12.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Mon, 21 Nov 2022 21:10:40 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200451200-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 4ac575ff-d2e5-43fa-bcbf-e52bc8498b47
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200451200-CMR"}'
  recorded_at: Mon, 21 Nov 2022 21:10:54 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/507694fd-276e-4215-a4b8-384783d77064
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6880a4d6bd72c464b5450862d849c25f"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@gmail.com"},{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov"}]}'
  recorded_at: Mon, 21 Nov 2022 21:10:54 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/507694fd-276e-4215-a4b8-384783d77064/user?user_id=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c34100daec419bee2584f10c717cf064"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully deleted from group SHOW_SUBSCRIPTION_SPEC_GROUP_025"}'
  recorded_at: Mon, 21 Nov 2022 21:10:55 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/507694fd-276e-4215-a4b8-384783d77064/user?user_id=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b52ac28de4e9c42a96fd4dc70c45843d"
    body:
      encoding: UTF-8
      string: '{"msg":"ttle9 successfully deleted from group SHOW_SUBSCRIPTION_SPEC_GROUP_025"}'
  recorded_at: Mon, 21 Nov 2022 21:10:55 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/507694fd-276e-4215-a4b8-384783d77064
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Mon, 21 Nov 2022 21:10:55 GMT
recorded_with: VCR 6.1.0
