---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1605d553ca5a518e89d6e6bc0a76ea02"
    body:
      encoding: UTF-8
      string: '{"access_token":"jwt_access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Wed, 26 Oct 2022 21:18:37 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=c0212e91be959a61acd1&description=Dolores%20officiis%20repellendus%20unde.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e0d0ad44611b660a0a7df2f3239d83b"
    body:
      encoding: UTF-8
      string: '{"name":"c0212e91be959a61acd1","app_uid":"mmt_test","description":"Dolores
        officiis repellendus unde.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"}'
  recorded_at: Wed, 26 Oct 2022 21:18:37 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"796af2b6952870c8126dd496cdcd0392"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20d930ced47a0df8fb2d3881e307d417"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Wed, 26 Oct 2022 21:18:37 GMT
[...]
