---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/48d272d5-4235-4e48-b92a-12b1762343ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"52078b07caf1076648f68ae0674ac95e"
    body:
      encoding: UTF-8
      string: '{"group_id":"48d272d5-4235-4e48-b92a-12b1762343ce","name":"update_group_4c284e7d14bd47b098df14c99b9f798e","description":"Velit
        rerum odio ex.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Fri, 21 Oct 2022 00:00:30 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/48d272d5-4235-4e48-b92a-12b1762343ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f239381d2d8c6ae300b4a00e50c32242"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov"},{"uid":"non_auth_user_1","first_name":"Chris","last_name":"Gokey","email_address":"nonauthuser1@gmail.com"},{"uid":"non_auth_user_2","first_name":"David","last_name":"Gokey","email_address":"nonauthuser2@gmail.com"}]}'
  recorded_at: Fri, 21 Oct 2022 00:00:30 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=non_auth_user_1&uids%5B%5D=non_auth_user_2&uids%5B%5D=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"089348d55d98d74c0728a4f11e5662b2"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2022-01-20T18:59:46.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"non_auth_user_1","first_name":"Chris","last_name":"Gokey","email_address":"nonauthuser1@gmail.com","email_verified":false,"country":"United
        States","study_area":"","registered_date":"2022-10-20T23:53:38.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"non_auth_user_2","first_name":"David","last_name":"Gokey","email_address":"nonauthuser2@gmail.com","email_verified":false,"country":"United
        States","study_area":"","registered_date":"2022-10-20T23:58:54.000Z","allow_auth_app_emails":false,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Fri, 21 Oct 2022 00:00:31 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"381bb8f393c16827a64b7c2bbc7863aa"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey.arccurator","first_name":"Christopher","last_name":"Gokey","email_address":"cgokey@comcast.net","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2019-07-31T19:38:55.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"chris.gokey.daac","first_name":"Christopher","last_name":"Gokey","email_address":"cgokey@sgt-inc.com","email_verified":false,"country":"United
        States","study_area":null,"registered_date":"2019-11-22T01:12:27.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2017-05-18T17:41:34.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":true,"agreed_to_sentinel_eula":true}]}'
  recorded_at: Fri, 21 Oct 2022 00:00:32 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=rosy.cordova
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56619a3d065fb487a82542f05d5c8f8b"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-06-23T17:16:47.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":true,"agreed_to_sentinel_eula":true}]}'
  recorded_at: Fri, 21 Oct 2022 00:00:33 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=hvtranho
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d5930d6a765b0f810d5808ec9df6fe8"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"hvtranho2","first_name":"Hoan Vu","last_name":"Tran
        Ho","email_address":"hv.tranho@yahoo.com","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2020-07-23T18:56:43.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"hvtranho","first_name":"Hoan
        Vu","last_name":"Tran Ho","email_address":"hv.tranho@gmail.com","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-09-15T15:27:12.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Fri, 21 Oct 2022 00:00:34 GMT
recorded_with: VCR 6.1.0
