---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b0da06d4-ca10-47d1-8439-c7a17b44a3cc
    body:
      encoding: UTF-8
      string: '{"GROUP":[]}'
  recorded_at: Wed, 02 Nov 2022 15:54:02 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2b3483379ddc011178934aa75bd1d37"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168","name":"Io","description":"Corrupti
        ut ut porro.","app_uid":null,"tag":"MMT_2","shared_user_group":true,"client_id":null,"created_by":"mmt_test"},{"group_id":"56c21b46-1f1d-44f8-81d2-32e52cf265b5","name":"Service_Entry_Group_35","description":"Ea
        adipisci nihil qui.","app_uid":"mmt_test","tag":"CMR","shared_user_group":false,"client_id":"81FEem91NlTQreWv2UgtXQ","created_by":"mmt_test"},{"group_id":"6b47b303-f57e-4dbe-8de2-4c61341e80e0","name":"Test_Group_NSIDC_ECS_578169","description":"Et
        possimus tenetur inventore.","app_uid":"mmt_test","tag":"NSIDC_ECS","shared_user_group":false,"client_id":"81FEem91NlTQreWv[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/6b47b303-f57e-4dbe-8de2-4c61341e80e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 02 Nov 2022 15:54:03 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/2981cb3c-80d0-4b97-9599-f82227e315d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d3d30fe336e91228d0f0f30692f2e61e"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"sdavu","first_name":"Srikanth","last_name":"Davu","email_address":"srikanth.davu@nasa.gov"}]}'
  recorded_at: Wed, 02 Nov 2022 15:54:03 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444813-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 6e2d9ea0-f295-4473-83f7-fffe2c38dae5
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with SOME restricted collections 61","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":true,"collection_identifier":{"concept_ids":["C24112-NSIDC_ECS"],"entry_titles":["Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002"]}}}'
  recorded_at: Wed, 02 Nov 2022 15:54:11 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?id=ACL1200444813-CMR&include_full_acl=true&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '111'
      cmr-search-after:
      - '["testing collection permission with some restricted collections 61","ACL1200444813-CMR"]'
      cmr-request-id:
      - f15bed10-4f9b-480a-8ece-44035e7c8d7f
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":111,"items":[{"concept_id":"ACL1200444813-CMR","revision_id":1,"identity_type":"Catalog
        Item","acl":{"group_permissions":[{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with SOME restricted collections 61","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":true,"collection_identifier":{"concept_ids":["C24112-NSIDC_ECS"],"entry_titles":["Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002"]}}},"name":"Testing
        Collection Permission with SOME restricted collections 61","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200444813-CMR"}]}'
  recorded_at: Wed, 02 Nov 2022 15:54:12 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6071fdb2-6d11-4cfa-b795-6641ac30d60b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d4445a87edcf3d4e093c624c53bdb6c9"
    body:
      encoding: UTF-8
      string: '{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","name":"Test_Group_NSIDC_ECS_Restricted_Permission_61","description":"Placeat
        eos qui perferendis.","shared_user_group":false,"tag":"NSIDC_ECS","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 02 Nov 2022 15:54:12 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json
    body:
      encoding: UTF-8
      string: concept_id%5B%5D=C24112-NSIDC_ECS&page_size=1&provider_id=NSIDC_ECS&sort_key=entry_title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 10fef819-bc64-401a-99e1-f50f9fecb5e9
      cmr-search-after:
      - '["near real-time ssm/i ease-grid daily global ice concentration and snow
        extent v002",0.0,31200.0,"NISE","2",24112,11]'
      cmr-hits:
      - '1'
      cmr-took:
      - '105'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":104,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C24112-NSIDC_ECS","revision-date":"2015-02-24T13:25:37.275Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}}]}'
  recorded_at: Wed, 02 Nov 2022 15:54:13 GMT
[...]
