---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=8b1394ff7be2a459c055&description=Id%20suscipit%20enim%20sint&tag=CMR
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"57d811d0195b7c04fb71afd633dd78cb"
    body:
      encoding: UTF-8
      string: '{"name":"8b1394ff7be2a459c055","app_uid":"mmt_test","description":"Id
        suscipit enim sint","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"161ec434-b547-4a97-8a45-eca3632c5760"}'
  recorded_at: Tue, 25 Oct 2022 19:37:17 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760/user
    body:
      encoding: UTF-8
      string: user_id=rarxd5taqea
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"01a0517cbb2bf82a1373522503972f3f"
    body:
      encoding: UTF-8
      string: '{"msg":"rarxd5taqea successfully added to user group 8b1394ff7be2a459c055"}'
  recorded_at: Tue, 25 Oct 2022 19:37:17 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1903ceac7dfb9ca17d7bed64dc8bddf7"
    body:
      encoding: UTF-8
      string: '{"group_id":"161ec434-b547-4a97-8a45-eca3632c5760","name":"8b1394ff7be2a459c055","description":"Id
        suscipit enim sint","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Tue, 25 Oct 2022 19:37:19 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/161ec434-b547-4a97-8a45-eca3632c5760
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f13a08832cac845ef6526e4c83ba4c94"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
  recorded_at: Tue, 25 Oct 2022 19:37:19 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=q6ddmkhivmuhk&uids%5B%5D=qhw5mjoxgs2vjptmvzco&uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a9b4a3578287239c739b0a27296b50a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","email_verified":true,"country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","email_verified":true,"country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Tue, 25 Oct 2022 19:37:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760/update
    body:
      encoding: UTF-8
      string: "&description=New%20system%20group%20description"
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"71110896c189a9209a6b6e8e33dbe471"
    body:
      encoding: UTF-8
      string: '{"description":"Successfully updated user group 8b1394ff7be2a459c055"}'
  recorded_at: Tue, 25 Oct 2022 19:37:21 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760/user?user_id=q6ddmkhivmuhk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26c0e26b4290ab483e0df157536f9a60"
    body:
      encoding: UTF-8
      string: '{"msg":"q6ddmkhivmuhk successfully deleted from group 8b1394ff7be2a459c055"}'
  recorded_at: Tue, 25 Oct 2022 19:37:38 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760/user?user_id=qhw5mjoxgs2vjptmvzco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"426b59c3d743f12b02c8f1160fed9214"
    body:
      encoding: UTF-8
      string: '{"msg":"qhw5mjoxgs2vjptmvzco successfully deleted from group 8b1394ff7be2a459c055"}'
  recorded_at: Tue, 25 Oct 2022 19:37:38 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760/user?user_id=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"933c0f413363ff463151ded2394b172e"
    body:
      encoding: UTF-8
      string: '{"msg":"rarxd5taqea successfully deleted from group 8b1394ff7be2a459c055"}'
  recorded_at: Tue, 25 Oct 2022 19:37:38 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/161ec434-b547-4a97-8a45-eca3632c5760
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 25 Oct 2022 19:37:38 GMT
recorded_with: VCR 6.1.0
