---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - f031fa5d-cb40-4131-bc07-49942cdd9c73
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Thu, 27 Oct 2022 12:48:10 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 3074488f-b16a-4ab4-a6ba-c6469086807c
    body:
      encoding: UTF-8
      string: '{"GROUP":[]}'
  recorded_at: Thu, 27 Oct 2022 12:48:10 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"00be1360c43be00f74470feb22d67691"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168","name":"Io","description":"Corrupti
        ut ut porro.","app_uid":null,"tag":"MMT_2","shared_user_group":true,"client_id":null,"created_by":"mmt_test"},{"group_id":"2981cb3c-80d0-4b97-9599-f82227e315d0","name":"TestGroup","description":"Test
        Shared App group from API","app_uid":null,"tag":null,"shared_user_group":true,"client_id":null,"created_by":"testapp"},{"group_id":"1d443419-6806-45e5-b249-154119345ec8","name":"TestGroup1","description":"Shared
        UI group","app_uid":null,"tag":null,"shared_user_group":true,"client_id":null,"created_by":"testapp"},{"group_id":"6e11d148-9675-4b1b-97e3-f69cfcd679b4","name":"TestGroup[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20d930ced47a0df8fb2d3881e307d417"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Thu, 27 Oct 2022 12:48:11 GMT
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443653-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read"],"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"},{"permissions":["read","order"],"user_type":"registered"},{"permissions":["read","order"],"group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"},{"permissions":["read","order"],"group_id":"AG1200000000-CMR"}],"catalog_item_identity":{"name":"Testing
        Collection Permissions with System Groups","provider_id":"MMT_2","granule_applicable":false,"collection_applicable":true,"collection_identifier":{"access_value":{"min_value":5.0,"max_value":25.0,"include_undefined_value":true}}}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '3'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 10871a57-13bd-4b37-bed6-fed21daa0ec1
    body:
      encoding: UTF-8
      string: '{"revision_id":3,"concept_id":"ACL1200443653-CMR"}'
  recorded_at: Thu, 27 Oct 2022 12:48:20 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 995fccc3-bace-4f92-804e-a45fbcce96e2
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:48:21 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 5014d29e-f07c-4c0f-8977-cf5ffcaefe3c
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:48:21 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443653-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - dd36512e-d1d2-4ff1-8715-855fdb0dc4aa
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read"],"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"},{"permissions":["read","order"],"user_type":"registered"},{"permissions":["read","order"],"group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"},{"permissions":["read","order"],"group_id":"AG1200000000-CMR"}],"catalog_item_identity":{"name":"Testing
        Collection Permissions with System Groups","provider_id":"MMT_2","granule_applicable":false,"collection_applicable":true,"collection_identifier":{"access_value":{"min_value":5.0,"max_value":25.0,"include_undefined_value":true},"entry_titles":[],"concept_ids":[]}}}'
  recorded_at: Thu, 27 Oct 2022 12:48:22 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07df084626f1fd6ce5e4c047d9312b1e"
    body:
      encoding: UTF-8
      string: '{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168","name":"Io","description":"Corrupti
        ut ut porro.","shared_user_group":true,"tag":"MMT_2","created_by":"mmt_test"}'
  recorded_at: Thu, 27 Oct 2022 12:48:22 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/abe11a62-9f60-4195-8862-136ec51be79b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Wed, 19 Apr 2023 16:53:18 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/f9a98300-273f-4f1c-8c87-7eb77c9e2958
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Wed, 19 Apr 2023 16:55:18 GMT
recorded_with: VCR 6.1.0
