---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Update_03&description=Deleniti%20beatae%20sed%20tempora.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b15b83a19a7048a3622c53adfc137978"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Update_03","app_uid":"mmt_test","description":"Deleniti
        beatae sed tempora.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"89d9192a-5a2b-4cbb-b0b9-34a1c5e4dc18"}'
  recorded_at: Thu, 27 Oct 2022 22:49:37 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/89d9192a-5a2b-4cbb-b0b9-34a1c5e4dc18/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f4b5a52620c1680d41342f4512917fb6"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Update_03"}'
  recorded_at: Thu, 27 Oct 2022 22:49:38 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"89d9192a-5a2b-4cbb-b0b9-34a1c5e4dc18","permissions":["update"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 4a2beb01-966e-4420-8d87-724604e86c9c
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443694-CMR"}'
  recorded_at: Thu, 27 Oct 2022 22:49:39 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/89d9192a-5a2b-4cbb-b0b9-34a1c5e4dc18
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 27 Oct 2022 22:49:54 GMT
recorded_with: VCR 6.1.0
