---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7ce56116-4e5f-4f58-948a-94a89b6edeb1
    body:
      encoding: UTF-8
      string: '{"GROUP":[]}'
  recorded_at: Thu, 27 Oct 2022 12:38:38 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"00be1360c43be00f74470feb22d67691"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168","name":"Io","description":"Corrupti
        ut ut porro.","app_uid":null,"tag":"MMT_2","shared_user_group":true,"client_id":null,"created_by":"mmt_test"},{"group_id":"2981cb3c-80d0-4b97-9599-f82227e315d0","name":"TestGroup","description":"Test
        Shared App group from API","app_uid":null,"tag":null,"shared_user_group":true,"client_id":null,"created_by":"testapp"},{"group_id":"1d443419-6806-45e5-b249-154119345ec8","name":"TestGroup1","description":"Shared
        UI group","app_uid":null,"tag":null,"shared_user_group":true,"client_id":null,"created_by":"testapp"},{"group_id":"6e11d148-9675-4b1b-97e3-f69cfcd679b4","name":"TestGroup[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20d930ced47a0df8fb2d3881e307d417"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Thu, 27 Oct 2022 12:38:39 GMT
[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443653-CMR
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read"],"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"},{"permissions":["read","order"],"user_type":"registered"},{"permissions":["read","order"],"group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"},{"permissions":["read","order"],"group_id":"AG1200000000-CMR"}],"catalog_item_identity":{"name":"Testing
        Collection Permissions with System Groups","provider_id":"MMT_2","granule_applicable":true,"collection_applicable":true}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Cmr-Revision-Id:
      - '2'
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - e7beda89-0165-4aa6-9837-ecf1f66b8539
    body:
      encoding: UTF-8
      string: '{"revision_id":2,"concept_id":"ACL1200443653-CMR"}'
  recorded_at: Thu, 27 Oct 2022 12:38:53 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 6bf548ee-0f45-4fb6-ac51-7b00003c798d
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:38:53 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 44061b99-4eed-4ae2-aa59-bea20a5f6d20
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:38:54 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443653-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 300b0d16-4e62-4139-af2c-e1d3f7cf5512
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"permissions":["read"],"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"},{"permissions":["read","order"],"user_type":"registered"},{"permissions":["read","order"],"group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"},{"permissions":["read","order"],"group_id":"AG1200000000-CMR"}],"catalog_item_identity":{"name":"Testing
        Collection Permissions with System Groups","provider_id":"MMT_2","granule_applicable":true,"collection_applicable":true}}'
  recorded_at: Thu, 27 Oct 2022 12:38:55 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"07df084626f1fd6ce5e4c047d9312b1e"
    body:
      encoding: UTF-8
      string: '{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168","name":"Io","description":"Corrupti
        ut ut porro.","shared_user_group":true,"tag":"MMT_2","created_by":"mmt_test"}'
  recorded_at: Thu, 27 Oct 2022 12:38:55 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7aee32d7-f63a-4c6e-9298-9d0e977bfcd4
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":[]}'
  recorded_at: Thu, 27 Oct 2022 12:42:40 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - cc4fc422-a9e6-424f-aa95-6cc01b1f4b84
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:42:40 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=PROVIDER_OBJECT_ACL&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 17bb0dab-171c-4d75-bd54-47bcee234a5e
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Thu, 27 Oct 2022 12:42:40 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=adminuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 9a6a6b42-8194-4324-9789-c95799e8904f
    body:
      encoding: UTF-8
      string: '{"GROUP":[]}'
  recorded_at: Thu, 27 Oct 2022 12:42:41 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?id=ACL1200443653-CMR&include_full_acl=true&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '325'
      cmr-search-after:
      - '["testing collection permissions with system groups","ACL1200443653-CMR"]'
      cmr-request-id:
      - add3b31c-57c1-487c-8cab-f192805e3db9
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":324,"items":[{"concept_id":"ACL1200443653-CMR","revision_id":2,"identity_type":"Catalog
        Item","acl":{"group_permissions":[{"permissions":["read"],"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f168"},{"permissions":["read","order"],"user_type":"registered"},{"permissions":["read","order"],"group_id":"df7c4bdc-ed6b-4b36-9c5f-95085eb14532"},{"permissions":["read","order"],"group_id":"AG1200000000-CMR"}],"catalog_item_identity":{"name":"Testing
        Collection Permissions with System Groups","provider_id":"MMT_2","granule_applicable":true,"collection_applicable":true}},"name":"Testing
        Collection Permissions with System Groups","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200443653-CMR"}]}'
  recorded_at: Thu, 27 Oct 2022 12:44:02 GMT
recorded_with: VCR 6.1.0
