---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json
    body:
      encoding: UTF-8
      string: keyword=NISE_2&sort_key=entry_title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 9e8bd001-9661-4ea7-a445-c60c70f819ac
      cmr-search-after:
      - '["near real-time ssm/i ease-grid daily global ice concentration and snow
        extent v002",0.6,0.0,1667411118846,"3 - gridded observations","NISE","2",1000000177,13]'
      cmr-hits:
      - '3'
      cmr-took:
      - '269'
    body:
      encoding: UTF-8
      string: '{"hits":3,"took":268,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C24112-NSIDC_ECS","revision-date":"2015-02-24T13:25:37.275Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}},{"meta":{"revision-id":12,"deleted":false,"format":"application/echo10+xml","provider-id":"EDF_DEV06","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C1000000023-EDF_DEV06","revision-date":"2015-02-24T13:29:28.247Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}},{"meta":{"revision-id":13,"deleted":false,"format":"application/echo10+xml","provider-id":"EDF_DEV09","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C1000000177-EDF_DEV09","revision-date":"2015-02-24T13:28:42.547Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}}]}'
  recorded_at: Wed, 02 Nov 2022 17:45:19 GMT
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_NSIDC_ECS_Admin_12&description=Ducimus%20unde%20in%20non.&tag=NSIDC_ECS
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"37b9a15807580ffbb9a3ae3800b37391"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_NSIDC_ECS_Admin_12","app_uid":"mmt_test","description":"Ducimus
        unde in non.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"NSIDC_ECS","group_id":"435f9505-15fc-47d1-8942-18947c1e7ba5"}'
  recorded_at: Wed, 02 Nov 2022 17:45:22 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"435f9505-15fc-47d1-8942-18947c1e7ba5","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with SOME restricted collections 12","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":true,"collection_identifier":{"concept_ids":["C24080-NSIDC_ECS","C24098-NSIDC_ECS","C24112-NSIDC_ECS"]}}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 92bd1b6b-1fe2-4465-9a1c-8db029b24544
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444826-CMR"}'
  recorded_at: Wed, 02 Nov 2022 17:45:22 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"435f9505-15fc-47d1-8942-18947c1e7ba5","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with ALL restricted collections 12","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":false,"collection_identifier":{"concept_ids":["C24080-NSIDC_ECS","C24098-NSIDC_ECS"]}}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 83c22e8f-91a1-4573-8d22-f7988e388136
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444827-CMR"}'
  recorded_at: Wed, 02 Nov 2022 17:45:23 GMT
recorded_with: VCR 6.1.0
