---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa&description=Laboriosam%20omnis%20suscipit%20voluptates.&tag=MMT_2
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3f50a7e6e5dbafd9cd50b48ae15fda6b"
    body:
      encoding: UTF-8
      string: '{"name":"38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa","app_uid":"mmt_test","description":"Laboriosam
        omnis suscipit voluptates.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"ee2f6770-ad75-4eb4-9744-e0f70c145729"}'
  recorded_at: Wed, 19 Oct 2022 20:24:53 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"88f09e13b56eab854eb9fa80d6df9b0c"
    body:
      encoding: UTF-8
      string: '{"group_id":"ee2f6770-ad75-4eb4-9744-e0f70c145729","name":"38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa","description":"Laboriosam
        omnis suscipit voluptates.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 19 Oct 2022 20:24:54 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 19 Oct 2022 20:24:54 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/user
    body:
      encoding: UTF-8
      string: user_id=non_auth_user_1ab
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Wed, 19 Oct 2022 20:25:19 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/user
    body:
      encoding: UTF-8
      string: user_id=non_auth_user_2ab
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Wed, 19 Oct 2022 20:25:19 GMT
recorded_with: VCR 6.1.0
