---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=update_group_4c284e7d14bd47b098df14c99b9f798e&description=Velit%20rerum%20odio%20ex.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"da2efb1d5970a21d36be5353066cbd32"
    body:
      encoding: UTF-8
      string: '{"name":"update_group_4c284e7d14bd47b098df14c99b9f798e","app_uid":"mmt_test","description":"Velit
        rerum odio ex.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"48d272d5-4235-4e48-b92a-12b1762343ce"}'
  recorded_at: Thu, 20 Oct 2022 20:46:17 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/48d272d5-4235-4e48-b92a-12b1762343ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"52078b07caf1076648f68ae0674ac95e"
    body:
      encoding: UTF-8
      string: '{"group_id":"48d272d5-4235-4e48-b92a-12b1762343ce","name":"update_group_4c284e7d14bd47b098df14c99b9f798e","description":"Velit
        rerum odio ex.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Thu, 20 Oct 2022 20:46:19 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/48d272d5-4235-4e48-b92a-12b1762343ce
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Thu, 20 Oct 2022 20:46:19 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=chris.gokey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"381bb8f393c16827a64b7c2bbc7863aa"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey.arccurator","first_name":"Christopher","last_name":"Gokey","email_address":"cgokey@comcast.net","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2019-07-31T19:38:55.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"chris.gokey.daac","first_name":"Christopher","last_name":"Gokey","email_address":"cgokey@sgt-inc.com","email_verified":false,"country":"United
        States","study_area":null,"registered_date":"2019-11-22T01:12:27.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2017-05-18T17:41:34.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":true,"agreed_to_sentinel_eula":true}]}'
  recorded_at: Thu, 20 Oct 2022 20:47:38 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=rosy.cordova
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56619a3d065fb487a82542f05d5c8f8b"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov","email_verified":true,"country":"United
        States","study_area":"Other","registered_date":"2015-06-23T17:16:47.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":true,"agreed_to_sentinel_eula":true}]}'
  recorded_at: Thu, 20 Oct 2022 20:47:39 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=ttle9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5062d668e9d1d0c4a6eb34a400de235a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"ttle9","first_name":"Thanhtam","last_name":"Le","email_address":"thanhtam.t.le@nasa.gov","email_verified":false,"country":"United
        States","study_area":"Other","registered_date":"2022-01-20T18:59:46.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Thu, 20 Oct 2022 20:47:40 GMT
recorded_with: VCR 6.1.0
