---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=ANY_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - fb45a50c-fc93-4659-bde8-3aa2a59c540e
    body:
      encoding: UTF-8
      string: '{"ANY_ACL":[]}'
  recorded_at: Wed, 02 Nov 2022 17:50:30 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=NSIDC_ECS&target=PROVIDER_OBJECT_ACL&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - b7dc5647-bd7b-48a8-90d1-05f2c6c484f0
    body:
      encoding: UTF-8
      string: '{"PROVIDER_OBJECT_ACL":[]}'
  recorded_at: Wed, 02 Nov 2022 17:50:31 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444826-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 9e2e7e1b-a35f-49d3-ad43-4a3811fbc49c
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"435f9505-15fc-47d1-8942-18947c1e7ba5","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with SOME restricted collections 12","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":true,"collection_identifier":{"concept_ids":["C24080-NSIDC_ECS","C24098-NSIDC_ECS","C24112-NSIDC_ECS"],"entry_titles":["MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","AMSR-E/Aqua
        Daily L3 12.5 km Tb, Sea Ice Conc., & Snow Depth Polar Grids V002","Near Real-Time
        SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002"]}}}'
  recorded_at: Wed, 02 Nov 2022 17:50:32 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/435f9505-15fc-47d1-8942-18947c1e7ba5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5173c7fa94662a97f8a42af905a1043d"
    body:
      encoding: UTF-8
      string: '{"group_id":"435f9505-15fc-47d1-8942-18947c1e7ba5","name":"Test_Group_NSIDC_ECS_Admin_12","description":"Ducimus
        unde in non.","shared_user_group":false,"tag":"NSIDC_ECS","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 02 Nov 2022 17:50:32 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json
    body:
      encoding: UTF-8
      string: concept_id%5B%5D=C24080-NSIDC_ECS&concept_id%5B%5D=C24098-NSIDC_ECS&concept_id%5B%5D=C24112-NSIDC_ECS&page_size=3&provider_id=NSIDC_ECS&sort_key=entry_title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 92aa32ea-8c3b-4800-80ee-ec9ce448615f
      cmr-search-after:
      - '["near real-time ssm/i ease-grid daily global ice concentration and snow
        extent v002",0.0,31200.0,"NISE","2",24112,11]'
      cmr-hits:
      - '3'
      cmr-took:
      - '124'
    body:
      encoding: UTF-8
      string: '{"hits":3,"took":123,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"AMSR-E/Aqua
        Daily L3 12.5 km Tb, Sea Ice Conc., & Snow Depth Polar Grids V002","has-transforms":false,"has-variables":false,"concept-id":"C24098-NSIDC_ECS","revision-date":"2015-02-24T13:25:35.227Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"AMSR-E/Aqua
        Daily L3 12.5 km Tb, Sea Ice Conc., & Snow Depth Polar Grids V002","entry-id":"AE_SI12_2","short-name":"AE_SI12","version-id":"2"}},{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","has-transforms":false,"has-variables":false,"concept-id":"C24080-NSIDC_ECS","revision-date":"2015-02-24T13:25:33.337Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","entry-id":"MYD29E1D_5","short-name":"MYD29E1D","version-id":"5"}},{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C24112-NSIDC_ECS","revision-date":"2015-02-24T13:25:37.275Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}}]}'
  recorded_at: Wed, 02 Nov 2022 17:50:33 GMT
recorded_with: VCR 6.1.0
