---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Update_02&description=Tenetur%20qui%20eaque%20repudiandae.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af11bab97f874e0b9014af9ec853aae3"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Update_02","app_uid":"mmt_test","description":"Tenetur
        qui eaque repudiandae.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"edfae237-8530-4bcc-b698-65aa81b481ad"}'
  recorded_at: Thu, 27 Oct 2022 00:08:11 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/edfae237-8530-4bcc-b698-65aa81b481ad/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0c751a53f69828b600d2811590a253ac"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Update_02"}'
  recorded_at: Thu, 27 Oct 2022 00:08:12 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443661-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b091f1b1-a07a-448f-b8f1-dd3dd0b914c4
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443661-CMR"}'
  recorded_at: Thu, 27 Oct 2022 00:08:13 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"edfae237-8530-4bcc-b698-65aa81b481ad","permissions":["update"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - c40d630a-91d9-4bf8-a84f-5310a6aca7d1
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443663-CMR"}'
  recorded_at: Thu, 27 Oct 2022 00:08:14 GMT
recorded_with: VCR 6.1.0
