---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9649a5a2af2829bfa15dfb21b02ff102"
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiQ2xpZW50IiwiY2xpZW50X2lkIjoiODFGRWVtOTFObFRRcmVXdjJVZ3RYUSIsImV4cCI6MTY2ODEwNjQ5MiwiaWF0IjoxNjY2ODEwNDkyLCJpc3MiOiJFYXJ0aGRhdGEgTG9naW4ifQ.14euIJetzuD7IdkKwqO0cyG2AfjyECcvenptbk_Eo0df4QAhbp4v33iuUcNS9t6gtzjJNCXXHaI-po3cFibfulAP4JMZ7fuTvjO6QqOmNGCL-YlGUkTAy8wlwfM-V3ZKrSK3s12l5p1shyuHlFkunxed7n_bgfUxWKO8aYBM2d8kxYGweKYCkzux2Js3dULpJ8Z5cNWSqqOqxlMtA_H5JAQgNL4VQeOmorHPM9YLThq_cuV9n7DppAuCff92qY1E1_uoCA53r4hieNMacZL-Ht0I1teJ-rVEkUz8OdvgBNQM27hwWR2T6C7GaacAxEZ2s4Z2F9VqJJYjX8d236lMpQ","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Wed, 26 Oct 2022 18:54:55 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=37794a0743a62844ef46&description=Accusantium%20officiis%20nihil%20dignissimos.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"99adbbecb07017cdef0edd11ce347d5b"
    body:
      encoding: UTF-8
      string: '{"name":"37794a0743a62844ef46","app_uid":"mmt_test","description":"Accusantium
        officiis nihil dignissimos.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"9f61837b-7f1f-4b73-8d48-cb78ff1c6b9e"}'
  recorded_at: Wed, 26 Oct 2022 18:54:55 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"458af7693b180a9555733955b417f6d9"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f6951827f[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/d0d5d50e-734d-4adc-8c45-f6951827f168
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"20d930ced47a0df8fb2d3881e307d417"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"chris.gokey","first_name":"Christopher","last_name":"Gokey","email_address":"christopher.d.gokey@nasa.gov"}]}'
  recorded_at: Wed, 26 Oct 2022 18:54:56 GMT
[...]
