---
http_interactions:
  - request:
      method: get
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/85e02066-d16e-4292-9b5a-ad7ff10cdd2d
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer client_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"f13a08832cac845ef6526e4c83ba4c94"
      body:
        encoding: UTF-8
        string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
    recorded_at: Fri, 28 Oct 2022 19:34:19 GMT
  - request:
      method: post
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/85e02066-d16e-4292-9b5a-ad7ff10cdd2d/update
      body:
        encoding: UTF-8
        string: "&description=Id%20suscipit%20enim%20sint%20New%20system%20group%20description"
      headers:
        Authorization:
          - Bearer client_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"71110896c189a9209a6b6e8e33dbe471"
      body:
        encoding: UTF-8
        string: '{"description":"Successfully updated user group 8b1394ff7be2a459c055"}'
    recorded_at: Fri, 28 Oct 2022 19:34:19 GMT
  - request:
      method: get
      uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/85e02066-d16e-4292-9b5a-ad7ff10cdd2d
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer client_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"c07d9c06af3e14a69d28f794ea069955"
      body:
        encoding: UTF-8
        string: '{"group_id":"85e02066-d16e-4292-9b5a-ad7ff10cdd2d","name":"8b1394ff7be2a459c055","description":"Id
        suscipit enim sint New system group description","shared_user_group":false,"tag":"CMR","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
    recorded_at: Fri, 28 Oct 2022 19:34:19 GMT
[...]
  - request:
      method: get
      uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=q6ddmkhivmuhk&uids%5B%5D=qhw5mjoxgs2vjptmvzco&uids%5B%5D=rarxd5taqea
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer client_access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json; charset=utf-8
        etag:
          - W/"1a9b4a3578287239c739b0a27296b50a"
      body:
        encoding: UTF-8
        string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","email_verified":true,"country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","email_verified":true,"country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
    recorded_at: Fri, 28 Oct 2022 19:34:19 GMT
recorded_with: VCR 6.1.0
