---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json
    body:
      encoding: UTF-8
      string: keyword=NISE_2&sort_key=entry_title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - 2d27d6b6-e4d3-4e82-ba0a-1ad0369e4991
      cmr-search-after:
      - '["near real-time ssm/i ease-grid daily global ice concentration and snow
        extent v002",0.6,0.0,1667404258738,"3 - gridded observations","NISE","2",1000000177,13]'
      cmr-hits:
      - '4'
      cmr-took:
      - '133'
    body:
      encoding: UTF-8
      string: '{"hits":4,"took":132,"items":[{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C24112-NSIDC_ECS","revision-date":"2015-02-24T13:25:37.275Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","entry-id":"NISE_2","short-name":"NISE","version-id":"2"}},{"meta":{"revision-id":12,"deleted":false,"format":"application/echo10+xml","provider-id":"EDF_DEV06","has-formats":false,"has-spatial-subsetting":false,"native-id":"Near
        Real-Time SSM/I EASE-Grid Daily Global Ice Concentration and Snow Extent V002","has-transforms":false,"has-variables":false,"concept-id":"C1000000023-EDF_DEV06","revision-date":"2015-02-24T13:29:28.247Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"Near
        Real-Time SSM/I[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json
    body:
      encoding: UTF-8
      string: keyword=MYD29E1D_5&sort_key=entry_title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - be30b54d-b832-4309-b4ec-394d7b4cc23c
      cmr-search-after:
      - '["modis/aqua sea ice extent and ist daily l3 global 4km ease-grid day v005",0.6,0.0,1667404259698,"3
        - gridded observations","MYD29E1D","5",1000000191,13]'
      cmr-hits:
      - '3'
      cmr-took:
      - '78'
    body:
      encoding: UTF-8
      string: '{"hits":3,"took":77,"items":[{"meta":{"revision-id":12,"deleted":false,"format":"application/dif+xml","provider-id":"GCMDTEST","user-id":"TheGCMD","has-formats":false,"has-spatial-subsetting":false,"native-id":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day","has-transforms":false,"has-variables":false,"concept-id":"C1000001579-GCMDTEST","revision-date":"2015-11-06T17:33:10.608Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day","entry-id":"MYD29E1D_5","short-name":"MYD29E1D","version-id":"5"}},{"meta":{"revision-id":11,"deleted":false,"format":"application/echo10+xml","provider-id":"NSIDC_ECS","has-formats":false,"has-spatial-subsetting":false,"native-id":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","has-transforms":false,"has-variables":false,"concept-id":"C24080-NSIDC_ECS","revision-date":"2015-02-24T13:25:33.337Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","entry-id":"MYD29E1D_5","short-name":"MYD29E1D","version-id":"5"}},{"meta":{"revision-id":13,"deleted":false,"format":"application/echo10+xml","provider-id":"EDF_DEV09","has-formats":false,"associations":{"services":["S1200299173-EDF_DEV09","S1200299174-EDF_DEV09"]},"has-spatial-subsetting":true,"native-id":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","has-transforms":true,"association-details":{"services":[{"concept-id":"S1200299173-EDF_DEV09"},{"concept-id":"S1200299174-EDF_DEV09"}]},"has-variables":true,"concept-id":"C1000000191-EDF_DEV09","revision-date":"2015-02-24T13:28:39.720Z","has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"MODIS/Aqua
        Sea Ice Extent and IST Daily L3 Global 4km EASE-Grid Day V005","entry-id":"MYD29E1D_5","short-name":"MYD29E1D","version-id":"5"}}]}'
  recorded_at: Wed, 02 Nov 2022 15:50:59 GMT
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Test_Group_NSIDC_ECS_Restricted_Permission_61&description=Placeat%20eos%20qui%20perferendis.&tag=NSIDC_ECS
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f61d6942ea2e4be83065b3ea594c0a1f"
    body:
      encoding: UTF-8
      string: '{"name":"Test_Group_NSIDC_ECS_Restricted_Permission_61","app_uid":"mmt_test","description":"Placeat
        eos qui perferendis.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"NSIDC_ECS","group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b"}'
  recorded_at: Wed, 02 Nov 2022 15:51:02 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with SOME restricted collections 61","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":true,"collection_identifier":{"concept_ids":["C1000001579-GCMDTEST","C1000008542-GCMDTEST","C24112-NSIDC_ECS"]}}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 157ef62a-fad7-4688-abe0-4215af5413be
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200444813-CMR"}'
  recorded_at: Wed, 02 Nov 2022 15:51:03 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?system_object=GROUP&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 7ff2961e-cd0d-4bee-a4ed-23165fb545e0
    body:
      encoding: UTF-8
      string: '{"GROUP":[]}'
  recorded_at: Wed, 02 Nov 2022 15:51:07 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c2b3483379ddc011178934aa75bd1d37"
    body:
      encoding: UTF-8
      string: '[{"group_id":"d0d5d50e-734d-4adc-8c45-f69518[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/6b47b303-f57e-4dbe-8de2-4c61341e80e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 02 Nov 2022 15:51:08 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/2981cb3c-80d0-4b97-9599-f82227e315d0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d3d30fe336e91228d0f0f30692f2e61e"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"sdavu","first_name":"Srikanth","last_name":"Davu","email_address":"srikanth.davu@nasa.gov"}]}'
  recorded_at: Wed, 02 Nov 2022 15:51:08 GMT
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444814-CMR?include-full-acl=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 4c34d6de-462c-4175-9565-c8abf96b4d46
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with ALL restricted collections permission 61","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":false,"collection_identifier":{"concept_ids":[],"entry_titles":[]}}}'
  recorded_at: Wed, 02 Nov 2022 15:51:15 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls?id=ACL1200444814-CMR&include_full_acl=true&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      cmr-hits:
      - '1'
      cmr-took:
      - '107'
      cmr-search-after:
      - '["testing collection permission with all restricted collections permission
        61","ACL1200444814-CMR"]'
      cmr-request-id:
      - 72cf3a5c-8e59-4b0a-bca0-fd65c8645b14
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":106,"items":[{"concept_id":"ACL1200444814-CMR","revision_id":1,"identity_type":"Catalog
        Item","acl":{"group_permissions":[{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","permissions":["read","order"]}],"catalog_item_identity":{"name":"Testing
        Collection Permission with ALL restricted collections permission 61","provider_id":"NSIDC_ECS","collection_applicable":true,"granule_applicable":false,"collection_identifier":{"concept_ids":[],"entry_titles":[]}}},"name":"Testing
        Collection Permission with ALL restricted collections permission 61","location":"https://cmr.sit.earthdata.nasa.gov:443/access-control/acls/ACL1200444814-CMR"}]}'
  recorded_at: Wed, 02 Nov 2022 15:51:16 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/6071fdb2-6d11-4cfa-b795-6641ac30d60b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Bearer clinet_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d4445a87edcf3d4e093c624c53bdb6c9"
    body:
      encoding: UTF-8
      string: '{"group_id":"6071fdb2-6d11-4cfa-b795-6641ac30d60b","name":"Test_Group_NSIDC_ECS_Restricted_Permission_61","description":"Placeat
        eos qui perferendis.","shared_user_group":false,"tag":"NSIDC_ECS","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 02 Nov 2022 15:51:16 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200444813-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 9f5e0b24-9517-47bd-b1f2-669631a22585
    body:
      encoding: UTF-8
      string: '{"revision-id":3,"concept-id":"ACL1200444813-CMR"}'
  recorded_at: Wed, 02 Nov 2022 16:00:19 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/c92e6558-4029-45cc-b94a-d67fbec64726
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group"}'
  recorded_at: Wed, 19 Apr 2023 19:58:39 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/9956ef95-a87e-4aba-9e11-0c5757b506e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer client_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 19 Apr 2023 19:59:07 GMT
recorded_with: VCR 6.1.0
