---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_VIEW_05&description=Laborum%20unde%20maiores%20adipisci.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"020356c4176a9200dc4b063f35ee9619"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_VIEW_05","app_uid":"mmt_test","description":"Laborum
        unde maiores adipisci.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"addeacbb-a3bc-4990-8551-0925c108edb2"}'
  recorded_at: Thu, 27 Oct 2022 23:02:06 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/addeacbb-a3bc-4990-8551-0925c108edb2/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0f7695077547c77e72727fafe06deca0"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_VIEW_05"}'
  recorded_at: Thu, 27 Oct 2022 23:02:07 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443694-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 5b57d9ea-d953-48f7-99a1-01ba6083d5b1
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443694-CMR"}'
  recorded_at: Thu, 27 Oct 2022 23:02:08 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"addeacbb-a3bc-4990-8551-0925c108edb2","permissions":["update"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b3dc6115-9af2-4c01-9406-37e02197c42b
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443696-CMR"}'
  recorded_at: Thu, 27 Oct 2022 23:02:09 GMT
[...]
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/addeacbb-a3bc-4990-8551-0925c108edb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Thu, 27 Oct 2022 23:02:22 GMT
recorded_with: VCR 6.1.0
