---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=Service_Entries_Group_for_Permissions_VIEW_02&description=Provident%20omnis%20at%20rerum.&tag=MMT_2
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"623f6fa0b79fe732d272c134f59b961c"
    body:
      encoding: UTF-8
      string: '{"name":"Service_Entries_Group_for_Permissions_VIEW_02","app_uid":"mmt_test","description":"Provident
        omnis at rerum.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2","group_id":"ef33e02c-c55a-4477-8485-455c58031809"}'
  recorded_at: Wed, 26 Oct 2022 23:34:01 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ef33e02c-c55a-4477-8485-455c58031809/user
    body:
      encoding: UTF-8
      string: user_id=hvtranho
    headers:
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ddcbb82b6100e2b83d5963116d25d02c"
    body:
      encoding: UTF-8
      string: '{"msg":"hvtranho successfully added to user group Service_Entries_Group_for_Permissions_VIEW_02"}'
  recorded_at: Wed, 26 Oct 2022 23:34:01 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls/ACL1200443649-CMR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a7c8836c-e753-4ab9-94ba-d067da6a93b6
    body:
      encoding: UTF-8
      string: '{"revision-id":2,"concept-id":"ACL1200443649-CMR"}'
  recorded_at: Wed, 26 Oct 2022 23:34:15 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/acls
    body:
      encoding: UTF-8
      string: '{"group_permissions":[{"group_id":"ef33e02c-c55a-4477-8485-455c58031809","permissions":["delete"]}],"provider_identity":{"provider_id":"MMT_2","target":"EXTENDED_SERVICE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 85af4a03-883f-4110-a5cb-614eea650362
    body:
      encoding: UTF-8
      string: '{"revision_id":1,"concept_id":"ACL1200443659-CMR"}'
  recorded_at: Wed, 26 Oct 2022 23:34:16 GMT
recorded_with: VCR 6.1.0
