.h1-box {
    /* background-color: rgb(240, 240, 240); */
    border-bottom: solid 2px rgb(240, 240, 240);
    padding-bottom: 6px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.h1-title {
    /* background-color: red; */
    font-size: 1.75rem;
    font-weight: 500;
    /* padding-left: 10px; */
}

.h2-box {
    /* background-color: black; */
    /* border-bottom: solid 2px rgb(240, 240, 240); */
    margin-top: 6px;
    margin-bottom: 6px;
}

.h2-title {
    /* background-color: orange; */
    font-size: 1.5rem;
    font-weight: 400;
}

.h3-title {
    /* background-color: yellow; */
    font-size: 1.25rem;
    font-weight: 400;
}

.description-box {
    /* background-color: goldenrod; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.required-icon {
    color: green;
    padding: 5px
}

.metadata-editor-field {
    /* background-color: yellow */
}

.metadata-editor-array-field {
    /* background-color: purple */
}

.metadata-editor-field-label {
    /* background-color: pink; */
}