/* FIELDS - currently just used for dev purposes */
.metadata-editor-field {
    /* background-color: yellow */
}

.metadata-editor-array-field {
    /* background-color: purple */
}

.metadata-editor-field-label {
    /* background-color: pink; */
}


/* BOXES */
.h1-box {
    /* background-color: red; */
    border-bottom: solid 2px rgb(240, 240, 240);
    padding-bottom: 6px;
    margin-top: 8px;
}

.h2-box {
    /* background-color: black; */
    margin-top: 6px;
    margin-bottom: 6px;
}

.description-box {
    /* background-color: goldenrod; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.field-label-box {
    /* background-color: purple; */
    padding-bottom: 6px;
}

.field-box {
    /* background-color: blanchedalmond; */
    margin-bottom: 20px;
}


/* HEADERS */
.h1-title {
    /* background-color: red; */
    font-size: 1.75rem;
    font-weight: 500;
}

.h2-title {
    /* background-color: orange; */
    font-size: 1.5rem;
    font-weight: 400;
}

.h3-title {
    /* background-color: yellow; */
    font-size: 1.25rem;
    font-weight: 400;
}


/* OTHER */
.required-icon {
    color: green;
    padding-left: 5px;
}
/* test */