---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:AddServiceOptionAssignments
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:serviceOptionAssignments><ns3:Item><ns3:ServiceOptionDefinitionGuid>3ACB563E-B982-7005-DECE-26A967E463FA</ns3:ServiceOptionDefinitionGuid><ns3:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:ServiceEntryGuid><ns3:CatalogItemGuid>C1200060160-MMT_2</ns3:CatalogItemGuid><ns3:AppliesOnlyToGranules>false</ns3:AppliesOnlyToGranules></ns3:Item><ns3:Item><ns3:ServiceOptionDefinitionGuid>3ACB563E-B982-7005-DECE-26A967E463FA</ns3:ServiceOptionDefinitionGuid><ns3:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:ServiceEntryGuid><ns3:CatalogItemGuid>C1200019403-MMT_2</ns3:CatalogItemGuid><ns3:AppliesOnlyToGranules>false</ns3:AppliesOnlyToGranules></ns3:Item></ns2:serviceOptionAssignments></ns2:AddServiceOptionAssignments><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message:
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:AddServiceOptionAssignmentsResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result><ns2:Item>6000705A-4D82-8150-082A-92409EDC6BD3</ns2:Item><ns2:Item>BFA2FDCA-A793-EC08-27FF-5B0FA2DA1636</ns2:Item></ns3:result></ns3:AddServiceOptionAssignmentsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 16 Feb 2017 13:11:41 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - d6a4c5c0-0d26-4f6d-8f17-bc4bada32912
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["create"]}'
  recorded_at: Thu, 13 Oct 2022 16:40:50 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 42de06a2-2583-48f7-99bb-949d91bf9988
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":["create"]}'
  recorded_at: Tue, 18 Oct 2022 19:31:52 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - 277cc1f2-e7a6-4663-be7b-c51f07f0a337
    body:
      encoding: UTF-8
      string: '{"NON_NASA_DRAFT_APPROVER":["create"]}'
  recorded_at: Tue, 18 Oct 2022 19:31:53 GMT
recorded_with: VCR 6.1.0
