---
http_interactions:
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:RemoveServiceOptionAssignments
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>DF3FE345-B684-27C4-4DD8-3A758DDC16FD</ns3:Item></ns2:optionGuids></ns2:RemoveServiceOptionAssignments><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
      headers:
        Content-Type:
          - text/xml
    response:
      status:
        code: 200
        message:
      headers:
        soapaction:
          - '""'
        content-type:
          - text/xml; charset=UTF-8
      body:
        encoding: UTF-8
        string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:RemoveServiceOptionAssignmentsResponse
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    recorded_at: Fri, 10 Feb 2017 23:28:53 GMT
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - 57acff3f-2a62-4649-abcb-cbae44386f15
      body:
        encoding: UTF-8
        string: '{"NON_NASA_DRAFT_APPROVER":[]}'
    recorded_at: Thu, 13 Oct 2022 21:04:30 GMT
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - 2d93aa7c-d267-4917-8b62-8421897cb224
      body:
        encoding: UTF-8
        string: '{"OPTION_ASSIGNMENT":["delete"]}'
    recorded_at: Thu, 13 Oct 2022 21:04:30 GMT
[...]
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - e2190556-76ca-440e-8c3c-20f781437eb6
      body:
        encoding: UTF-8
        string: '{"OPTION_ASSIGNMENT":["delete"]}'
    recorded_at: Thu, 13 Oct 2022 21:04:31 GMT
recorded_with: VCR 6.1.0
