---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionAssignmentsByService
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:serviceEntryGuids><ns3:Item>3E5F3D05-C8F5-C540-4484-F3E67A7D5E62</ns3:Item><ns3:Item>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:Item></ns2:serviceEntryGuids></ns2:GetServiceOptionAssignmentsByService><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: null
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionAssignmentsByServiceResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result/></ns2:GetServiceOptionAssignmentsByServiceResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 10 Feb 2017 14:30:48 GMT
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitions
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids></ns2:optionGuids></ns2:GetServiceOptionDefinitions><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: null
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitionsResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result/></ns2:GetServiceOptionDefinitionsResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Fri, 10 Feb 2017 14:30:48 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - Bearer jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      cmr-request-id:
      - dcef5d25-43f6-4f50-8924-e486f209eb97
    body:
      encoding: UTF-8
      string: '{"OPTION_ASSIGNMENT":["delete"]}'
  recorded_at: Mon, 07 Nov 2022 18:23:10 GMT
recorded_with: VCR 6.1.0
