---
http_interactions:
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - 0a6ce7d6-3e62-435d-90f0-54a894c376de
      body:
        encoding: UTF-8
        string: '{"NON_NASA_DRAFT_APPROVER":[]}'
    recorded_at: Thu, 13 Oct 2022 20:59:05 GMT
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionAssignmentsByService
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6ImRtaXN0cnkiLCJleHAiOjE2NzA3Njk4NjAsImlhdCI6MTY2NTU4NTg2MCwiaXNzIjoiRWFydGhkYXRhIExvZ2luIn0.hR39xfz1SpqEl1l0vzo_MUbYuSg0T_OHfxXNsBoYHXRXmMtDCkB7uGPAnskM78Re0wZXXmwHmk0IxU6W8dbzZZd7KLrhmLJX-B0sMNdXO0S7El2UulZsRQfaTPJov7J4hZZTXhq8u7O3daasysXopeiUI_3qh9flb12svh58knUEPflwYhisMVShj7iqrKVNzO2gCf4poRCkmyqZAeRdwgIaKZTR5k7p1fUbB6mgFxpiftgkFCFETGB8VhiGj9aE0hFW6f4Dn9kpEqnM1axiQ-PePwz4y_yyYBNIPBhGLTmh75aNqMlmd97WpKy_1NrAyMvF3C9EfCiGZOHN5Opk_A</ns2:token><ns2:serviceEntryGuids><ns3:Item>3E5F3D05-C8F5-C540-4484-F3E67A7D5E62</ns3:Item><ns3:Item>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns3:Item></ns2:serviceEntryGuids></ns2:GetServiceOptionAssignmentsByService><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
      headers:
        Content-Type:
          - text/xml
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - text/xml;charset=utf-8
        soapaction:
          - '""'
      body:
        encoding: ASCII-8BIT
        string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetServiceOptionAssignmentsByServiceResponse
          xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10"
          xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result><ns2:Item><ns2:Guid>A8937901-8755-3F75-8E73-4E851AD8853A</ns2:Guid><ns2:ServiceOptionDefinitionGuid>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns2:ServiceOptionDefinitionGuid><ns2:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns2:ServiceEntryGuid><ns2:CatalogItemGuid>C1200019403-MMT_2</ns2:CatalogItemGuid><ns2:AppliesOnlyToGranules>true</ns2:AppliesOnlyToGranules></ns2:Item><ns2:Item><ns2:Guid>283D0822-5321-2A51-E0C5-69F8C99D925E</ns2:Guid><ns2:ServiceOptionDefinitionGuid>A700514B-9AB7-EA4A-3971-277F3891C3D4</ns2:ServiceOptionDefinitionGuid><ns2:ServiceEntryGuid>A19EDB8C-2253-3B19-E70D-1AC053DAC384</ns2:ServiceEntryGuid><ns2:CatalogItemGuid>C1200190013-MMT_2</ns2:CatalogItemGuid><ns2:AppliesOnlyToGranules>false</ns2:AppliesOnlyToGranules></ns2:Item></ns3:result></ns3:GetServiceOptionAssignmentsByServiceResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
    recorded_at: Thu, 13 Oct 2022 20:59:06 GMT
[...]
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitions
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6ImRtaXN0cnkiLCJleHAiOjE2NzA3Njk4NjAsImlhdCI6MTY2NTU4NTg2MCwiaXNzIjoiRWFydGhkYXRhIExvZ2luIn0.hR39xfz1SpqEl1l0vzo_MUbYuSg0T_OHfxXNsBoYHXRXmMtDCkB7uGPAnskM78Re0wZXXmwHmk0IxU6W8dbzZZd7KLrhmLJX-B0sMNdXO0S7El2UulZsRQfaTPJov7J4hZZTXhq8u7O3daasysXopeiUI_3qh9flb12svh58knUEPflwYhisMVShj7iqrKVNzO2gCf4poRCkmyqZAeRdwgIaKZTR5k7p1fUbB6mgFxpiftgkFCFETGB8VhiGj9aE0hFW6f4Dn9kpEqnM1axiQ-PePwz4y_yyYBNIPBhGLTmh75aNqMlmd97WpKy_1NrAyMvF3C9EfCiGZOHN5Opk_A</ns2:token><ns2:optionGuids><ns3:Item>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns3:Item><ns3:Item>A700514B-9AB7-EA4A-3971-277F3891C3D4</ns3:Item></ns2:optionGuids></ns2:GetServiceOptionDefinitions><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
      headers:
        Content-Type:
          - text/xml
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - text/xml;charset=utf-8
        soapaction:
          - '""'
      body:
        encoding: ASCII-8BIT
        string: |-
          <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetServiceOptionDefinitionsResponse xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result><ns2:Item><ns2:Guid>35FB523D-EE0A-E32A-733E-F2DA6ED49107</ns2:Guid><ns2:ProviderGuid>07ACF84C-6360-0BC7-92A8-E95A958DDE12</ns2:ProviderGuid><ns2:Name>Bibendum Mollis Lorem Elit Condimentum</ns2:Name><ns2:Description>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</ns2:Description><ns2:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
                      &lt;model&gt;
                        &lt;instance&gt;
                          &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                            &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                            &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
                [...]
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - 77475969-f8be-4915-a1ce-ab3526bddd39
      body:
        encoding: UTF-8
        string: '{"OPTION_ASSIGNMENT":["delete"]}'
    recorded_at: Thu, 13 Oct 2022 20:59:07 GMT
recorded_with: VCR 6.1.0
