---
http_interactions:
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=NON_NASA_DRAFT_APPROVER&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - ea4f175e-f99a-414a-91b8-a81f8cb2f8f3
      body:
        encoding: UTF-8
        string: '{"NON_NASA_DRAFT_APPROVER":[]}'
    recorded_at: Wed, 12 Oct 2022 20:25:19 GMT
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/access-control/permissions?provider=MMT_2&target=OPTION_ASSIGNMENT&user_id=testuser
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - access_token
    response:
      status:
        code: 200
        message: OK
      headers:
        cmr-request-id:
          - 8f6bff1a-326e-47af-90b3-b1c705aec978
      body:
        encoding: UTF-8
        string: '{"OPTION_ASSIGNMENT":["create"]}'
    recorded_at: Wed, 12 Oct 2022 20:25:20 GMT
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ServiceManagementServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetServiceOptionDefinitionNames
          xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
          xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids
          xsi:nil="true"/></ns2:GetServiceOptionDefinitionNames><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
      headers:
        Content-Type:
          - text/xml
    response:
      status:
        code: 500
        message: Server Error
      headers:
        content-type:
          - text/xml;charset=utf-8
        soapaction:
          - '""'
      body:
        encoding: UTF-8
        string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Token
          [access_XXX] does not exist</faultstring><detail><ns4:ItemNotFoundFault xmlns:ns2="http://echo.nasa.gov/echo/v10"
          xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>TokenNotFound</ns4:ErrorCode><ns4:OpsMessage
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Token
          [access_XXX] does not exist</ns4:SystemMessage><ns4:Timestamp>2022-10-12T20:27:51.553Z</ns4:Timestamp><ns4:ErrorInstanceId>9BDFBE5A-6B1D-E16E-5E20-3A98AADBF14B</ns4:ErrorInstanceId><ns4:Arguments><ns4:Argument><ns4:Name>Token</ns4:Name><ns4:Value>access_token</ns4:Value></ns4:Argument></ns4:Arguments></ns4:ItemNotFoundFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
    recorded_at: Wed, 12 Oct 2022 20:27:52 GMT
  - request:
      method: post
      uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/ProviderServicePortImpl
      body:
        encoding: UTF-8
        string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderNames
          xmlns:ns2="http://echo.nasa.gov[...]
