# Project build files
.dockerignore
.DS_Store
.esbuild
coverage
dist
doc
Dockerfile
node_modules
secret.config.json
tmp
.env
cdk.out

# VSCode Settings
.vscode

# CI Outputs
junit.xml

# CMR uberjar dependencies
cmr

# override with custom setting for local development
overrideStatic.config.json
