@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.layout {
  &__sidebar {
    height: auto;

    @include media-breakpoint-up(md) {
      width: 18rem;
      height: 100%;
    }
  }

  &__brand-earthdata {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.75rem;
  }

  &__user-dropdown-item {
    color: $gray-700;

    &:hover,
    &:focus {
      background-color: $gray-300;
      color: $gray-800;
    }

    &:active {
      background-color: $gray-300;
      color: $gray-500;
    }
  }

  &__env-badge {
    top: 0.75rem;
    right: 0.75rem;
  }
}
