/* ===================================================== *\
   Colors
\* ===================================================== */

/* Monochrome
------------------------------------------*/
$white:         rgb(255, 255, 255); // #fff, #ffffff
$light-grey:    rgb(241, 241, 241);
$dolphin-grey:  rgb(149, 165, 166);
$black:         rgb(50,   50,  50);
$true-black:    rgb(0,     0,   0);
$slate-grey:    rgb(69, 85, 100); // #455564
$medium-grey:   rgb(140, 140, 140); // #8c8c8c
// #7f7f7f
// #d8d8d8
// #eff1f4
// #fdfdfe
// #8c8c8c


/* Red
------------------------------------------*/
$red:           rgb(231,  76,  60);


/* Green
------------------------------------------*/
$dark-green:    rgb(24,  156,  84);


/* Blue
------------------------------------------*/
$light-blue:    rgb(236, 241, 245);
$pale-blue:     rgb(175, 204, 222);
$sky-blue:      rgb(122, 181, 218);
$ocean-blue:    rgb(34,  118, 172);
$steel-blue:    rgb(68,   85, 101);
$midnight-blue: rgb(44,   62,  80);
$medium-blue:   rgb(181, 206, 222);
// #c9dce7

/* Purple
------------------------------------------*/
$royal-purple:  rgb(103,50,133);


/* Gold / Yellow
------------------------------------------*/
$gold:          rgb(187, 157,  18);

/* Orange
------------------------------------------*/
$orange:        rgb(237, 139, 6); //#ed8b06

/* Tan / Brown
------------------------------------------*/
$tan:           rgb(253, 247, 222);
