---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"providerId":"MMT_2","endpoint":"/path_to.html","retryAttempts":5,"retryWaitTime":30,"maxItemsPerOrder":null,"orderingSuspendedUntilDate":null,"overrideNotifyEnabled":false,"referenceProps":"\u003ctest\u003euser
        provided xml\u003c/test\u003e","sslPolicy":{"sslEnabled":false,"sslCertificate":""}},"query":"mutation
        UpdateProviderPolicy(\n                          $providerId: String!\n                          $endpoint:
        String!\n                          $retryAttempts: Int!\n                          $retryWaitTime:
        Int!\n                          $orderingSuspendedUntilDate: Timestamp!\n                          $maxItemsPerOrder:
        Int!\n                          $overrideNotifyEnabled: Boolean!\n                          $referenceProps:
        String!\n                          $sslPolicy: SslPolicyInput!\n                        )
        {\n                            updateProviderPolicy(\n                              endpoint:
        $endpoint\n                              providerId: $providerId\n                              retryAttempts:
        $retryAttempts\n                              retryWaitTime: $retryWaitTime\n                              orderingSuspendedUntilDate:
        $orderingSuspendedUntilDate\n                              maxItemsPerOrder:
        $maxItemsPerOrder\n                              overrideNotifyEnabled: $overrideNotifyEnabled\n                              referenceProps:
        $referenceProps\n                              sslPolicy: $sslPolicy\n                          )
        {\n                            id\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-qlbbZfx0guHj8zZQWcWZJmSKX8w"
      x-amz-apigw-id:
      - fXulfHHUoAMFglw=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - e64cb434-d467-4692-9656-1a2eb0280667
    body:
      encoding: UTF-8
      string: '{"data":{"providerPolicy":{"id":"5d549d78-2300-48eb-a610-ca0f2a244430","providerId":"MMT_2","endpoint":"/path_to.html","retryAttempts":5,"retryWaitTime":30,"orderingSuspendedUntilDate":null,"maxItemsPerOrder":null,"overrideNotifyEnabled":false,"referenceProps":"props 1","sslPolicy":{"id":"c13d813d-03cc-4031-b7a1-f0a0cd766fa2","sslEnabled":false,"sslCertificate":"","updatedAt":"2023-01-26T22:42:17.872Z"},"createdAt":"2023-01-26T19:12:43.138Z","updatedAt":"2023-01-26T22:42:17.872Z"}}}'
  recorded_at: Thu, 26 Jan 2023 21:59:28 GMT
recorded_with: VCR 6.1.0
