---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"providerId":"MMT_2"},"query":"query ProviderPolicy($providerId:
        String!) {\n                          providerPolicy(providerId: $providerId)
        {\n                            id,\n                            providerId,\n                            endpoint,\n                            retryAttempts,\n                            retryWaitTime,\n                            orderingSuspendedUntilDate,\n                            maxItemsPerOrder,\n                            overrideNotifyEnabled,\n                            referenceProps,\n                            sslPolicy
        {\n                              id,\n                              sslEnabled,\n                              sslCertificate,\n                              updatedAt\n                            }\n                            createdAt,\n                            updatedAt\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-40po84egeuydeOUqDk4hmzzmluc"
      x-amz-apigw-id:
      - fXMVQE36oAMFkAA=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 8f097346-15da-48df-8140-747e562b49cc
    body:
      encoding: UTF-8
      string: '{"data":{"providerPolicy":null}}'
  recorded_at: Thu, 26 Jan 2023 18:05:38 GMT
recorded_with: VCR 6.1.0
