---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"providerId":"MMT_2"},"query":"mutation DeleteProviderPolicy($providerId:
        String!) {\n                          deleteProviderPolicy(providerId: $providerId)\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-qHIYDGbIDGsXOQrf9hL/ifypC8M"
      x-amz-apigw-id:
      - fX1aMFz9oAMFvXw=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 14c15cd2-a3cb-4a33-b69f-f3a42e76a9b1
    body:
      encoding: UTF-8
      string: '{"data":{"providerPolicy":null}}'
  recorded_at: Thu, 26 Jan 2023 22:45:59 GMT
[...]
