---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"providerId":"MMT_2"},"query":"query ProviderPolicy($providerId:
        String!) {\n                          providerPolicy(providerId: $providerId)
        {\n                            id,\n                            providerId,\n                            endpoint,\n                            retryAttempts,\n                            retryWaitTime,\n                            orderingSuspendedUntilDate,\n                            maxItemsPerOrder,\n                            overrideNotifyEnabled,\n                            referenceProps,\n                            sslPolicy
        {\n                              id,\n                              sslEnabled,\n                              sslCertificate,\n                              updatedAt\n                            }\n                            createdAt,\n                            updatedAt\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-87pfEG7i2kBt9dwvpwsDnl6noIQ"
      x-amz-apigw-id:
      - fXslREzEIAMFaGw=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - e4d09da4-60c1-4daf-84fb-6e2ba3a420ce
    body:
      encoding: UTF-8
      string: '{"data":{"providerPolicy":{"id":"5d549d78-2300-48eb-a610-ca0f2a244430","providerId":"MMT_2","endpoint":"/path_to.html","retryAttempts":3,"retryWaitTime":60,"orderingSuspendedUntilDate":null,"maxItemsPerOrder":null,"overrideNotifyEnabled":false,"referenceProps":"<test>user provided xml</test>","sslPolicy":{"id":"c13d813d-03cc-4031-b7a1-f0a0cd766fa2","sslEnabled":false,"sslCertificate":"","updatedAt":"2023-01-26T19:12:43.138Z"},"createdAt":"2023-01-26T19:12:43.138Z","updatedAt":"2023-01-26T19:12:43.138Z"}}}'
  recorded_at: Thu, 26 Jan 2023 21:45:47 GMT
[...]
