<section class="metadata">
  <h3 class="inline-header">Metadata Fields</h3><a href="#progress-legend" id="legend" class="display-modal"><i class="fa fa-info-circle"></i> <span class="hidden">Progress Legend</span></a>
  <ul class="progress-indicator">
    <% Draft::DRAFT_FORMS.each do |form_name| %>
      <li id="<%= form_name[:form_partial_name].dasherize %>">
        <%= render partial: 'drafts/progress/form_progress', locals: { draft: draft, form_name: form_name[:form_partial_name], metadata_errors: metadata_errors } %>
      </li>
    <% end %>
  </ul>
  <div id="progress-legend">
    <p>
      The icons below each form name indicate progress toward completion. See below for information on what each icon represents.
    </p>
    <ul>
      <li><i class="fa fa-circle-o icon-green"></i> Required but not complete</li>
      <li><i class="fa fa-circle icon-green"></i> Required and complete</li>
      <li><i class="fa fa-circle-o icon-grey"></i> Not required and not complete</li>
      <li><i class="fa fa-circle icon-grey"></i> Not required and complete</li>
      <li><i class="fa fa-minus-circle icon-red"></i> Does not pass validation</li>
    </ul>
    <a class="btn btn-blue modal-close" href="javascript:void(0);">Close</a>
  </div>
</section>
