@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.keyword-tree-placeholder {
  display: flex;
  inline-size: 100%;
  block-size: 300px;
  align-items: center;
  justify-content: center;
  border: 1px solid $gray-300;
  border-radius: 4px;
}