<div class="eui-info-box">
  <div class="grid-col-6 align-c">
    <strong>Keywords derived from UMM:</strong> <%= keywords_changed_umm_stats(@statistics) %>
  </div>
  <div class="grid-col-6 align-c">
    <strong>Keywords derived from GCMD:</strong> <%= keywords_changed_gcmd_stats(@statistics) %>
  </div>
</div>
