<div class="eui-info-box">
  <div class="grid-col-6 align-c">
    <strong>Long Names found:</strong> <%= long_names_stats(@statistics) %>
  </div>
  <div class="grid-col-6 align-c">
    <strong>Definitions found:</strong> <%= definitions_stats(@statistics) %>
  </div>
</div>
