<!-- Modal to preview Generated Variables -->
<div id="variable-preview-modal" class="">
  <div class="variable-modal-title">
    <a href="javascript:void(0);" class="modal-close float-r">
      <i class="fa fa-times"></i><span class="is-invisible">Close</span>
    </a>

    <div>
      <p class="title">Generated Variable Record<p>
    </div>
  </div>

  <div class="variable-modal-body">
    <pre class="variable-json">Variable JSON</pre>
  </div>

  <div class="variable-modal-footer">
    <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
  </div>
</div>
