/* ===================================================== *\
   Pages: Bulk Updates
\* ===================================================== */

#bulk-updates-field-container {
  .form-description {
    margin-top: 15px;
  }
}

#collection-search fieldset:only-of-type {
  .remove-search-criteria {
    display: none;
  }
}

#collection-search fieldset:not(:last-of-type) {
  .add-search-criteria {
    display: none;
  }
}
