form#order-option-definition-form {
  label {
    font-weight: bold;
    display: block;
  }

  textarea#order_option_form {
    height: 200px;
    font-family: monospace;
    font-size: large;
  }

  div.row {
    margin-bottom: 1em;
    margin-top: 1em;
  }





}

form#order_option_show_form {

  .content-box {
    @include span-columns(12);
    background-color: $light-blue;
    padding: 10px;

    pre {
      white-space: pre-wrap;
    }
  }

  label {
    font-weight: bold;
    display: inline;
  }
}





