/* ===================================================== *\
   Pages: Order Policies
\* ===================================================== */

.order-policy {

  .content-box {
    @include span-columns(4);
    background-color: $light-blue;
    padding: 10px;

    h3 {
      margin-top: 0;
    }
  }
}


.eui-btn {
  &.eui-btn--red {
    background-color: lighten($red, 4%);
    color: $white;

    &:hover {
      background-color: lighten($red, 6%);
    }
  }  
}
