/* ===================================================== *\
   Pages: Order Policies
\* ===================================================== */

.order-policy {

  .content-box {
    float: left;
    display: block;
    margin-right: neat-gutter-width();
    width: neat-span-width(4);
    background-color: $light-blue;
    padding: 10px;
    overflow: scroll;
    &:last-child {
      margin-right: 0;
    }

    h3 {
      margin-top: 0;
    }
  }
}

.checkbox-form-description {
  @extend .form-description;

  margin: 5px 0;
}
