<p class="search-meta">
  <strong>
    <%= (@collections.total_count == 0) ? 'No matches found' : pluralize(@collections.total_count, 'Result') %>
  </strong>
  <%= results_query_label(@query.clone) %>
</p>
