
<p class="search-meta">
  <strong><%= (@total_hit_count==0) ? 'No matches found' : "#{@total_hit_count} Result#{'s' if @total_hit_count !=1 }"%></strong>
  for: Collection | GESDISC | Not Reviewed | Published on or after 2015-03-31
</p>
