<h2>Filters</h2>
<div class="eui-accordion">
  <ul class="bar">
    <li>
      <a href="javascript:void(0)" class="js-eui-accordion-trigger">Provider <i class="chevron-toggle"></i></a>
      <ul class="submenu">
        <li>
          <!--Content should be placed within each <li> element-->
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-eui-accordion-trigger">Services <i class="chevron-toggle"></i></a>
      <ul class="submenu">
        <li>
          <!--Content should be placed within each <li> element-->
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-eui-accordion-trigger">Publishing Status <i class="chevron-toggle"></i></a>
      <ul class="submenu">
        <li>
          <!--Content should be placed within each <li> element-->
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="js-eui-accordion-trigger">Provider <i class="chevron-toggle"></i></a>
      <ul class="submenu">
        <li>
          <!--Content should be placed within each <li> element-->
        </li>
      </ul>
    </li>
  </ul>
</div>