
<div class="row row-content">
  <section>
    <div id="collection_search_criteria">
      <%= render partial: 'collection_search_criteria' %>
    </div>
    <div id="collection_search_results">
      <%= render partial: 'collection_search_results' %>
    </div>
  </section>
</div>
