
<input type='hidden' id='results_per_page' value="<%= @results_per_page.to_s %>">

<main class="internal">
  <section class="content-header">
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li>Search Results</li>
        </ol>
      </div>
    </div>
  </section>
  <div class="row row-content">
    <section>
      <div class="col-3">
        <!-- Temporarily commented out because this is not a part of the MVP %-->
        <!--%= render :partial=>'filters' %-->
      </div>

      <!-- Temporarily commented out because this is not a part of the MVP %-->
      <!--p class="bulk-record-actions"><a href="#" class="btn btn-md btn-blue">Bulk Edit Records</a> <a href="#" class="btn btn-md btn-blue">Bulk Delete Records</a></p-->
      <div id="collection_search_criteria">
        <%= render :partial=>'collection_search_criteria' %>
      </div>
      <div id="collection_search_results">
         <%= render :partial=>'collection_search_results' %>
      </div>

    </section>
  </div>
</main>
