
<header>
  <input type='hidden' id='results_per_page' value="<%= @results_per_page.to_s %>">

  <noscript>JAVASCRIPT MUST BE ENABLED FOR ADVANCED FUNCTIONS TO WORK</noscript>
  <div class="content">
    <div class="col-6">
      <div class="masthead-logo" id="masthead-logo">
        <a href="#">
          <h1>Metadata Management Tool (MMT)</h1>
          <span class="badge badge-sm daac">GESDISC</span>
        </a>
      </div>
      <section id="user-info">
        <p><strong>Rob Flores</strong></p>
        <a href="#">Logout</a>
        <a href="#">Account Settings</a>
      </section>
    </div>
    <div class="col-6">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <section id="search">
        <form action="">
          <label for="search">Quick Find</label>
          <input type="text" name="entry_id_target" id="entry_id_target" placeholder="Enter Entry ID">
          <button type="button" class="btn btn-blue" onclick="update_collection_search_input($('#entry_id_target').val(), 'entry_title', 1, true);return false;"><i class="fa fa-search"></i>Find</button>
        </form>

        <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>
      </section>
    </div>
  </div>
</header>
<main class="internal">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><a href="#">Dashboard</a></li>
          <li>Search Results</li>
        </ol>
      </div>
      <div id="collection_search_criteria">
        <%= render :partial=>'collection_search_criteria' %>
      </div>
    </div>
  </header>
  <section>
    <div class="col-3">
      <!--%= render :partial=>'filters' %-->
    </div>

    <!--p class="bulk-record-actions"><a href="#" class="btn btn-md btn-blue">Bulk Edit Records</a> <a href="#" class="btn btn-md btn-blue">Bulk Delete Records</a></p-->

    <div class="col-9" id="collection_search_results">
       <%= render :partial=>'collection_search_results' %>
    </div>

  </section>
</main>


