
<div class="row row-content">
  <section>
    <div id="search-criteria">
      <%= render partial: 'search_criteria', locals: {
        records: @records,
        query: @query,
        record_type: @record_type
      } %>
    </div>

    <% if @record_type == 'collections' %>
      <div id="collection-search-results">
        <%= render partial: 'collection_search_results', locals: {
          collections: @records,
          query: @query,
          errors: @errors,
          record_type: @record_type
        } %>
      </div>
    <% elsif @record_type == 'variables' %>
      <div id="variable-search-results">
        <%= render partial: 'variable_search_results', locals: {
          variables: @records,
          query: @query,
          errors: @errors,
          record_type: @record_type
        } %>
      </div>
    <% end %>
  </section>
</div>
