
<header>
  <input type='hidden' id='results_per_page' value="<%= @results_per_page.to_s %>">

  <noscript>JAVASCRIPT MUST BE ENABLED FOR ADVANCED FUNCTIONS TO WORK</noscript>
  <div class="content">
    <div class="col-6">
      <div class="masthead-logo" id="masthead-logo">
        <a href="#">
          <h1>Metadata Management Tool (MMT)</h1>
          <span class="badge badge-sm daac">GESDISC</span>
        </a>
      </div>
      <section id="user-info">
        <p><strong>Rob Flores</strong></p>
        <a href="#">Logout</a>
        <a href="#">Account Settings</a>
      </section>
    </div>
    <div class="col-6">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <section id="search">
        <form action="">
          <label> for="search">Quick Find</label>
          <input type="text" name="entry_id_target" id="entry_id_target" placeholder="Enter Entry ID">
          <button type="button" class="btn btn-blue" onclick="update_collection_search_input($('#entry_id_target').val(), 'entry_title', 1, true);return false;"><i class="fa fa-search"></i>Find</button>
        </form>

        <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>
      </section>
    </div>
  </div>
</header>
<main class="internal">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <li><a href="#">Dashboard</a></li>
          <li>Search Results</li>
        </ol>
      </div>
      <div id="collection_search_criteria">
        <%= render :partial=>'collection_search_criteria' %>
      </div>
    </div>
  </header>
  <section>
    <div class="col-3">
      <!--%= render :partial=>'filters' %-->
    </div>

    <!--p class="bulk-record-actions"><a href="#" class="btn btn-md btn-blue">Bulk Edit Records</a> <a href="#" class="btn btn-md btn-blue">Bulk Delete Records</a></p-->

    <div class="col-9" id="collection_search_results">
       <%= render :partial=>'collection_search_results' %>
    </div>

  </section>
</main>

<script>
  // Handle presence of Javascript by turning off or on visibility of JS sensitive objects
  $(".js-disabled-object").css({"visibility": "hidden"});
  $(".js-enabled-object").css({"visibility": "visible"});
</script>

<script>
    function update_collection_search_input(entry_id_target, sort, page, push_url) {

        var target_url = '<%= url_for(action: 'index') %>';
        var params = 'entry_id_target=' + entry_id_target + '&page=' + page + '&sort=' + sort;

        if (history.pushState) {
            if (push_url) {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + params;
                window.history.pushState({path: newurl}, '', newurl);
            }
        }

        $.ajax({
            type: 'GET',
            dataType: 'script',
            url: target_url,
            data: params
        });

        return false;
    }

    function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
    }

    // Handle "Back" button
    $(window).on("popstate", function () {
        // Refresh the contents page using AJAX. Extract & use the parameters from the "backed" url
        var page = getURLParameter("page");
        if (page != null) {
          update_collection_search_input(getURLParameter("entry_id_target") || '', getURLParameter("sort") || '', getURLParameter("page") || '', false);
        }
    });


</script>
