@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.keyword-tree {
  &__node-content {
    display: flex;
    overflow: hidden;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    padding-block-end: 6px;
  }

  &__icon-button {
    display: flex;                 
    align-items: center;
    justify-content: center;
    padding: 0 5px;       
    border: none;
    background: none;
    block-size: 24px;
    cursor: pointer;
    inline-size: 24px;
  }

  &__triangle-icon {
    font-size: 25px;               
    line-height: 1;
    padding-block-start: 6px;
  }

  &__caret-icon {
    font-size: 0.60em;
  }

  &__text-wrapper {           
    display: flex;
    align-items: center;
    block-size: 100%;
  }

  &__node-text {
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #cce5ff;
    }
  }
}