<div class="row sub-fields">
  <div class="col-6">
    <%= mmt_select(
      name: 'type',
      title: 'Type',
      prefix: name_prefix,
      value: contact['Type'],
      options: DraftsHelper::ContactTypeOptions,
      help: 'definitions/ContactType/properties/Type',
    ) %>
  </div>
  <div class="col-6">
    <%= mmt_text_field(
      name: 'value',
      title: 'Value',
      prefix: name_prefix,
      value: contact['Value'],
      help: 'definitions/ContactType/properties/Value',
      validate: true
     ) %>
  </div>
</div>
