<div class="row sub-fields">
  <div class="col-6">
    <label for="<%= remove_pipes(name_prefix) %>type">Type</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/ContactType/properties/Type"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}type"), contact['Type'], class: 'full-width validate') %>
  </div>
  <div class="col-6">
    <label for="<%= remove_pipes(name_prefix) %>value">Value</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/ContactType/properties/Value"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}value"), contact['Value'], class: 'full-width validate') %>
  </div>
</div>
