<div class="row sub-fields">
  <div class="col-6">
    <!-- Type - Select 'CREATE', 'UPDATE', 'DELETE', 'REVIEW'  -->
    <%= mmt_select(
      name: 'type',
      title: 'Type',
      prefix: name_prefix,
      value: date['Type'],
      options: DraftsHelper::DateTypeOptions,
      help: 'definitions/DateType/properties/Type',
      required: true
    ) %>
  </div>

  <div class="col-6">
    <!-- Date -->
    <%= mmt_datetime(
      name: 'date',
      title: 'Date',
      prefix: name_prefix,
      value: date['Date'],
      help: 'definitions/DateType/properties/Date',
      validate: true,
      required: true,
      classes: 'mmt-date-time'
    ) %>
  </div>
</div>
