<%# TODO if refactoring, make contact_person_data_center_fields and contact_group_data_center_fields
  so the data center fields don't have the same id and name %>
<div class="row sub-fields">
  <div class="row">
    <!-- ShortName [r] -->
    <div class="col-6">
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: data_center_contact['ShortName'],
        help: 'definitions/DataCenterType/properties/ShortName',
        options: @data_centers.map { |short_name, long_name, url| [short_name, short_name, { 'data-long-name' => long_name, 'data-url' => url }]},
        classes: 'select2-select data-center-short-name-select',
        required: true
      ) %>
    </div>

    <!-- LongName -->
    <div class="col-6">
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: name_prefix,
        value: data_center_contact['LongName'],
        help: 'definitions/DataCenterType/properties/LongName',
        classes: 'data-center-long-name',
        validate: true
      ) %>
    </div>
  </div>

  <!-- Contact Person -->
  <% if options[:contact_person] %>
    <%= render partial: 'drafts/forms/type', locals: {
      type: 'contact_person',
      title: 'Contact Person',
      values: data_center_contact['ContactPerson'] || {},
      name_prefix: "#{name_prefix}|contact_person|_",
      help: 'definitions/ContactPersonType',
      multiple: false,
      options: options.clone
    } %>
  <% end %>


  <!-- Contact Group -->
  <% if options[:contact_group] %>
    <%= render partial: 'drafts/forms/type', locals: {
      type: 'contact_group',
      title: 'Contact Group',
      values: data_center_contact['ContactGroup'] || {},
      name_prefix: "#{name_prefix}|contact_group|_",
      help: 'definitions/ContactGroupType',
      multiple: false,
      options: options.clone
    } %>
  <% end %>
</div>
