<div class="row">
  <div class="col-6">
    <!-- ShortName -->
    <label for="<%= remove_pipes(name_prefix) %>short_name" class="icon-required">Short Name</label>
    <%= text_field_tag(name_to_param("#{name_prefix}|short_name|"), directory_name['ShortName'], class: 'full-width validate') %>
  </div>
</div>
<div class="row">
  <!-- LongName -->
  <label for="<%= remove_pipes(name_prefix) %>long_name">Long Name</label>
  <%= text_field_tag(name_to_param("#{name_prefix}|long_name|"), directory_name['LongName'], class: 'full-width validate') %>
</div>
