<div class="row sub-fields">
  <!-- Boundaries -->
  <label class="icon-required">Boundaries</label><i class="fa fa-info-circle"></i>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'boundary',
      values: exclusive_zone['Boundaries'] || [{}],
      name_prefix: "#{name_prefix}boundaries_",
      multiple: true,
      options: {} } %>

</div>
