<div class="row sub-fields">
  <!-- CoordinateSystem -->
  <% coordinate_system = geometry['CoordinateSystem'] || "" %>
  <label>Coordinate System</label><i class="fa fa-info-circle"></i>
  <%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'CARTESIAN', coordinate_system == 'CARTESIAN', class: 'coordinate-system-select') %><label for="<%= remove_pipes(name_prefix) %>coordinate_system_CARTESIAN">Cartesian</label>
  <%= radio_button_tag(name_to_param("#{name_prefix}|coordinate_system|"), 'GEODETIC', coordinate_system == 'GEODETIC', class: 'coordinate-system-select') %><label for="<%= remove_pipes(name_prefix) %>coordinate_system_GEODETIC">Geodetic</label>

  <!-- Bad </br>, take out design team! -->
  </br>

  <!-- TODOMultiChoice - don't think it is ready yet -->


</div>
