<div class="row sub-fields">
  <label for="<%= remove_pipes(name_prefix) %>swath_width">Swath Width</label><i class="fa fa-info-circle"></i>
  <%= number_field_tag(name_to_param("#{name_prefix}|swath_width|"), orbit_parameters['SwathWidth'], class: 'half-width') %>

</div>
