<div class="row sub-fields">
  <!-- Scope - METADATA or DATA-->
  <%= hidden_field_tag name_to_param("#{name_prefix}scope"), options[:lineage_type].upcase %>

  <%= render partial: 'drafts/forms/type', locals: {
      type: 'lineage_date',
      values: lineage['Date'] || [{}],
      name_prefix: "#{name_prefix}date_",
      multiple: true,
      options: options.merge({
        title: 'Date',
        type: "#{options[:lineage_type]}_lineage_date"
      }) } %>
</div>
