<% name_prefix += '|organization_name|_' %>
<div class="row">
  <div class="col-6">
    <!-- ShortName -->
     <%= mmt_select(
       name: 'short_name',
       title: 'Short Name',
       prefix: name_prefix,
       value: organization_name['ShortName'],
       help: 'definitions/OrganizationNameType/properties/ShortName',
       options: @organizations.map { |short_name, long_name, url| [short_name, short_name, { 'data-long-name' => long_name, 'data-url' => url }]},
       classes: 'select2-select', # TODO make class more specific to organizations?
       always_required: true
      ) %>
  </div>
  <div class="col-6">
    <!-- LongName -->
    <%= mmt_text_field(
      name: 'long_name',
      title: 'Long Name',
      prefix: name_prefix,
      value: organization_name['LongName'],
      help: 'definitions/OrganizationNameType/properties/LongName',
      classes: 'organization-long-name',
      validate: true
     ) %>
  </div>
</div>
