<div class="row sub-fields">
  <!-- Longitude -->
  <label for="<%= remove_pipes(name_prefix) %>longitude" class="icon-required">Longitude</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/LongitudeType"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}longitude"), point['Longitude'], class: 'half-width longitude validate mmt-number', step: 'any') %>


  <!-- Latitude -->
  <label for="<%= remove_pipes(name_prefix) %>latitude" class="icon-required">Latitude</label><a href="#help-modal" class="display-help-modal"><i class="fa fa-info-circle" data-help-path="definitions/LatitudeType"></i></a>
  <%= text_field_tag(name_to_param("#{name_prefix}latitude"), point['Latitude'], class: 'half-width latitude validate mmt-number', step: 'any') %>

</div>
