<div class="row sub-fields">

  <div class="col-6">
    <!-- Longitude -->
    <label for="<%= remove_pipes(name_prefix) %>longitude" class="icon-required">Longitude</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/LongitudeType"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}longitude"), point['Longitude'], class: 'full-width longitude validate mmt-number') %>
  </div>
  <div class="col-6">
    <!-- Latitude -->
    <label for="<%= remove_pipes(name_prefix) %>latitude" class="icon-required">Latitude</label><a href="#help-modal" class="display-help-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/LatitudeType"></i></a>
    <%= text_field_tag(name_to_param("#{name_prefix}latitude"), point['Latitude'], class: 'full-width latitude validate mmt-number') %>
  </div>

</div>
