<div class="row sub-fields">
  <div class="row">
    <div class="col-6">
      <!-- Short Name [r] -->
      <%= mmt_text_field(
        name: 'short_name',
        title: 'ShortName',
        prefix: name_prefix,
        value: sensors['ShortName'],
        help: 'definitions/ShortNameType',
        validate: true,
        required: true
       ) %>
    </div>
    <div class="col-6">
      <!-- Long Name -->
      <%= mmt_text_field(
        name: 'long_name',
        title: 'LongName',
        prefix: name_prefix,
        value: sensors['LongName'],
        help: 'definitions/LongNameType',
        validate: true
       ) %>
    </div>
  </div>

  <!-- Characteristics -->
  <label>Characteristics</label>
  <a href="#help-modal" class="display-modal" tabindex="-1">
    <i class="fa fa-info-circle" data-help-path="definitions/SensorType/properties/Characteristics"></i>
    <span class="is-hidden">Help modal for characteristics</span>
  </a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'characteristics',
      values: sensors['Characteristics'] || [{}],
      name_prefix: "#{name_prefix}characteristics_",
      multiple: true,
      options: {} } %>


  <!-- Technique -->
  <%= mmt_text_area(
    name: 'technique',
    title: 'Technique',
    prefix: name_prefix,
    value: sensors['Technique'],
    help: 'definitions/SensorType/properties/Technique',
    validate: true
   ) %>
</div>
