<div class="row sub-fields">
  <!-- TilingIdentificationSystemName -->
  <label for="<%= remove_pipes(name_prefix) %>tiling_identification_system_name" class="icon-required">Tiling Identification System Name</label>
  <%= text_field_tag(name_to_param("#{name_prefix}|tiling_identification_system_name|"), tiling_identification_system['TilingIdentificationSystemName'], class: 'half-width validate') %>


  <!-- Coordinate1 -->
  <label class="icon-required">Coordinate 1</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/TilingCoordinateType"></i></a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'tiling_coordinate',
      values: tiling_identification_system['Coordinate1'] || {},
      name_prefix: "#{name_prefix}|coordinate_1|_",
      multiple: false,
      options: {} } %>


  <!-- Coordinate2 -->
  <label class="icon-required">Coordinate 2</label><a href="#help-modal" class="display-modal" tabindex="-1"><i class="fa fa-info-circle" data-help-path="definitions/TilingCoordinateType"></i></a>
  <%= render partial: 'drafts/forms/type', locals: {
      type: 'tiling_coordinate',
      values: tiling_identification_system['Coordinate2'] || {},
      name_prefix: "#{name_prefix}|coordinate_2|_",
      multiple: false,
      options: {} } %>

</div>
