<div class="row sub-fields">
  <div class="col-6">
    <!-- MinimumValue -->
    <label for="<%= remove_pipes(name_prefix) %>minimum_value" class="icon-required">Minimum Value</label>
    <%= text_field_tag(name_to_param("#{name_prefix}|minimum_value|"), tiling_coordinate['MinimumValue'], class: 'full-width validate mmt-number') %>
  </div>
  <div class="col-6">
    <!-- MaximumValue -->
    <label for="<%= remove_pipes(name_prefix) %>maximum_value">Maximum Value</label>
    <%= text_field_tag(name_to_param("#{name_prefix}|maximum_value|"), tiling_coordinate['MaximumValue'], class: 'full-width validate mmt-number') %>
  </div>
</div>
