@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.progress-field {
  &__field-circle {
    padding: 0 0.25em;
    cursor: pointer;
    font-size: 14px;
  }

  &__icon {
    &--invalid-circle {
      color: var(--bs-danger);

      &:hover {
        color: darken(map.get($theme-colors, "danger"), 10);
      }
    }

    &--not-started-required-circle {
      color: var(--bs-green);

      &:hover {
        color: darken(map.get($theme-colors, "green"), 10);
      }
    }

    &--not-started-not-required-circle {
      color: var(--bs-gray);

      &:hover {
        color: darken(map.get($theme-colors, "gray"), 10);
      }
    }

    &--pass-required-circle {
      color: var(--bs-green);

      &:hover {
        color: darken(map.get($theme-colors, "green"), 10);
      }
    }

    &--pass-not-required-circle {
      color: var(--bs-gray);

      &:hover {
        color: darken(map.get($theme-colors, "gray"), 10);
      }
    }

    &--error-circle {
      color: var(--bs-danger);

      &:hover {
        color: darken(map.get($theme-colors, "danger"), 10);
      }
    }
  }
}
