---
http_interactions:
- request:
    method: post
    uri: http://ogre.adc4gis.com/convert
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"upload\";
        filename=\"complex.geojson\"\r\nContent-Length: 768\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding:
        binary\r\n\r\n{ \"type\": \"FeatureCollection\",\n  \"features\": [\n    {
        \"type\": \"Feature\",\n      \"geometry\": {\"type\": \"Point\", \"coordinates\":
        [102.0, 0.5]},\n      \"properties\": {\"prop0\": \"value0\"}\n    },\n    {
        \"type\": \"Feature\",\n      \"geometry\": {\n        \"type\": \"LineString\",\n
        \       \"coordinates\": [\n          [102.0, 0.0], [103.0, 1.0], [104.0,
        0.0], [105.0, 1.0]\n        ]\n      },\n      \"properties\": {\n        \"prop0\":
        \"value0\",\n        \"prop1\": 0.0\n      }\n    },\n    { \"type\": \"Feature\",\n
        \     \"geometry\": {\n        \"type\": \"Polygon\",\n        \"coordinates\":
        [\n          [ [100.0, 0.0], [101.0, 0.0], [101.0, 1.0],\n            [100.0,
        1.0], [100.0, 0.0] ]\n        ]\n      },\n      \"properties\": {\n        \"prop0\":
        \"value0\",\n        \"prop1\": {\"this\": \"that\"}\n      }\n    }\n  ]\n}\n\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"controller\"\r\n\r\nconversions\r\n-------------RubyMultipartPost\r\nContent-Disposition:
        form-data; name=\"action\"\r\n\r\nconvert\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","crs":{"type":"name","properties":{"name":"urn:ogc:def:crs:OGC:1.3:CRS84"}},"features":[{"type":"Feature","properties":{"prop0":"value0","prop1":null},"geometry":{"type":"Point","coordinates":[102,0.5]}},{"type":"Feature","properties":{"prop0":"value0","prop1":0},"geometry":{"type":"LineString","coordinates":[[102,0],[103,1],[104,0],[105,1]]}},{"type":"Feature","properties":{"prop0":"value0","prop1":0},"geometry":{"type":"Polygon","coordinates":[[[100,0],[101,0],[101,1],[100,1],[100,0]]]}}]}'
  recorded_at: Thu, 03 Sep 2015 21:21:51 GMT
recorded_with: VCR 2.9.3
