<div class="preview-collection accordion">
  <div class="accordion-header">
    <h4>Organizations <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Organizations</span>'.html_safe, draft_edit_form_path(@draft, 'organizations', {anchor: 'organizations'}), {class: 'hash-link'} %><% end %></h4>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Organizations Fields</span>
    </a>
  </div>
  <div class="accordion-body">
    <ul class="organizations-preview">
      <%= render partial: 'shared/preview/preview_type', locals: {
          data: metadata['Organizations'],
          name: 'Organizations',
          type: TypesHelper::ResponsibilityType
      } %>

    </ul>
  </div>
</div>
