<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <h4>Personnel Fields:</h4>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Personnel Fields</span>
    </a>
  </div>
  <div class="accordion-body">
    <ul class="personnel-preview">
      <h4>Personnel <% if @draft.present? %><%= link_to '<i class="fa fa-edit"></i> <span class="is-hidden">Edit Personnel</span>'.html_safe, draft_edit_form_path(@draft, 'personnel', {anchor: 'personnel'}), {class: 'hash-link'} %><% end %></h4>
      <%= render partial: 'shared/preview/preview_type', locals: {
          data: metadata['Personnel'],
          name: 'Personnel',
          type: TypesHelper::ResponsibilityType
      } %>

    </ul>
  </div>
</div>
