<div class="preview-collection accordion">
  <div class="accordion-header">
    <h4>Personnel</h4>
    <a href="#" class="float-r">
      <i class="fa fa-angle-down toggle"></i>
      <span class="is-hidden">Toggle Personnel Fields</span>
    </a>
  </div>
  <div class="accordion-body">
    <ul class="cards">
      <li class="card">
        <div class="card-header">
          <h5 class="card-header-title">COLAB</h5>
          <span class="role">Originator</span>
        </div>
        <div class="card-body active">
          <div class="card-body-details">
            <h6>The Collaborators</h6>
            <p>Ministry of Information<br />142 Fairoaks Ct<br />Suite 200<br />East Lansing, MI 48823</p>
          </div>
          <div class="card-body-aside">
            <h6>8:00AM - 5:00PM</h6>
            <ul>
              <li><i class="fa fa-phone-square"></i> (248) 555-NASA</li>
              <li><i class="fa fa-phone-square"></i> (517) 555-1212</li>
              <li><i class="fa fa-envelope"></i> Email</li>
              <li><i class="fa fa-envelope"></i> Other Email</li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <h6>Additional Address</h6>
            <p>Ministry of Information Order of Omega<br />1800 Michigan Ave<br />Lansing, MI 48910</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <h6>Contact Details</h6>
            <p>Every third Friday the team does lunch at Olive Garden from 12-1:30.</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <ul>
              <li><i class="fa fa-twitter-square"></i> @test_user</li>
              <li><i class="fa fa-facebook-square"></i> https://facebook.com/test_user</li>
              <li><i class="fa fa-external-link"></i> www.testurl.com</li>
              <li><i class="fa fa-external-link"></i> www.element84.com</li>
            </ul>
          </div>
        </div>
        <div class="card-navigation">
          <ul>
            <li class="card-navigation-control"><a href="" class="card-navigation-control-back"><i class="fa fa-chevron-left"></i></a></li>
            <li class="card-navigation-pagination">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </li>
            <li class="card-navigation-control"><a href="" class="card-navigation-control-forward"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="card">
        <div class="card-header">
          <h5 class="card-header-title">COLAB</h5>
          <span class="role">Originator</span>
        </div>
        <div class="card-body active">
          <div class="card-body-details">
            <h6>The Collaborators</h6>
            <p>Ministry of Information<br />142 Fairoaks Ct<br />Suite 200<br />East Lansing, MI 48823</p>
          </div>
          <div class="card-body-aside">
            <h6>8:00AM - 5:00PM</h6>
            <ul>
              <li><i class="fa fa-phone-square"></i> (248) 555-NASA</li>
              <li><i class="fa fa-phone-square"></i> (517) 555-1212</li>
              <li><i class="fa fa-envelope"></i> Email</li>
              <li><i class="fa fa-envelope"></i> Other Email</li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <h6>Additional Address</h6>
            <p>Ministry of Information Order of Omega<br />1800 Michigan Ave<br />Lansing, MI 48910</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <h6>Contact Details</h6>
            <p>Every third Friday the team does lunch at Olive Garden from 12-1:30.</p>
          </div>
        </div>
        <div class="card-body">
          <div class="card-body-details-full">
            <ul>
              <li><i class="fa fa-twitter-square"></i> @test_user</li>
              <li><i class="fa fa-facebook-square"></i> https://facebook.com/test_user</li>
              <li><i class="fa fa-external-link"></i> www.testurl.com</li>
              <li><i class="fa fa-external-link"></i> www.element84.com</li>
            </ul>
          </div>
        </div>
        <div class="card-navigation">
          <ul>
            <li class="card-navigation-control"><a href="" class="card-navigation-control-back"><i class="fa fa-chevron-left"></i></a></li>
            <li class="card-navigation-pagination">
              <i class="fa fa-circle"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
              <i class="fa fa-circle-o"></i>
            </li>
            <li class="card-navigation-control"><a href="" class="card-navigation-control-forward"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
