<div>
  <!-- DOI -->
  <%= mmt_text_field(
    name: 'doi',
    title: 'DOI',
    prefix: name_prefix,
    value: associated_doi['DOI'],
    help: 'definitions/AssociatedDoiType/properties/DOI',
    validate: true,
    required: true
   ) %>


  <!-- Title -->
  <%= mmt_text_field(
    name: 'title',
    title: 'Title',
    prefix: name_prefix,
    value: associated_doi['Title'],
    help: 'definitions/AssociatedDoiType/properties/Title',
    validate: true
   ) %>


  <!-- Authority -->
  <%= mmt_text_field(
    name: 'authority',
    title: 'Authority',
    prefix: name_prefix,
    value: associated_doi['Authority'],
    help: 'definitions/AssociatedDoiType/properties/Authority',
    validate: true
   ) %>


</div>
