<div class="grid-row sub-fields">
  <label>Boundary Points</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'point',
      values: boundary['Points'] || [{}],
      name_prefix: "#{name_prefix}points_",
      multiple: true,
      options: {} } %>

</div>
