<div class="grid-row sub-fields">
  <p><a href="javascript:void(0)" class="eui-btn--blue eui-btn--sm global-coverage">Apply global spatial coverage</a></p>
  <label class="eui-required-o">Bounding Coordinates</label>
  <div class="compass-coordinates">
    <div class="north">
      <!-- NorthBoundingCoordinate -->
      <%= mmt_text_field(
        name: 'north_bounding_coordinate',
        title: 'North',
        prefix: name_prefix,
        value: bounding_rectangle['NorthBoundingCoordinate'],
        help: 'definitions/LatitudeType',
        validate: true,
        required: true,
        classes: 'mmt-number bounding-rectangle-point north'
      ) %>
    </div>
    <div class="grid-row">
      <div class="grid-col-6 west">
        <!-- WestBoundingCoordinate -->
        <%= mmt_text_field(
          name: 'west_bounding_coordinate',
          title: 'West',
          prefix: name_prefix,
          value: bounding_rectangle['WestBoundingCoordinate'],
          help: 'definitions/LongitudeType',
          validate: true,
          required: true,
          classes: 'mmt-number bounding-rectangle-point west full-width'
        ) %>
      </div>
      <div class="grid-col-6 east">
        <!-- EastBoundingCoordinate -->
        <%= mmt_text_field(
          name: 'east_bounding_coordinate',
          title: 'East',
          prefix: name_prefix,
          value: bounding_rectangle['EastBoundingCoordinate'],
          help: 'definitions/LongitudeType',
          validate: true,
          required: true,
          classes: 'mmt-number bounding-rectangle-point east full-width'
        ) %>
      </div>
    </div>
    <div class="south">
      <!-- SouthBoundingCoordinate -->
      <%= mmt_text_field(
        name: 'south_bounding_coordinate',
        title: 'South',
        prefix: name_prefix,
        value: bounding_rectangle['SouthBoundingCoordinate'],
        help: 'definitions/LatitudeType',
        validate: true,
        required: true,
        classes: 'mmt-number bounding-rectangle-point south'
      ) %>
    </div>
  </div>
</div>
