<div class="grid_row sub-fields">
  <div class="grid-col-6">
    <%= mmt_select(
      name: 'type',
      title: 'Type',
      prefix: name_prefix,
      value: contact_mechanism['Type'],
      options: DraftsHelper::ContactMechanismTypeOptions,
      help: 'definitions/ContactMechanismType/properties/Type',
      classes: 'contact-mechanism-select',
      required: true,
      required_level: options[:required_level]
    ) %>
  </div>
  <div class="grid-col-6">
    <%= mmt_text_field(
      name: 'value',
      title: 'Value',
      prefix: name_prefix,
      value: contact_mechanism['Value'],
      help: 'definitions/ContactMechanismType/properties/Value',
      required: true,
      validate: true,
      required_level: options[:required_level]
     ) %>
  </div>
</div>
