<div class="grid_row sub-fields">
  <!-- Roles [r] -->
  <%= mmt_select(
    name: 'roles',
    title: 'Roles',
    prefix: name_prefix,
    value: contact_group['Roles'],
    multiple: true,
    options: DraftsHelper::DataContactRoleOptions,
    help: 'definitions/ContactGroupType/properties/Roles',
    classes: 'data-contact-roles-select',
    required: true,
    required_level: options[:required_level]
  ) %>

  <!-- GroupName [r] -->
  <%= mmt_text_field(
    name: 'group_name',
    title: 'Group Name',
    prefix: name_prefix,
    value: contact_group['GroupName'],
    help: 'definitions/ContactGroupType/properties/GroupName',
    required: true,
    validate: true,
    required_level: options[:required_level]
  ) %>

  <% unless options[:data_center_affiliation] %>
    <!-- NonDataCenterAffiliation (unless data_center_affiliation) -->
    <div class="grid_row">
      <%= mmt_text_field(
      name: 'non_data_center_affiliation',
      title: 'Non Data Center Affiliation',
      prefix: name_prefix,
      value: contact_group['NonDataCenterAffiliation'],
      help: 'definitions/ContactGroupType/properties/NonDataCenterAffiliation',
      validate: true,
      required_level: options[:required_level]
      ) %>
    </div>
  <% end %>

  <!-- ContactInformation -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_information',
    title: 'Contact Information',
    values: contact_group['ContactInformation'] || {},
    name_prefix: "#{name_prefix}|contact_information|_",
    help: 'definitions/ContactInformationType',
    multiple: false,
    options: options.clone.merge({ required_level: options[:required_level] })
  } %>
</div>
