<!-- Contact Person Data Center  -->
<div class="row sub-fields">
  <!-- Data Center -->
  <div class="row">
    <!-- ShortName [r] -->
    <div class="col-6">
      <%= mmt_select(
        name: 'short_name',
        title: 'Data Center Short Name',
        prefix: "#{name_prefix}",
        value: data_center_contact_person['ShortName'],
        help: 'definitions/DataCenterType/properties/ShortName',
        options: @data_centers.map { |data_center| [data_center[:short_name], data_center[:short_name], { 'data-long-name' => data_center[:long_name], 'data-url' => data_center[:url] }]},
        classes: 'select2-select data-center-short-name-select',
        required: true,
        required_level: options[:required_level]
      ) %>
    </div>

    <!-- LongName -->
    <div class="col-6">
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Data Center Long Name',
        prefix: "#{name_prefix}",
        value: data_center_contact_person['LongName'],
        help: 'definitions/DataCenterType/properties/LongName',
        classes: 'data-center-long-name',
        validate: true,
        required_level: options[:required_level],
        readonly: true
      ) %>
    </div>
  </div>

  <!-- Contact Person -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_person',
    title: 'Contact Person',
    values: data_center_contact_person['ContactPerson'] || {},
    name_prefix: "#{name_prefix}|contact_person|_",
    help: 'definitions/ContactPersonType',
    multiple: false,
    options: options.clone.merge({ required_level: options[:required_level] })
  } %>
</div>
