<% always_required = options[:always_required] || false %>
<div class="grid_row sub-fields">
  <div class="grid-col-6">
    <!-- Type - Select 'CREATE', 'UPDATE', 'DELETE', 'REVIEW'  -->
    <%= mmt_select(
      name: 'type',
      title: 'Type',
      prefix: name_prefix,
      value: date['Type'],
      metadata_date: options[:metadata_date],
      options: DraftsHelper::DateTypeOptions,
      help: 'definitions/DateType/properties/Type',
      required: !always_required,
      always_required: always_required
    ) %>
  </div>

  <div class="grid-col-6">
    <!-- Date -->
    <%= mmt_datetime(
      name: 'date',
      title: 'Date',
      prefix: name_prefix,
      value: date['Date'],
      help: 'definitions/DateType/properties/Date',
      validate: true,
      required: !always_required,
      always_required: always_required,
      classes: 'mmt-date-time'
    ) %>
  </div>
</div>
