<!-- Contact Group Data Center -->
<div class="grid-row sub-fields">
  <!-- Data Center -->
  <div class="grid-row">
    <!-- ShortName [r] -->
    <div class="grid-col-6">
      <%= mmt_select(
        name: 'short_name',
        title: 'Data Center Short Name',
        prefix: "#{name_prefix}",
        value: data_center_contact_group['ShortName'],
        help: 'definitions/DataCenterType/properties/ShortName',
        options: @data_centers,
        classes: 'mmt-fake-enum select2-select data-center-short-name-select',
        required: true,
        required_level: options[:required_level]
      ) %>
    </div>

    <!-- LongName -->
    <div class="grid-col-6">
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Data Center Long Name',
        prefix: "#{name_prefix}",
        value: data_center_contact_group['LongName'],
        help: 'definitions/DataCenterType/properties/LongName',
        classes: 'data-center-long-name',
        validate: true,
        required_level: options[:required_level],
        readonly: true
      ) %>
    </div>
  </div>

  <!-- Contact Group -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_group',
    title: 'Contact Group',
    values: data_center_contact_group['ContactGroup'] || {},
    name_prefix: "#{name_prefix}|contact_group|_",
    help: 'definitions/ContactGroupType',
    multiple: false,
    options: options.clone.merge({ required_level: options[:required_level] })
  } %>
</div>
