<div class="row sub-fields">
  <!-- Roles [r] -->
  <%= mmt_select(
    name: 'roles',
    title: 'Roles',
    prefix: name_prefix,
    value: data_center['Roles'],
    multiple: true,
    options: DraftsHelper::DataCenterRoleOptions,
    help: 'definitions/DataCenterType/properties/Roles',
    classes: 'data-center-roles-select',
    required: true,
    always_required: true
  ) %>

  <div class="row">
    <!-- ShortName [r] -->
    <div class="col-6">
      <%= mmt_select(
        name: 'short_name',
        title: 'Short Name',
        prefix: name_prefix,
        value: data_center['ShortName'],
        help: 'definitions/DataCenterType/properties/ShortName',
        options: @data_centers,
        classes: 'mmt-fake-enum select2-select data-center-short-name-select',
        required: true,
        always_required: true
      ) %>
    </div>

    <!-- LongName -->
    <div class="col-6">
      <%= mmt_text_field(
        name: 'long_name',
        title: 'Long Name',
        prefix: name_prefix,
        value: data_center['LongName'],
        help: 'definitions/DataCenterType/properties/LongName',
        classes: 'data-center-long-name readonly',
        validate: true,
        readonly: true
      ) %>
    </div>
  </div>

  <!-- ContactInformation -->
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'contact_information',
    title: 'Contact Information',
    values: data_center['ContactInformation'] || {},
    name_prefix: "#{name_prefix}|contact_information|_",
    help: 'definitions/ContactInformationType',
    multiple: false,
    options: {
      related_url_title: 'Data Center Related URLs',
      url_content_type_options: @data_center_related_url_content_type_options,
      url_type_options: @data_center_related_url_type_options,
      url_subtype_options: @data_center_related_url_subtype_options
    }
  } %>
</div>
