<div class="grid_row">
  <div class="grid-col-6">
    <!-- ShortName -->
    <%= mmt_text_field(
      name: 'short_name',
      title: 'Short Name',
      prefix: name_prefix,
      value: directory_name['ShortName'],
      validate: true,
      required: true
     ) %>
  </div>
</div>
<div class="grid_row">
  <!-- LongName -->
  <%= mmt_text_field(
    name: 'long_name',
    title: 'Long Name',
    prefix: name_prefix,
    value: directory_name['LongName'],
    validate: true
   ) %>
</div>
