<div class="grid-row sub-fields">
  <!-- Boundaries -->
  <label class="eui-required-o">Boundaries</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'boundary',
      values: exclusive_zone['Boundaries'] || [{}],
      name_prefix: "#{name_prefix}boundaries_",
      multiple: true,
      options: {} } %>

</div>
