<div class="grid-row sub-fields">
  <div class="grid-col-6">
    <%= mmt_text_field(
      name: 'size',
      title: 'Size',
      prefix: name_prefix,
      value: file_size['Size'],
      help: 'definitions/FileSizeType/properties/Size',
      classes: 'mmt-number',
      validate: true,
      required: true
    ) %>
  </div>

  <div class="grid-col-6">
    <%= mmt_select(
      name: 'unit',
      title: 'Unit',
      prefix: name_prefix,
      value: file_size['Unit'],
      options: DraftsHelper::FileSizeUnitTypeOptions,
      help: 'definitions/FileSizeType/properties/Unit',
      required: true
    ) %>
  </div>
</div>
