<div class="grid_row sub-fields">
  <!-- Footprint int -->
  <%= mmt_text_field(
        name: 'footprint',
        title: 'Footprint',
        prefix: name_prefix,
        value: footprint['Footprint'],
        help: 'definitions/FootprintType/properties/Footprint',
        validate: true,
        classes: 'mmt-number optionally-required'
      ) %>

  <!-- FootprintUnit enum: Kilometer, Meter -->
  <%= mmt_select(
        name: 'footprint_unit',
        title: 'Footprint Unit',
        prefix: name_prefix,
        value: footprint['FootprintUnit'],
        help: 'definitions/FootprintType/properties/FootprintUnit',
        options: DraftsHelper::FootprintUnitOptions,

      ) %>

  <!-- Description String -->
  <%= mmt_text_field(
        name: 'description',
        title: 'Description',
        prefix: name_prefix,
        value: footprint['Description'],
        help: 'definitions/FootprintType/properties/Description',
        validate: true,
        ) %>
</div>
