<div class="grid_row sub-fields">
  <%= render partial: 'collection_drafts/forms/fields/resolution_x_y_fields', locals: {
    name_prefix: name_prefix,
    schema_object_type: 'HorizontalDataGenericResolutionType',
    resolution: generic_resolution
  } %>

  <%= render partial: 'collection_drafts/forms/fields/resolution_unit_fields', locals: {
    name_prefix: name_prefix,
    schema_object_type: 'HorizontalDataGenericResolutionType',
    resolution: generic_resolution
  } %>
</div>
