<div class="grid_row sub-fields">
  <!-- HorizontalDatumName -->
  <%= mmt_text_field(
    name: 'horizontal_datum_name',
    title: 'Horizontal Datum Name',
    prefix: name_prefix,
    value: geodetic_model['HorizontalDatumName'],
    help: 'definitions/GeodeticModelType/properties/HorizontalDatumName',
    validate: true
   ) %>


  <!-- EllipsoidName -->
  <%= mmt_text_field(
    name: 'ellipsoid_name',
    title: 'Ellipsoid Name',
    prefix: name_prefix,
    value: geodetic_model['EllipsoidName'],
    help: 'definitions/GeodeticModelType/properties/EllipsoidName',
    validate: true
   ) %>


  <!-- SemiMajorAxis -->
  <%= mmt_text_field(
    name: 'semi_major_axis',
    title: 'Semi Major Axis',
    prefix: name_prefix,
    value: geodetic_model['SemiMajorAxis'],
    help: 'definitions/GeodeticModelType/properties/SemiMajorAxis',
    validate: true,
    classes: 'mmt-number'
   ) %>


  <!-- DenominatorOfFlatteningRatio -->
  <%= mmt_text_field(
    name: 'denominator_of_flattening_ratio',
    title: 'Denominator Of Flattening Ratio',
    prefix: name_prefix,
    value: geodetic_model['DenominatorOfFlatteningRatio'],
    help: 'definitions/GeodeticModelType/properties/DenominatorOfFlatteningRatio',
    validate: true,
    classes: 'mmt-number'
   ) %>

</div>
