<div class="row sub-fields">
  <!-- GeographicCoordinateUnits -->
  <%= mmt_select(
    name: 'geographic_coordinate_units',
    title: 'Geographic Coordinate Units',
    prefix: name_prefix,
    value: geographic_coordinate_system['GeographicCoordinateUnits'],
    options: DraftsHelper::GeographicCoordinateUnitsOptions,
    help: 'definitions/GeographicCoordinateSystemType/properties/GeographicCoordinateUnits',
    validate: true
  ) %>


  <!-- LatitudeResolution -->
  <%= mmt_text_field(
    name: 'latitude_resolution',
    title: 'Latitude Resolution',
    prefix: name_prefix,
    value: geographic_coordinate_system['LatitudeResolution'],
    help: 'definitions/GeographicCoordinateSystemType/properties/LatitudeResolution',
    validate: true,
    classes: 'mmt-number'
   ) %>


  <!-- LongitudeResolution -->
  <%= mmt_text_field(
    name: 'longitude_resolution',
    title: 'Longitude Resolution',
    prefix: name_prefix,
    value: geographic_coordinate_system['LongitudeResolution'],
    help: 'definitions/GeographicCoordinateSystemType/properties/LongitudeResolution',
    validate: true,
    classes: 'mmt-number'
   ) %>

</div>
