<div class="grid-row sub-fields">
  <!-- ZoneIdentifier -->
  <%= mmt_text_field(
    name: 'zone_identifier',
    title: 'Zone Identifier',
    prefix: name_prefix,
    value: horizontal_spatial_domain['ZoneIdentifier'],
    help: 'definitions/HorizontalSpatialDomainType/properties/ZoneIdentifier',
    validate: true
   ) %>

  <!-- Geometry -->
  <label class="eui-required-o">Geometry</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'geometry',
      values: horizontal_spatial_domain['Geometry'] || {},
      name_prefix: "#{name_prefix}geometry_",
      multiple: false,
      options: {} } %>

  <!-- ResolutionAndCoordinateSystem -->
  <%= mmt_label(
    name: 'resolution_and_coordinate_system',
    title: 'Resolution and Coordinate System',
    prefix: name_prefix,
  ) %>
  <%= render partial: 'collection_drafts/forms/type', locals: {
    type: 'resolution_and_coordinate_system',
    values: horizontal_spatial_domain['ResolutionAndCoordinateSystem'] || {},
    name_prefix: "#{name_prefix}|resolution_and_coordinate_system|_",
    help: 'definitions/ResolutionAndCoordinateSystem',
    multiple: false,
    options: {} } %>
</div>
