<div class="grid-row sub-fields">
  <!-- GeoReferenceInformation -->
  <%= mmt_text_area(
    name: 'geo_reference_information',
    title: 'Geo Reference Information',
    prefix: name_prefix,
    value: local_coordinate_system['GeoReferenceInformation'],
    help: 'definitions/LocalCoordinateSystemType/properties/GeoReferenceInformation',
    validate: true
   ) %>


  <!-- Description -->
  <%= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: local_coordinate_system['Description'],
    help: 'definitions/LocalCoordinateSystemType/properties/Description',
    validate: true
   ) %>

</div>
