<div class="grid-row sub-fields">
  <div class="grid-row">
    <div class="grid-col-6">
      <!-- Type -->
      <%= mmt_select(
        name: 'type',
        title: 'Type',
        prefix: name_prefix,
        value: metadata_association['Type'],
        options: DraftsHelper::MetadataAssociationTypeOptions,
        help: 'definitions/MetadataAssociationType/properties/Type'
      ) %>
    </div>
    <div class="grid-col-6">
      <!-- EntryId [r] -->
      <%= mmt_text_field(
        name: 'entry_id',
        title: 'Entry Id',
        prefix: name_prefix,
        value: metadata_association['EntryId'],
        help: 'definitions/MetadataAssociationType/properties/EntryId',
        validate: true,
        required: true
       ) %>
    </div>
  </div>

  <!-- Description -->
  <%= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: metadata_association['Description'],
    help: 'definitions/MetadataAssociationType/properties/Description',
    validate: true
   ) %>

  <!-- Version -->
  <%= mmt_text_field(
    name: 'version',
    title: 'Version',
    prefix: name_prefix,
    value: metadata_association['Version'],
    help: 'definitions/MetadataAssociationType/properties/Version',
    validate: true
  ) %>
</div>
