<% name_prefix += 'person_' %>
<div class="grid_row">
  <div class="grid-col-4">
    <!-- FirstName -->
    <%= mmt_text_field(
      name: 'first_name',
      title: 'First Name',
      prefix: name_prefix,
      value: person['FirstName'],
      help: 'definitions/PersonType/properties/FirstName',
      validate: true
     ) %>
  </div>
  <div class="grid-col-4">
    <!-- MiddleName -->
    <%= mmt_text_field(
      name: 'middle_name',
      title: 'Middle Name',
      prefix: name_prefix,
      value: person['MiddleName'],
      help: 'definitions/PersonType/properties/MiddleName',
      validate: true
     ) %>
  </div>
  <div class="grid-col-4">
    <!-- LastName -->
    <%= mmt_text_field(
      name: 'last_name',
      title: 'Last Name',
      prefix: name_prefix,
      value: person['LastName'],
      help: 'definitions/PersonType/properties/LastName',
      validate: true,
      required: true
     ) %>
  </div>
</div>
