<div class="grid_row sub-fields">

  <div class="grid-col-6">
    <!-- Longitude -->
    <%= mmt_text_field(
      name: 'longitude',
      title: 'Longitude',
      prefix: name_prefix,
      value: point['Longitude'],
      help: 'definitions/LongitudeType',
      validate: true,
      required: true,
      classes: 'mmt-number longitude'
     ) %>
  </div>
  <div class="grid-col-6">
    <!-- Latitude -->
    <%= mmt_text_field(
      name: 'latitude',
      title: 'Latitude',
      prefix: name_prefix,
      value: point['Latitude'],
      help: 'definitions/LatitudeType',
      validate: true,
      required: true,
      classes: 'mmt-number latitude'
     ) %>
  </div>

</div>
