<div class="grid_row sub-fields parent-pair">

  <div class="grid-col-6">
    <!-- BeginningDateTime -->
    <%= mmt_datetime(
      name: 'beginning_date_time',
      title: 'Beginning Date Time',
      prefix: name_prefix,
      value: range_date_time['BeginningDateTime'],
      help: 'definitions/RangeDateTimeType/properties/BeginningDateTime',
      validate: true,
      always_required: true,
      classes: 'mmt-date-time lesser-pair'
    ) %>
  </div>

  <div class="grid-col-6">
    <!-- EndingDateTime -->
    <%= mmt_datetime(
      name: 'ending_date_time',
      title: 'Ending Date Time',
      prefix: name_prefix,
      value: range_date_time['EndingDateTime'],
      help: 'definitions/RangeDateTimeType/properties/EndingDateTime',
      validate: true,
      classes: 'mmt-date-time greater-pair'
    ) %>
  </div>

</div>
