<div class="grid_row">
  <div class="grid-col-6">
    <!-- ViewingAngleType -->
    <%= mmt_select(
      name: 'viewing_angle_type',
      title: 'Viewing Angle Type',
      prefix: name_prefix,
      value: resolution['ViewingAngleType'],
      help: "definitions/#{schema_object_type}/properties/ViewingAngleType",
      options: DraftsHelper::HorizontalResolutionViewingAngleTypeOptions,
      validate: true
    ) %>
  </div>

  <div class="grid-col-6">
    <!-- ScanDirection -->
    <%= mmt_select(
      name: 'scan_direction',
      title: 'Scan Direction',
      prefix: name_prefix,
      value: resolution['ScanDirection'],
      help: "definitions/#{schema_object_type}/properties/ScanDirection",
      options: DraftsHelper::HorizontalResolutionScanDirectionTypeOptions,
      validate: true
    ) %>
  </div>
</div>
