<div class="optionally-required-parent">
  <div class="grid_row">
    <div class="grid-col-6">
      <!-- MinimumXDimension -->
      <%= mmt_text_field(
        name: 'minimum_x_dimension',
        title: 'Minimum X Dimension',
        prefix: name_prefix,
        value: resolution['MinimumXDimension'],
        help: "definitions/#{schema_object_type}/properties/MinimumXDimension",
        validate: true,
        required_group: 'a',
        classes: 'mmt-number optionally-required optionally-required-group'
      ) %>

    </div>
    <div class="grid-col-6">
      <!-- MaximumXDimension -->
      <%= mmt_text_field(
        name: 'maximum_x_dimension',
        title: 'Maximum X Dimension',
        prefix: name_prefix,
        value: resolution['MaximumXDimension'],
        help: "definitions/#{schema_object_type}/properties/MaximumXDimension",
        validate: true,
        required_group: 'a',
        classes: 'mmt-number optionally-required optionally-required-group'
      ) %>

    </div>
  </div>

  <div class="grid_row">
    <div class="grid-col-6">
      <!-- MinimumYDimension -->
      <%= mmt_text_field(
        name: 'minimum_y_dimension',
        title: 'Minimum Y Dimension',
        prefix: name_prefix,
        value: resolution['MinimumYDimension'],
        help: "definitions/#{schema_object_type}/properties/MinimumYDimension",
        validate: true,
        required_group: 'b',
        classes: 'mmt-number optionally-required optionally-required-group'
      ) %>
    </div>

    <div class="grid-col-6">
      <!-- MaximumYDimension -->
      <%= mmt_text_field(
        name: 'maximum_y_dimension',
        title: 'Maximum Y Dimension',
        prefix: name_prefix,
        value: resolution['MaximumYDimension'],
        help: "definitions/#{schema_object_type}/properties/MaximumYDimension",
        validate: true,
        required_group: 'b',
        classes: 'mmt-number optionally-required optionally-required-group'
      ) %>
    </div>
  </div>
</div>
