<div class="grid-row">
  <div class="optionally-required-parent">
    <div class="grid-col-6">
      <!-- XDimension -->
      <%= mmt_text_field(
        name: 'x_dimension',
        title: 'X Dimension',
        prefix: name_prefix,
        value: resolution['XDimension'],
        help: "definitions/#{schema_object_type}/properties/XDimension",
        validate: true,
        classes: 'mmt-number optionally-required'
      ) %>
    </div>

    <div class="grid-col-6">
      <!-- YDimension -->
      <%= mmt_text_field(
        name: 'y_dimension',
        title: 'Y Dimension',
        prefix: name_prefix,
        value: resolution['YDimension'],
        help: "definitions/#{schema_object_type}/properties/YDimension",
        validate: true,
        classes: 'mmt-number optionally-required'
      ) %>
    </div>
  </div>
</div>
