<div class="grid-row sub-fields parent-pair">
  <div class="grid-col-6">
    <!-- MinimumValue -->
    <%= mmt_text_field(
      name: 'minimum_value',
      title: 'Minimum Value',
      prefix: name_prefix,
      validate: true,
      value: tiling_coordinate['MinimumValue'],
      classes: 'lesser-pair'
     ) %>
  </div>
  <div class="grid-col-6">
    <!-- MaximumValue -->
    <%= mmt_text_field(
      name: 'maximum_value',
      title: 'Maximum Value',
      prefix: name_prefix,
      validate: true,
      value: tiling_coordinate['MaximumValue'],
      classes: 'greater-pair'
     ) %>
  </div>
</div>
