<div class="row sub-fields">
  <%#= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: use_constraints_description['Description'],
    help: 'definitions/UseConstraintsDescriptionType/properties/Description',
    validate: true,
    required: true
 ) %>
  <%= mmt_text_area(
    name: 'description',
    title: 'Description',
    prefix: name_prefix,
    value: use_constraints['Description'],
    help: 'definitions/UseConstraintsDescType',
    validate: true,
    required: true
 ) %>
</div>
