<div class="grid-row sub-fields">
  <!-- AltitudeSystemDefinition -->
  <label>Altitude System Definition</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'altitude_system_definition',
      values: vertical_coordinate_system['AltitudeSystemDefinition'] || {},
      name_prefix: "#{name_prefix}|altitude_system_definition|_",
      multiple: false,
      options: {} } %>


  <!-- DepthSystemDefinition -->
  <label>Depth System Definition</label>
  <%= render partial: 'collection_drafts/forms/type', locals: {
      type: 'depth_system_definition',
      values: vertical_coordinate_system['DepthSystemDefinition'] || {},
      name_prefix: "#{name_prefix}|depth_system_definition|_",
      multiple: false,
      options: {} } %>
</div>
