<div class="grid_row sub-fields">
  <!-- Type -->
  <div class="grid-col-6">
    <%= mmt_select(
      name: 'type',
      title: 'Type',
      prefix: name_prefix,
      value: vertical_spatial_domain['Type'],
      options: DraftsHelper::VerticalSpatialDomainTypeOptions,
      help: 'definitions/VerticalSpatialDomainType/properties/Type',
      required: true
    ) %>
  </div>


  <!-- Value -->
  <div class="grid-col-6">
    <%= mmt_text_field(
      name: 'value',
      title: 'Value',
      prefix: name_prefix,
      value: vertical_spatial_domain['Value'],
      help: 'definitions/VerticalSpatialDomainType/properties/Value',
      validate: true,
      required: true
     ) %>
  </div>
</div>
