.table {
  &__sort-button {
    width: 1.5rem;
    height: 1rem;
    padding: 0.125rem;
    margin-right: -0.425rem;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:first-child {
      position: relative;

      svg {
        position: absolute;
        top: 0.25rem;
        pointer-events: none;
      }
    }

    &:last-child {
      position: relative;

      svg {
        position: absolute;
        top: -0.25rem;
        pointer-events: none;
      }
    }

    &:hover {
      color: var(--bs-gray-dark);
    }

    &--inactive {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  tr {
    position: relative;
  }

  th, td {
    z-index: 0;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    max-width: 20rem;
  }

  td:first-child {
    border: 0;

    &::before {
      position: absolute;
      z-index: -1;
      border-right: 1px solid var(--bs-border-color);
      border-left: 1px solid var(--bs-border-color);
      content: '';
      inset: 0;
      user-select: none;
    }
  }
}