.table {
  &__sort-button {
    width: 1.75rem;
    height: 0.325rem;
    padding: 0.125rem;

    svg {
      width: 1rem;
      height: 1rem;
    }

    &:hover {
      color: var(--bs-gray-dark);
    }

    &--inactive {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}