<div class="row row-content">
  <section>
    <h2>Editing <%= @order_option.fetch('name', nil) %></h2>

    <%= form_tag(order_option_path(@order_option_id), method: :put, id: 'order-option-definition-form', class: 'order-options') do %>
      <% if Rails.configuration.use_legacy_order_service %>
        <%= render partial: 'legacy_form', locals: { new_form: false } %>
      <% else %>
        <%= render partial: 'form', locals: { new_form: false } %>
      <% end %>
    <% end %>
  </section>
</div>
