/* Content
----------------------------------------*/

.form-description {
  color: lighten($black, 30%);
}

.search-meta {
  padding: 1.5em 0;
  margin: 0;
  color: lighten($steel-blue, 20%);
}

// todo: refactor to individual component

.is-collapsed {
  &:before {
    content: "\f0da";
    font-family: FontAwesome;
    margin-right: 0.3125em;
  }
}

.is-expanded {
  &:before {
    content: "\f0d7";
    font-family: FontAwesome;
    margin-right: 0.3125em;
  }
}