// ============================================================================
// OVERRIDE: #DatePicker
// ============================================================================

$datepicker-grey: #eee;

// Overrides current selected date fields
%blue-background {
  background-image: none;
  background-color: $midnight-blue;
}

// Datepicker styles has a bug where it has a second hover pseudo-
// selector attached, hence !important flag.
%grey-background {
  background-image: none !important;
  background-color: $datepicker-grey;
}

.datepicker {
  table {
    tr {
      td {
        span.active {
          &.active,
          &:hover.active {
            @extend %blue-background;
          }
        }

        &.active.active {
          @extend %blue-background;
        }

        &.today {
          @extend %grey-background;

          &:hover {
            @extend %grey-background;
          }
        }
      }
    }
  }

  span.year.active {
    @extend %blue-background;
  }
}
