/* ===================================================== *\
   Override: Bootstrap Datetimepicker
\* ===================================================== */

.bootstrap-datetimepicker-widget {
  .datepicker, .timepicker, .picker-switch {
    table {
      border: none;

      td {
        padding: none;
        border: none;
        background-color: white;
      }
    } 
  }

  .fa {
    color: $ocean-blue;
  }
}
