// This will eventually be handled within EUI but for now we need to handle it.
.eui-modal-content {
  max-height: 400px;
  overflow: auto;
}

// Prevent a border/outline from showing on click
.eui-accordion__icon {
  outline: none;
}

.eui-banner--danger {
  h4 {
    color: #963b3b;
  }
}
