// This will eventually be handled within EUI but for now we need to handle it.
.eui-modal-content {
  max-height: 400px;
  overflow: auto;
}

// Prevent a border/outline from showing on click
.eui-accordion__icon {
  outline: none;
}

.eui-banner--danger {
  h4 {
    color: #963b3b;
  }
}

.eui-btn--link {
  padding: 0;
}

// These are use on the subscription page to make input/textarea placeholders
// look the same.
textarea::-moz-placeholder {
  color: #95a5a6;
  font-weight: 100; 
}
textarea::-webkit-input-placeholder {
  color: #95a5a6;
  font-weight: 100; 
}

