// This will eventually be handled within EUI but for now we need to handle it.
.eui-modal-content {
  overflow: scroll;
  max-height: 400px;
}

// Prevent a border/outline from showing on click
.eui-accordion__icon {
  outline: none;
}