#metadata-preview{
  width: 1725px;
}

th{
  white-space: nowrap;
}

#spatial-information th{
  white-space: break-spaces;
}

#metadata-preview table{
  width: 100%;
  background: white;
}

#metadata-preview table tr:nth-child(2n+2) {
  background: white;
}

#metadata-preview table th {
  background: white;
  text-align: left;
  border: none
}

#metadata-preview table img {
  border: none;
  padding: 0;
  display: block;
}

.collapse.show {
  background-color: white !important;
}

.collapsing {
  background-color: white !important;
}

.access-styles .card {
  white-space: normal;
  word-wrap: normal;
}
