#metadata-preview{
  max-width: 1725px;
  padding-right: 190px;
  padding-left: 20px;
  position: relative;
}

th{
  white-space: nowrap;
}

#spatial-information th{
  white-space: break-spaces;
}

#metadata-preview table{
  width: 100%;
  background: white;
}

#metadata-preview table tr:nth-child(2n+2) {
  background: white;
}

#metadata-preview table th {
  background: white;
  text-align: left;
  border: none
}

#metadata-preview table img {
  border: none;
  padding: 0;
  display: block;
}

.collapse.show {
  background-color: white !important;
}

.collapsing {
  background-color: white !important;
}

.access-styles .card {
  white-space: normal;
  word-wrap: normal;
}

#metadata-preview .justify-content-around{
  justify-content: space-between !important;
}

#metadata-preview .nav-link{
  padding: 5px;
}

// Remove this after fixing potential action style fix
#metadata-preview div[data-testid = 'preview-tab--potential-action'] tr{
  border: solid white;
  height: 18px;
  line-height: 10px;
}
#metadata-preview div[data-testid = 'preview-tab--potential-action'] tr td:first-child{
  border: solid white;
  width: 20px;
  white-space: nowrap;
}
#metadata-preview div[data-testid = 'preview-tab--potential-action'] td{
  border: solid white;

}