#collection-metadata-preview{
  max-width: 1725px;
  padding-right: 190px;
  padding-left: 20px;
  position: relative;
}

th{
  white-space: nowrap;
}

#spatial-information th{
  white-space: break-spaces;
}

#metadata-preview table{
  width: 100%;
  background: white;
}

#metadata-preview table tr:nth-child(2n+2) {
  background: white;
}

#metadata-preview table th {
  background: white;
  text-align: left;
  border: none
}

#metadata-preview table img {
  border: none;
  padding: 0;
  display: block;
}

.collapse.show {
  background-color: white !important;
}

.collapsing {
  background-color: white !important;
}

.access-styles .card {
  white-space: normal;
  word-wrap: normal;
}

#metadata-preview{
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1000px;
}

#metadata-preview > div > div > div > div.pr-n5.row > div > div > div.col-sm-3{
  width: 500px;
}

#metadata-preview > div > div > div > div.pr-n5.row > div > div > div.col-sm-9{
  width: 500px;
}
