/* ===================================================== *\
   Override Modifiers
\* ===================================================== */

.home {
  background-color: $light-grey;
}

.float-r {
  float: right;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.align-l {
  text-align: left;
}

.inline-header {
  display: inline-block;
}

// Icon color modifiers
.icon-green {
  color: $dark-green;
}

.icon-grey {
  color: $dolphin-grey;
}

.icon-red {
  color: $red;
}

// Content States
.disabled {
  opacity: 0.4;
}

.is-hidden {
  display: none;
}

.is-invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-white {
  background: $white;
}

// One-off Spacing

.space-bot {
  margin-bottom: 15px;
}

.space-top-5 {
  margin-top: 5px;
}

.space-top {
  margin-top: 15px;
}

.space-right {
  margin-right: 15px;
}

.no-padding {
  padding: 0;
}

.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w30 { width: 30%; }
.w40 { width: 40%; }
