/* ===================================================== *\
   Override Modifiers
\* ===================================================== */

.home {
  background-color: $light-grey;
}

.float-r {
  float: right;
}

.align-r {
  text-align: right;
}

.inline-header {
  display: inline-block;
}

// Icon color modifiers
.icon-green {
  color: $dark-green;
}

.icon-grey {
  color: $dolphin-grey;
}

.icon-red {
  color: $red;
}

// Content States
.disabled {
  opacity: 0.4;
}

.is-hidden {
  display: none;
}

// One-off Spacing

.space-bot {
  margin-bottom: 15px;
}

.space-top {
  margin-top: 5px;
}

.no-padding {
  padding: 0;
}
