// Fixes conflicts with react editor
#react-editor-form .sidebar_column {
  display: flex;
}
#react-editor-form .col-md-12 {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

#react-editor-form .col-md-6 {
  margin-left: 5px;
  padding-left: 0px !important;
}

#react-editor-form .col-md-4 {
  margin-left: 5px !important;
  padding-left: 0px !important;
}

#react-editor-form .col {
  margin-left: 0px;
  padding-left: 0px;
}

#react-editor-form .col-12 {
  margin-left: 0px;
  padding-left: 0px;
}

#react-editor-form .col-9 {
  padding-left: 5px;
}
#react-editor-form .col-sm-8 {
  padding-left: 0px;
  padding-right: 0px;
}
#react-editor-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
#react-editor-form-containter {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#react-editor-form .form-group.field.field-object {
  padding: 5px;
}
#react-editor-form fieldset {
  background-color: transparent;
  border-left: none;
}
// Fixes conflicts with other forms
.eui-callout-box .row {
  margin-left: 0px;
  margin-right: 0px;
}
section .umm-preview {
  margin-left: 40px;
  margin-right: 40px;
}
.col-6 {
  padding-left: 0px;
}
.row {
  margin-left: 0px;
}
#react-editor-form .row-content {
  box-shadow: none;
}

#react-editor-form .row {
  display: flex;
  flex-wrap: nowrap;
}

#react-editor-form #metadata-form {
  display: flex;
  flex-direction: column;
}
#react-editor-form .eui-required-o:before{
  float: none;
}
.collection-basics {
  margin-left: 20px;
}
.highlight {
  padding: 1.6em;
}
.internal fieldset {
  padding-left: 5px;
}
#search .quick-search #search-submit-button {
  width: auto;
}
.content {
  margin-left: auto !important;
  margin-right: auto !important;
}
