/* ===================================================== *\
   Override: Redactor Styles
\* ===================================================== */

.redactor-editor {
  min-height: 250px;
}

.redactor-toolbar {
  z-index: auto;
}
