/* ===================================================== *\
   Override: Select2 Styles
\* ===================================================== */

.select2-container--default {
  margin: 0.3em 0;

  .select2-selection {
    border-radius: 0;
  }
}

// Styles to make single-select fields match other single-line input fields
.select2-container .select2-selection--single {
  height: 38px;

  .select2-selection__rendered {
    line-height: 36px;
  }

  .select2-selection__arrow {
    height: 38px;
  }
}
