.tablesorter {
  .filtered {
    display: none;
  }

  tr {
    /* override the eui alternating row colors in favor of jquery sortable zebra widget */
    &:nth-child(2n+2) { background: none; }

    &.tablesorter-filter-row {
      background-color: #f1f1f1;
    }

    &.even {
      background: #f1f1f1;
    }
  }


  td {
    .tablesorter-filter {
      width: 100%;
      box-sizing: border-box;
      padding: 5px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &.disabled {
        display: none;
      }
    }
  }
}

.reset-filters {
  outline: none;
}
