@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.custom-widget-wrapper {
  &__label {
    color: $gray-800;
    font-weight: 600;
    font-size: 0.925rem;
  }

  &__help {
    position: relative;
    right: -0.125rem;
    padding: 0.0625rem 0.25rem;
    border: 0;
    border-radius: 0.125rem;
    margin: 0;
    background-color: transparent;
  }
}
