---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=58732ce072d1ecb9b24d&description=Perferendis%20tempora%20natus%20pariatur.&tag=MMT_2
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c8b8c0dfdabda3d87c0859596b447e1b"
    body:
      encoding: UTF-8
      string: '{"name":"58732ce072d1ecb9b24d","app_uid":"mmt_test","description":"Perferendis
        tempora natus pariatur.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2"}'
  recorded_at: Fri, 29 Jul 2022 19:17:56 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/58732ce072d1ecb9b24d?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b9e83d08fbfd2e5990137fdb7e294399"
    body:
      encoding: UTF-8
      string: '{"app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ","name":"58732ce072d1ecb9b24d","description":"Perferendis
        tempora natus pariatur.","shared_user_group":false,"created_by":"mmt_test","tag":"MMT_2"}'
  recorded_at: Fri, 29 Jul 2022 19:17:57 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/58732ce072d1ecb9b24d?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Fri, 29 Jul 2022 19:17:57 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/search?name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d96628f2f70d90749ed492f617a47638"
    body:
      encoding: UTF-8
      string: '[{"name":"Io","description":"Corrupti ut ut porro."[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/Io?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group"}'
  recorded_at: Fri, 29 Jul 2022 19:17:58 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/AG1200212919-MMT_2?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"13a81838e4889e7d07a79b32ce2e9334"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"echo_sys","first_name":"ECHO","last_name":"SYSTEM","email_address":"testbedops@echo.nasa.gov"},{"uid":"rosy.cordova","first_name":"rosy","last_name":"cordova","email_address":"rosy.m.cordova@nasa.gov"},{"uid":"bademilu","first_name":"bryant","last_name":"ademiluyi","email_address":"
        bryant.ademiluyi@nasa.gov"},{"uid":"francell","first_name":"Willard","last_name":"Gray","email_address":"willard.f.gray@nasa.gov"},{"uid":"francell_test_2","first_name":"W
        Francell","last_name":"Gray","email_address":"francellgray@gmail.com"},{"uid":"tstevens","first[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/my_test_2?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group"}'
  recorded_at: Fri, 29 Jul 2022 19:17:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/Rhea?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group"}'
  recorded_at: Fri, 29 Jul 2022 19:17:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/Hyades?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid user group"}'
  recorded_at: Fri, 29 Jul 2022 19:17:59 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/06570fe0a8fe6863d55b?tag=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Fri, 29 Jul 2022 19:19:59 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b19dcd4290de7e68f34a0b8239c557f"
    body:
      encoding: UTF-8
      string: '{"access_token":"eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfc2l0IiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiQ2xpZW50IiwiY2xpZW50X2lkIjoiODFGRWVtOTFObFRRcmVXdjJVZ3RYUSIsImV4cCI6MTY2MDQxODUxOSwiaWF0IjoxNjU5MTIyNTE5LCJpc3MiOiJFYXJ0aGRhdGEgTG9naW4ifQ.RCD6Q2vq_-RR1R535PgS2U3IRYg1d9eIiZrWHgW6WSuEzwB0ic9r68WoyNQ4ZEn7xz0QJVZJh6ub9bxdQB3aLsHO8AZQl4GZJgemiDBPMLd7D1OIB9P7FM3FgSxPTma_BdVz9SpfAgh0WAUvwzWnJbVk87Xc0GAvUM_AozVNMVhGqGZztuPbnDan94MqjV2Si76dWmwEisSGfCo3R6afd9sBx4AviZjszmckEsknYus4EtkgJQHbizGAfXuh2_2wZM8ciwMA7hFTmBpzAbf8Ywjy5kJDboLJdhPGlIj0xMlTyAnzrUb4U5eDbRrb59kt55uNXt35z4bRvsKSQlltQg","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Fri, 29 Jul 2022 19:21:58 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/?tag=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer realm="Earthdata Login",error="invalid_token"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token"}'
  recorded_at: Wed, 03 Aug 2022 21:16:30 GMT
recorded_with: VCR 6.1.0
