---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic bW10X3Rlc3Q6Q0xQVHhSUTloZ3ZQOW9zUA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ca1f435f2e67e449638b48a711f58aac"
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":1296000}'
  recorded_at: Thu, 13 Oct 2022 20:03:35 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups
    body:
      encoding: UTF-8
      string: name=58732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666dee&description=Est%20molestiae%20sed%20eaque.&tag=CMR
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"291e9ee3db75da3a1527e5e2ef0adc84"
    body:
      encoding: UTF-8
      string: '{"name":"58732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666dee","app_uid":"mmt_test","description":"Est
        molestiae sed eaque.","client_id":"81FEem91NlTQreWv2UgtXQ","shared_user_group":false,"created_by":"mmt_test","tag":"CMR","group_id":"170d5872-5e44-46c8-9d7a-aa7ab663319c"}'
  recorded_at: Thu, 13 Oct 2022 20:03:36 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/170d5872-5e44-46c8-9d7a-aa7ab663319c/user
    body:
      encoding: UTF-8
      string: user_id=admin
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Thu, 13 Oct 2022 20:03:36 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/170d5872-5e44-46c8-9d7a-aa7ab663319c/user
    body:
      encoding: UTF-8
      string: user_id=adminuser
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Invalid username"}'
  recorded_at: Thu, 13 Oct 2022 20:03:36 GMT
recorded_with: VCR 6.1.0
