---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/calendar_events.json?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message: 
    headers:
      x-echo-feed-author:
      - ECHO Operations & Data Provider User Services
      x-echo-feed-title:
      - All Provider Events
      etag:
      - '"51bde733d66bbd9e9d92d07b9b50510e"'
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"calendar_event":{"end_date":"2011-07-27T21:00:00Z","id":"C4F4241B-5495-92DA-C600-3282025E1F0A","message":"<p>Regularly
        scheduled maintenance of the systems at NSIDC will prevent the distribution
        of AMSR-E, <span class=\"wikiword\">IceBridge</span>, <span class=\"wikiword\">ICESat</span>/GLAS,   MODIS,
        and NISE data holdings.  During this downtime period,  retrieving  data will
        not be possible.  We apologize for any  inconvenience that  this may cause.  Please
        contact NSIDC User Services  at nsidc@nsidc.org if you  have any questions.</p>","owner_provider_id":"248ED694-06AA-7DF0-E269-640DE00B628E","severity":"ALERT","start_date":"2011-07-27T15:00:00Z","title":"NSIDC
        scheduled downtime"}},{"calendar_event":{"end_date":"2011-07-21T12:00:00Z","id":"7B935536-46A7-639C-31C7-09E953E364E4","message":"<p>Testing
        ability of Reverb to pick up new events</p>","owner_provider_id":"AC2B72A7-A370-C545-038D-F4A53B77CACE","severity":"ALERT","start_date":"2011-07-18T12:00:00Z","title":"Operations
        Testing of NCR"}},{"calendar_event":{"end_date":"2014-04-02T16:00:00Z","id":"405EBF8F-8A76-18A7-871B-3F31A2CC0FA9","message":"<p>Misc
        OS patching will see an outage of ECHO-hosted browse access. All other services
        will remain operational</p>","severity":"ALERT","start_date":"2014-04-02T12:00:00Z","title":"Degraded
        Service"}},{"calendar_event":{"end_date":"2011-07-13T20:00:00Z","id":"6140CEAC-A3AC-484A-7DBE-07B3C2FEB801","message":"<p>ingest
        will be unavailable</p>","owner_provider_id":"AC2B72A7-A370-C545-038D-F4A53B77CACE","severity":"ALERT","start_date":"2011-07-12T09:00:00Z","title":"testing
        ncr"}},{"calendar_event":{"end_date":"2015-08-12T16:00:00Z","id":"3FB16900-5025-24CE-CD3B-79F1530D0443","message":"<p>OS
        patching will cause an outage of Test Bed.</p>","severity":"ALERT","start_date":"2015-08-12T12:00:00Z","title":"ECHO
        Outage"}}]'
  recorded_at: Tue, 18 Aug 2015 16:03:05 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/AuthenticationServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderContextToken
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:clientInfo><ns3:ClientId>MMT</ns3:ClientId><ns3:UserIpAddress/></ns2:clientInfo><ns2:behalfOfProvider>MMT_2</ns2:behalfOfProvider></ns2:GetProviderContextToken><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetProviderContextTokenResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result>access_token</ns3:result></ns3:GetProviderContextTokenResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 15 Nov 2016 14:40:33 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token
    body:
      encoding: US-ASCII
      string: 'grant_type=client_credentials'
    headers:
      Authorization:
      - Basic authorization==
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"55070640ba17db7ac5b873164c11ba1b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 07 Mar 2016 20:02:38 GMT
recorded_with: VCR 2.9.3
