<% if bulk_update['update-type'] == 'FIND_AND_REMOVE' || bulk_update['update-type'] == 'FIND_AND_REPLACE' %>
  <div class="find-values-preview">
    <!-- Find Value -->
    <%= display_value_title(bulk_update['update-type'], 'find') %>

    <%= display_science_keyword(bulk_update['find-value']) %>
  </div>
<% end %>

<% unless bulk_update['update-type'] == 'FIND_AND_REMOVE' %>
  <div class="new-values-preview">
    <!-- Update Value -->
    <%= display_value_title(bulk_update['update-type'], 'new') %>

    <%= display_science_keyword(bulk_update['update-value']) %>
  </div>
<% end %>
