.element {
  border-left: solid 6px rgb(240, 240, 240);
  border-bottom: solid 2px rgb(240, 240, 240);
  margin-bottom: 15px;
  padding-left: 15px;
  /* background-color: rgb(240, 240, 240); */
}

.remove-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -12px;
  padding-bottom: 15px
}

.remove-title {
  height: 14px
}

.remove-label {
  color: red;
  font-weight: 'bold'
}

.remove-button {
  color: red
}

.add-header {
  margin-bottom: 15px;
}

.add-button {
  color: rgb(31, 107, 162);
  margin-left: -12px;
}

.add-label {
  color: rgb(31, 107, 162);
  font-weight: bold
}