@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.header {
  &__brand-earthdata {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
  }

  &__navbar-collapse {
    @include media-breakpoint-up(md) {
      max-width: 30rem;
      margin-left: 7rem;
    }
  }
}