@import '../../../css/vendor/bootstrap/variables';

.header {
  &__brand-earthdata {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;

    @include media-breakpoint-up(md) {
      font-size: 0.925rem;
    }
  }

  &__navbar-collapse {
    @include media-breakpoint-up(md) {
      max-width: 30rem;
      margin-left: 7rem;
    }
  }

  &__dropdown-button-title {
    overflow: hidden;
    width: 0;
    height: 0;
    text-indent: -9999px;
  }

  &__user-info {
    font-size: 0.75rem;
  }
}
