// @import '../../../css/vendor/bootstrap/variables';

.metadata-form {
  &__container {
    .eui-icon {
      font-size: 1rem;
      vertical-align: baseline;
    }
  }
}

/** CSS to removes up/down arrows when input type=number */

/* Chrome, Safari, Edge, Opera */
[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;

}