// @import '../../../css/vendor/bootstrap/variables';

.metadata-form {
  &__container {
    .eui-icon {
      font-size: 1rem;
      vertical-align: baseline;
    }
  }
}

/** SCSS to removes up/down arrows when input type=number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
