// @import '../../../css/vendor/bootstrap/variables';

.metadata-form {
  &__container {
    .eui-icon {
      font-size: 1rem;
      vertical-align: baseline;
    }
  }
}

[type="number"]::-webkit-outer-spin-button,
[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}