---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:SetCatalogItemOptionDefinitionsDeprecated
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>848DA05B-51A2-1F3D-6783-6C27E5EA74B4</ns3:Item></ns2:optionGuids></ns2:SetCatalogItemOptionDefinitionsDeprecated><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 500
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Option
        definition [848DA05B-51A2-1F3D-6783-6C27E5EA74B4] is already deprecated</faultstring><detail><ns4:InvalidStateFault
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>OptionDefAlreadyDeprecated</ns4:ErrorCode><ns4:OpsMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Option
        definition [848DA05B-51A2-1F3D-6783-6C27E5EA74B4] is already deprecated</ns4:SystemMessage><ns4:Timestamp>2016-12-01T18:21:07.782Z</ns4:Timestamp><ns4:ErrorInstanceId>46BB648D-8B10-5A05-952D-3B09C298D93C</ns4:ErrorInstanceId><ns4:ObjectName>OptionDefinition
        [848DA05B-51A2-1F3D-6783-6C27E5EA74B4].Deprecated</ns4:ObjectName><ns4:ObjectState>True</ns4:ObjectState></ns4:InvalidStateFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Thu, 01 Dec 2016 18:21:07 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"1001","sort_key":"AAA","scope":"PROVIDER","description":"test","form":"\u003cform
        xmlns=\"http://echo.nasa.gov/v9/echoforms\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        targetNamespace=\"http://myorganization.gov/echoforms\"\u003e\r\n      \u003cmodel\u003e\r\n        \u003cinstance\u003e\r\n          \u003cprov:options
        xmlns:prov=\"http://myorganization.gov/orderoptions\"\u003e\r\n            \u003cprov:filename\u003edata.txt\u003c/prov:filename\u003e\r\n            \u003cprov:filesize\u003e10\u003c/prov:filesize\u003e\r\n          \u0[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions/848DA05B-51A2-1F3D-6783-6C27E5EA74B4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '"e08b75eb62742c9fed0b1b0c7ca36d80"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <option_definition>
          <id>848DA05B-51A2-1F3D-6783-6C27E5EA74B4</id>
          <name>1001</name>
          <scope type="string">PROVIDER</scope>
          <description>test</description>
          <last_update type="datetime">2016-11-22T13:16:58Z</last_update>
          <deprecated type="boolean">true</deprecated>
          <form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
       [...]
