---
http_interactions:
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option James-2","scope":"PROVIDER","description":"Test
        Order Option Definition Description","form":"\u003cform\u003ewhat\u003c/form\u003e"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<errors><error>ECHO Form is not valid [[Line: -1, Column: -1] cvc-elt.1:
        Cannot find the declaration of element 'form'.]</error></errors>"
  recorded_at: Fri, 11 Nov 2016 19:33:43 GMT
recorded_with: VCR 3.0.1
