---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/AuthenticationServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetProviderContextToken
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:clientInfo><ns3:ClientId>MMT</ns3:ClientId><ns3:UserIpAddress/></ns2:clientInfo><ns2:behalfOfProvider>MMT_2</ns2:behalfOfProvider></ns2:GetProviderContextToken><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetProviderContextTokenResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result>access_token</ns3:result></ns3:GetProviderContextTokenResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Tue, 15 Nov 2016 14:40:32 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option ABC-1","scope":"PROVIDER","description":"Test
        Order Option Definition Description","form":"\u003cform\u003ewhat\u003c/form\u003e"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<errors><error>ECHO Form is not valid [[Line: -1, Column: -1] cvc-elt.1:
        Cannot find the declaration of element 'form'.]</error></errors>"
  recorded_at: Tue, 15 Nov 2016 14:40:32 GMT
recorded_with: VCR 3.0.1
