---
http_interactions:
- request:
    method: delete
    uri: https://testbed.echo.nasa.gov/echo-rest/option_definitions/C7EB886C-5790-76E0-0E51-D2CFD6985AC6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<errors><error>Cannot remove the option definition because there are
        catalog items assigned to it. Assigned catalog item guids [C1200056652-MMT_2,C1200060160-MMT_2]
        guid: [C7EB886C-5790-76E0-0E51-D2CFD6985AC6]</error></errors>"
  recorded_at: Tue, 20 Dec 2016 22:15:08 GMT
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetCatalogItemOptionDefinitions2
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids
        xsi:nil="true"/></ns2:GetCatalogItemOptionDefinitions2><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns3:GetCatalogItemOptionDefinitions2Response xmlns:ns2="http://echo.nasa.gov/echo/v10/types" xmlns:ns3="http://echo.nasa.gov/echo/v10" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns3:result><ns2:Item><ns2:Guid>56199BF0-72E3-6537-9752-3592462B7AE3</ns2:Guid><ns2:Name>Opt A02</ns2:Name><ns2:Scope>PROVIDER</ns2:Scope><ns2:Deprecated>false</ns2:Deprecated><ns2:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
          &lt;model&gt;
            &lt;instance&gt;
              &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
              &lt;/prov:options&gt;
            &lt;/instance&gt;
          &lt;/model&gt;
          &lt;ui&gt;
            &lt;input label="File Name" ref="prov:filename" type="xsd:string"&gt;
              &lt;constraints&gt;
                &lt;constraint&gt;
                  &lt;xpath&gt;string-length(prov:filename) &amp;lt; 25&lt;/xpath&gt;
                  &lt;alert&gt;File names must be less than 25 characters&lt;/alert&gt;
                &lt;/constraint&gt;
                &lt;constraint&gt;
                  &lt;pattern&gt;^[A-Za-z]+[A-Za-z0-9]*\.?[A-Za-z0-9]*$&lt;/pattern&gt;
                  &lt;alert&gt;
                    File names must start with a letter and
                    not contain illegal characters
                  &lt;/alert&gt;
                &lt;/constraint&gt;
              &lt;/constraints&gt;
            &lt;/input&gt;
            &lt;range end="1000" label="File Size (MB)" ref="prov:filesize" start="0" step="10" type="xsd:int"&gt;
            &lt;/range&gt;
          &lt;/ui&gt;
        &lt;/form&gt;</ns2:Form><ns2:Description>sdafasdfadfs</ns2:Description><ns2:LastUpdate>2016-05-31T09:20:00.043Z</ns2:LastUpdate></ns2:Item><ns2:Item><ns2:Guid>930D19CF-B93F-8388-40D6-F601357CF344</ns2:Guid><ns2:Name>Opt A07</ns2:Name><ns2:Scope>PROVIDER</ns2:Scope><ns2:Deprecated>false</ns2:Deprecated><ns2:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
          &lt;model&gt;
            &lt;instance&gt;
              &lt;prov:options xmlns:prov="http://myorganization.go[...]
