---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:SetCatalogItemOptionDefinitionsDeprecated
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>3F3BCE87-CEBA-9852-E20A-16A91989CEEC</ns3:Item></ns2:optionGuids></ns2:SetCatalogItemOptionDefinitionsDeprecated><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:SetCatalogItemOptionDefinitionsDeprecatedResponse
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"/></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 23 Nov 2016 16:12:26 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option ABC-1","scope":"PROVIDER","description":"Test
        Order Option Definition Description","form":"\u003cform xmlns=\"http://echo.nasa.gov/v9/echoforms\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://myorganization.gov/echoforms\"\u003e\r\n      \u003cmodel\u003e\r\n        \u003cinstance\u003e\r\n          \u003cprov:options
        xmlns:prov=\"http://myorganization.gov/orderoptions\"\u003e\r\n            \u003cprov:filename\u003edata.txt\u003c/prov:filename\u003e\r\n            \u003cprov:filesize\u003e10\u003c/prov:filesize\u003e\r\n          \u003c/prov[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions/3F3BCE87-CEBA-9852-E20A-16A91989CEEC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - acess_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '"734c03b327ee6aabbdb4f88706657c0f"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <option_definition>
          <id>3F3BCE87-CEBA-9852-E20A-16A91989CEEC</id>
          <name>Test Order Option ABC-1</name>
          <scope type="string">PROVIDER</scope>
          <description>Test Order Option Definition Description</description>
          <last_update type="datetime">2016-11-23T11:12:26Z</last_update>
          <deprecated type="boolean">true</deprecated>
          <form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
       [...]
