---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions/3F3BCE87-CEBA-9852-E20A-16A91989CEEC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '"26c92c03af8253c4432c2b3b74a3e5fe"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <option_definition>
          <id>3F3BCE87-CEBA-9852-E20A-16A91989CEEC</id>
          <name>Test Order Option ABC-1</name>
          <scope type="string">PROVIDER</scope>
          <description>Test Order Option Definition Description</description>
          <last_update type="datetime">2016-11-15T09:40:33Z</last_update>
          <deprecated type="boolean">false</deprecated>
          <form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
                  &lt;/prov:options&gt;
                [...]
