---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:SetCatalogItemOptionDefinitionsDeprecated
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>3F3BCE87-CEBA-9852-E20A-16A91989CEEC</ns3:Item></ns2:optionGuids></ns2:SetCatalogItemOptionDefinitionsDeprecated><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 500
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><SOAP-ENV:Fault><faultcode>SOAP-ENV:Client</faultcode><faultstring>Option
        definition [3F3BCE87-CEBA-9852-E20A-16A91989CEEC] is already deprecated</faultstring><detail><ns4:InvalidStateFault
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns4:ErrorCode>OptionDefAlreadyDeprecated</ns4:ErrorCode><ns4:OpsMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns4:SystemMessage>Option
        definition [3F3BCE87-CEBA-9852-E20A-16A91989CEEC] is already deprecated</ns4:SystemMessage><ns4:Timestamp>2016-11-23T16:20:02.009Z</ns4:Timestamp><ns4:ErrorInstanceId>9A1F3A95-76AB-CDB9-81FD-A53C191B4C22</ns4:ErrorInstanceId><ns4:ObjectName>OptionDefinition
        [3F3BCE87-CEBA-9852-E20A-16A91989CEEC].Deprecated</ns4:ObjectName><ns4:ObjectState>True</ns4:ObjectState></ns4:InvalidStateFault></detail></SOAP-ENV:Fault></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 23 Nov 2016 16:20:02 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option ABC-1 V2","scope":"PROVIDER","description":"Updated
        Test Order Option Definition Description","form":"\u003cform xmlns=\"http://echo.nasa.gov/v9/echoforms\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://myorganization.gov/echoforms\"\u003e\r\n      \u003cmodel\u003e\r\n        \u003cinstance\u003e\r\n          \u003cprov:options
        xmlns:prov=\"http://myorganization.gov/orderoptions\"\u003e\r\n            \u003cprov:filename\u003edata.txt\u003c/prov:filename\u003e\r\n            \u003cprov:filesize\u003e10\u003c/prov:filesize\u003e\r\n          \u003c/prov[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/option_definitions/B8F5E94F-A1D5-6229-F898-8C756F979D43
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      etag:
      - '"9fd33d22f03c34933ffae79b7d738ad2"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <option_definition>
          <id>B8F5E94F-A1D5-6229-F898-8C756F979D43</id>
          <name>Test Order Option ABC-1 V2</name>
          <scope type="string">PROVIDER</scope>
          <description>Updated Test Order Option Definition Description</description>
          <last_update type="datetime">2016-11-23T11:20:02Z</last_update>
          <deprecated type="boolean">false</deprecated>
          <form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
      [...]
