<div id="approve-submission-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <p>Are you sure you want to approve this proposal for <%= get_resource.request_type == 'delete' ? 'deletion' : 'publication'%>?</p>
  <p>
    <a href="javascript:void(0)" class="eui-btn modal-close">No</a>
    <%= link_to 'Yes', approve_collection_draft_proposal_path(get_resource), class: 'eui-btn--blue spinner' %>
  </p>
</div>
