<div id="invalid-proposal-modal" class="eui-modal-content">
  <p>This proposal is not ready to be submitted. Please use the progress indicators on the proposal preview page to address incomplete or invalid fields.</p>
  <p>
    <a href="javascript:void(0)" class="eui-btn modal-close">Ok</a>
  </p>
</div>
