<div class="timeline-content">
  <% if active %>
    <p class="timeline-stage"><%= stage %><p>
  <% else %>
    <p class="timeline-stage-inactive"><%= stage %><p>
  <% end %>
  <p class="timeline-information"><%= information %>&nbsp</p>
</div>
