<div id="rejection-reasons-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>

  <p><strong>Reason(s): </strong><%= rejection_reasons.to_sentence %></p>

  <p><strong>Note: </strong><%= rejection_note %></p>

  <p><a href="javascript:void(0)" class="eui-btn modal-close">Done</a></p>
</div>
