<fieldset class="no-bg">
  <div class="row">
    <legend class="space-bot-sm">Add Members to Group</legend>
  </div>
  <label for="filter-members" class="disabled">Filter Members</label>
  <input type="text" id="filter-members" class="w30 disabled" placeholder="Enter user name" disabled/>
  <div class="dual-select">
    <div class="dual-select__menu">
      <%= label_tag('members_directory') %>
      <%= select_tag 'members_directory', options_for_user_select(@users_options), multiple: true %>
    </div>
    <div class="dual-select__actions">
      <button id="add-members" class="btn btn-default">
        Add Member(s)
        <span class="icon-circle-right"></span>
      </button>
      <button id="remove-members" class="btn btn-default">
        <span class="icon-circle-left"></span>
        Remove Member(s)
      </button>
    </div>
    <div class="dual-select__menu">
      <%= label_tag('selected_members') %>
      <%= select_tag 'selected_members', options_for_user_select(@selected_users), multiple: true %>
    </select>
    </div>
  </div>
</fieldset>
