<main class="internal" role="main">
  <div class="grid-row row-content invitation-confirmation">
    <section>
      <h2>Invitation Accepted</h2>
      <p>
        Thank you for accepting this invitation. Group managers will now be able to add you to groups.
      </p>
      <% if @added %>
        <p>
          You have been added to the group <%= @invite.group_name %> in <%= @invite.provider %>
        </p>
      <% end %>
    </section>
  </div>
</main>
