<div class="row row-content">
  <section>
    <h2>
      Edit <%= @group.fetch('name') %>
      <% if check_if_system_group?(@group, @concept_id) %>
      <small><span class="eui-badge--sm">SYS</span></small>
      <% end %>
    </h2>

    <%= form_tag(group_path(@concept_id), method: :put, class: 'group-form') do %>
      <%= render 'form' %>
    <% end %>

    <%= render 'invite_form' %>
  </section>
</div>