<div class="urs-association">
  <div class="grid_row row-content">
    <div class="content">
      <section>
        <fieldset>
          <h2>Redirecting to Earthdata Login</h2>
          <p>It appears you do not have a Earthdata Login account linked with your Launchpad account. MMT and CMR permissions (ACLs) are based on your Earthdata Login account. Please click the button below to log in to the Earthdata Login account you listed on your NAMS request and would like to associate with your Launchpad account.</p>

          <%= link_to 'Earthdata Login', cmr_client.urs_login_path(associate: true), class: 'eui-btn--blue' %>
        </fieldset>
      </section>
    </div>
  </div>
</div>
