.navigation-item-error {
  &__item {
    // width: 330px;
    // padding: 0;
    // border: none;
    // margin: 0;
    // // background-color: #ebf2f6;
    // background-color: var(--bs-secondary);
    // font-size: 17px;

    &--isFocused {
      // background-color: #f5f5f5;
      background-color: var(--bs-light);
    }
  }

  &__icon {
    padding-right: 1rem;

    &--not-started {
      color: var(--bs-gray);
    }

    &--error {
      color: var(--bs-danger);
    }

    &--pass {
      color: var(--bs-green);
    }
  }
}
