@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';


.navigation-item-error {
  &__item {
    background-color: transparent;
    color: $gray-700;

    &--isFocused {
      background-color: transparent;
    }

    &:hover {
      color: $gray-900;
    }
  }

  &__icon {
    // padding-right: 1rem;

    &--not-started {
      color: var(--bs-gray);
    }

    &--error {
      color: var(--bs-danger);
    }

    &--pass {
      color: var(--bs-green);
    }
  }
}
