---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 3872e074-567d-49be-9343-add394e86004
    body:
      encoding: UTF-8
      string: '{"hits":24,"took":29,"items":[{"meta":{"revision-id":6,"deleted":false,"provider-id":"MMT_2","user-id":"legacy_migration","associations":{"collections":["C1200056652-MMT_2","C1200212313-MMT_2"]},
      "native-id":"F84AFA0C-8261-6433-493E-D78759D8E3FE","association-details":{"collections":[{"concept-id":"C1200056652-MMT_2"},{"concept-id":"C1200212313-MMT_2"}]},
      "concept-id":"DQS1200454299-MMT_2","revision-date":"2023-02-07T02:44:31.383Z","concept-type":"data-quality-summary"},"umm":{"Id":"F84AFA0C-8261-6433-493E-D78759D8E3FE","Name":"ABC-DQS-1",
      "Summary":"\u003cp\u003eABC XYZ 123\u003c/p\u003e","MetadataSpecification":{"Name":"Data Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}},
      {"meta":{"revision-id":6,"deleted":false,"provider-id":"MMT_2","user-id":"legacy_migration","associations":{"collections":["C1200361053-MMT_2"]},"native-id":"036B896D-C4AE-E3C7-7682-30D107BD0350",
      "association-details":{"collections":[{"concept-id":"C1200361053-MMT_2"}]},"concept-id":"DQS1200454301-MMT_2","revision-date":"2023-02-07T02:44:32.523Z","concept-type":"data-quality-summary"},
      "umm":{"Id":"036B896D-C4AE-E3C7-7682-30D107BD0350","Name":"bbb test","Summary":"\u003cp\u003ebbb summary\u003c/p\u003e","MetadataSpecification":{"Name":"Data Quality Summary","Version":"1.0.0",
      "URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}
      ]}'
  recorded_at: Fri, 03 Mar 2023 15:45:02 GMT
recorded_with: VCR 6.1.0
