---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?concept_id=DQS1200454289-MMT_1&page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a3e0e8ca-4d54-4dfc-adc0-2ee3252b7da2
    body:
      encoding: UTF-8
      string: '
      {
        "hits": 1,
        "took": 17,
        "items": [
            {
                "meta": {
                    "revision-id": 1,
                    "deleted": false,
                    "provider-id": "PROV1",
                    "user-id": "exampleuser",
                    "native-id": "samplenativeid12",
                    "concept-id": "DQS1200454289-MMT_1",
                    "revision-date": "2022-10-26T19:17:27.021Z",
                    "concept-type": "data-quality-summary"
                },
                "umm": {
                    "Id": "8EA5CA1F-E339-8065-26D7-53B64074D7CC",
                    "Name": "data-quality-summary-name-v22",
                    "Summary": "Summary",
                    "MetadataSpecification": {
                        "Name": "Data Quality Summary",
                        "Version": "1.0.0",
                        "URL": "https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"
                    }
                }
            }
        ]
    }
      '
  recorded_at: Thu, 02 Mar 2023 22:25:18 GMT
[...]
