/* ===================================================== *\
   Elements
\* ===================================================== */

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $white;
}

hr {
  border: 1px solid $dolphin-grey;
}

img {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.1em;
}
