/* ===================================================== *\
   Elements
\* ===================================================== */

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $white;
  font-size: 0.9em;
}

table {
  margin: 0.5em 0;
}

hr {
  border: 1px solid $dolphin-grey;
}

img {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 1.1em;
}

label {
  font-weight: bold;
  color: #617374;
  display: inline-block;
}

pre {
  white-space: pre-wrap;
}

// Make room for tophat2 to be added after page load
#earthdata-tophat2 {
  height: 32px;
}
