/* ===================================================== *\
   Form
\* ===================================================== */

input {
  &[type="date"] {
    padding: 0;
    width: 100%;
  }

  &[type="text"] {
    color: lighten($black, 10%);
  }

  &[type="submit"] {
    color: $white;
  }
}

fieldset {
  background: lighten($light-grey, 3%);
  border-left: 2px solid darken($light-grey, 10%);
  padding: 0;
  margin-bottom: 0.5em;
  transition: all 0.25s ease-in-out;

  &:hover {
    border-color: $ocean-blue;
  }
}

.internal fieldset {
  padding: 1em;
}

select {
  color: $black;
  width: 100% !important;
}

textarea {
  height: 6em;
}

.textarea-tall {
  height: 15em;
}

.redactor-box {
  // Match the textarea margin
  margin: 0.3em 0 !important;
}

span.radio-group {
  padding-right: 20px;
}

.validation-error:before {
  content: "\f071"; 
  font-family: FontAwesome;
  padding-right: 5px;
}
