/* Headings
------------------------------------------*/

h2 {
  line-height: 1.231em;
}

h4 {
  color: $black;
  font-weight: bold;
}

/* Sub-Headings
------------------------------------------*/

.subtitle {
  text-transform: uppercase;
  padding-bottom: 0.625em;
  font-weight: bold;

  &.current {
    border-bottom: 3px solid $red;
  }

  a:link, a:visited {
    color: #fff;
    padding-bottom: 0.625em;

    &:hover {
      border-bottom: 3px solid $red;
    }
  }
}

/* Form Headings
------------------------------------------*/
fieldset {
  h3 {
    margin: 0 0 1em 0;
    color: $midnight-blue;
  }
}
