<div id="download-xml-modal">
  <div>
    <h4>Download Metadata</h4>
    <p>Available Formats:</p>
    <p>
      <% download_xml_options.each do |download_option| %>
        <%= ' | ' unless download_option == download_xml_options.first %>
        <%= render_collection_download_xml_link(download_option[:format], download_option[:title], concept_id, revision_id) %>
      <% end %>
    </p>
  </div>
  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>
