<div id="download-xml-modal">
  <div>
    <h4>Download XML</h4>
    <p>Available Metadata Formats:</p>
    <p>
      <% if collection %>
        <a id="native" href="#" target="_blank">Native</a> |
        <a id="atom" href="#" target="_blank">ATOM</a> |
        <a id="dif" href="#" target="_blank">DIF 9</a> |
        <a id="dif10" href="#" target="_blank">DIF 10</a> |
        <a id="echo10" href="#" target="_blank">ECHO 10</a> |
        <a id="iso" href="#" target="_blank">ISO 19115 (MENDS)</a> |
        <a id="iso_smap" href="#" target="_blank">ISO 19115 (SMAP)</a>
      <% else %>
        <a id="dif" href="#" target="_blank">DIF 9</a> |
        <a id="dif10" href="#" target="_blank">DIF 10</a> |
        <a id="echo10" href="#" target="_blank">ECHO 10</a> |
        <a id="iso19115" href="#" target="_blank">ISO 19115 (MENDS)</a> |
        <a id="iso_smap" href="#" target="_blank">ISO 19115 (SMAP)</a>
      <% end %>
    </p>
  </div>
  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>
