<div id="download-xml-modal">
  <div>
    <h4>Download XML</h4>
    <p>Available Metadata Formats:</p>
    <p>
      <% CollectionsHelper::DOWNLOAD_XML_OPTIONS.each do |download_option| %>
        <%= ' | ' unless download_option == CollectionsHelper::DOWNLOAD_XML_OPTIONS.first %>
        <%= render_collection_download_xml_link(download_option[:format], download_option[:title], concept_id, revision_id) %>
      <% end %>
    </p>
  </div>
  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>
