<% flash.each do |type, message|
    if message == nil
      message = ''
    end
%>
  <div class="<%= flash_class(type) %> eui-banner__dismiss">
    <%= message.html_safe %>
    <a href="javascript:void(0)" class="eui-banner__dismiss" title="Dismiss message"><i class="eui-icon eui-fa-times-circle"></i></a>
  </div>
<% end %>
