<% flash.each do |type, message| %>
  <div class="eui-banner <%= flash_class(type) %>">
    <%= message.html_safe %>
    <a href="javascript:void(0)" class="eui-banner__dismis" title="Dismiss banner">
      <i class="eui-icon eui-fa-times-circle"></i>
    </a>
  </div>
<% end %>
