<% flash.each do |type, message| %>
  <div class="banner banner-dismissible <%= flash_class(type) %>">
    <%= message %>
    <a href="javascript:void(0)" class="dismiss" title="Dismiss message"><i class="ed-icon ed-fa-times-circle"></i></a>
  </div>
<% end %>
