<footer>
    <ul>
      <li><span class="version badge badge-sm">v 0.1.0</span></li>
      <li>NASA Official: Andrew Mitchel</li>
      <li><a href="http://www.nasa.gov/FOIA/index.html">FOIA</a></li>
      <li><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Privacy Policy</a></li>
      <li><a href="http://www.usa.gov/">USA.gov</a></li>
    </ul>
</footer>
