<footer role="contentinfo">
    <ul class="footer-links">
      <li><span class="version badge eui-badge--md">v <%= Rails.configuration.version %></span></li>
      <li>NASA Official: Stephen Berrick</li>
      <li><a href="http://www.nasa.gov/FOIA/index.html">FOIA</a></li>
      <li><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Privacy Policy</a></li>
      <li><a href="http://www.usa.gov/">USA.gov</a></li>
    </ul>
</footer>
