<header>

  <noscript>JAVASCRIPT MUST BE ENABLED FOR ADVANCED FUNCTIONS TO WORK</noscript>
  <div class="content">
    <div class="col-6">
      <div class="masthead-logo" id="masthead-logo">
        <a href="#">
          <h1>Metadata Management Tool (MMT)</h1>
          <span class="badge badge-sm daac">GESDISC</span>
        </a>
      </div>
      <section id="user-info">
        <p><strong>Rob Flores</strong></p>
        <a href="#">Logout</a>
        <a href="#">Account Settings</a>
      </section>
    </div>
    <div class="col-6 header-tools">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <button type="button" class="btn btn-blue">Earthdata Login</button>
      <% if !params[:controller].include? 'welcome'%>
          <section id="search">
            <form action="">
              <label for="search">Quick Find</label>
              <input type="text" name="entry_id_target" id="entry_id_target" placeholder="Enter Entry ID">
              <% if request.path.include? 'search/index' # TODO - There ought to be a better way...%>
                <button type="button" class="btn btn-blue" onclick="update_collection_search_input($('#entry_id_target').val(), 'entry_title', 1, true);return false;"><i class="fa fa-search"></i>Find</button>
              <% else %>
                  <!-- invoke the search page passing in the correct parameter -->
                <button type="button" class="btn btn-blue"
                        onclick="var target = $('#entry_id_target').val();location.href='<%= url_for(controller: 'search', action: 'index') %>?entry_id_target=' + target;return false;">
                  <i class="fa fa-search"></i>Find</button>
              <% end %>
            </form>

            <a href="#" class="full-search"><i class="fa fa-search"></i>Full Metadata Record Search</a>
          </section>
      <% end %>
    </div>
  </div>
</header>