<!-- Help Modal -->
<div id="help-modal">
  <a href="javascript:void(0);" class="modal-close float-r">
    <i class="fa fa-times"></i><span class="is-invisible">Close</span>
  </a>

  <div>
    <h4 class="title">Title</h4>
    <p class="description">Description</p>
  </div>

  <div>
    <h4>Validation</h4>
    <ul class="validations"></ul>
  </div>

  <div>
    <a class="help-url" href="javascript:void(0);" target="_blank">View More Information</a>
  </div>

  <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
</div>