<div>
  <% if current_user.available_providers.size > 1 %>
    <p>
      Please select your provider context. You can change your context at any point.
    </p>

    <p>
      <%= form_tag set_provider_path, method: 'post' do %>
        <%= select_tag 'select_provider', options_for_select(current_user.available_providers.unshift(['Select Provider', '']), current_user.provider_id), class: 'single-select' %>
      <% end %>
    </p>
  <% elsif current_user.available_providers.size == 1 %>
    <p>
      You only have one available provider, <%= current_user.provider_id %>
    </p>
  <% else %>
    <p>
      You do not have any available providers. Please contact your provider to have your permissions granted.
    </p>
  <% end %>

  <p>
    <%= link_to 'Refresh your available providers', 'javascript:void(0)', id: 'refresh-available-providers-link', class: 'refresh-providers spinner' %>
  </p>
</div>
