<% sidebar = local_assigns.fetch(:with_sidebar, nil) %>
<section class="<%= sidebar ? 'preview' : 'umm-preview' %> ">
  <% @preview.forms.each do |form| %>
    <%= form.render %>
  <% end %>
</section>
