<div class="grid-row row-content">
  <section>
    <h2>
    New <span class="provider-context"><%= current_user.provider_id %></span> Group
    <% if policy(:system_group).new? %>
      <small id="badge-container"><span class="eui-badge eui-badge--sm">SYS</span></small>
    <% end %>
    </h2>


    <%= form_tag(groups_path, method: :post, class: 'group-form') do %>
      <%= render 'form' %>
    <% end %>

    <%= render 'invite_form' if invite_users_enabled? %>
  </section>
</div>
