
<% if !metadata_lineages.blank? %>
  <h4><%= title %></h4>
  <div class="MetadataLineage">
    <% metadata_lineages.each_with_index do |metadata_lineage, index| %>
      <ul class='MetadataLineage-<%=index%>'>
        <%= render :partial=>'drafts/previews/types/metadata_lineage_type', :locals=>{metadata_lineage: metadata_lineage, index: index} %>
      </ul>
    </div>
  <% end %>
<% end %>

