<% if !organization_name.blank? %>
  <ul class="<%= name_to_class('OrganizationName')%>">
    <li>
      Organization
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ShortName', :hash_for_key=>organization_name} %>
      <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'LongName',   :hash_for_key=>organization_name} %>
    </li>
  </ul>
<% end %>
