<% if !organization_name.blank? %>
  <ul class="<%= name_to_class('OrganizationName')%>">
    <h4>Organization</h4>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'ShortName', :hash_for_key=>organization_name} %>
    <%= render :partial=>'drafts/previews/fields/display_field_line', :locals=>{:key_name=>'LongName',   :hash_for_key=>organization_name} %>
  </ul>
<% end %>
