<ul class="<%= name_to_class('RelatedUrl')%>-<%=index%>">
  <li>
    Related URL <%= index + 1 %>

    <%= render :partial=>'drafts/previews/fields/related_url_fields', :locals=>{:related_url=>related_url} %>

  </li>
</ul>
