
<% if !responsibilities.blank? %>
  <h4><%= title %></h4>
  <div class="Responsibility">
    <% responsibilities.each_with_index do |responsibility, index| %>
      <ul class='Responsibility-<%=index%>'>
        <%= render :partial=>'drafts/previews/types/responsibility_type', :locals=>{responsibility: responsibility, index: index} %>
      </ul>
    <% end %>
  </div>
<% end %>