<section class="collection-association">
  <h3 class="inline-header">Collection Association</h3><a href="#collection-association-legend" class="display-modal"><i class="eui-icon eui-fa-info-circle legend-link"></i> <span class="is-invisible">Progress Legend</span></a>

  <ul class="progress-indicator">
    <li id="collection-association-progress">
      <div class="status">
        <%= single_form_circle('Collection Association', get_resource['collection_concept_id'].present?) %>
      </div>
      <div class="meta-info">
        <%= link_to 'Collection Association', collection_search_variable_draft_path(get_resource) %>
        <div class="progress-indicators">
          <% status = get_resource['collection_concept_id'].blank? ? 'empty' : 'complete' %>
          <%= single_preview_circle(collection_search_variable_draft_path(get_resource), 'collection_association', status) %>
        </div>
      </div>
    </li>
  </ul>

  <div id="collection-association-legend" class="eui-modal-content">
    <h4 class="title">Collection Association</h4>
    <p>The collection associated with the variable.</p>
    <h4>Validation</h4>
    <ul class="validations">
      <li>A variable must be associated with a collection to be published.</li>
      <li>A variable can only be associated with a single collection.</li>
      <li>A variable can only be associated with a collection in the same Provider.</li>
    </ul>
    <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
  </div>
</section>
