<div class="eui-banner--warn">
  <p class="eui-banner__message">
    <%= "We cannot confirm the UMM version of the published record associated with this #{resource_name.titleize}." %>
  </p>
</div>
<div class="no-access">
  <h3 class="access-title">Unconfirmed UMM Version</h3>
  <p class="access-message">
    <%= "It appears we currently cannot confirm the UMM version of the published record associated with this #{resource_name.titleize}. In order to prevent unintentional data loss, editing this #{resource_name.titleize} is currently unavailable." %>
    Please try again or contact <%= mail_to('support@earthdata.nasa.gov', 'Earthdata Support') %>
  </p>
</div>