<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <li class="eui-breadcrumbs__item">
            <%= link_to 'Data Providers', root_path %>
          </li>
          <li class="eui-breadcrumbs__item">
            <%= @provider['provider_id'] %> Holdings
          </li>
        </ol>
      </div>
    </div>
  </header>
  <div class="grid-row row-content">
    <section>
      <h2><%= @provider['provider_id'] %> Holdings</h2>

      <%= render partial: 'shared/provider_holdings/collections', locals: { provider: @provider, collections: @collections } %>
    </section>
  </div></main>
