<header>
  <noscript>JAVASCRIPT MUST BE ENABLED FOR ADVANCED FUNCTIONS TO WORK</noscript>
  <div class="content">
    <div class="col-6">
      <div class="masthead-logo" id="masthead-logo">
        <a href="#">
          <h1>Metadata Management Tool (MMT)</h1>
          <span class="badge badge-sm daac">GESDISC</span>
        </a>
      </div>
    </div>
    <div class="col-6">
      <a href="#" id="help"><i class="fa fa-question-circle"></i>Help</a>
      <section id="search">
        <form action="">
          <button type="button" class="btn btn-blue">Login</button>
        </form>
      </section>
    </div>
  </div>
</header>
<main class="content">
  <div class="row row-header">
    <section class="col-6">
      <h2>About the Metadata Management Tool</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quos quam sed nostrum dolore nemo reprehenderit est, incidunt ex. Et quos porro fugit animi eius iure nobis nam delectus quibusdam.</p>
    </section>
    <section class="col-6">
      <h2>About the CMR</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum alias, nobis quos eos accusantium voluptas eaque, distinctio qui. Eius, laudantium at provident assumenda veritatis pariatur, quis eum molestias beatae voluptates!</p>
    </section>
  </div>
  <div class="row">
    <section>
      <h2>Data Providers</h2>
      <table>
        <thead>
          <tr>
            <th>Provider Name</th>
            <th>Collections</th>
            <th>Granules</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr class="alt">
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr>
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr class="alt">
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr>
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr class="alt">
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr>
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
          <tr class="alt">
            <td>Goddard Earth Sciences Data and Information Services Center (GESDISC)</td>
            <td>10,234,567</td>
            <td>1,204,593,693</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</main>
