<main class="welcome" role="main">
  <div class="row row-header">
    <div class="content">
      <section class="col-6 highlight">
        <h2>About the Metadata Management Tool</h2>
        <p>The MMT is a web-based user interface to the NASA EOSDIS Common Metadata Repository (CMR). The MMT allows metadata authors to create and update CMR metadata records by importing XML or by using a data entry form based on the metadata fields in the CMR Unified Metadata Model (UMM). Metadata authors may also publish, view, delete, and manage revisions of CMR metadata records using the MMT.</p>
      </section>
      <section class="col-6 highlight">
        <h2>About the CMR</h2>
        <p>The CMR is a high-performance, high-quality metadata repository for earth science metadata records. The CMR manages the evolution of NASA Earth Science metadata in a unified and consistent way by providing a central storage and access capability that streamlines current workflows while increasing overall metadata quality and anticipating future capabilities.</p>
      </section>
    </div>
  </div>
</main>
