---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/catalog_item_option_assignments
    body:
      encoding: UTF-8
      string: '{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","option_definition_id":"4D5A696D-9DF2-7033-A02A-0A638098B35D","filter_xpath":"foo"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/catalog_item_option_assignments/0324ADDA-8ED6-D891-51B6-54E34C8E3BBE
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <catalog_item_option_assignment>
          <id>0324ADDA-8ED6-D891-51B6-54E34C8E3BBE</id>
          <catalog_item_id>C1200056652-MMT_2</catalog_item_id>
          <option_definition_id>4D5A696D-9DF2-7033-A02A-0A638098B35D</option_definition_id>
          <filter_xpath>foo</filter_xpath>
        </catalog_item_option_assignment>
  recorded_at: Mon, 12 Dec 2016 23:47:54 GMT
recorded_with: VCR 3.0.1
