---
http_interactions:
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-rest/catalog_item_option_assignments
    body:
      encoding: UTF-8
      string: '{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","option_definition_id":"C6F64596-7096-A932-7535-BDEF88B276C3","filter_xpath":"foo"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://testbed.echo.nasa.gov/legacy-services/rest/catalog_item_option_assignments/8DD0701D-5B8E-9CA3-B49C-E9242883A3C3
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <catalog_item_option_assignment>
          <id>8DD0701D-5B8E-9CA3-B49C-E9242883A3C3</id>
          <catalog_item_id>C1200056652-MMT_2</catalog_item_id>
          <option_definition_id>C6F64596-7096-A932-7535-BDEF88B276C3</option_definition_id>
          <filter_xpath>foo</filter_xpath>
        </catalog_item_option_assignment>
  recorded_at: Fri, 09 Dec 2016 19:19:36 GMT
recorded_with: VCR 3.0.1
