---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/catalog_item_option_assignments.json?catalog_item%5B%5D=C1200056652-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e6504fdd60fda60651d6738f2dad70ee"'
    body:
      encoding: UTF-8
      string: '[{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"541D55D0-CC71-111A-6A28-3EF9412CFDC0","option_definition_id":"930D19CF-B93F-8388-40D6-F601357CF344"}},{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"60D3B2E7-6F28-8EDF-47AB-1A840E2C3494","option_definition_id":"56199BF0-72E3-6537-9752-3592462B7AE3"}}]'
  recorded_at: Fri, 23 Dec 2016 00:34:21 GMT
- request:
    method: delete
    uri: https://testbed.echo.nasa.gov/echo-rest/catalog_item_option_assignments/541D55D0-CC71-111A-6A28-3EF9412CFDC0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 23 Dec 2016 00:34:21 GMT
recorded_with: VCR 3.0.1
