---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/catalog_item_option_assignments.json?catalog_item%5B%5D=C1200056652-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"452539c70cd83582bbce83a618d968ac"'
    body:
      encoding: UTF-8
      string: '[{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"10F1641F-E1CF-DAC2-8A65-E3308AC2AD80","option_definition_id":"930D19CF-B93F-8388-40D6-F601357CF344"}},{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"B574415C-5BC5-6335-112D-CB91DF90B7D9","option_definition_id":"56199BF0-72E3-6537-9752-3592462B7AE3"}}]'
  recorded_at: Fri, 23 Dec 2016 00:48:53 GMT
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetCatalogItemOptionDefinitions2
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>930D19CF-B93F-8388-40D6-F601357CF344</ns3:Item><ns3:Item>56199BF0-72E3-6537-9752-3592462B7AE3</ns3:Item></ns2:optionGuids></ns2:GetCatalogItemOptionDefinitions2><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetCatalogItemOptionDefinitions2Response xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>930D19CF-B93F-8388-40D6-F601357CF344</ns3:Guid><ns3:Name>Opt A07</ns3:Name><ns3:Scope>PROVIDER</ns3:Scope><ns3:Deprecated>false</ns3:Deprecated><ns3:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
          &lt;model&gt;
            &lt;instance&gt;
              &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
              &lt;/prov:options&gt;
            &lt;/instance&gt;
          &lt;/model&gt;
          &lt;ui&gt;
            &lt;input label="File Name" ref="prov:filename" type="xsd:string"&gt;
              &lt;constraints&gt;
                &lt;constraint&gt;
                  &lt;xpath&gt;string-length(prov:filename) &amp;lt; 25&lt;/xpath&gt;
                  &lt;alert&gt;File names must be less than 25 characters&lt;/alert&gt;
                &lt;/constraint&gt;
                &lt;constraint&gt;
                  &lt;pattern&gt;^[A-Za-z]+[A-Za-z0-9]*\.?[A-Za-z0-9]*$&lt;/pattern&gt;
                  &lt;alert&gt;
                    File names must start with a letter and
                    not contain illegal characters
                  &lt;/alert&gt;
                &lt;/constraint&gt;
              &lt;/constraints&gt;
            &lt;/input&gt;
            &lt;range end="1000" label="File Size (MB)" ref="prov:filesize" start="0" step="10" type="xsd:int"&gt;
            &lt;/range&gt;
          &lt;/ui&gt;
        &lt;/form&gt;</ns3:Form><ns3:Description>asdfasdf</ns3:Description><ns3:LastUpdate>2016-05-31T16:48:15.672Z</ns3:LastUpdate></ns3:Item><ns3:Item><ns3:Guid>56199BF0-72E3-6537-9752-3592462B7AE3</ns3:Guid><ns3:Name>Opt A02</ns3:Name><ns3:Scope>PROVIDER</ns3:Scope><ns3:Deprecated>false</ns3:Deprecated><ns3:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
          &lt;model&gt;
            &lt;instance&gt;
              &lt;prov:options xmlns:prov="http://myorganization.go[...]
