---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/catalog_item_option_assignments.json?catalog_item%5B%5D=C1200056652-MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9e4fa5406bd39615a8dd095a351d1de1"'
    body:
      encoding: UTF-8
      string: '[{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"541D55D0-CC71-111A-6A28-3EF9412CFDC0","option_definition_id":"139F0076-4826-B1F9-9A4A-EB3400305097"}},{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"1CBC6E2F-3975-6EA0-5DDA-CA65AF14AB1F","option_definition_id":"EBB71434-8148-C50D-595C-E74DB162E2C8"}},{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"F8C18C84-4FB0-32BD-13D3-0F9957FE0B47","option_definition_id":"46C65B2B-64DC-ED59-0618-44C34909ED86"}},{"catalog_item_option_assignment":{"catalog_item_id":"C1200056652-MMT_2","id":"B5C3B32F-B61D-1F88[...]
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-v10/DataManagementServicePortImpl
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetCatalogItemOptionDefinitions2
        xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types"
        xmlns:ns4="http://echo.nasa.gov/ingest/v10"><ns2:token>access_token</ns2:token><ns2:optionGuids><ns3:Item>139F0076-4826-B1F9-9A4A-EB3400305097</ns3:Item><ns3:Item>EBB71434-8148-C50D-595C-E74DB162E2C8</ns3:Item><ns3:Item>46C65B2B-64DC-ED59-0618-44C34909ED86</ns3:Item><ns3:Item>C7EB886C-5790-76E0-0E51-D2CFD6985AC6</ns3:Item><ns3:Item>80220CE2-123C-ECFD-0DAB-C0D4A116A326</ns3:Item><ns3:Item>3EC38D89-01C9-2240-19A1-BFC84A380BC4</ns3:Item><ns3:Item>40C5B21B-2132-D0D1-C76F-5FFB33D5A188</ns3:Item><ns3:Item>A019A7E2-316C-053D-028C-98CFBB6B6D28</ns3:Item><ns3:Item>368FE056-4462-117D-C92E-DB544FB7CEAA</ns3:Item><ns3:Item>56199BF0-72E3-6537-9752-3592462B7AE3</ns3:Item></ns2:optionGuids></ns2:GetCatalogItemOptionDefinitions2><to_str/></SOAP-ENV:Body></SOAP-ENV:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: 
    headers:
      soapaction:
      - '""'
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><SOAP-ENV:Header/><SOAP-ENV:Body><ns2:GetCatalogItemOptionDefinitions2Response xmlns:ns2="http://echo.nasa.gov/echo/v10" xmlns:ns3="http://echo.nasa.gov/echo/v10/types" xmlns:ns4="http://echo.nasa.gov/echo/v10/faults"><ns2:result><ns3:Item><ns3:Guid>139F0076-4826-B1F9-9A4A-EB3400305097</ns3:Guid><ns3:Name>1001 V5</ns3:Name><ns3:Scope>PROVIDER</ns3:Scope><ns3:Deprecated>false</ns3:Deprecated><ns3:Form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data_update.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;20&lt;/prov:filesize&gt;
                  &lt;/prov:options&gt;
         [...]
