<% if !hash_for_key.nil? %>
  <% value = hash_for_key[key_name]%>
  <% if !value.blank? %>
    <% options_hash = Hash[options.map{|key, value| [value, key]}] %>
    <% value = options_hash[value] %>
    <% # If no title_override is passed in, just titleize the key_name %>
    <% title = defined?(title_override).nil? ? key_name.titleize : title_override %>
    <li class="<%= key_name%>">
      <%= "#{title}#{title.blank? ? '': ': '}#{value}" %>
    </li>
  <% end %>
<% end %>
