---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=qhw5mjoxgs2vjptmvzco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2b1a47b05286a41b5afe16c219bb814b"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true}]}'
  recorded_at: Tue, 18 Apr 2017 19:06:55 GMT
recorded_with: VCR 3.0.1
