---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?search=rotoo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a0ea6aa58a4b79e873d6cb66d9d5bfb7"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"xss_user","first_name":"<script>alert(1)</script>","last_name":"rotoo","email_address":"xss_user@dfasdf.adfasdf","country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true}]}'
  recorded_at: Tue, 02 May 2017 18:45:16 GMT
recorded_with: VCR 3.0.1
