<div class="grid-row row-content">
  <section>
    <h2><%= @provider['provider_id'] %> Holdings</h2>

    <%= render partial: 'shared/provider_holdings/collections', locals: { provider: @provider, collections: @collections } %>
  </section>
</div>
