---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token?grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic authorization==
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"55070640ba17db7ac5b873164c11ba1b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 07 Mar 2016 20:02:38 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?client_id=81FEem91NlTQreWv2UgtXQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"d1c9cdd4238b47a1f26d202201f75595"'
    body:
      encoding: UTF-8
      string: '{"abcd":{"uid":"abcd","first_name":"Alien","last_name":"Bobcat","email_address":"aaaa.dddd@nasa.gov","country":"United
        States","affiliation":"OTHER"},"efgh":{"uid":"efgh","first_name":"Edward","last_name":"Figaro","email_address":"eeee.ffff@nasa.gov","country":"United
        States","affiliation":"Government"},"ijkl":{"uid":"ijkl","first_name":"Igor","last_name":"Jupiter","middle_initial":"K","email_address":"iiii.k.jjjj@nasa.gov","country":"United
        States","user_type":"Production User","affiliation":"EED"},"mnop":{"uid":"mnop","first_name":"Marsupial","last_name":"Narwal","email_address":"mmmm.nnnn@nasa.gov","country":"United
        States","study_area":"Other","user_type":"Production User","affiliation":"COMMERCIAL","organization":"ECHO
        Development","member_groups":["echo"]},"qrst":{"uid":"qrst","first_name":"Quail","last_name":"Racoon","email_address":"qqqq.rrrr@nasa.gov","country":"United
        States","affiliation":"Other"},"uvw":{"uid":"uvw","first_name":"Ukulele","last_name":"Vulcan","email_address":"uuuu.vvvv@nasa.gov","country":"United
        States","study_area":"Global Biosphere","user_type":"Science Team","affiliation":"Government"},"xyz":{"uid":"xyz","first_name":"Xavier","last_name":"Yellow","email_address":"xxxx.yyyy@nasa.gov","country":"United
        States","affiliation":"GOVERNMENT"}}'
  recorded_at: Mon, 07 Mar 2016 20:02:39 GMT
recorded_with: VCR 3.0.1
