---
http_interactions:
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/oauth/token?grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic authorization==
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      etag:
      - '"55070640ba17db7ac5b873164c11ba1b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","token_type":"Bearer","expires_in":3600}'
  recorded_at: Mon, 07 Mar 2016 20:02:38 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 500
      message:
    headers:
      content-type:
      - text/html; charset=utf-8
      status:
      - 500 Internal Server Error
      etag:
      - '"d1c9cdd4238b47a1f26d202201f75595"'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n<head>\n  <title>We're sorry, but something went wrong (500)</title>
        \n  <style>\n  body {\n    background-color: #EFEFEF;\n    color: #2E2F30;\n    text-align: center;
        \n    font-family: arial, sans-serif;\n  }\n\n  div.dialog {\n    width: 25em;\n    margin: 4em auto 0 auto;
        \n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-left-color: #999;
        \n    border-bottom-color: #BBB;\n    border-top: #B00100 solid 4px;\n    border-top-left-radius: 9px;
        \n    border-top-right-radius: 9px;\n    background-color: white;\n    padding: 7px 4em 0 4em;\n  }\n
        \n  h1 {\n    font-size: 100%;\n    color: #730E15;\n    line-height: 1.5em;\n  }\n\n  body > p {
        \n    width: 33em;\n    margin: 0 auto 1em;\n    padding: 1em 0;\n    background-color: #F7F7F7;
        \n    border: 1px solid #CCC;\n    border-right-color: #999;\n    border-bottom-color: #999;
        \n    border-bottom-left-radius: 4px;\n    border-bottom-right-radius: 4px;\n    border-top-color: #DADADA;
        \n    color: #666;\n    box-shadow:0 3px 8px rgba(50, 50, 50, 0.17);\n  }\n  </style>\n</head>\n\n<body>
        \n  <!-- This file lives in public/500.html -->\n  <div class=\"dialog\">\n    <h1>
        We're sorry, but something went wrong.</h1>\n  </div>\n  <p>If you are the application owner check
        the logs for more information.</p>\n</body>\n</html>\n"
  recorded_at: Mon, 07 Mar 2016 20:02:39 GMT
recorded_with: VCR 3.0.1
