---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - e7050cb0-12dd-43ef-a554-40de011819d6
    body:
      encoding: UTF-8
      string: '{"hits":2,"took":37,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"4849b974-ce6a-4c9e-8302-5e0e2f88b30b","concept-id":"DQS1200459847-EDF_DEV08","revision-date":"2023-02-27T16:22:04.219Z","concept-type":"data-quality-summary"},"umm":{"Name":"DQS
        #1","Summary":"\u003cpre\u003e\r\n\u0026lt;p\u0026gt;Maecenas faucibus mollis
        interdum.\u0026lt;/p\u0026gt;\u003c/pre\u003e","Id":"fb5bd653-094f-46e0-8da5-20047c26e223","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}},{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"7ea98808-d976-4ebd-ad27-0d585b7db9b6","concept-id":"DQS1200459846-EDF_DEV08","revision-date":"2023-02-27T16:09:56.364Z","concept-type":"data-quality-summary"},"umm":{"Name":"test
        name","Summary":"\u003cp\u003ea summary\u003c/p\u003e","Id":"fbb0dbc4-e585-4262-82fa-113a34aaca05","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}]}'
  recorded_at: Mon, 27 Feb 2023 16:27:42 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?concept_id=DQS1200459847-EDF_DEV08&page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8a9d1a6f-76f1-4ab0-b601-b1b8ef01dde4
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":35,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"4849b974-ce6a-4c9e-8302-5e0e2f88b30b","concept-id":"DQS1200459847-EDF_DEV08","revision-date":"2023-02-27T16:22:04.219Z","concept-type":"data-quality-summary"},"umm":{"Name":"DQS #1","Summary":"<p>Maecenas faucibus mollis interdum.</p>","Id":"fb5bd653-094f-46e0-8da5-20047c26e223","MetadataSpecification":{"Name":"Data Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}]}'
  recorded_at: Mon, 27 Feb 2023 16:53:24 GMT
recorded_with: VCR 6.1.0
