---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/data-quality-summaries/a_native_id
    body:
      encoding: UTF-8
      string: '{"Name":"DQS #01","Summary":"\u003cp\u003eMaecenas faucibus mollis
        interdum.\u003c/p\u003e","Id":"13f1e870-a44c-4f59-9b5a-513609d513cc","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a04073b4-3a8e-49aa-b41c-ab50ee79804f
    body:
      encoding: UTF-8
      string: '{"concept-id":"DQS1200459846-EDF_DEV08","revision-id":1,"warnings":null,"existing-errors":null}'
  recorded_at: Fri, 05 May 2023 03:10:56 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?concept_id=DQS1200459846-EDF_DEV08&page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 347f8190-e334-4814-9735-26337abf142c
    body:
      encoding: UTF-8
      string: '{"hits":0,"took":35,"items":[]}'
  recorded_at: Fri, 05 May 2023 03:12:51 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - '080053bf-d97c-4c14-8066-10267be98c70'
    body:
      encoding: UTF-8
      string: '{"hits":2,"took":37,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"4849b974-ce6a-4c9e-8302-5e0e2f88b30b","concept-id":"DQS1200459847-EDF_DEV08","revision-date":"2023-02-27T16:22:04.219Z","concept-type":"data-quality-summary"},"umm":{"Name":"DQS
        #1","Summary":"\u003cpre\u003e\r\n\u0026lt;p\u0026gt;Maecenas faucibus mollis
        interdum.\u0026lt;/p\u0026gt;\u003c/pre\u003e","Id":"fb5bd653-094f-46e0-8da5-20047c26e223","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}},{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"7ea98808-d976-4ebd-ad27-0d585b7db9b6","concept-id":"DQS1200459846-EDF_DEV08","revision-date":"2023-02-27T16:09:56.364Z","concept-type":"data-quality-summary"},"umm":{"Name":"test
        name","Summary":"\u003cp\u003ea summary\u003c/p\u003e","Id":"fbb0dbc4-e585-4262-82fa-113a34aaca05","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}]}'
  recorded_at: Fri, 05 May 2023 03:14:40 GMT
recorded_with: VCR 6.1.0
