---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?concept_id=DQS1200459847-EDF_DEV08&page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 86e4c921-64e3-4d0c-ac60-3d1a3043b45d
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":35,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"4849b974-ce6a-4c9e-8302-5e0e2f88b30b","concept-id":"DQS1200459847-EDF_DEV08","revision-date":"2023-02-27T16:22:04.219Z","concept-type":"data-quality-summary"},"umm":{"Name":"DQS
        #1 MODIFIED","Summary":"<p>Maecenas faucibus mollis interdum.</p>","Id":"fb5bd653-094f-46e0-8da5-20047c26e223","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}]}'
  recorded_at: Mon, 27 Feb 2023 16:59:48 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/data-quality-summaries/4849b974-ce6a-4c9e-8302-5e0e2f88b30b
    body:
      encoding: UTF-8
      string: '{"Name":"DQS #1 MODIFIED","Summary":"\u003cp\u003eMaecenas faucibus
        mollis interdum.\u003c/p\u003e","Id":"fb5bd653-094f-46e0-8da5-20047c26e223","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 529482d6-ab6c-48e5-b45c-a16f2d868c00
    body:
      encoding: UTF-8
      string: '{"concept-id":"DQS1200459846-EDF_DEV08","revision-id":1,"warnings":null,"existing-errors":null}'
  recorded_at: Mon, 27 Feb 2023 17:01:22 GMT
recorded_with: VCR 6.1.0
