---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/data-quality-summaries.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - b12f6cbc-33f7-413b-9bc1-752a83646617
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":37,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"MMT_2","user-id":"tester","native-id":"7ea98808-d976-4ebd-ad27-0d585b7db9b6","concept-id":"DQS1200459846-EDF_DEV08","revision-date":"2023-02-27T16:09:56.364Z","concept-type":"data-quality-summary"},"umm":{"Name":"test
        name","Summary":"\u003cp\u003ea summary\u003c/p\u003e","Id":"fbb0dbc4-e585-4262-82fa-113a34aaca05","MetadataSpecification":{"Name":"Data
        Quality Summary","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/data-quality-summary/v1.0.0"}}}]}'
  recorded_at: Mon, 27 Feb 2023 17:07:08 GMT
- request:
    method: delete
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/data-quality-summaries/4849b974-ce6a-4c9e-8302-5e0e2f88b30b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - a81908ab-5967-449a-8ebc-e990cb95f893
    body:
      encoding: UTF-8
      string: '{"concept-id":"DQS1200459847-EDF_DEV08","revision-id":2,"warnings":null,"existing-errors":null}'
  recorded_at: Tue, 28 Feb 2023 00:39:38 GMT
recorded_with: VCR 6.1.0
