
<% if !@draft.draft[key_name].blank? %>
  <% # If no title_override is passed in, just titleize the key_name %>
  <% title = defined?(title_override).nil? ? key_name.titleize : title_override %>
  <h4>
    <%= title %>
  </h4>
  <p>
    <%= render :partial=>'drafts/display_fields/display_field_line', :locals=>{:key_name=>key_name, :hash_for_key=>@draft.draft, :title_override=>''} %>
  </p>
<% end %>
