.custom-title-field {
  &__h1-box {
    margin-bottom: 1.5rem;
  }

  &__h2-box {
    margin-bottom: 1.5rem;
  }

  &__heading {
    margin-top: 1em;
    font-weight: 700;
  }

  &__icon {
    font-size: 1rem;
  }
}