<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Permissions & Groups</a></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>Permissions & Groups</h2>
      <!-- todo: wire this link -->
      <p class="subtitle"><a href="#">Permissions</a></p>
      <!-- end todo -->
      <p class="subtitle current">Groups</p>
    </div>
  </header>
  <div class="row row-content">
    <section>
      <!-- todo: wire up this button -->
      <a href="#" class="btn btn-blue space-bot space-top">New Group</a>
      <!-- end todo -->

      <table>
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Member</th>
          </tr>
        </thead>
        <tbody>
          <!-- todo: populate proper data using the following template -->
          <tr>
            <td><a href="#">Curators</a></td>
            <td>5</td>
          </tr>
          <tr>
            <td><a href="#">Ice Data Scientists</a></td>
            <td>12</td>
          </tr>
          <tr>
            <td><a href="#">Ice Data Supervisors</a></td>
            <td>2</td>
          </tr>
          <tr>
            <td><a href="#">Interns</a></td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#">Metadata Supervisors</a></td>
            <td>3</td>
          </tr>
          <tr>
            <td><a href="#">Science Coordinators</a></td>
            <td>15</td>
          </tr>
          <tr>
            <td><a href="#">Science Curators</a></td>
            <td>7</td>
          </tr>
          <!-- note: if no data is found, populate the following -->
          <tr>
            <td>No data found at this time</td>
            <td>-</td>
          </tr>
          <!-- end todo -->
        </tbody>
      </table>
    </section>
  </div>
</main>
