<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Permissions & Groups</a></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>New Permissions</h2>
    </div>
  </header>
  <div class="row row-content">
    <section>
      <label for="name">Name</label>
      <input type="text" id="name">
      <label for="permission-type">Permission Type</label>
      <select name="permission-type" id="permission-type">
        <option value="Select">- Select -</option>
      </select>
      <p><b>Provider</b></p>
      <p>GESDISC</p>
      <label for="collections">Collections</label>
      <select name="collections" id="collections"></select>
    </section>
  </div>
</main>
