<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Permissions & Groups</a></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>New Permissions</h2>
      <p class="subtitle current">Permissions</p>
      <!-- todo: wire this link -->
      <p class="subtitle"><a href="#">Groups</a></p>
      <!-- end todo -->
    </div>
  </header>
  <div class="row row-content">
    <section>
      <form>
        <div class="row">
          <label for="name">Name</label>
          <br>
          <input type="text" id="name" class="half-width">
        </div>
        <hr>
        <label for="permission-type">Permission Type</label>
        <select name="permission-type" id="permission-type">
          <option value="Select">- Select -</option>
          <option value="search-and-order">Search & Order</option>
          <option value="search">Search</option>
        </select>
        <label for="provider"><b>Provider</b></label>
        <select name="provier" id="provider" multiple>
          <option value="Organization A">Organization A</option>
          <option value="Organization B">Organization B</option>
          <option value="Organization C">Organization C</option>
          <option value="Organization D">Organization D</option>
          <option value="Organization E">Organization E</option>
          <option value="Organization F">Organization F</option>
        </select>
        <hr>
        <label for="collections">Collections</label>
        <select name="collections" id="collections">
          <option value="Select">- Select -</option>
          <option value="all-collections">All Collections</option>
          <option value="selected-ids-collections">Selected Collection Entry IDs</option>
          <option value="access-constraint-collections">Collections with an Access Constraint Value</option>
        </select>
        <label for="collection-ids" class="is-invisible">Selected Collection Entry IDs</label>
        <select name="collection-ids" id="collection-ids" multiple>
          <option value="ASF20CD03">ASF20CD03</option>
          <option value="ASF20CD04">ASF20CD04</option>
          <option value="ASF20CD05">ASF20CD05</option>
        </select>
        <fieldset id="collections-constraint-values" class="is-hidden is-white">
          <div class="row">
            <label for="collections-constraint-min">Min</label>
            <input type="number" id="collections-constraint-min" class="space-right">
            <label for="collections-constraint-Max">Max</label>
            <input type="number" id="collections-constraint-max">
            <span>(Inclusive)</span>
          </div>
          <div class="row">
            <input type="checkbox" name="undefined-val" id="undefind-val">
            <label for="undefined-val">Include undefined value</label>
          </div>
        </fieldset>
        <hr>
        <label for="granules">Granules</label>
        <select name="granules" id="granules">
          <option value="Select">- Select -</option>
          <option value="no-access">No Access to Granules</option>
          <option value="all-granules">All Granules</option>
          <option value="all-granules-in-collections" class="is-hidden" id="all-granules-in-collections">All Granules in Selected Collections</option>
          <option value="access-constraint-granule">Granules with an Access Constrant Value</option>
        </select>
        <fieldset id="granules-constraint-values" class="is-hidden is-white">
          <div class="row">
            <label for="granules-constraint-min">Min</label>
            <input type="number" id="granules-constraint-min" class="space-right">
            <label for="granules-constraint-Max">Max</label>
            <input type="number" id="granules-constraint-max">
            <span>(Inclusive)</span>
          </div>
          <div class="row">
            <input type="checkbox" name="undefined-val" id="undefind-val">
            <label for="undefined-val">Include undefined value</label>
          </div>
        </fieldset>
        <hr>
        <table class="space-top align-c" id="groups-table">
          <thead>
            <tr>
              <th class="align-l">Groups</th>
              <th class="align-c">Search</th>
              <th class="align-c">Order</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="cell-primary-cta">
                <button class="btn btn-default">Add Group</button>
                <label for="search-order-groups" class="is-invisible">Add Groups to Search and Order Permissions</label>
                <select name="search-order-groups" id="search-order-groups"  multiple>
                  <option value="curators"><a href="http://www.google.com">Curators</a> (5)</option>
                  <option value="ice-data-scientists">Ice Data Scientists (12)</option>
                  <option value="ice-data-supervisors">Ice Data Supervisors (2)</option>
                  <option value="interns">Interns (3)</option>
                  <option value="metadata-supervisors">Metadata Supervisors (3)</option>
                  <option value="science-coordinators">Science Coordinators (15)</option>
                  <option value="science-curators">Science Curators (7)</option>
                </select>
              </td>
              <td><i class="ed-icon ed-check-o icon-green icon--md"><span class="is-invisible">Search allowed for this group</span></i></td>
              <td><i class="ed-icon ed-check-o icon-green icon--md"><span class="is-invisible">Order is also allowed for this group</span></i></td>
            </tr>
            <tr>
              <td class="cell-primary-cta">
                <button class="btn btn-default">Add Group</button>
                <label for="search-groups" class="is-invisible">Add Groups to Search and Order Permissions</label>
                <select name="search-groups" id="search-groups"  multiple>
                  <option value="curators"><a href="http://www.google.com">Curators</a> (5)</option>
                  <option value="ice-data-scientists">Ice Data Scientists (12)</option>
                  <option value="ice-data-supervisors">Ice Data Supervisors (2)</option>
                  <option value="interns">Interns (3)</option>
                  <option value="metadata-supervisors">Metadata Supervisors (3)</option>
                  <option value="science-coordinators">Science Coordinators (15)</option>
                  <option value="science-curators">Science Curators (7)</option>
                </select>
              </td>
              <td><i class="ed-icon ed-check-o icon-green icon--md"><span class="is-invisible">Only search is allowed for this group</span></i></td>
              <td><span class="is-invisible">Order is not allowed for this group</span></td>
            </tr>
          </tbody>
        </table>
        <div class="row space-top">
          <input type="submit" class="btn btn-blue space-right" value="Save">
          <a href="#">Cancel</a>
        </div>
      </form>
    </section>
  </div>
</main>


