<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="breadcrumb">
        <ol>
          <!-- todo: wire the following links -->
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Permissions & Groups</a></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>New Group</h2>
      <p class="subnav">Permissions</p>
      <!-- todo: wire this link -->
      <p class="subnav current"><a href="#">Groups</a></p>
      <!-- end todo -->
    </div>
  </header>
  <div class="row row-content">
    <section>
      <form>
        <div class="row">
          <label for="name">Group Name</label>
          <br>
          <input type="text" id="name" class="half-width">
        </div>
        <div class="row">
          <label for="description">Group Description</label>
          <textarea name="description" id="description" cols="30" rows="3"></textarea>
        </div>
        <hr>
        <div class="row">
          <h3>Add Members to Group</h3>
        </div>
        <label for="filter-members">Filter Members</label>
        <input type="text" id="filter-members" class="w30" placeholder="Enter user name"/>
        <div class="dual-select">
          <div class="dual-select__menu">
            <label for="members-directory">Members Directory</label>
            <select name="members-directory" id="members-directory" multiple>
              <option value="bruce-wayne">Bruce Wayne | bruce.wayne@nasa.gov</option>
              <option value="diana-price">Diana Prince | diana.price@nasa.gov</option>
              <option value="tony-stark">Tony Stark | tony.stark@nasa.gov</option>
              <option value="natasha-romanoff">Natasha Romanoff | natasha.romanoff@nasa.gov</option>
              <option value="barry-allen">Barry Allen | barry.allen@nasa.gov</option>
              <option value="barabara-gordon">Barbara Gordon | barbara.gordon@nasa.gov</option>
            </select>
          </div>
          <div class="dual-select__actions">
            <button id="add-members" class="btn btn-default">Add Member(s) <span class="icon-circle-right"></span></button>
            <button id="remove-members" class="btn btn-default"><span class="icon-circle-left"></span> Remove Member(s)</button>
          </div>
          <div class="dual-select__menu">
            <div class="row">
              <label for="selected-members">Selected Members</label>
            </div>
            <select name="selected-members" id="selected-members" multiple>
          </select>
          </div>
        </div>
        <div class="row space-top">
          <input type="submit" class="btn btn-blue space-right" value="Save">
          <a href="#">Cancel</a>
        </div>
      </form>
    </section>
  </div>
</main>

<script>
  $(document).ready(function() {

    $("#add-members").on('click', function(e) {
      e.preventDefault();

      if ($("#members-directory option:selected").length > 0) {
        $("#selected-members").append($("#members-directory option:selected"));
        $("#selected-members option:selected").attr("selected", false);

        var sortedOptions = $("#members-directory option").sort(function(a, b) {
          if (a.text > b.text) {
            return 1;
          } else if (a.text < b.text) {
            return -1;
          } else {
            return 0
          }
        });

        $("#members-directory").empty().append(sortedOptions);
      }
    });

    $("#remove-members").on('click', function(e) {
      e.preventDefault();

      if ($("#selected-members option:selected").length > 0) {
        $("#members-directory").append($("#selected-members option:selected"));
        $("#members-directory option:selected").attr("selected", false);
      }

      var sortedOptions = $("#members-directory option").sort(function(a, b) {
        if (a.text > b.text) {
          return 1;
        } else if (a.text < b.text) {
          return -1;
        } else {
          return 0
        }
      });

      $("#members-directory").empty().append(sortedOptions);
    });
  });
</script>
