<main class="internal" role="main">
  <header>
    <div class="content">
      <div class="eui-breadcrumbs">
        <ol class="eui-breadcrumbs__list">
          <!-- todo: wire the following links -->
          <li class="eui-breadcrumbs__item"><a href="#">Dashboard</a></li>
          <li class="eui-breadcrumbs__item"><a href="#">Permissions & Groups</a></li>
          <!-- end todo -->
        </ol>
      </div>
      <h2>2015 Polar Data - Permission Detail</h2>
      <p class="subnav current">Permissions</p>
      <!-- todo: wire this link -->
      <p class="subnav"><a href="#">Groups</a></p>
      <!-- end todo -->
    </div>
  </header>
  <div class="row row-content">
    <section>
      <div class="flex-center">
        <a href="#" class="btn btn-blue space-right">Edit Permissions</a>
        <a href="#">Delete Permissions</a>
      </div>
      <hr>
      <p>
        <b>Name</b>
        <br>
        2015 Polar Data
      </p>
      <p>
        <b>Permission Type</b>
        <br>
        Search & Order
      </p>
      <p>
        <b>Provider</b>
        <br>
        GESDISC
      </p>
      <hr>
      <p>
        <b>Collections | 15 Selected Entry IDs</b>
        <br>
        ASF20CD03, ASF20CD04, ASF20CD05, ASF20CD06
      </p>
      <p>
        <b>Granules | All in Selected Collection Records</b>
      </p>
      <hr>
      <table class="space-top align-c" id="groups-table">
        <thead>
          <tr>
            <th class="align-l">Groups</th>
            <th class="align-c">Search</th>
            <th class="align-c">Order</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cell-primary-cta">
              <p><a href="#">Ice Data Supervisors</a> (5)</p>
            </td>
            <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Search allowed for this group</span></i></td>
            <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Order is also allowed for this group</span></i></td>
          </tr>
          <tr>
            <td class="cell-primary-cta">
              <p><a href="#">Ice Data Scientists</a> (12)</p>
              <p><a href="#">Polar Scientists</a> (12)</p>
            </td>
            <td><i class="eui-icon eui-check-o icon-green icon--md"><span class="is-invisible">Only search is allowed for this group</span></i></td>
            <td><span class="is-invisible">Order is not allowed for this group</span></td>
          </tr>
        </tbody>
      </table>
      <div class="row space-top">
        <input type="submit" class="btn btn-blue space-right" value="Save">
        <a href="#">Cancel</a>
      </div>
    </section>
  </div>
</main>
