<main class="internal" role="main">
  <header>
    <h2>SAML Authentication Failure</h2>
  </header>

  <section>
    <div class="grid_row row-content">
      <h3>Errors</h3>

      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  </section>
</main>
