<section class="metadata wide-content">
  <div class="wide-content-inside">

    <h3 class="inline-header">Metadata Fields</h3><a href="#progress-legend" id="legend" class="display-modal"><i class="eui-icon eui-fa-info-circle"></i> <span class="is-invisible">Progress Legend</span></a>
    <ul class="progress-indicator">
      <% CollectionDraft.forms.each do |form_name| %>
      <li id="<%= form_name.dasherize %>">
        <%= render partial: 'collection_drafts/progress/form_progress', locals: { unpublished_resource: unpublished_resource, form_name: form_name, metadata_errors: metadata_errors } %>
      </li>
      <% end %>
    </ul>
    <div id="progress-legend">
      <p>
        The icons below each form name indicate progress toward completion. See below for information on what each icon represents.
      </p>
      <ul>
        <li><i class="eui-icon eui-required-o icon-green"></i> Required but not complete</li>
        <li><i class="eui-icon eui-required icon-green"></i> Required and complete</li>
        <li><i class="eui-icon eui-fa-circle-o icon-grey"></i> Optional and not complete</li>
        <li><i class="eui-icon eui-fa-circle icon-grey"></i> Optional and complete</li>
        <li><i class="eui-icon eui-fa-minus-circle icon-red"></i> Does not pass validation</li>
      </ul>
      <a class="eui-btn--blue modal-close" href="javascript:void(0);">Close</a>
    </div>
  </div>
</section>
