<% unless @hidden_entry_titles.blank? %>
  <div class="eui-banner--info">
    <p class="eui-banner__message">
      There are selected collections not shown because you do not have acccess.
    </p>
  </div>
<% end %>
