<div class="row row-content">
  <section>
    <h2>Edit <%= @permission_name %></h2>

    <%= form_tag(permission_path(@permission_concept_id), method: :put, class: 'permission-form') do %>
      <%= hidden_field_tag 'permission_provider', @permission_provider %>
      <%= render partial: 'form', locals: { new_form: false } %>
    <% end %>
  </section>
</div>
