<div class="row row-content">
  <section>
    <h2>New Permission</h2>
    
    <%= form_tag(permissions_path, method: :post, class: 'permission-form') %>
      <%= render partial: 'permission_form', locals: { new_form: true } %>
  </section>
</div>