<div class="grid-row row-content">
  <section>
    <h2>New Collection Permission</h2>

    <%= form_tag(permissions_path, method: :post, class: 'permission-form') %>
      <%= render partial: 'form', locals: { new_form: true } %>
  </section>
</div>
