---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=testuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 037c476733fd606a18486fbb5762fa9d26d49222e6869ccdba53155fe740ca40
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"415a14c1d2a0aadba6cb4caa4ab9d59c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true}]}'
  recorded_at: Mon, 28 Oct 2019 13:10:11 GMT
recorded_with: VCR 4.0.0
