<fieldset class="eui-accordion" id="collection-citation">
  <div class="eui-accordion__header disable-toggle">
    <h3 class="eui-accordion__title">Collection Citations</h3>
    <%= mmt_help_icon(
      title: 'CollectionCitations',
      help: 'properties/CollectionCitations'
    ) %>
  </div>
  <div class="eui-accordion__body">
    <!-- Collection Citation -->
    <div class="grid-row">
      <div class="col-12">
        <div class="grid-row">
          <%= render partial: 'collection_drafts/forms/type', locals: {
              type: 'collection_citation',
              values: draft.draft['CollectionCitations'] || [{}],
              name_prefix: 'draft_|collection_citations|_',
              multiple: true,
              options: {} } %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
