<!-- Data Contacts - multiple -->
<fieldset class="eui-accordion" id="data-contacts">
  <div class="eui-accordion__header disable-toggle">
    <h3 class="eui-accordion__title">Data Contacts</h3>
  </div>
  <div class="eui-accordion__body">
    <div class="row taller">
      <div class="col-12">
        <%= render partial: 'collection_drafts/forms/type', locals: {
          type: 'data_contact',
          values: draft_all_data_contacts_array(draft.draft) || [{}],
          name_prefix: 'draft_|data_contacts|_',
          multiple: true,
          options: {
            # required_level: 1
            url_content_type_options: @data_contact_related_url_content_type_options,
            url_type_options: @data_contact_related_url_type_options,
            url_subtype_options: @data_contact_related_url_subtype_options
          }
        } %>
      </div>
    </div>
  </div>
</fieldset>

<script>
  // Load data-contacts-form-json-schema for field validation
  var globalDataContactsFormSchema = <%= raw @data_contacts_form_json_schema.to_json %>;
</script>
