<div class="grid-row row-content">
  <section>
    <h2>New <%= current_user.provider_id %> Data Quality Summary</h2>

    <%= form_tag(data_quality_summaries_path, method: :post, class: "data-quality-summary-form", id: "data-quality-summary-form") do %>
      <%= render partial: "form" %>
    <% end %>
  </section>
</div>
