<h1>Metadata Management Tool Invitation</h1>
<p>
  <%= @user %>, <%= @from %> would like to add you to a group using NASA's Metadata Management Tool (MMT). To do so, MMT needs to access your Earthdata Login profile. Please authorize MMT to access your profile by clicking the button below. Thank you!
</p>
<a class="btn btn-green" href="#">Authorize MMT</a>
