<h1 class="styled-heading">Metadata Management Tool Invitation</h1>
<div class="email-message">
  <p>
    <%= @invite.user_first_name %>, <%= @invite.manager_name %> from <%= @invite.provider %> would like to add you to a group using NASA's Metadata Management Tool (MMT). To do so, MMT needs you to create an Earthdata Login profile. To do so click on the button below. Thank You!
  </p>
  <div class="center">
    <%= link_to 'Register', Rails.configuration.urs_register_url, class: 'btn btn-blue' %>
  </div>
</div>
<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
