<h1 class="styled-heading">Invitation Accepted</h1>
<div class="email-message">
  <p>
    <%= @user['name'] %> has authorized MMT to acces their Earthdata Login profile. They have successfully been added to <%= @group %>. If needed, you may also add them to other groups without the need to invite them again. Thank you!
  </p>
  <div class="center">
    <a class="btn btn-green" href="#">View Group</a>
  </div>
</div>
<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
