<h1>Invitation Accepted</h1>
<p>
  <%= @user %> has authorized MMT to acces their Earthdata Login profile. They have successfully been added to <%= @group %>. If needed, you may also add them to other groups without the need to invite them again. Thank you!
</p>
<a class="btn btn-green" href="#">View Group</a>
