/* ===================================================== *\
   Footer
\* ===================================================== */

$footer-height: 54px;

footer {
  padding: 1em 2em;
  font-size: 0.8em;

  ul {
    margin: 0.25em 0;
    padding: 0;

    li {
      display: inline;

      &:not(:first-child):before {
        content: "\b7";
        margin: 0 0.5em;
      }
    }
  }

  .badge {
    background-color: $midnight-blue;
    position: relative;
    top: -2px;
  }
}

// todo: the following rules need to be re-evaluated
// Rules for making footer stay at the bottom of the page
html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto ($footer-height * -1); /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
  height: $footer-height; /* '.push' must be the same height as 'footer' */
  clear: both;
  // TODO: there might be a better way to implement sticky footer -
  // https://css-tricks.com/couple-takes-sticky-footer/. Also it may allow us
  // to implement the background-filler differently
}

.background-filler {
  // cover any background image peeking out under content within the wrapper
  background-color: $light-grey;
  min-height: 64px;
}
