/* Grid
------------------------------------------*/

article {
  @include row();

  &.row-content {
    @include outer-container;
  }
}

// START NOTE: Will be refactored to .container after all pages have been established.

main.dashboard {
  background: $light-grey;
  box-shadow: 0 -3px 3px rgba(0,0,0,0.15);
}

section {
  @include outer-container;
}

// END NOTE

.col-2 {
  @include span-columns(2);
}

.col-3 {
  @include span-columns(3);
}

.col-4 {
  @include span-columns(4);
}

.col-6 {
  @include span-columns(6);
}

.col-8 {
  @include span-columns(8);
}

.col-9 {
  @include span-columns(9);
}

.content {
  @include outer-container;
}

.row {
  @include row();
  padding: 0;

  &.row-content {
    background: #fff;
    box-shadow: 0 -3px 3px rgba(0,0,0,0.15);
    min-height: 300px;
  }
}
