/* ===================================================== *\
   Grid
\* ===================================================== */


article {
  display: block;
  @include clearfix;

  &.row-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include clearfix;
  }
  
}

// START NOTE: Will be refactored to .container after all pages have been established.

main.dashboard {
  // used for manage_collections and manage_cmr pages
  background: $light-grey;
  box-shadow: 0 -3px 3px rgba($true-black, 0.15);
  margin-bottom: 0;
}

section {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

// END NOTE

.col-1 { 
  @include neat-span-of-columns(1)
}
.col-2 { 
  @include neat-span-of-columns(2)
}
.col-3 { 
  @include neat-span-of-columns(3)
}
.col-4 { 
  @include neat-span-of-columns(4)
}
.col-5 { 
  @include neat-span-of-columns(5)
}
.col-6 { 
  @include neat-span-of-columns(6)
}
.col-7 { 
  @include neat-span-of-columns(7)
}
.col-8 { 
  @include neat-span-of-columns(8)
}
.col-9 { 
  @include neat-span-of-columns(9)
}

.content {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

.wide-content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;

  .content {
    // need to override the other outer-container
    max-width: 100%
  }

  section {
    // need to override the other outer-container
    max-width: 100%
  }

  .wide-content-inside {
    margin: 0 3.75em;
  }
}

.row {
  display: block;
  position: relative;
  padding: 0;
  @include clearfix;

  &.row-content {
    background: $white;
    box-shadow: 0 -3px 3px rgba($true-black, 0.15);
    min-height: 300px;
  }
}

.flex-center {
  // Temporarily disable flexbox features due to PhantomJS incompatibility
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

// Flexbox Grid Classes

// Space Between Two Elements
.flex-row--sb {
  display: flex;
  justify-content: space-between;

  // Fallback support
  > *:first-child,
  > *:last-child {
    display: inline-block;
  }

  > *:last-child {
    float: right;
  }
}

// Items are packed toward the start line
.flex-row--start {
  display: flex;
  justify-content: flex-start;
}
