/* ===================================================== *\
   Header
\* ===================================================== */

// todo: needs heavy refactoring.

header {
  @include row();
  @include linear-gradient($ocean-blue, darken($ocean-blue, 2%));
  color: white;
  padding: 0.5em 3.75em;
  box-shadow: 0 3px 3px rgba($true-black, 0.15);

  a:link,
  a:visited {
    color: lighten($sky-blue, 30%);
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.2;
  }

  #user-info p {
    display: inline-block;
    margin: 0;
    margin-right: 0.8em;
  }

  .subtitle {
    margin: 0;
    font-size: 0.9em;
  }

  .subnav {
    display: inline-block;
    margin: 1em 1em 0 0;
  }

  .fa {
    margin-right: 0.625em;
  }

  /* Help Row
  ------------------------------------------*/

  .header-tools {
    @include row();
    text-align: right;
    margin-top: 17px;

    #help {
      display: none; // Change to display: block when help feature is added and remove margin-top on #search
      margin: 0;
      margin-top: 0.5em;
      font-size: 0.8em;
    }

    .btn-blue {
      background-color: lighten($ocean-blue, 4%);

      &:hover {
        background-color: lighten($ocean-blue, 6%);
      }
    }
  }

  /* Primary Logo
  ------------------------------------------*/

  .masthead-logo {
    @include row();
    display: block;
    width: 100%;

    a:link,
    a:visited {
      background: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo.png") no-repeat left;
      min-height: 64px;
      color: $white;
      display: block;
      @include transition(background-image 0.1s linear);

      @include hidpi(1.3) {
        background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_2x.png");
        background-size: auto 50px;
      }
    }

    a:hover {
      background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_hover.png");

      @include hidpi(1.3) {
        background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_hover_2x.png");
      }
    }

    // EUI Candidate
    // Temporary nesting due to specificity battle with EUI
    h1 {
      font-weight: 100;
    }

    // Temporary nesting due to specificity battle with EUI
    &.application-logo {

      // EUI Candidate - Future Discussion
      h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2em;
        letter-spacing: 1px;
      }

      a:link {
        padding-top: 28px;
        padding-left: 72px;
      }
    }
  }

  /* User information and menu below logo
  ------------------------------------------*/

  #user-info {
    @include row();
    display: block;
    font-size: 0.8em;

    a {
      margin-right: 0.8em;
    }
  }

  /* Provider context badge below main app logo/title
  ------------------------------------------*/
  .daac {
    position: relative;
    left: 7em;
    top: -1em;
    background-color: $midnight-blue;

    &:hover {
      background-color: lighten($midnight-blue, 5%);
      cursor: default;
    }
  }
}

/* Subheader
------------------------------------------*/

.subheader {
  background: $light-grey;
}
