/* ===================================================== *\
   Header
\* ===================================================== */

// todo: needs heavy refactoring.

header.mmt-header {
  @include row();
  @include linear-gradient($ocean-blue, darken($ocean-blue, 2%));
  color: white;
  padding: 0.5em 3.75em;
  box-shadow: 0 3px 3px rgba($true-black, 0.15);

  a:link,
  a:visited {
    color: lighten($sky-blue, 30%);
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.2;
  }

  #user-info p {
    display: inline-block;
    margin: 0;

    strong {
      padding-right: 5px;
    }
  }

  .subtitle {
    margin: 0;
    font-size: 0.9em;
  }

  .subnav {
    display: inline-block;
    margin: 1em 1em 0 0;
  }

  .fa {
    margin-right: 0.625em;
  }

  /* Help Row
  ------------------------------------------*/

  .header-tools {
    @include row();
    text-align: right;
    margin-top: .5em;
    margin-bottom: .5em;

    #help {
      display: none; // Change to display: block when help feature is added and remove margin-top on #search
      margin: 0;
      margin-top: 0.5em;
      font-size: 0.8em;
    }

    .eui-btn--blue {
      background-color: lighten($ocean-blue, 4%);

      &:hover {
        background-color: lighten($ocean-blue, 6%);
      }
    }

    .eui-btn--midnight-blue {
      background-color: lighten($midnight-blue, 4%);
    }
  }

  /* Primary Logo
  ------------------------------------------*/

  .eui-masthead-logo {
    @include row();
    display: block;
    width: 100%;
    padding: 1em 0;

    a:link,
    a:visited {
      background: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo.png") no-repeat left;
      min-height: 64px;
      color: $white;
      display: block;
      @include transition(background-image 0.1s linear);

      @include hidpi(1.3) {
        background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_2x.png");
        background-size: auto 50px;
      }
    }

    a:hover {
      background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_hover.png");

      @include hidpi(1.3) {
        background-image: asset-url("https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/app-logo_hover_2x.png");
      }
    }

    // EUI Candidate
    // Temporary nesting due to specificity battle with EUI
    h1 {
      font-weight: 100;
    }

    // Temporary nesting due to specificity battle with EUI
    &.eui-application-logo {

      // EUI Candidate - Future Discussion
      h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2em;
        letter-spacing: 1px;
      }

      a:link {
        padding-top: 28px;
        padding-left: 72px;
      }
    }
  }

  /* User information and menu below logo
  ------------------------------------------*/

  #user-info {
    @include row();
    display: inline-flex;
    font-size: 0.8em;
    background-color: lighten($ocean-blue, 10%);
    padding: .2em .6em .3em .6em;
    border-radius: 5px;
    margin-bottom: 1em;

    #profile-link {
      .prof-link-container {
        margin-top: .1em;
      }

      .hoverOver {
        color: lighten($dolphin-grey, 30%);
      }

      #dropdown-caret {
        transform: rotate(0deg);
      }
    }
  }


  /* Provider context badge below main app logo/title
  ------------------------------------------*/
  .daac {
    position: relative;
    background-color: $ocean-blue;
  }
}

.login-info-dropdown {
  width: 115px;
  text-align: left;
  font-size:12px;
  background-color: lighten($ocean-blue, 10%);
  padding: 10px;
  border-radius: 5px;
  margin-top: 25px;
  position: absolute;
  margin-left: -7px;
  visibility: hidden;

  a {
    &:hover {
      color: lighten($dolphin-grey, 30%);
    }
  }
}

/* Subheader
------------------------------------------*/

.subheader {
  background: $light-grey;
}
