/* Spacing
------------------------------------------*/

// Note: More consideration needs to be given to this section. I'm not settled on this section just yet.

aside {
  padding: 0 3.75em;
}

main {
  margin-bottom: 2em;
}

.row-header {
  padding-top: 2em;
}

div.breadcrumb {
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}