/* ===================================================== *\
   Spacing
\* ===================================================== */

// Note: More consideration needs to be given to this section. I'm not settled on this section just yet.

aside {
  padding: 0 3.75em;
}

main {
  margin-bottom: 4em;
}

.row-header {
  padding-top: 2em;
}

div.eui-breadcrumbs {
  margin-bottom: 0;
  padding: 1em 0;

  ol {
    margin: 0;
  }

  li:last-child {
    font-weight: normal;
  }
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.taller {
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}
