---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"id":"order_guid","message":"Provider message"},"query":"mutation
        CloseOrder(\n                          $id: String!\n                          $message:
        String!\n                        ) {\n                          closeOrder
        (\n                            id: $id\n                            message:
        $message\n                          ) {\n                            id\n                            state\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-aHe1qcbF8JYaIqMHXsA4QeJkZ8k"
      x-amz-apigw-id:
      - ACicpG3NIAMF9Sg=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 22e4a3ae-4c2b-4fdf-9553-abb27cd5805e
    body:
      encoding: UTF-8
      string: '{"data":{"closeOrder":{"id":"order_guid","state":"CLOSED"}}}'
  recorded_at: Wed, 08 Feb 2023 21:43:35 GMT
[...]
