---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"id":"order_guid"},"query":"query Order ($id: String!)
        {\n                          order (id: $id) {\n                            id\n                            clientIdentity\n                            collectionConceptId\n                            notificationLevel\n                            providerId\n                            providerTrackingId\n                            state\n                            closedDate\n                            submittedAt\n                            createdAt\n                            updatedAt\n                            orderItems
        {\n                              id\n                              granuleConceptId\n                              granuleUr\n                              producerGranuleId\n                            }\n                            user
        {\n                              id\n                              ursId\n                            }\n                            contact
        {\n                              id\n                              email\n                              firstName\n                              lastName\n                              userDomain\n                              userRegion\n                            }\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json; charset=utf-8
      x-amz-apigw-id:
      - EW5XcF1KoAMF35Q=
      x-amzn-remapped-content-length:
      - '867'
      x-amzn-requestid:
      - 2f88466f-d388-4cc9-9517-5a165476e6e9
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Not authorized to perform [read] on system_object [ORDER_AND_ORDER_ITEMS]",
      "locations":[{"line":2,"column":27}],"path":["order"],"extensions":{"code":"FORBIDDEN",
      "stacktrace":["GraphQLError: Not authorized to perform [read] on system_object [ORDER_AND_ORDER_ITEMS]","    
      at sn (/var/task/src/graphql/handler.js:1:82172)","    at Rule.e (/var/task/src/graphql/handler.js:1:104458)","    
      at e.next (<anonymous>)","    at St (/var/task/src/graphql/handler.js:1:104206)","    
      at o (/var/task/src/graphql/handler.js:1:104643)","    
      at processTicksAndRejections (node:internal/process/task_queues:96:5)"]}}],"data":{"order":null}}
      '
  recorded_at: Wed, 03 May 2023 18:06:17 GMT
recorded_with: VCR 6.1.0
