---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"ursId":"","providerId":"MMT_2","states":["VALIDATED","PENDING_SUBMISSION","SUBMITTING","SUBMIT_FAILED","SUBMIT_REJECTED","PROCESSING","CLOSED"],"createdAt":{"startDate":"2017-01-31T00:00:00","endDate":"2017-02-01T00:00:00"}},"query":"query
        Order (\n                          $providerId: String!\n                          $ursId:
        String\n                          $states: [OrderState]\n                          $createdAt:
        DateRangeInput\n                       ) {\n                         orders(\n                           providerId:
        $providerId\n                           ursId: $ursId\n                           states:
        $states\n                           createdAt: $createdAt\n                         )
        {\n                           id\n                           clientIdentity\n                           collectionConceptId\n                           notificationLevel\n                           providerId\n                           providerTrackingId\n                           state\n                           closedDate\n                           submittedAt\n                           createdAt\n                           updatedAt\n                           user
        {\n                             ursId\n                           }\n                           contact
        {\n                             id\n                             email\n                             firstName\n                             lastName\n                             userDomain\n                             userRegion\n                           }\n                         }\n                       }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-fljBo9HlHlACsJoHxvPzLhSYh+U"
      x-amz-apigw-id:
      - f_f8dG36oAMF5nA=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 15146b96-78ba-403c-ae98-97335fb282d0
    body:
      encoding: UTF-8
      string: '{"data":{"orders":[]}}'
  recorded_at: Tue, 07 Feb 2023 23:35:47 GMT
recorded_with: VCR 6.1.0
