---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"ursId":"","providerId":"MMT_2","states":["SUBMIT_FAILED"],"createdAt":{"startDate":"2017-01-25T00:00:00","endDate":"2017-01-31T00:00:00"}},"query":"query
        Order (\n                          $providerId: String!\n                          $ursId:
        String\n                          $states: [OrderState]\n                          $createdAt:
        DateRangeInput\n                       ) {\n                         orders(\n                           providerId:
        $providerId\n                           ursId: $ursId\n                           states:
        $states\n                           createdAt: $createdAt\n                         )
        {\n                           id\n                           clientIdentity\n                           collectionConceptId\n                           notificationLevel\n                           providerId\n                           providerTrackingId\n                           state\n                           closedDate\n                           submittedAt\n                           createdAt\n                           updatedAt\n                           user
        {\n                             ursId\n                           }\n                           contact
        {\n                             id\n                             email\n                             firstName\n                             lastName\n                             userDomain\n                             userRegion\n                           }\n                         }\n                       }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-AzpyH2IGOZ6g2dpvgFjc9l0Lvb8"
      x-amz-apigw-id:
      - f_pMNGAWIAMF80Q=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - fa5f4a90-edf8-41f9-8f1d-b77111a53a92
    body:
      encoding: UTF-8
      string: '{"data":{"orders":[{"id":"order_guid_1","clientIdentity":"cmr-test-user","collectionConceptId":"C1200441865-CMRORDER","notificationLevel":"INFO","providerId":"CMRORDER","providerTrackingId":"600031841","state":"SUBMIT_FAILED","closedDate":"2023-02-07T17:52:42.576Z","submittedAt":"2023-02-07T16:06:55.320Z","createdAt":"2022-12-16T16:22:25.344Z","updatedAt":"2023-02-07T17:52:42.579Z","user":{"ursId":"cmr-test-user"},"contact":{"id":"de81a5d1-54e1-48e8-9f68-d1a476d06661","email":"testuser1@example.com","firstName":"Test UserOne","lastName":"test_user_1","userDomain":"GOVERNMENT","userRegion":"USA"}},{"id":"order_guid_2","clientIdentity":"cmr-test-user","collectionConceptId":"C1200441865-CMRORDER","notificationLevel":"INFO","providerId":"CMRORDER","providerTrackingId":"600031842","state":"SUBMIT_FAILED","closedDate":"2023-02-07T21:39:42.120Z","submittedAt":"2023-02-07T17:03:20.708Z","createdAt":"2022-12-16T16:22:25.344Z","updatedAt":"2023-02-07T21:39:42.121Z","user":{"ursId":"cmr-test-user"},"contact":{"id":"de81a5d1-54e1-48e8-9f68-d1a476d06661","email":"testuser2@example.com","firstName":"Test UserTwo","lastName":"user_2","userDomain":"GOVERNMENT","userRegion":"USA"}}, {"id":"order_guid_3","clientIdentity":"cmr-test-user","collectionConceptId":"C1200441865-CMRORDER","notificationLevel":"INFO","providerId":"CMRORDER","providerTrackingId":"600031843","state":"SUBMIT_FAILED","closedDate":"2022-02-07T17:52:42.576Z","submittedAt":"2022-02-07T16:06:55.320Z","createdAt":"2022-12-16T16:22:25.344Z","updatedAt":"2022-02-07T17:52:42.579Z","user":{"ursId":"cmr-test-user"},"contact":{"id":"de81a5d1-54e1-48e8-9f68-d1a476d06661","email":"testuser3@example.com","firstName":"Test UserThree","lastName":"test_user_3","userDomain":"GOVERNMENT","userRegion":"USA"}}]}}'
  recorded_at: Wed, 08 Feb 2023 00:38:50 GMT
recorded_with: VCR 6.1.0
