---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"id":"order_guid"},"query":"query Order ($id: String!)
        {\n                          order (id: $id) {\n                            id\n                            clientIdentity\n                            collectionConceptId\n                            notificationLevel\n                            providerId\n                            providerTrackingId\n                            state\n                            closedDate\n                            submittedAt\n                            createdAt\n                            updatedAt\n                            orderItems
        {\n                              id\n                              granuleConceptId\n                              granuleUr\n                              producerGranuleId\n                            }\n                            user
        {\n                              id\n                              ursId\n                            }\n                            contact
        {\n                              id\n                              email\n                              firstName\n                              lastName\n                              userDomain\n                              userRegion\n                            }\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-JEXkvua5uubWxIlrNA6MuSSXqxs"
      x-amz-apigw-id:
      - f_kusHlJoAMFowg=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 793d3bff-05fe-4999-a89f-f826e7054347
    body:
      encoding: UTF-8
      string: '{"data":{"order":{"id":"order_guid","clientIdentity":"cmr-user-1","collectionConceptId":"C1200441865-CMRORDER","notificationLevel":"INFO","providerId":"CMRORDER","providerTrackingId":"600031842","state":"CLOSED","closedDate":null,"submittedAt":"2023-02-06T14:57:59.391Z","createdAt":"2023-02-06T14:57:59.123Z","updatedAt":"2023-02-06T14:57:59.393Z","orderItems":[{"id":"f0c50f04-23d4-45d7-a386-ba43c2188f4f","granuleConceptId":"G1200441869-CMRORDER","granuleUr":"CMRORDER-Test-Granule1","producerGranuleId":"cmrorder-test-granule1"},{"id":"52996b6e-aac2-483a-9eab-9ae682724ace","granuleConceptId":"G1200441870-CMRORDER","granuleUr":"CMRORDER-Test-Granule2","producerGranuleId":"cmrorder-test-granule2"}],"user":{"id":"4D4C94EF-3D03-B2D6-8BBE-335C7DD7D61B","ursId":"user1"},"contact":{"id":"9161e8fd-eb72-48fb-8e97-85a07f26b064","email":"user@example.com","firstName":"User One","lastName":"user_1","userDomain":"OTHER","userRegion":"USA"}}}}'
  recorded_at: Wed, 08 Feb 2023 00:08:23 GMT
recorded_with: VCR 6.1.0
