---
http_interactions:
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"id":"order_guid"},"query":"query Order ($id: String!)
        {\n                          order (id: $id) {\n                            id\n                            clientIdentity\n                            collectionConceptId\n                            notificationLevel\n                            providerId\n                            providerTrackingId\n                            state\n                            closedDate\n                            submittedAt\n                            createdAt\n                            updatedAt\n                            orderItems
        {\n                              id\n                              granuleConceptId\n                              granuleUr\n                              producerGranuleId\n                            }\n                            user
        {\n                              id\n                              ursId\n                            }\n                            contact
        {\n                              id\n                              email\n                              firstName\n                              lastName\n                              userDomain\n                              userRegion\n                            }\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-mMhQE0v6BpGMXiGNkGgadOW51cM"
      x-amz-apigw-id:
      - ACgzcGgjIAMFZmQ=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 989e57c8-f62b-4fa1-8c4a-5ac45586343a
    body:
      encoding: UTF-8
      string: '{"data":{"order":{"id":"order_guid","clientIdentity":"cmr-test-user","collectionConceptId":"C1200441865-CMRORDER","notificationLevel":"INFO","providerId":"CMRORDER","providerTrackingId":"600031841","state":"CLOSED","closedDate":"2023-02-07T17:52:42.576Z","submittedAt":"2023-02-07T16:06:55.320Z","createdAt":"2022-12-16T16:22:25.344Z","updatedAt":"2023-02-07T17:52:42.579Z","orderItems":[{"id":"699770d6-0ac0-4168-97c4-b8ae9e071c5d","granuleConceptId":"G1200441869-CMRORDER","granuleUr":"CMRORDER-Test-Granule1","producerGranuleId":"cmrorder-test-granule1"},{"id":"93c320f8-ec0d-40ef-bea8-e572323a5cfd","granuleConceptId":"G1200441870-CMRORDER","granuleUr":"CMRORDER-Test-Granule2","producerGranuleId":"cmrorder-test-granule2"}],"user":{"ursId":"cmr-test-user"},"contact":{"id":"de81a5d1-54e1-48e8-9f68-d1a476d06661","email":"testuser1@example.com","firstName":"Test
        UserOne","lastName":"test_user_1","userDomain":"GOVERNMENT","userRegion":"USA"}}}}'
  recorded_at: Wed, 08 Feb 2023 21:32:21 GMT
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ordering/api
    body:
      encoding: UTF-8
      string: '{"variables":{"id":"order_guid"},"query":"mutation ResubmitOrder($id:
        String!) {\n                          resubmitOrder(id: $id) {\n                            id\n                            state\n                          }\n                        }"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Authorization:
      - access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33e-mMhQE0v6BpGMXiGNkGgadOW51cM"
      x-amz-apigw-id:
      - ACgzcGgjIAMFZmQ=
      x-amzn-remapped-content-length:
      - '830'
      x-amzn-requestid:
      - 989e57c8-f62b-4fa1-8c4a-5ac45586343a
    body:
      encoding: UTF-8
      string: '{"data":{"resubmitOrder":{"id":"order_guid_resubmitted","state":"SUBMITTING"}}}'
  recorded_at: Wed, 08 Feb 2023 21:32:21 GMT
[...]
