---
http_interactions:
- request:
    method: put
    uri: https://gkr.sit.earthdatacloud.nasa.gov/api/requests/22
    body:
      encoding: UTF-8
      string: '{"recommendations":{"1":true,"2":true},"keywords":[]}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      allow:
      - GET, PUT, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"updated":[{"uuid":"1","keyword":"EARTH
        SCIENCE > ATMOSPHERE > CLOUDS > CLOUD PROPERTIES > CLOUD FRACTION","score":0.35190683603286743,"yes_count":5,"no_count":0},{"uuid":"2","keyword":"EARTH
        SCIENCE > ATMOSPHERE > ATMOSPHERIC TEMPERATURE > SURFACE TEMPERATURE > AIR
        TEMPERATURE","score":0.770785927772522,"yes_count":4,"no_count":0}],"not_found":[],"new_recommendations":[]}'
  recorded_at: Thu, 24 Feb 2022 17:52:18 GMT
recorded_with: VCR 6.0.0
