---
http_interactions:
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option 1","scope":"PROVIDER","description":"Test
        Order Option Definition Description","form":"\u003cform\u003ewhat\u003c/form\u003e"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - CE490D00-F25A-4B73-3CAA-2D3A543EB043
  response:
    status:
      code: 422
      message: 
    headers:
      content-type:
      - application/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<errors><error>ECHO Form is not valid [[Line: -1, Column: -1] cvc-elt.1:
        Cannot find the declaration of element 'form'.]</error></errors>"
  recorded_at: Wed, 01 Jun 2016 02:43:07 GMT
recorded_with: VCR 3.0.1
