---
http_interactions:
- request:
    method: post
    uri: https://testbed.echo.nasa.gov/echo-rest/option_definitions
    body:
      encoding: UTF-8
      string: '{"option_definition":{"name":"Test Order Option 1","scope":"PROVIDER","description":"Test
        Order Option Definition Description","form":"\u003c?xml version=\"1.0\" encoding=\"utf-8\"?\u003e\r\n    \u003cform
        xmlns=\"http://echo.nasa.gov/v9/echoforms\"\r\n                 targetNamespace=\"http://myorganization.gov/echoforms\"\r\n                 xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\u003e\r\n      \u003cmodel\u003e\r\n        \u003cinstance\u003e\r\n          \u003cprov:options
        xmlns:prov=\"http://myorganization.gov/orderoptions\"\u003e\r\n            \u003cprov:filename\u003edata.txt\u003c/prov:filename\u003e\r\n            \u003cprov:filesize\u003e10\u003c/prov:filesize\u003e\r\n          \u003c/prov:options\u003e\r\n        \u003c/instance\u003e\r\n      \u003c/model\u003e\r\n      \u003cui\u003e\r\n        \u003cinput
        ref=\"prov:filename\" type=\"xsd:string\" label=\"File Name\"\u003e\r\n          \u003cconstraints\u003e\r\n            \u003cconstraint\u003e\r\n              \u003cxpath\u003estring-length(prov:filename)
        \u0026lt; 25\u003c/xpath\u003e\r\n              \u003calert\u003eFile names
        must be less than 25 characters\u003c/alert\u003e\r\n            \u003c/constraint\u003e\r\n            \u003cconstraint\u003e\r\n              \u003cpattern\u003e^[A-Za-z]+[A-Za-z0-9]*\\.?[A-Za-z0-9]*$\u003c/pattern\u003e\r\n              \u003calert\u003e\r\n                File
        names must start with a letter and\r\n                not contain illegal
        characters\r\n              \u003c/alert\u003e\r\n            \u003c/constraint\u003e\r\n          \u003c/constraints\u003e\r\n        \u003c/input\u003e\r\n        \u003crange
        ref=\"prov:filesize\" type=\"xsd:int\" start=\"0\"\r\n               step=\"10\"
        end=\"1000\" label=\"File Size (MB)\"\u003e\r\n        \u003c/range\u003e\r\n      \u003c/ui\u003e\r\n    \u003c/form\u003e"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - CE490D00-F25A-4B73-3CAA-2D3A543EB043
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - https://testbed.echo.nasa.gov/echo-rest/option_definitions/EBB71434-8148-C50D-595C-E74DB162E2C8
      content-type:
      - application/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<option_definition>\n  <id>EBB71434-8148-C50D-595C-E74DB162E2C8</id>\n
        \ <name>Test Order Option 1</name>\n  <scope>PROVIDER</scope>\n  <description>Test
        Order Option Definition Description</description>\n  <form>&lt;?xml version=\"1.0\"
        encoding=\"utf-8\"?&gt;\r\n    &lt;form xmlns=\"http://echo.nasa.gov/v9/echoforms\"\r\n
        \                targetNamespace=\"http://myorganization.gov/echoforms\"\r\n
        \                xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"&gt;\r\n      &lt;mod[...]
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/option_definitions/EBB71434-8148-C50D-595C-E74DB162E2C8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
      Echo-Token:
      - CE490D00-F25A-4B73-3CAA-2D3A543EB043
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"abd99244c2063e814513ae1899b2931e"'
      content-type:
      - application/xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <option_definition>
          <id>EBB71434-8148-C50D-595C-E74DB162E2C8</id>
          <name>Test Order Option 1</name>
          <scope type="string">PROVIDER</scope>
          <description>Test Order Option Definition Description</description>
          <deprecated type="boolean">false</deprecated>
          <form>&lt;form xmlns="http://echo.nasa.gov/v9/echoforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://myorganization.gov/echoforms"&gt;
              &lt;model&gt;
                &lt;instance&gt;
                  &lt;prov:options xmlns:prov="http://myorganization.gov/orderoptions"&gt;
                    &lt;prov:filename&gt;data.txt&lt;/prov:filename&gt;
                    &lt;prov:filesize&gt;10&lt;/prov:filesize&gt;
      [...]
