---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - fff1aaa1-bfca-4da7-865b-672306559e79
    body:
      encoding: UTF-8
      string: '{"hits":33,"took":18,"items":[
      {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"b9d45b09-b89b-4aa5-ab10-0e8fa959350d","concept-id":"OO1200459711-ETIM22","revision-date":"2023-02-14T16:27:58.347Z","concept-type":"order-option"},"umm":{"Name":"Test order option 001","Description":"description","Form":"\u003cform/\u003e","Scope":"PROVIDER","Id":"2f20b0f7-58da-4d14-bff7-b065bb73e938","MetadataSpecification":{"Name":"Order Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}},
      {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"26469b26-2f97-481f-b2ad-848d5190ecd7","concept-id":"OO1200459708-ETIM22","revision-date":"2023-02-14T16:16:55.208Z","concept-type":"order-option"},"umm":{"Name":"Test Order_option_002","Description":"Description","Form":"\u003cform/\u003e","Scope":"PROVIDER","Id":"a546520d-db29-4e8d-aada-b13f7a126a33","MetadataSpecifica[...]
