---
http_interactions:
  - request:
      method: get
      uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?page_size=2000&provider_id=MMT_2
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Client-Id:
          - MMT
        Authorization:
          - ABC-2
    response:
      status:
        code: 200
        message: OK
      headers:
        content-type:
          - application/json
        cmr-request-id:
          - dd7fda18-6f7a-447c-a309-c093448f5465
      body:
        encoding: UTF-8
        string: '{"hits":9,"took":18,"items":[
      {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"46a063a4-11cd-4d8a-bbfa-7c695167a964","concept-id":"OO1200459706-ETIM22","revision-date":"2023-02-14T16:09:47.518Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_003","Description":"description","Form":"\u003cfrom/\u003e","Scope":"PROVIDER","Id":"38e8d270-280c-4c5e-a125-6f7ccb0d91b6","MetadataSpecification":{"Name":"Order Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}},
      {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"46a063a4-11cd-4d8a-bbfa-7c695167a967","concept-id":"OO1200459707-ETIM22","revision-date":"2023-02-14T16:09:47.518Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_025","Deprecated":true,"Description":"description","Form":"\u003cfrom/\u003e","Scope":"PROVIDER","Id":"38e8d270-280c-4c5e-a125-6f7ccb0d91b7","MetadataSpecification":{"Name":"Order Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}},
      {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"f5e3cec7-765d-4ed3-8152-ba8e04365d44","concept-id":"OO1200459708-ETIM22","revision-date":"2023-02-14T16:12:53.130Z","concept-ty[...]
