---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?id=8e8cad47-1d53-4796-b283-16e8ecf034e5&page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - d312b318-f185-420a-9583-6a17e6dad40b
    body:
      encoding: UTF-8
      string: '{"hits":9,"took":18,"items":[ {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"a86fa445-821c-41be-bd99-3f23dacdaa81","concept-id":"OO1200459715-ETIM22","revision-date":"2023-02-14T16:22:02.692Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_033","Description":"Description","Form":"\u003cform/\u003e","Scope":"PROVIDER","Id":"8e8cad47-1d53-4796-b283-16e8ecf034e5","MetadataSpecification":{"Name":"Order
        Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}}]} '
  recorded_at: Wed, 15 Feb 2023 00:07:10 GMT
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 9caeb194-14df-44b8-b4b7-9eae99ad0459
    body:
      encoding: UTF-8
      string: '{"hits":9,"took":18,"items":[ {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"46a063a4-11cd-4d8a-bbfa-7c695167a964","concept-id":"OO1200459706-ETIM22","revision-date":"2023-02-14T16:09:47.518Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_003","Description":"description","Form":"\u003cfrom/\u003e","Scope":"PROVIDER","Id":"38e8d270-280c-4c5e-a125-6f7ccb0d91b6","MetadataSpecification":{"Name":"Order
        Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}},
        {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"46a063a4-11cd-4d8a-bbfa-7c695167a967","concept-id":"OO1200459707-ETIM22","revision-date":"2023-02-14T16:09:47.518Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_025","Deprecated":true,"Description":"description","Form":"\u003cfrom/\u003e","Scope":"PROVIDER","Id":"38e8d270-280c-4c5e-a125-6f7ccb0d91b7","MetadataSpecification":{"Name":"Order
        Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}},
        {"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"f5e3cec7-765d-4ed3-8152-ba8e04365d44","concept-id":"OO1200459708-ETIM22","revision-date":"2023-02-14T16:12:53.130Z","[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/order-options/a86fa445-821c-41be-bd99-3f23dacdaa81
    body:
      encoding: UTF-8
      string: '{"Name":"Test_order_option_033","Description":"Description","Form":"\u003cform/\u003e","Scope":"PROVIDER","Id":"8e8cad47-1d53-4796-b283-16e8ecf034e5","MetadataSpecification":{"Name":"Order
        Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"},"Deprecated":true}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - f18dcc32-dc35-47f5-91ec-d08f26387fd3
    body:
      encoding: UTF-8
      string: '{"concept-id":"OO1200459715-ETIM22","revision-id":2,"warnings":null,"existing-errors":null}'
  recorded_at: Wed, 15 Feb 2023 15:24:53 GMT
recorded_with: VCR 6.1.0
