---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - dd7fda18-6f7a-447c-a309-c093448f5465
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":5,"items":[{"meta":{"revision-id":1,"deleted":false,"provider-id":"ETIM22","user-id":"order_option_user","native-id":"a86fa445-821c-41be-bd99-3f23dacdaa79","concept-id":"OO1200459709-ETIM22","revision-date":"2023-02-14T16:22:02.692Z","concept-type":"order-option"},"umm":{"Name":"Test_order_option_033","Description":"Description","Form":"\u003cform/\u003e","Scope":"PROVIDER","Id":"8e8cad47-1d53-4796-b283-16e8ecf034e4","MetadataSpecification":{"Name":"Order Option","Version":"1.0.0","URL":"https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"}}}]}'
  recorded_at: Tue, 14 Feb 2023 20:10:30 GMT
recorded_with: VCR 6.1.0
