---
http_interactions:
- request:
    method: post
    uri: https://api.launchpad-sbx.nasa.gov/icam/api/sm/v1/validate
    body:
      encoding: UTF-8
      string: '{"token":"access_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"status\" : \"failed\",\n\t\"message\" : \"Token validation failed\",\n\t\"supportId\"
        : \"m20000017e6df139a0-5fe670\",\n\t\"timestamp\": \"2022-02-16T17:55:05.836Z\"\n}"
  recorded_at: Wed, 16 Feb 2022 17:55:06 GMT
recorded_with: VCR 6.0.0
