---
http_interactions:
- request:
    method: post
    uri: https://api.launchpad-sbx.nasa.gov/icam/api/sm/v1/validate
    body:
      encoding: UTF-8
      string: '{"token":"access_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n\t\"auid\" : \"testuser\",\n\t\"authlevel\" : 40,\n\t\"gatewaytime\"
        : 1645128222,\n\t\"groups\" : [ \"CN=HQ-DL-nasa-slack,OU=Distribution Lists,OU=Accounts,DC=ndc,DC=nasa,DC=gov\",
        \"CN=Agency-DL-OCIO-EUS-Teams-Only-Migration-Ph3,OU=Distribution Lists,OU=Accounts,DC=ndc,DC=nasa,DC=gov\",
        \"CN=ND-GG-NCAD-UserCanExpire,OU=Groups,OU=Administrators,DC=ndc,DC=nasa,DC=gov\",
        \"CN=Agency-DL-NOMAD-All-Mailboxes-MSFC-Site,OU=Distribution Lists,OU=Accounts,DC=ndc,DC=nasa,DC=gov\",
        \"CN=ND-GG-GS Users,OU=Groups,OU=GSFC,OU=Accounts,DC=ndc,DC=nasa,DC=gov, cn=GSFC-CMR_INGEST_SIT,ou=251766,ou=ROLES,ou=Groups,dc=nasa,dc=gov\",
        \"cn=NAMS Owner,ou=ICAM,ou=Groups,dc=nasa,dc=gov\", \"cn=NAMS Maintainer,ou=ICAM,ou=Groups,dc=nasa,dc=gov\"
        ],\n\t\"identitytype\": \"user\",\n\t\"levelofconfidence\": 40,\n\t\"session_idleremaining\"
        : 626,\n\t\"session_idletimeout\" : 900,\n\t\"session_lasttime\" : 1645127948,\n\t\"session_maxremaining\"
        : 35725,\n\t\"session_maxtimeout\" : 36000,\n\t\"session_starttime\" : 1645127947,\n\t\"session_sourceip\"
        : \"198.0.0.1\",\n\t\"ssozone\" : \"SM\",\n\t\"status\" : \"success\",\n\t\"upn\"\t:
        \"testuser@example.com\",\n\t\"userdn\" : \"employeenumber=12345,ou=people,dc=nasa,dc=gov\",\n\t\"employeenumber\"
        : \"12345\"\n}"
  recorded_at: Thu, 17 Feb 2022 20:03:42 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/dmmt_collection_2
    body:
      encoding: UTF-8
      string: '{"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600"}],"Abstract":"This is a long description of the collection","ShortName":"Proposal
        for checking MetadataDates","Version":"1","EntryTitle":"Date-Check","DOI":{"DOI":"Citation
        DOI"},"CollectionProgress":"ACTIVE","DataCenters":[{"Roles":["DISTRIBUTOR"],"ShortName":"AARHUS-HYDRO","LongName":"Hydrogeophysics
        Group, Aarhus University "}],"ProcessingLevel":{"Id":"1A","ProcessingLevelDescription":"Level
        1 Description"},"ScienceKeywords":[{"Category":"EARTH SCIENCE","Topic":"ATMOSPHERE","Term":"ATMOSPHERIC
        TEMPERATURE"}],"SpatialExtent":{"GranuleSpatialRepresentation":"CARTESIAN"},"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"TemporalExtents":[{"PrecisionOfSeconds":1,"EndsAtPresentFlag":false,"SingleDateTimes":["2015-07-01T00:00:00Z","2015-12-25T00:00:00Z"]}],"MetadataDates":[{"Type":"CREATE","Date":"2022-11-17T15:39:00.000Z"},{"Type":"UPDATE","Date":"2022-11-17T15:39:00.000Z"}]}'
    headers:
      Content-Type:
      - application/vnd.nasa.cmr.umm+json; version=1.17.0; charset=utf-8
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - 8aa2fa71-1de9-417c-9183-b834c2c103b1
    body:
      encoding: UTF-8
      string: '{"concept-id":"C1200449836-MMT_2","revision-id":4,"warnings":["After
        translating item to UMM-C the metadata had the following issue(s): [:DOI :DOI]
        DOI [Citation DOI] is improperly formatted."],"existing-errors":null}'
  recorded_at: Thu, 17 Nov 2022 15:39:53 GMT
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/dmmt_collection_1
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"}],"MetadataSpecification":{"Name":"UMM-C","URL":"https://cdn.earthdata.nasa.gov/umm/collection/v1.17.0","Version":"1.17.0"},"Platforms":[{"Type":"Jet","ShortName":"A340-600","LongName":"Airbus
        A340-600","Characteristics":[{"Name":"test 1 PC Name","Description":"test
        1 PC Description","Value":"test 1 PC Value","Unit":"test 1 PC Unit","DataType":"STRING"},{"Name":"test
        2 PC Name","Description":"test 2 PC Description","Value":"test 2 PC Value","Unit":"test
        2 PC Unit","DataType":"STRING"}],"Instruments":[{"ShortName":"ATM","LongName":"Airborne
        Topographic Mapper","Characteristics":[{"Name":"test 1 PI Name","Description":"test
        1 PI Description","Value":"test 1 PI Value","Unit":"test 1 PI Unit","DataType":"STRING"},{"Name":"test
        2 PI Name","Description":"test 2 PI Description","Value":"test 2 PI Value","Unit":"test
        2 PI Unit","DataType":"STRING"}],"Technique":"test 1 PI Technique","NumberOfInstruments":234,"ComposedOf":[{"ShortName":"ADS","LongName":"Automated
        DNA Sequencer","Technique":"test 1 PS Technique","Characteristics":[{"Name":"test
        1 PS Name","Description":"test 1 PS Description","Value":"test 1 PS Value","Unit":"test
        1 PS Unit","DataType":"STRING"},{"Name":"test 2 PS Name","Description":"test
        2 PS Description","Value":"test 2 PS Value","Unit":"test 2 PS Unit","DataType":"STRING"}]},{"ShortName":"SMAP
        L-BAND RADIOMETER","LongName":"SMAP L-Band Radiometer","Technique":"test 1b
        PS Technique","Characteristics":[{"Name":"test 1b PS Name","Description":"test
        1b PS Description","Value":"test 1b PS Value","Unit":"test 1b PS Unit","DataType":"STRING"},{"Name":"test
        2b PS Name","Description":"test 2b PS Description","Value":"test 2b PS Value","Unit":"test
        2b PS Unit","DataType":"STRING"}]}],"OperationalModes":["test 1a Op","test
        1b Op"]},{"ShortName":"LVIS","LongName":"Land, Vegetation, and Ice Sensor","Characteristics":[{"Name":"test
        1d PI Name","Description":"test 1d PI Description","Value":"test 1d PI Value","Unit":"test
        1d PI Unit","DataType":"STRING"},{"Name":"test 2d PI Name","Description":"test
        2d PI Description","Value":"test 2d PI Value","Unit":"test 2d PI Unit","DataType":"STRING"}],"Technique":"test
        1d PI Technique","NumberOfInstruments":345,"Compose[...]
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/ingest/providers/MMT_2/collections/2ed72823cb326e6cf77c179e0fde7f99
    body:
      encoding: UTF-8
      string: '{"Projects":[{"ShortName":"AA","LongName":"ARCATLAS","Campaigns":["test
        1a Campaign","test 1b Campaign"],"StartDate":"2015-07-01T00:00:00Z","EndDate":"2015-12-25T00:00:00Z"},{"ShortName":"EUDASM","LongName":"European
        Digital Archive of Soil Maps","Campaigns":["test 2a Campaign","test 2b Campaign"][...]
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/collections.umm-json?include_granule_counts=true&native_id=438a05e56425b252c77d6561a40d6570&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - jwt_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.nasa.cmr.legacy_umm_results+json; charset=utf-8
      cmr-request-id:
      - eb2d17d3-3e14-42ec-88d1-e3a0a214c166
      cmr-search-after:
      - '[0.0,0.0,"886458_Mystique Thirteen","1",1200450107,1]'
      cmr-hits:
      - '1'
      cmr-took:
      - '28'
    body:
      encoding: UTF-8
      string: '{"hits":1,"took":27,"items":[{"meta":{"revision-id":1,"deleted":false,"format":"application/vnd.nasa.cmr.umm+json","provider-id":"MMT_2","user-id":"dmistry","has-formats":false,"s3-links":["prefix-1","prefix-2","prefix-3"],"has-spatial-subsetting":false,"native-id":"438a05e56425b252c77d6561a40d6570","has-transforms":false,"has-variables":false,"concept-id":"C1200450107-MMT_2","revision-date":"2022-11-17T16:39:28.754Z","granule-count":0,"has-temporal-subsetting":false,"concept-type":"collection"},"umm":{"entry-title":"163422_Corporate
        Manager","entry-id":"886458_Mystique Thirteen_1","short-name":"886458_Mystique
        Thirteen","version-id":"1"}}]}'
  recorded_at: Thu, 17 Nov 2022 16:39:42 GMT
[...]
