<div class="profile noform">
  <h3>500 Internal Server Error</h3>

  <div class="eui-info-box exception">
    <h4>We're sorry, but something went wrong.</h4>

    <p>
      There has been an error processing your request. Please refer to the ID <strong>"<%= "#{request.uuid}" %>"</strong>
      when contacting Earthdata Operations.
    </p>
  </div>
</div>
