<div class="profile noform">
  <h3>404 Resource Not Found</h3>

  <div class="eui-info-box exception">
    <h4>
      The page you were looking for doesn't exist.
    </h4>

    <p>You may have mistyped the address or the page may have moved.</p>

    <p>
      There has been an error processing your request. Please refer to the ID <strong>"<%= "#{request.uuid}" %>"</strong>
      when contacting Earthdata Operations.
    </p>
  </div>
</div>
