<div id="error-page">
  <div class="wrap">
    <h1>404</h1>
    <h2>Resource Not Found</h2>

    <p class="message">Sorry! The page you were looking for does not exist.</p>
    <p class="message">
      There has been an error processing your request. Please refer to the ID <strong>"<%= "#{request.uuid}" %>"</strong> when contacting <a href="mailto:support@earthdata.nasa.gov">Earthdata Operations</a>.
    </p>
    <p class="message">
      <a href="/">Click here</a> to return to the home page.
    </p>

    <div class="earth">
      <div class="orbit"></div>
    </div>
  </div>
</div>
