<h1 class="styled-heading"><%= "#{@short_name}_#{@version} Submitted in #{Rails.configuration.cmr_env.upcase}" %></h1>


<div class="email-message">
  <p>
    <%= @approver[:name] %>,
  </p>
  <p>
    <%= "A collection metadata proposal #{@short_name}_#{@version} has been submitted in #{Rails.configuration.cmr_env.upcase} by #{@user[:name]} for review." %>
  </p>
  <div class="center">
    <%= link_to 'View Collection Metadata Proposal', collection_draft_proposal_url(@id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
