<h1 class="styled-heading"><%= "#{@short_name}_#{@version} #{@request_type.titleize}d" %></h1>

<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
  <p>
    <%= "The collection metadata record #{@short_name}_#{@version} has been successfully #{@request_specific_message} the CMR#{@email_env_note}. The collection's concept ID is #{@concept_id}." %>
  </p>
  <% unless @request_type == 'delete' %>
    <div class="center">
      <% # not sure if there needs to be some revision parameter in the URL %>
      <%= link_to 'View Collection', "#{proposal_published_cmr_root}/search/concepts/#{@concept_id}", class: 'btn btn-blue' %>
      <% puts "#{proposal_published_cmr_root}/search/concepts/#{@concept_id}" %>
    </div>
  <% end %>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
