<h1 class="styled-heading"><%= "#{@short_name}_#{@version} Approved" %></h1>


<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
  <p>
    <%= "The following collection draft proposal has been reviewed and approved: #{@short_name}_#{@version}." %>
  </p>
  <div class="center">
    <%= link_to 'View Collection Metadata Proposal', collection_draft_proposal_url(@id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
