.notifications-list {
  max-inline-size: 90vw; // Limit the maximum width of notifications

  .toast {
    max-inline-size: 100%; // Allow toasts to take full width of the container
  }

  &__icon-background {
    inline-size: 2rem;
    block-size: 2rem;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__icon {
    font-size: 1.2rem;
  }

  &__message {
    flex: 1;
    min-inline-size: 0; // Ensures flexbox works correctly
    padding-inline-end: 0.5rem; // Add some space before the close button
    word-wrap: break-word; // Allows long words to break and wrap
    overflow-wrap: break-word; // Additional support for wrapping
  }

  &__close-button {
    flex-shrink: 0;
    align-self: flex-start; // Aligns the button to the top
    white-space: nowrap;
  }

  &__timer {
    --timer-duration: 3000ms;

    inline-size: 0%;
    block-size: 0.325rem;
    animation: timer var(--timer-duration) linear;
    background-color: var(--bs-gray-600);
  }

  @keyframes timer {
    0% {
      inline-size: 0%;
    }

    100% {
      inline-size: 100%;
    }
  }
}
