.accordion-header {
  padding: .5em 1em;
  background-color: $light-grey;
  cursor: pointer;
  border-bottom: 3px solid darken($light-grey,10%);
  margin-bottom: .5em;

  .actions {
    display: inline-block;
    margin: 0 1em;
  }

  &:hover {
    background-color: lighten($light-grey,2%);
  }

  .toggle {
    @include transition(all 0.1s ease-in-out);
    margin-right: .5em;
  }

  .toggle.closed {
    @include transform(rotate(-90deg));
  }
}

.accordion-body {
  padding: 0 1.75em;
}

.accordion.is-closed > .accordion-body {
  display: none;
}
