/* Action Row
------------------------------------------*/

.action {
  border-bottom: 1px solid $dolphin-grey;
  padding: 0.9375em 0 0.625em !important;
  .btn {
    margin-right: 0.625em;
  }
}

.cta {
  width: 60%;
  float: left;
}

.badges {
  width: 7.625em;
  float: left;
  margin-top: 5px;
}

.badges img {
  width: 1.5625em;
  padding: 0;
  margin-right: 0.3125em;
}

.score-info {
  width: 15.625em;
  float: left;
  margin-left: 0.3125em;
  p {
    margin: 0;
    font-size: 1em;
  }
  p:first-child {
    margin-top: -0.1875em;
  }
}

.quality-score {
  float: left;
  width: 40%;
}
