/* Icons
------------------------------------------*/

// Note: Needs improved naming convention

.internal {
  h3:before {
    content: "\f0d7";
    font-family: "FontAwesome";
    margin-right: 0.3125em;
  }
}

.search-meta {
  margin-bottom: 1.5em;
  color: lighten($steel-blue, 20%);
}

input[type="text"] {
  color: #424242;
}

.icon-completed,
.icon-required {
  &:before {
    content: "\f10c";
    font-family: "FontAwesome";
    color: $dark-green;
    margin-left: -1.5em;
    margin-right: 0.5em;
  }
}

.icon-completed {
  &:before {
    content: "\f111";
  }
}

.icon-more {
  &:before {
    content: "\f055";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}

.icon-less {
  &:before {
    content: "\f056";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}
