/* Metadata Form
------------------------------------------*/

.metadata-form {
  input {
    display: block;
  }

  label {
  }

  .fa-info-circle {
    color: $ocean-blue;
    margin: 0 0.75em;
  }
}

.add-new {
  display: none;
}

.multiple > .actions .add-new {
  display: inline-block;
}

.multiple > :last-child > .actions .add-new {
  display: inline-block;
}

// Sets the default behavior to show the remove button for accordion headers
.multiple-item > .accordion-header > .actions > .remove {
  display: inline-block;
}

// Hides the remove button if no other multiple-item groups have been added
.multiple-item:first-child:nth-last-child(2) > .accordion-header > .actions > .remove {
  display: none;
}

.multiple > :only-child > .actions .remove {
  display: none;
}

.multiple-template {
  display: none;
}

.sub-fields {
  margin-left: 1em;
}
