/* Metadata Form
------------------------------------------*/

.metadata-form {
  input {
    display: block;
  }

  label {
    font-weight: bold;
  }

  .fa-info-circle {
    color: $ocean-blue;
    margin: 0 0.75em;
  }
}