/* Metadata Form
------------------------------------------*/

.metadata-form {
  input {
    display: block;
  }

  label {
    font-weight: bold;
  }

  .fa-info-circle {
    color: $ocean-blue;
    margin: 0 0.75em;
  }
}

.add-new {
  display: none;
}

.multiple > .actions .add-new {
  display: inline-block;
}

.multiple > :last-child > .actions .add-new {
  display: inline-block;
}

.multiple > :only-child > .accordion-header > .actions .remove,
.multiple > :only-child > .actions .remove {
  display: none;
}

.multiple-template {
  display: none;
}
