/* Metadata Fields
------------------------------------------*/

// Note: Needs refactoring.

.metadata {
  padding-bottom: 1.275em !important;
  padding-top: 1em !important;
  border-bottom: 1px solid $dolphin-grey !important;
  margin-bottom: 1em;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    @include span-columns(4);
    margin-right: 0;
    margin-bottom: 0.625em;
    min-height: 4.2em;
  }
  .fa {
    color: $dark-green;
  }
  .status {
    width: 1.3125em;
    height: 0.9375em;
    float: left;
    font-size: 2em;
    margin-top: 0.1875em;
  }
  .meta-info {
    width: 16.25em;
    float: left;
  }
  .fa-circle,
  .fa-circle-o,
  .fa-minus-circle {
    margin-right: 0.3125em;
    font-size: 0.8em;
  }
  .icon-grey {
    color: $dolphin-grey;
  }
}

.preview {
  @include span-columns(8);
  padding-top: 0 !important;
  ul {
    padding-left: 0;
    list-style: none;
  }
}
