/* Metadata Call To Action (CTA)
------------------------------------------*/

.metadata-cta {

  select {
    width: 70% !important;
    margin-right: 0.8em;
  }
}

.form-nav {
  border-left: 1px solid $black;
  border-right: 1px solid  $black;
  padding-left: 2em;  
}

