/* Metadata Preview
------------------------------------------*/

.preview {

  .accordion-header {
    h4 {
      display: inline;
    }
  }
}

.top-field {

}

ul.sub-field {

  li {
    margin-left: 1.5em;
  }


  .field-name {
    margin-left: 0;
  }
}

.field-name {
  font-weight: bold;
}
