/* Modal
------------------------------------------*/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#provider-context, #help-modal, #download-xml-modal {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #fff;
  display: none;
  div {
    margin: 25px;
  }

  #provider-context, #help-modal {
    width: 500px;
  }

  #download-xml-modal {
    width: 600px;
  }

  .modal-close {
    float: right;
    margin: 1em;
  }
}
