/* Search Module in Header
------------------------------------------*/

.search-module {
  background-color: $black;
  width: 531px;
  height: 500px;
  z-index: 10;
  position: absolute;
  top: 164px;
}