/* Skip Nav
------------------------------------------*/

a.skip-nav {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;

  &:active,
  &:focus {
    color: $white;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow:auto;
    padding: 5px;
    text-align: center;
    z-index: 999;
  }
}
