<%= link_to 'Estimate Notification Frequency', '#estimate-notifications-modal', class: 'eui-btn display-modal estimate-notifications' %>
<div id="estimate-notifications-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <div>
    <p class="status-text"></p>
  </div>
  <div class="results-text">
    <p class="estimate-text"></p>
    <p>How was this estimate generated?</p>
    <ul>
      <li class="granules-count-text"></li>
      <li class="frequency-text"></li>
      <li>Estimate assumes an even distribution of new or updated granules over a period of time.</li>    
    </ul>
  </div>
  <div class="error-text"></div>
</div>
