<%= link_to 'Test Subscription', '#test-subscription-modal', class: 'eui-btn display-modal test-subscription' %>
<div id="test-subscription-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <div>
    <p class="status-text"></p>
  </div>
  <div class="results-text"></div>
</div>
