---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
    body:
      encoding: UTF-8
      string: '{"users":[]}'
  recorded_at: Wed, 19 Oct 2022 20:24:58 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/user
    body:
      encoding: UTF-8
      string: user_id=rarxd5taqea
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb2972fd2ae0ebec89b73b711da8f3a6"
    body:
      encoding: UTF-8
      string: '{"msg":"rarxd5taqea successfully added to user group 38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa"}'
  recorded_at: Wed, 19 Oct 2022 20:24:59 GMT
[...]
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/update
    body:
      encoding: UTF-8
      string: "&description=Laboriosam%20omnis%20suscipit%20voluptates."
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"589d455328b68ba4365011423cd3d2dd"
    body:
      encoding: UTF-8
      string: '{"description":"Successfully updated user group 38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa"}'
  recorded_at: Wed, 19 Oct 2022 20:24:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"88f09e13b56eab854eb9fa80d6df9b0c"
    body:
      encoding: UTF-8
      string: '{"group_id":"ee2f6770-ad75-4eb4-9744-e0f70c145729","name":"38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa","description":"Laboriosam
        omnis suscipit voluptates.","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 19 Oct 2022 20:24:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f13a08832cac845ef6526e4c83ba4c94"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
  recorded_at: Wed, 19 Oct 2022 20:24:59 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=q6ddmkhivmuhk&uids%5B%5D=qhw5mjoxgs2vjptmvzco&uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1a9b4a3578287239c739b0a27296b50a"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz","email_verified":true,"country":"Mexico","study_area":null,"registered_date":"2012-08-29T11:02:41.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen","email_verified":true,"country":"Palau","study_area":null,"registered_date":"2012-08-29T11:30:22.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Wed, 19 Oct 2022 20:24:59 GMT
recorded_with: VCR 6.1.0
