<div class="row row-content">
  <section>
    <h2>Bulk Updates for <%= @provider_id %></h2>

    <table class="bulk-updates-list-table">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @tasks.blank? %>
          <tr>
            <td colspan="2">No tasks found</td>
          </tr>
        <% else %>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.fetch('task-id', nil), bulk_update_path(task.fetch('task-id', 'not found')) %></td>
              <td><%= task.fetch('status', nil) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
