<div class="row row-content">
  <section>
    <h2>New <%= current_user.provider_id %> Bulk Update</h2>

    <%= params.select { |key, value| %w(bulk_update_collections search_field search_query).include?(key) } %>
  </section>
</div>