@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.keyword-tree {
  &__container {
    overflow: auto;
    width: 100%;
    height: 500px;
  }

  &__node {
    &-content {
      display: flex;
      overflow: hidden;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-text {
      padding: 2px 4px;
      border-radius: 2px;
      font-size: 14px;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $blue-100;
      }
    }
  }

  &__icon-button {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__caret-icon {
    font-size: 0.60em;
  }

  &__node-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  &__icon-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
  }
  
  &__text-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__triangle-icon {
    padding-top: 6px;
    font-size: 25px;
    line-height: 1;
  }
}
