---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/search/order-options.umm_json?page_size=2000&provider_id=MMT_2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Authorization:
      - ABC-2
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      cmr-request-id:
      - bb73e7f5-14c3-4653-953b-eb01c5bfc5c9
    body:
      encoding: UTF-8
      string: '{"hits":29,"took":30,"items":[
      {
        "meta": {
          "revision-id": 5,
          "deleted": false,
          "provider-id": "CMR_ONLY",
          "user-id": "testuser",
          "native-id": "order-option-EDSC-tester",
          "concept-id": "OO1200459555-CMR_ONLY",
          "revision-date": "2023-02-15T19:56:34.396Z",
          "concept-type": "order-option"
        },
        "umm": {
          "Id": "16D0C594-70A7-20E6-1305-87E74590510C",
          "Name": "AST14DMO.3 Order",
          "Description": "AST14DMO.3 Order Description",
          "Form": "<form/>",
          "Scope": "PROVIDER",
          "SortKey": "",
          "Deprecated": false,
          "MetadataSpecification": {
            "Name": "Order Option",
            "Version": "1.0.0",
            "URL": "https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"
          }
        }
      },
      {
        "meta": {
          "revision-id": 5,
          "deleted": false,
          "provider-id": "CMR_ONLY",
          "user-id": "testuser",
          "native-id": "order-option-EDSC-tester",
          "concept-id": "OO1200459594-CMR_ONLY",
          "revision-date": "2023-02-15T19:56:34.396Z",
          "concept-type": "order-option"
        },
        "umm": {
          "Id": "16D0C594-70A7-20E6-1305-87E74590511C",
          "Name": "AST14DMO.4 Order",
          "Description": "AST14DMO.4 Order Description",
          "Form": "<form/>",
          "Scope": "PROVIDER",
          "SortKey": "",
          "Deprecated": false,
          "MetadataSpecification": {
            "Name": "Order Option",
            "Version": "1.0.0",
            "URL": "https://cdn.earthdata.nasa.gov/generics/order-option/v1.0.0"
          }
        }
      }
      ]}'
  recorded_at: Fri, 24 Feb 2023 16:08:50 GMT
recorded_with: VCR 6.1.0
