<div class="grid_row row-content">
  <section>
    <h2>Editing <%= @service_entry.fetch('Name', nil) %></h2>

    <%= form_tag(service_entry_path(@service_entry['Guid']), method: :put, id: 'service-entry-form') do %>
      <%= render partial: 'form', locals: { new_form: false } %>
    <% end %>
  </section>
</div>
