<div class="grid_row row-content">
  <section>
    <h2>New <%= current_user.provider_id %> Service Entry</h2>

    <%= form_tag(service_entries_path, method: :post, id: 'service-entry-form') do %>
      <%= render partial: 'form', locals: { new_form: true } %>
    <% end %>
  </section>
</div>
