@use "sass:map";

@import '../../../css/vendor/bootstrap/variables';

.navigation-item {
  &:hover {
    background: $gray-300;
  }

  &--is-active {
    background: $gray-300;
  }

  &__item {
    background: transparent;

    &--is-active {
      border: none;
      border-bottom: 1px solid black;
      font-weight: bold;
    }
  }

  &__icon {
    &--not-started {
      color: var(--bs-gray);
    }

    &--error {
      color: var(--bs-danger);
    }

    &--pass {
      color: var(--bs-green);
    }
  }
}
