<% if action_name == 'new' %>
  <fieldset>
    <div class="grid-row">
      <label for="definition_guid" class="eui-required-o">Data Quality Summary</label>
      <%= select_tag('definition_guid', options_for_select(@summaries.map { |s| [s.fetch('umm', {}).fetch('Name', nil), s.fetch('meta', {}).fetch('concept-id', '')] }), class: 'select2-select full-width', prompt: 'Select a Data Quality Summary') %>
    </div>
  </fieldset>
<% end %>

<fieldset>
  <div class="grid-row">
    <div id="data-quality-summary-assignment-chooser-widget"></div>
  </div>
</fieldset>
