@import '../../../css/vendor/bootstrap/variables';

.manage-page {
  &__sections {
    --bs-gutter-x: 3rem;

    @include media-breakpoint-up(lg) {
      --bs-gutter-x: 4rem;
    }

    @include media-breakpoint-up(xl) {
      --bs-gutter-x: 5rem;
    }
  }

  &__section {
    min-height: 28.75rem;
  }
}