.footer {
  &__item {
    margin-left: 0.5rem;

    &:not(:first-child) {
      &::before {
        margin-right: 1rem;
        color: var(--bs-white);
        content: "\b7";
        transform: scale(1.5);
      }
    }
  }

  &__item-link {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
