/* Modifiers
----------------------------------------*/

.home {
  background-color: $light-grey;
}

.justify-right {
  text-align: right;
}

.inline-header {
  display: inline-block;
}

// Icon color modifiers
.icon-green {
  color: $dark-green;
}

.icon-grey {
  color: $dolphin-grey;
}

.icon-red {
  color: $red;
}

// Disabled functionality
.disabled {
  opacity: 0.4;
}
