/* ===================================================== *\
   Accordion
\* ===================================================== */

.eui-accordion {
  margin-bottom: 0.2em;
}

.eui-accordion__header {
  padding: 1em 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: darken($dolphin-grey, 20%);
  border-bottom: 0;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: transparent;
  }

  .actions {
    display: inline-block;
    margin: 0 1em;
  }

  .toggle {
    transition: all 0.1s ease-in-out;
    margin-right: 0.5em;
  }

  .remove {
    color: $red;
  }
}

.eui-accordion__title {
  color: $black;
  font-size: 1.4em;
  font-weight: bold;
}

.eui-accordion__body {
  margin: 0;
  padding: 0;

  .eui-accordion__header {
    padding: 0;
    margin-bottom: 1em;
    background: none;
  }

  .eui-accordion__body {
    padding: 0;
  }
}

.eui-accordion.is-closed {

  > .eui-accordion__body {
    display: none;
  }

  > .eui-accordion__header .toggle {
    transform: rotate(-90deg);
  }
}

.preview-collection, .umm-preview {

  p {
    margin: 0;

    &.space-bot {
      margin-bottom: 15px;
    }

    &.space-top {
      margin-top: 15px;
    }
  }

  li {
    margin-bottom: 1em;
  }

  .eui-accordion__header {
    padding: 0.5em 0;
    margin: 0 0 0.5em 0;
    background-color: $white;
    border-bottom: 1px solid $light-grey;
  }

  .eui-accordion__title {
    color: $black;
    font-size: 1.2em;
    font-weight: bold;
  }

  .eui-accordion__icon {
    color: $black;
  }

  .eui-accordion__body {
    padding: 0;
    margin-bottom: 1em;
  }
}

.preview-collection, .umm-preview {
  .empty-section {
    color: $dolphin-grey;
    font-style: italic;
    margin: 1em 0;
  }
}
