/* ===================================================== *\
   Accordion
\* ===================================================== */

.accordion {
  margin-bottom: 0.2em;
}

.accordion-header {
  padding: 1em 0;
  cursor: pointer;
  font-weight: bold;
  color: darken($dolphin-grey, 20%);
  @include transition(all 0.25s ease-in-out);

  .actions {
    display: inline-block;
    margin: 0 1em;
  }

  .toggle {
    @include transition(all 0.1s ease-in-out);
    margin-right: 0.5em;
  }

  .remove {
    color: $red;
  }
}

.accordion-body {
  margin: 0;
  padding: 0;

  .accordion-header {
    padding: 0;
    margin-bottom: 1em;
    background: none;
  }

  .accordion-body {
    padding: 0;
  }
}

.accordion.is-closed {

  > .accordion-body {
    display: none;
  }

  > .accordion-header .toggle {
    @include transform(rotate(-90deg));
  }
}

.preview-collection {

  .accordion-header {
    padding: 0.5em 0;
    margin: 0 0 0.5em 0;
    border-bottom: 1px solid $light-grey;
  }

  .accordion-body {
    padding: 0;
    margin-bottom: 1em;

    p {
      margin: 0;
    }

    .empty-section {
      color: $dolphin-grey;
      font-style: italic;
    }
  }
}
