/* ===================================================== *\
   Action Row
\* ===================================================== */

.action {
  padding: 0;
  padding-top: 0.9375em;
  padding-bottom: 0.625em;

  a[class^="eui-btn"]:not(.eui-btn--link):first-child {
    margin-right: 0.625em;
  }

  .bar-after::after, .bar-before::before {
    content: " | "
  }
}

.quality-score {
  margin-top: 15px;

  p {
    margin: 0;
  }
}

.badges .fa {
  margin: 0;
}
