/* ===================================================== *\
   Badge
\* ===================================================== */

.coming-soon {
  display: inline-block;
  position: relative;
  top: -2px;
  border-radius: 3px;
  margin: 0 0.5em;
  padding: 0 0.4em;
  background-color: darken($red, 10%);
  color: $white;
  font-size: 0.75em;
  font-weight: bold;
}

.beta-badge {
  margin-bottom: 0.3em
}
