/* ===================================================== *\
   Breadcrumbs
\* ===================================================== */

.eui-breadcrumbs {
  padding: 1em 0;
  font-size: 0.8em;
  opacity: 0.8;

  a {
    &:link,
    &:visited {
      color: $white;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
