/* ===================================================== *\
   Buttons
\* ===================================================== */

.eui-btn {
  border: 1px solid rgba($black, 0.15);

  &:link,
  &:visited {
    color: $black;
  }
}

button {
  &:disabled {
    background-color: lighten($dolphin-grey, 10%);

    &:hover {
      background-color: lighten($dolphin-grey, 10%);
    }
  }
}
