/* ===================================================== *\
   Buttons
\* ===================================================== */

.eui-btn {
  border: 1px solid rgba($black, 0.15);
  color: $black !important;

  &:link,
  &:visited {
    color: $black;
  }
}

.eui-btn--red {
  @extend .eui-btn;

  background-color: $red;
  color: $white !important;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: darken($red, 6%);
  }
}  

button {
  &:disabled {
    background-color: lighten($dolphin-grey, 10%);

    &:hover {
      background-color: lighten($dolphin-grey, 10%);
    }
  }
}