/* ===================================================== *\
   Buttons
\* ===================================================== */

.eui-btn {
  border: 1px solid rgba($black, 0.15);
  color: $black !important;

  &:link,
  &:visited {
    color: $black;
  }
}

.eui-btn--red {
  @extend .eui-btn;

  background-color: $red;
  color: $white !important;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background-color: darken($red, 6%);
  }
}

.eui-btn--steel-blue {
  @extend .eui-btn;

  background-color: $steel-blue;
  color: $white !important;
  padding: 0.5em 1em;

  &:hover {
    background-color: darken($steel-blue, 6%);
  }
}

button {
  &:disabled {
    background-color: lighten($dolphin-grey, 10%);

    &:hover {
      background-color: lighten($dolphin-grey, 10%);
    }
  }
}
