/* ===================================================== *\
   Callout Box
\* ===================================================== */

.callout-box {
  @include span-columns(4);
  margin-right: 1.5%;
}

.callout-content {

  // This nesting currently cannot be avoided due to a specificity war with the EUI
  .callout-content__title {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5;
    background-color: $steel-blue;
    border-right: 8px solid darken($steel-blue, 10%);
    box-shadow: -1.5em 0 0 0 $steel-blue;
  }

  p {
    margin: 0;
  }

  li {
    @include outer-container;

    a {
      color: $ocean-blue;
    }
  }

  /* Content Grouping
  ------------------------------------------*/

  .question-group {
    border-bottom: 1px solid $ocean-blue;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }

  .info {
    @include span-columns(10);
    @include omega();
  }

  .comments {
    @include span-columns(2);
    text-align: center;
    background-image: asset-url('comment.png');
    background-size: 2.25em;
    background-repeat: no-repeat;
    height: 2.75em;
    background-position: center;

    p {
      margin-top: 0.4375em;
    }
  }

  /* Form Elements
  ------------------------------------------*/
  form {

    img {
      display: inline-block;
      float: left;
      width: 1.8125em;
      border: 0;
    }

    input[type="radio"] {
      @include span-columns(0.5 of 4);
      margin-top: 0.45em;
      margin-right: 0.6em;
    }

    select {
      @include row();
      width: 14.0625em !important;
      margin-left: 1.5625em;
    }
  }
}
