/* ===================================================== *\
   Callout Box
\* ===================================================== */

.eui-callout-box {
  @include span-columns(4);
  box-sizing: border-box;
  background-color: $white;
  margin-left: 0;
  margin-right: 5%;
  max-width: 294px; // Max width to handle rows with less than 3 callout boxes
  min-height: 400px;
}

.eui-callout-box {
  &__title {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.5;
    background-color: $steel-blue;
    border-right: 8px solid darken($steel-blue, 10%);
    box-shadow: -1.5em 0 0 0 $steel-blue;
  }

  .green {
    background-color: $dark-green;
    border-right: 8px solid darken($dark-green, 10%);
    box-shadow: -1.5em 0 0 0 $dark-green;
  }

  .ocean-blue {
    background-color: $ocean-blue;
    border-right: 8px solid darken($ocean-blue, 10%);
    box-shadow: -1.5em 0 0 0 $ocean-blue;
  }
}

.eui-callout-box__list {

  p {
    margin: 0;
  }

  ul {
    margin-top: 0.5em;
    padding-left: 0;
  }

  li {
    @include outer-container;

    &:first-child {
      padding-top: 0;
    }

    a {
      color: $ocean-blue;

      &:hover,
      &:visited {
        color: $ocean-blue;
      }
    }
  }

  /* Content Grouping
  ------------------------------------------*/

  .question-group {
    border-bottom: 1px solid $ocean-blue;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
  }

  .info {
    @include span-columns(10);
    @include omega();
  }

  .comments {
    @include span-columns(2);
    text-align: center;
    background-image: asset-url('comment.png');
    background-size: 2.25em;
    background-repeat: no-repeat;
    height: 2.75em;
    background-position: center;

    p {
      margin-top: 0.4375em;
    }
  }

  /* Form Elements
  ------------------------------------------*/
  form {

    img {
      display: inline-block;
      float: left;
      width: 1.8125em;
      border: 0;
    }

    input[type="radio"] {
      @include span-columns(0.5 of 4);
      margin-top: 0.45em;
      margin-right: 0.6em;
    }

    select {
      @include row();
      width: 14.0625em !important;
      margin-left: 1.5625em;
    }
  }
}
