.Chooser {
  display: table;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background: #fff;

  label {
    display: block;
  }

  select {
    height: 555px;
  }

  .from-container {
    display: table-cell;
    width: 45%;

    input {
      width: 100%;
    }
  }

  .button-container {
    display: table-cell;
    width: 10%;
    padding: 0 20px;
    vertical-align: middle;

    button {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .to-container {
    display: table-cell;
    width: 45%;

    input {
      width: 100%;
    }
  }

  span.to_message {
    color: red;
    font-size: 0.9em;
    margin: 0;
  }
}
