/* Geographic Coverage
------------------------------------------*/

.coordinates {
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 0.3125em;
  }
}

/*
This styling is used for the sidebar with geographic info in Collections preview
as well as the sidebar in Variables preview
*/

.geographic-coverage, .umm-preview-sidebar {
  float: left;
  display: block;
  margin-right: neat-gutter-width();
  width: neat-span-width(4);
  background: $light-blue;
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid darken($light-blue, 8%);

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  &:last-child {
    margin-right: 0;
  }
  
  section {
    padding: 0 1em;
  }

  img {
    padding: 0;
    margin-bottom: 0.625em;
  }

  h3 {
    margin-bottom: 1em;

    &:before {
      content: "";
      margin: 0;
      padding-bottom: 10.3125em;
    }
  }

  .umm-preview-field-container {
    width: 100%;

    .hash-link {
      margin-left: -35px;
    }
  }
}

.preview-spatial {
  border-bottom: 1px solid darken($light-blue, 8%);
}
