/* ===================================================== *\
   Grid List
\* ===================================================== */

// TODO: what uses this?
.grid-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border: 1px solid darken($light-blue, 10%);
    box-shadow: 5px 5px 0 $light-blue;
    background-color: linear-gradient(145deg, lighten($light-blue, 3%), $white);
    width: 23.3%;
    margin: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    float: left;

    &:nth-child(4n+0) {
      margin: 0;
    }

    &:hover {
      border-color: $pale-blue;
    }

    a {
      padding: 1em;
      display: flex;
      flex-flow: row wrap;
      height: 190px;
      color: $midnight-blue;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: lighten($light-blue, 2%);
      }
    }
  }

  h3 {
    margin: 0;
    font-size: 1em;
    order: 1;
    flex: 1 100%;
  }

  p {
    margin: 0;
    line-height: 1.6em;
    align-self: flex-end;
    order: 2;
    flex: 1 100%;
    color: $dolphin-grey;

    strong {
      font-size: 1.4em;
      color: $ocean-blue;
    }
  }
}
