/* ===================================================== *\
   Groups
\* ===================================================== */

.group-header {
  h2 {
    display: inline;
  }
}

.group-form {
  input[type="checkbox"].checkbox-med {
    width: 18px;
    height: 18px;
  }
}
