/* Icons
------------------------------------------*/

// Note: Needs improved naming convention

.search-meta {
  padding: 1.5em 0;
  margin: 0;
  color: lighten($steel-blue, 20%);
}

input[type="text"] {
  color: lighten($black, 10%);
}

.icon-completed,
.icon-required {
  &:before {
    content: "\f10c";
    font-family: "FontAwesome";
    font-size: 0.7em;
    color: $dark-green;
    margin-left: -1.5em;
    margin-right: 0.5em;
    display: block;
    float: left;
  }
}

.compass-coordinates {
  .icon-completed,
  .icon-required {
    &:before {
      content: "\f10c";
      font-family: "FontAwesome";
      font-size: 0.7em;
      color: $dark-green;
      display: inline-block;
      margin: 0;
      padding: 0 0.8em 0 0;
      float: none;
    }
  }
}

.icon-completed {
  &:before {
    content: "\f111";
  }
}

.icon-more {
  &:before {
    content: "\f055";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}

.icon-less {
  &:before {
    content: "\f056";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}
