/* ===================================================== *\
   Icon
\* ===================================================== */

// Note: Needs improved naming convention

.icon-completed,
.icon-required {
  &:before {
    content:"\f125";
    font-family: "EUI-Icon-Library";
    font-size: 0.85em;
    color: $dark-green;
    margin-right: 0.5em;
    display: block;
    float: left;
  }
}

.compass-coordinates {
  .icon-completed,
  .icon-required {
    &:before {
      content:"\f125";
      font-family: "EUI-Icon-Library";
      font-size: 0.85em;
      color: $dark-green;
      display: inline-block;
      margin: 0;
      padding: 0 0.8em 0 0;
      float: none;
    }
  }
}

.icon-completed {
  &:before {
    content: "\f111";
  }
}

.icon-more {
  &:before {
    content: "\f055";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}

.icon-less {
  &:before {
    content: "\f056";
    font-family: "FontAwesome";
    color: $ocean-blue;
    margin-right: 0.75em;
  }
}

.icon-circle-left {
  &:before {
    font-family: "EUI-Icon-Library";
    content: "\f10e";
    font-size: 1em;
  }
}

.icon-circle-right {
  &:before {
    font-family: "EUI-Icon-Library";
    content: "\f10f";
    font-size: 1em;
  }
}

.icon--md { font-size: 1.25em; }
