/* ===================================================== *\
   Internal
\* ===================================================== */

// todo: refactor these styles

.internal {
  header,
  .content-header {
    min-width: 100%;
    background: rgba($true-black, 0.3);
    color: $white;
    padding: 0;

    h2 {
      margin-bottom: 0;
      border-bottom: 0;

      img {
        width: 1.25em;
        margin-right: 0.5em;
        padding: 0;
      }
    }
  }

  .collection-basics {
    @include span-columns(12);
  }

  .collection-details {
    @include span-columns(4);
    padding: 1em;
    height: 175px;
    background: rgba($true-black,0.5);

    .badge {
      a:link,
      a:visited {
        color: $white;
      }
    }

    .version {
      background: $royal-purple;
    }

    .language {
      background: $midnight-blue;
    }

    .nrt {
      background: $dark-green;
    }

    p {
      color: $dolphin-grey;
      font-size: 0.9em;
    }

    a:link,
    a:visited {
      color: $dolphin-grey;
    }
  }

  .row-content {
    padding: 0.5em 0;

    // the background image for Draft MMT is larger than the one for MMT proper
    // and can bleed out under the main content, so this will help prevent that
    min-height: var(--proposal-mode-content-min-height, 0);
  }

  .manage-proposals-mmt {
    min-height: 300px;
  }
}
