/* ===================================================== *\
   Internal
\* ===================================================== */

// todo: refactor these styles

.internal {
  header,
  .content-header {
    min-width: 100%;
    background: rgba($true-black, 0.3);
    color: $white;
    padding: 0;

    h2 {
      margin-bottom: 0;
      border-bottom: 0;

      img {
        width: 1.25em;
        margin-right: 0.5em;
        padding: 0;
      }
    }
  }

  .row-content {
    padding: 0.5em 0;
  }
}
