/* ===================================================== *\
   Lightbox
\* ===================================================== */

#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba($true-black, 0.75);
  position: absolute;
  // top: 140px;
  top: 0;
  display: block;
}
