/* ===================================================== *\
   Masthead Image
\* ===================================================== */

// todo: refactor these styles

// variables for proposal mode background image
body.proposal-mode-body {
  --proposal-mode-background-image: #{asset-url('ed-images/columbia-glacier-lrg.jpg')};
  --proposal-mode-content-min-height: 450px;
}

body {
  background: $white no-repeat center top;
  background-image: var(--proposal-mode-background-image, asset-url('ed-images/yellow-sea-swirls.jpg'));
}

body.proposal-mode-body.application-layout {
  background-size: cover;
}

body.proposal-mode-body.offset-background-image {
  background-position: 0 -430px;
}

.highlight {
  background: rgba($black, 0.8);
  color: $white;
  padding: 1.6em;
  margin-bottom: 2em;
  border-left: 5px solid $red;

  h2 {
    margin: 0 0 1em 0;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
  }

  p {
    margin: 0;
  }
}
