/* Welcome page masthead image
------------------------------------------*/
body {
  background: $white asset-url('ed-images/yellow-sea-swirls.jpg') no-repeat center top;
}

main.content {
}

.highlight {
  background: rgba($black, 0.8);
  color: $white;
  padding: 1.6em;
  margin-bottom: 2em;
  border-left: 5px solid $red;

  h2 {
    margin: 0 0 1em 0;
    border: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
  }

  p {
    margin: 0;
  }
}

.welcome {
  .row-content {
    padding-top: 0.5em;
  }
}

.heading-group {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border-left: 5px solid $red;

  h2 {
    margin: 0 0 0.2em 0;
    border: none;
    font-weight: bold;
  }

  p {
    margin: 0;
    color: $dolphin-grey;
  }
}
