/* ===================================================== *\
   Metadata Call To Action (CTA)
\* ===================================================== */

.metadata-cta {
  padding: 1.2em;
  border-bottom: 1px solid darken($light-grey, 10%);
  background-image: linear-gradient($white, $light-grey);

  select {
    width: 50% !important;
    margin-right: 0.8em;
    display: inline-block;
  }

  input[type="submit"] {
    display: inline-block;
  }

  .cancel {
    padding-top: 0.8em;
  }

  div {
    height: 50px;
    border-right: 1px solid  darken($light-grey, 10%);

    &:last-child {
      border-right: none;
    }
  }
}

.update-timestamp {
  font-size: 0.7em;
  margin: 0;
  color: $dolphin-grey;
  font-style: italic;
}

.form-nav {
  padding-top: 5px;
}
