/* ===================================================== *\
   Metadata Preview
\* ===================================================== */

// todo: requires heavy refactoring

.template_creation_form{
  display: none;
}

.umm-preview {
  .arrow-tag-group-list {
    display: table;
  }

  div.umm-preview-field-container:last-of-type {
    margin-bottom: 1em;
  }

  fieldset .umm-preview-field-container .hash-link {
    margin-left: -47px;
  }
}

.preview, .umm-preview {

  h5 {
    margin: 1em 0 0.3em 0;
  }

  h6 {
    font-weight: bold;
    margin: 0.3em 0;
    color: $dolphin-grey;
  }

  .eui-accordion__header {
    h4, h5 {
      display: inline;
    }
  }
}

ul.sub-field {

  li {
    margin-left: 1.5em;
  }


  .field-name {
    margin-left: 0;
  }
}

.field-name {
  font-weight: bold;
}

.preview-collection, .umm-preview {

  .eui-accordion__body {

    h4 {
      border-bottom: 1px dotted $dolphin-grey;
      padding: 0.5em 0;
      margin: 0.5em 0 0.5em 0;
    }

    ul {
      margin: 0;
    }
  }

  .sub-field {
    li {
      margin: 0;
    }
  }
}

.hash-link {
  opacity: 0.3;
  transition: all 0.15s ease-in-out;
  float: left;
  margin-left: -30px;

  &:hover {
    opacity: 1;
  }
}

.sidebar-list {
  li {
    margin: 0.4em 0;

    &.label {
      color: rgba($black, 0.8);
      display: block;
    }
  }
}

.preview-sidebar-item {
  color: $white;
  background: $steel-blue;
  margin: 0.125em 0;
  padding: 0.25em 0.7em;
  font-size: 0.85em;
  border-radius: 3px;
}

.no-access {
  text-align: center;
  background: $white;
  padding: 2em;
  color: darken($light-grey, 15%);

  .access-title {
    font-size: 3em;
  }

  .access-message {
    max-width: 575px;
    margin: 1em auto;
  }
}

.location-keywords-preview, .science-keywords-preview, .service-keywords-preview {
  ul.arrow-tag-group-list {
    width: 100%;
  }
}


/* ===================================================== *\
   Collection Preview
\* ===================================================== */
// specific to collection previews, with change to display wider view and tab organized content

.collection-preview {
  margin-top: 15px;
}

#collection-general-overview {

  h2.draft-preview-label {
    border: 0;
  }

  .collection-title {
    min-width: 900px;
    float: left;

    h1 {
      float: left;
      font-size: 1.9em;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .title-nrt-badge {
      float: left;
      margin-left: 15px;
    }
  }

  .collection-dataset-logo {
    .collection-overview-item {
      float: left;
      width: 60px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .collection-short-name {
    color: #8c8c8c;
    float: left;
    margin-top: -10px;
    width: 80%;
    min-width: 208px;

    .collection-overview-label {
      float: left;
      line-height: inherit;
      margin: 0;
      padding-right: 10px;
    }
    .collection-overview-item {
      float: left;
    }
  }

  .collection-abstract {
    clear: left;
  }
}

#data-center-logo {
  background: none;
  border: none;
  float: left;
  margin-bottom: 10px;
  padding: 0;
}

#collection-preview-tabs {
  .collection-tabs-container {
    border-bottom: 1px solid #c9dce7;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;

    .tab-label {
      background: linear-gradient(to bottom,#fdfdfe 0%,#eff1f4 100%);
      border: 1px solid #c9dce7;
      color: #7f7f7f;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      margin-right: 5px;
      padding: 12px 15px;
      transition: background 0.1s, color 0.1s;
    }

    .tab-label:hover {
      background: #d8d8d8;
    }

    .tab-label.active {
      background: linear-gradient(to bottom,#eff1f4 0%,#ffffff 71%);
      border-bottom: 2px solid #fff;
      margin-bottom: -1px;
    }
  }

  .collection-panels-container {
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #c9dce7;

    img {
      padding: 0;
    }

    .tab-panel {
      background: #fff;
      padding: 20px 30px 30px;

      ul {
        list-style: none;
      }

      .list-item-label {
        font-weight: bold;
      }

      .url-list-item-description {
        color: #95a5a6;
        font-size: 90%;
      }

      .panel-title {
        font-weight: bold;
      }
    }

    .associated-services-tab-panel, .associated-tools-tab-panel {
      padding: 20px 15px 15px;
    }
  }
}

.collection-overview-table {
  border: 0;

  td {
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #f1f1f1;

    div {
      display: inline;
    }

    span {
      display: block;
    }
  }

  td.label-cell {
    background: #7ab5da;
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
    width: 15%;
  }

  td.empty-cell {
    border-bottom: 0;
  }
}

@media print {
  .tab-panel.is-invisible {
    position: inherit;
    top: inherit;
    left: inherit;
    width: inherit;
    height: inherit;
    overflow: inherit;
  }
  .preview-spatial,div.collection-tabs-container label,#preview-map {
    display: none;
  }
}

#additional-information-panel {

  .dc-title-container {
    margin: 15px 0;

    h6.no-margin {
      margin: 0;
    }
  }

  .dc-title {
    h5 {
      display: inline-block;
      margin: 0;
    }

    h5 {
      padding-right: 15px
    }
  }

  .dc-contact-info {
    margin-bottom: 15px;
  }

}

#proposal-status-display{
  float:right;
  padding-right: 5px;
}

// Overriding eui defaults for these badges only (bold and caps lock default)
.proposal-status-badge {
  text-transform: none;
  font-weight: normal;
}

.proposal-status-display-status {
  text-decoration: underline;
}

.proposal-reject-button {
  margin-right: .625em
}

.subscriptions-table{
  .wrapping-div {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .wrapping-td {
    max-width: 25em;
  }

  width: 100%
}

.query-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#danger-warning {
  font-weight: bold;
}
