/* ===================================================== *\
   Metadata Preview
\* ===================================================== */

// todo: requires heavy refactoring

.umm-preview {
  .arrow-tag-group-list {
    display: table;
  }

  div.umm-preview-field-container:last-of-type {
    margin-bottom: 1em;
  }

  fieldset .umm-preview-field-container .hash-link {
    margin-left: -47px;
  }
}

.preview, .umm-preview {

  h5 {
    margin: 1em 0 0.3em 0;
  }

  h6 {
    font-weight: bold;
    margin: 0.3em 0;
    color: $dolphin-grey;
  }

  .eui-accordion__header {
    h4, h5 {
      display: inline;
    }
  }
}

ul.sub-field {

  li {
    margin-left: 1.5em;
  }


  .field-name {
    margin-left: 0;
  }
}

.field-name {
  font-weight: bold;
}

.preview-collection, .umm-preview {

  .eui-accordion__body {

    h4 {
      border-bottom: 1px dotted $dolphin-grey;
      padding: 0.5em 0;
      margin: 0.5em 0 0.5em 0;
    }

    ul {
      margin: 0;
    }
  }

  .sub-field {
    li {
      margin: 0;
    }
  }
}

.hash-link {
  opacity: 0.3;
  @include transition(all 0.15s ease-in-out);
  float: left;
  margin-left: -30px;

  &:hover {
    opacity: 1;
  }
}

.sidebar-list {
  li {
    margin: 0.4em 0;

    &.label {
      color: rgba($black, 0.8);
      display: block;
    }
  }
}

.preview-sidebar-item {
  color: $white;
  background: $steel-blue;
  margin: 0.125em 0;
  padding: 0.25em 0.7em;
  font-size: 0.85em;
  border-radius: 3px;
}

.no-access {
  text-align: center;
  background: $white;
  padding: 2em;
  color: darken($light-grey, 15%);

  .access-title {
    font-size: 3em;
  }

  .access-message {
    max-width: 575px;
    margin: 1em auto;
  }
}

.location-keyword-preview, .science-keywords-preview, .service-keywords-preview {
  ul.arrow-tag-group-list {
    width: 100%;
  }
}


/* ===================================================== *\
   Collection Preview
\* ===================================================== */
// specific to collection previews, with change to display wider view and tab organized content

// .collection-preview {
//
// }

#collection-general-overview {

  .collection-title {
    h1 {
      float: left;
      font-size: 1.8em;
      margin-bottom: 20px;
      margin-top: 0;
      min-width: 900px;
    }
  }

  .collection-dataset-logo {
    .zzz-item {
      float: left;
      width: 60px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .collection-short-name {
    color: #8c8c8c;
    float: left;
    margin-top: -10px;
    width: 80%;
    min-width: 208px;

    .zzz-label {
      float: left;
      line-height: inherit;
      margin: 0;
      padding-right: 10px;
    }
    .zzz-item {
      float: left;
    }
  }

  .collection-title {

  }

  .collection-abstract {
    clear: left;
  }
}

#data-center-logo {
  background: none;
  border: none;
  float: left;
  margin-bottom: 10px;
  padding: 0;
}
