/* ===================================================== *\
   Metadata Fields
\* ===================================================== */

// Note: Needs refactoring.

.metadata {
  padding-bottom: 1.275em !important;
  padding-top: 1em !important;
  border-bottom: 1px solid $dolphin-grey !important;
  margin-bottom: 1em;

  #legend {
    margin-left: .5em;
    color: $ocean-blue;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.progress-indicator {
  font-size: 1.1em;

  a[title$='complete'],
  a[title$='Required'] {
    vertical-align: middle;
  }

  li {
    float: left;
    display: block;
    margin-right: neat-gutter-width();
    width: neat-width-of-columns(4);
    margin-right: 0;
    margin-bottom: 0.625em;
    min-height: 3.2em;
    &:last-child {
      margin-right:0;
    }
  }

  .status {
    width: 1.3125em;
    height: 0.9375em;
    float: left;
    font-size: 2em;
    margin-top: 0.1875em;
  }

  .meta-info {
    width: 16.25em;
    float: left;
  }
}

.preview {
  float: left;
  display: block;
  margin-right: neat-gutter-width();
  width: neat-width-of-columns(8);
  padding-top: 0 !important;
  &:last-child {
    margin-right:0;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  & .preview {
    // we want the top level preview class to have the appropriate width adjustment, but don't need all
    // nested elements with preview class to be further narrowed
    float: left;
    display: block;
    margin-right: neat-gutter-width();
    width: neat-width-of-columns(12);
    &:last-child {
      margin-right:0;
    }
  }
}

// Compass Coordinates
.compass-coordinates {

  .north,
  .south,
  .east,
  .west {
    text-align: center;
  }

  .north,
  .south {
    margin: 0 auto;
    width: 70%;
  }
}
