/* ===================================================== *\
   Metadata Forms
\* ===================================================== */

// todo: requires heavy refactoring

.umm-form {
  .eui-fa-info-circle {
    color: $ocean-blue;
    margin: 0 0.5em;
    @include transition(all 0.15s ease-in-out);

    &:hover {
      color: darken($ocean-blue, 15%);
    }
  }
}

.metadata-form {
  fieldset.addresses-street-addresses {
    legend {
      padding: 10px 0 5px;

      + .display-modal {
        display: inline-block;
        padding: 10px 0 5px;
      }
    }

    input {
      margin-top: 0;
    }

    label {
      font-weight: normal;
    }
  }

  input {
    display: block;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    margin-right: 0.5em;
    line-height: 1em;
  }

  .eui-fa-info-circle {
    color: $ocean-blue;
    margin: 0 0.75em;
    @include transition(all 0.15s ease-in-out);

    &:hover {
      color: darken($ocean-blue, 15%);
    }
  }

  .form-nav {
    margin-right: 0;
  }
}

.add-new {
  display: none;
  width: 100%;
  margin-top: 1em;
}

.multiple > .actions .add-new {
  display: inline-block;
  margin: 0;
  margin-bottom: 1em;
}

.multiple > :last-child > .actions .add-new {
  display: inline-block;
}

// Sets the default behavior to show the remove button for accordion headers
.multiple-item > .eui-accordion__header > .actions > .remove {
  display: inline-block;
}

// Hides the remove button if no other multiple-item groups have been added
.multiple-item:first-child:nth-last-child(2) > .eui-accordion__header > .actions > .remove {
  display: none;
}

// Specifically allows the last data contact in collections to be deleted.
.data-contacts > .multiple-item:first-child:nth-last-child(2) > .eui-accordion__header > .actions > .remove {
  display: inline-block;
}

.simple-multiple > .multiple-item:only-of-type > .remove {
  display: none;
}

.simple-multiple {
  .multiple-item a.remove {
    color: $red;
    float: left;
    font-size: 1.4em;
    padding: 0.6em;
  }
}

.simple-multiple {
  .multiple-item input[type="text"], .multiple-item input[type="datetime"], .multiple-item input[type="number"] {
    float: left;
  }
}

.simple-multiple .multiple-item {
  clear: both;
}

.multiple-template {
  display: none;
}

.sub-fields {
  padding: 1em 1.5em;
  background: darken($light-grey, 5%);
  border-left: 2px solid darken($light-grey, 12%);
  @include transition(all 0.25s ease-in-out);
  &:hover {
    border-color: $ocean-blue;
  }
}

.sub-fields .sub-fields {
  background: $light-grey;

  .sub-fields {
    background: darken($light-grey, 5%);
  }

  .sub-fields .sub-fields {
      background: $light-grey;
  }

  .sub-fields .sub-fields .sub-fields {
      background: darken($light-grey, 5%);
  }
}

.radio-group, .checkbox-group {
  margin: 0.5em 0;

  label {
    font-weight: normal;
    line-height: 1em;
  }
}

.eui-nested-item-picker {
  margin-bottom: 0.5em;
}

.selected-science-keywords, .selected-service-keywords, .selected-location-keywords {
  a.remove {
    color: $red;
    font-size: 1.4em;
    padding: 0.6em;
    cursor: pointer;
  }
}

.clear-radio-button {
  font-size: 0.8em;
  display: block;
}

// This needs to move to EUI!
.eui-item-list-pane {
  overflow-y: scroll;
}

.validation-error {
  clear: both;
}

.spatial-preview-link {
  padding: 1em;
  background: inherit;
  display: block;
}

.platform-type.default {
  color: gray;
}

#template_reminder {
  margin: 15px 0px;
}
