/* ===================================================== *\
   Modal
\* ===================================================== */

// todo: requires refactoring

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: $true-black;
  display: none;
}

#provider-context,
#help-modal,
#download-xml-modal,
#progress-legend,
#variable-preview-modal,
#collection-association-legend {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: $white;
  display: none;

  div {
    margin: 25px;
  }

  .modal-close {
    float: right;
    margin: 1em;
  }
}

#progress-legend {
  padding: 0.5em 1.5em;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    clear: both;
    width: 100%;
  }

  .fa {
    font-size: 1em;
  }
}

#provider-context,
#help-modal,
#progress-legend,
#collection-association-legend {
  width: 500px;
}

#download-xml-modal {
  width: 700px;
}

#variable-preview-modal {
  width: 750px;
  height: 70%;

  .variable-modal-body {
    height: inherit;
    width: -webkit-fill-available;
    overflow: scroll;
    background: lighten($light-grey, 3%)
  }
}

#check-cmr-validation-draft-modal {
  max-height: 75%;
}

.eui-modal-content {
  .eui-banner--danger {
    // if we are using a banner in a modal, this will push down the banner so
    // the modal close 'x' is above the banner
    margin-top: 20px;
  }
}

#tags-modal {
  ul {
    max-height: inherit;
    overflow-y: scroll;
  }
}
