/* ===================================================== *\
   "Manage" Navigation
\* ===================================================== */

// todo: refactor these styles

nav {
  @include row();
  margin-bottom: 0;

  h2 {
    float: left;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.8em 0 1em 0;
    margin: 0.8em 3em 0 0;
    border-bottom: 0;

    &.current {
      border-bottom: 3px solid $red;
      color: $white;
      font-weight: bold;
    }

    a:link,
    a:visited {
      float: left;
      color: $white;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
