/*  Neatgrid -- Replacement for Neat Gem v1.7.4  
This file contains 2 replacement functions that provide
the essential Neat capabilities for working with a CSS grid.
Neat is no longer maintained, but documentation can 
be found at https://neat.bourbon.io/docs/1.7.4/  */

$fg-max-columns: 12;
$fg-column: 4.235801032em;
$fg-gutter: 1.618em;

@function neat-width-of-columns($columns, $container-columns: $fg-max-columns) {
  $width: $columns * $fg-column + ($columns - 1) * $fg-gutter;
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($width / $container-width);
}

@function neat-gutter-width($container-columns: $fg-max-columns, $gutter: $fg-gutter) {
  $container-width: $container-columns * $fg-column + ($container-columns - 1) * $fg-gutter;
  @return percentage($gutter / $container-width);
}

@mixin  neat-span-of-columns($span_columns: $fg-max-columns) {
 float: left;
 display: block;
 margin-right: neat-gutter-width();
 width: neat-width-of-columns($span_columns);

 &:last-child {
 margin-right: 0;
 }
}
