/* ===================================================== *\
   Popover
\* ===================================================== */

.webui-popover {
  font-size: 0.85em;

  p {
    margin: 0.7em 0;
  }

  p:first-of-type {
    margin-top: 0
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
