/* ===================================================== *\
   Science and Location Keywords
\* ===================================================== */

// todo: require refactoring

div.science-keywords,
div.service-keywords,
div.location-keywords {
  margin: 0 0 2em 0;

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-right: 0.5em;
    font-weight: lighter;
  }
}

#science-keyword-search,
#service-keyword-search,
#location-keyword-search {
  margin: 0;
  border: none;
  width: 100%;
}

.twitter-typeahead {
  width: 100%;
  color: $black;
}

.tt-menu {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 0.25em 0.5em;
  transition: all 0.25s linear;

  &:hover {
    background-color: rgba($medium-blue,0.4);
    cursor: pointer;
  }
}

/* Science and Location Keyword Rendering
------------------------------------------*/

.arrow-tag-group {
  height: 2em;
}


.arrow-tag-group-list {
  list-style: none;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  padding-left: 0;
}


.arrow-tag-group-item {
  display: inline;

  float: left;
  background: $steel-blue;
  text-align: center;
  padding: 3px 3px 3px 15px;
  position: relative;

  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.arrow-tag-group-item:after {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $steel-blue;
  position: absolute; right: -10px; top: 0;
  z-index: 1;
}

.arrow-tag-group-item:before {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid $steel-blue;
  position: absolute; left: 0; top: 0;
  background-color: $steel-blue;
}

.arrow-tag-group-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 5px;
  background: $midnight-blue;
}

.arrow-tag-group-item:first-child:before {
  display: none;
}

.arrow-tag-group-item:first-child:after {
  border-left: 10px solid #293746;
}

.arrow-tag-group-item:last-child {
  padding-right: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: lighten($steel-blue, 10%);
}

.arrow-tag-group-item:last-child:before {
  background: lighten($steel-blue, 10%);
}

.arrow-tag-group-item:last-child:after {
  display: none;
  border-left: 10px solid lighten($steel-blue, 10%);
}
