/* ===================================================== *\
   Science Keywords
\* ===================================================== */

// todo: require refactoring

div.science-keywords,
div.spatial-keywords {
  margin: 0 0 2em 0;

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-right: 0.5em;
    font-weight: lighter;
  }
}

#science_keyword_search {
  width: 100%;
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.tt-suggestion {
  margin: 0.5em;
}
