/* ===================================================== *\
   Search Modules in Header
\* ===================================================== */

// todo: requires refactoring


/* Search Form
------------------------------------------*/

#search {
  float: right;
  transition: z-index 0.25s ease-in-out;

  &.open {
    background-color: darken($black, 5%);
    width: 800px;
    z-index: 10;
    position: absolute;
    top: 140px;
    text-align: left;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }

  .quick-search {
    .search-dropdown {
      position: absolute;
      background-color: $steel-blue;
      padding: 5px 10px 2px 15px;
      margin-top: -4px;
      max-width: 385px;
      @media not all and (min-resolution:.001dpcm){
        @supports (-webkit-appearance:none) {
            max-width: 381px;
        }
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        max-width: 384px;
      }
      display: none;
      z-index: 9999;

      .radio-buttons {
        float: left;
      }
      .provider-selection {
        float: left;
        width: 100%;

        .row {
          display: inline-flex;
          vertical-align: middle;
          width: 100%;

          span {
            padding-top: 6px;
            padding-right: 10px;
          }
        }
      }
    }
    .search-dropdown-short {   /* smaller dropdown if radio buttons are hidden in DMMT */
      width: 100%;
      height: 45px;
    }

    .search-dropdown-wide {   /* wider dropdown if UMM-T is enabled */
      right: 0px; // causes dropdown width to extend to the left
      max-width: 440px;
    }

    .eui-btn--blue {
      background-color: $steel-blue;
      border-right: 1px solid $dolphin-grey;
      border-bottom: 1px solid $steel-blue;
    }

    #search-submit-button {
      text-align: left;
      width: 172px; // 11.92em
    }

    .search-field-wide {
      width: 241px;
    }

    .dropdown-button {
      background-color: $steel-blue;
      padding: 7px 0 11px 9px;
      @-moz-document url-prefix() {
        padding: 7px 0 9px 9px;
      }
      border: 0;
      margin-top: -4px;
      cursor: pointer;
    }
  }

  .full-search-form {
    margin: 0.5em 0;

    fieldset {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .quick-search {
    margin: 0;

    .eui-icon {
      margin-right: 5px;
    }

    fieldset {
      background-color: transparent;
      border-left: 0;
    }
  }

  label {
    margin: 0.55em 0.8em 0 0;
    color: lighten($light-grey, 10%);
  }

  input[type="text"] {
    width: 13em;
    padding: 0.55em;
    border: none;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: inline-block;
    margin-top: 4px;
    margin-right: -4px;
  }

  button {
    border: none;
    display: inline-block;
  }

  .full-search {
    font-size: 0.9em;
  }
}

.search-module {

  .form-description {
    margin: 0;
  }

  input {
    color: $black;
    &[type="text"] {
      width: 100% !important;
      padding: 0.15em !important;
    }
  }
}

.cancel {
  vertical-align: middle;
  margin-left: 0.625em;
}

/* Search Results Page Styles */

.eui-pagination {
  text-align: center;
  font-size: 0.9em;

  ul {
    padding: 0;
  }
}

.pagination-summary {
  margin-bottom: 1em;
}

#search-results {
  table-layout: fixed;

  thead {

    a:link,
    a:visited {
      color: $black
    }

    .fa {
      padding-left: 0.25em;
      color: rgba($true-black, 0.65);
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    #not-current-provider-modal {
      white-space: normal;
    }
  }
}
