/* ===================================================== *\
   Search Modules in Header
\* ===================================================== */

// todo: requires refactoring


/* Search Form
------------------------------------------*/

#search {
  float: right;

  .full-search-form {
    margin: 0.5em 0;

    fieldset {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  .quick-search {
    margin: 0;
  }

  label {
    width: 7em;
    margin: 0.55em 0.8em 0 0;
    color: lighten($light-grey, 10%);
  }

  input[type="text"] {
    width: 10em;
    padding: 0.5em;
    border: none;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display: inline-block;
  }

  button {
    border-left: none;
    display: inline-block;
  }

  .full-search {
    font-size: 0.8em;
  }
}

.search-module {
  background-color: darken($black, 5%);
  width: 800px;
  z-index: 10;
  position: absolute;
  top: 140px;
  text-align: left;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);

  input {
    color: $black;
    &[type="text"] {
      width: 100% !important;
      padding: 0.15em !important;
    }
  }
}

.cancel {
  vertical-align: middle;
  margin-left: 0.625em;
}

/* Search Results Page Styles */

.pagination {
  text-align: center;

  ul {
    padding: 0;
  }
}

.pagination-summary {
  margin-bottom: 1em;
}

#search-results {
  table-layout: fixed;

  thead {

    a:link,
    a:visited {
      color: $black
    }

    .fa {
      padding-left: 0.25em;
      color: rgba($true-black, 0.65);
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    #not-current-provider-modal {
      white-space: normal;
    }
  }
}
