// Subscription Form

.edit-subscription-form {
  .select2-selection__rendered {
    opacity: 0.4
  }
  .select2-selection--single {
    border: 1px solid #ddd
  }
}

.estimate-text {
  font-weight: bold;
}

.query-text-large {
  overflow-y: scroll;
  resize: none;
}

.query-title {
  margin-block-end: 0px;
  margin-inline-end: 0px;
}
