/* ===================================================== *\
   Tables
\* ===================================================== */

table:not(#metadata-preview .table, #collection-metadata-preview .table) {
  // Override jQuery Chosen styles in tables
  .chosen-container-multi {
    width: 100% !important;
  }

  .chosen-container-multi .chosen-choices {
    border: 0;
    background-image: none;
  }

  tr:nth-child(2n+2) {
    .chosen-container-multi .chosen-choices {
      border: 0;
      background: $light-grey;
    }
  }

  th[colspan] {
    text-align: center;
  }

  th {
    white-space: nowrap;
  }

  tr.selected {
    border-left: 3px solid $ocean-blue;
    font-weight: bold;
  }

  input[type=checkbox] {
    margin: 0 15px;
  }
}

.access-example .card, .access-styles .card {
  white-space: nowrap;
}

.cell-primary-cta {
  width: 80%;
  text-align: left;
}

.preview table, .preview table td, .preview table th {
  border: 1px solid darken($light-blue, 8%);
}

.preview table th {
  background: darken($light-blue, 4%);
}

.preview table tr:nth-child(2n+2) {
  background: $light-blue;
}

.preview table .table-header-span {
  background: darken($light-blue, 8%);
}

table caption {
  text-align: left;
  color: #617376;
  font-weight: bold;
}

table.tablesorter {
  thead {
    tr {
      th:not(.sorter-false) {
        &.tablesorter-headerAsc:after,
        &.tablesorter-headerDesc:after,
        &.tablesorter-header:after {
          font-family: FontAwesome;
        }
        &.tablesorter-header:after {
          content: " \f0dc";
        }
        &.tablesorter-headerAsc:after {
          content: " \f0de";
        }
        &.tablesorter-headerDesc:after {
          content: " \f0dd";
        }
      }

      div.tablesorter-header-inner {
        display: inline;
      }
    }
  }
}

// Styling sorting links on proposal index page tables
.open-draft-proposals thead a:link, .open-draft-proposals thead a:visited{
  color: $black;
}

.subscriptions-table {
  margin-bottom: 1em;
}
