/* ===================================================== *\
   Timeline feature (originally for proposals in draft MMT progress page)
\* ===================================================== */

.timeline {
  border-width: 1px;
  border-color: $dolphin-grey;
  border-radius: 5px;
  border-style: solid;
  width: 47%;
  display: inline-block;
  margin-top: 28px;
  float:left;
}

.timeline-wrapper {
  position: relative;
  max-width: 1200px;
}

.timeline-node, .timeline-node-faded, .timeline-node-active, .timeline-node-rejected {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: -20px;
  top: 30%;
  background-color: $ocean-blue;
  border-radius: 50%;
  z-index: 1;
}

// Using opacity for the nodes made the line visible, so change the color
// to generate the faded effect.
.timeline-node-faded {
  background-color: $pale-blue;
}

// The settings that need to change to display the active color ring.
.timeline-node-active, .timeline-node-rejected {
  width: 24px;
  height: 24px;
  left: -21px;
  border: 3px solid $orange;
}

.timeline-node-rejected {
  border: 3px solid $red;
}

// The ::after classes control the lines on the timeline
.timeline-line-active::after, .timeline-line-faded-active::after, .timeline-line::after, .timeline-line-faded::after, .timeline-line-faded-rejected::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: $dolphin-grey;
  top: 19px;
  bottom: -93px;
  left: 53%;
  margin-left: -3px;
}

.timeline-line-faded-rejected::after {
  bottom: -123px;
}

.timeline-line-faded-active::after, .timeline-line-faded::after, .timeline-line-faded-rejected::after {
  opacity: 0.2;
}

.timeline-line::after, .timeline-line-faded::after {
  top: 22px;
  bottom: -92px;
}

.timeline-container {
  padding: 5px 20px;
  position: relative;
  background-color: inherit;
  width: 90%;
  left: 10%;
}

.timeline-information {
  font-style: italic;
  color: grey;
  margin: 10px;
}

.timeline-rejection-information {
  display: block;
  white-space: nowrap;
  max-width: 45ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-title {
  padding-left: 40px;
}

.timeline-stage, .timeline-stage-inactive {
  font-weight: bold;
}

.timeline-stage-inactive {
  opacity: .6;
}

.progress-actions {
  border-width: 1px;
  border-color: $dolphin-grey;
  border-radius: 5px;
  border-style: solid;
  width: 47%;
  display: inline-block;
  vertical-align: top;
  height: auto;
  margin-top: 20px;
  float: right;
}

.progress-actions-text {
  padding-left: 45px;
  padding-right: 10px;
}

.progress-update {
  float:right;
}

.progress-actions-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
