/* ===================================================== *\
   UMM Version Label
\* ===================================================== */

.umm-version-label {
  margin-left: 2px;
  text-transform: none;
  font-weight: normal;
  padding: 0.3em;
}