/* ===================================================== *\
   UMM Version Label
\* ===================================================== */

.umm-version-label {
  margin-left: 2px;
  text-transform: none;
  vertical-align: super;
  font-weight: normal;
  padding: 0.3em;
  padding-top: 0.2em;
}