<main class="dashboard" role="main">
  <article id="metadata" class="row-content flex-row--start" role="article">
    <% if @non_nasa_approver %>
      <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/manage_proposals_for_approver' %>
    <% else %>
      <%= render partial: 'proposal/collection_draft_proposals/proposal_partials/manage_proposals_for_user' , locals: {
        create_type: 'Collection Proposal',
        search_type: 'collections'
      } %>
    <% end %>
  </article>
</main>
