.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0px;
    padding: 0px;
}

.progress-view {
    display: flex;
    align-items: center
}


.section-list {
    height: 400px;
    width: 300px
}