.react-datepicker__month-select {
  width: auto;
}

.react-datepicker__year-select {
  width: auto;
}

.react-datepicker__current-month {
  font-size: 1.0rem;
  margin-bottom: 5px;
}

.react-datepicker__day--outside-month {
  color: grey;
}

#LastUpdatedDate {
  padding: 8px;
}

.custom-date-picker-component,
.custom-date-picker-component>div.react-datepicker-wrapper,
.custom-date-picker-component>div>div.react-datepicker__input-container,
.custom-date-picker-component>div>div.react-datepicker__input-container input {
  width: 100%;
}