input[type=text] {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
}

.widget-header {
    display: flex;
    justify-content: space-between;
}

.widget-description {
    padding-left: 5px;
    font-style: italic;
    font-size: .85rem;
}

.custom-textarea-widget-input {
    min-height: 100px;
    min-width: 100%;
}

.custom-text-widget-input {
    min-width: 100%;
    height: 37px;
}

input[type=radio],
input.radio {
    position: relative;
    top: 1.65px
}