.file-upload-area {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  
  &__error-message {
    word-wrap: break-word;
  }
  
  &:hover {
    border-color: #999;
  }
}
