/* Headings
===========================================*/

h2 {
  line-height: 1.231em;
}

h4 {
  color: $black;
  font-weight: bold;
}

/* Sub-Headings
===========================================*/

.subtitle {
  border-bottom: 2px solid $red;
  text-transform: uppercase;
  padding-bottom: 0.625em;
  font-weight: bold;
}

/* Icons
===========================================*/

.internal {
  h3:before {
    content: "\f0d7";
    font-family: "FontAwesome";
    margin-right: 0.3125em;
  }
}

.search-meta {
  margin-bottom: 1.5em;
  color: lighten($steel-blue, 20%);
}

input[type="text"] {
  color: #424242;
}
