/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require eui-1.1.7/eui
 *= require dropzone-4.0.1/dropzone
 *= require select2-4.0.13/select2.min
 *= require bootstrap-datepicker-1.6.0/bootstrap-datepicker.standalone.min
 *= require bootstrap-datetimepicker
 *= require jquery.webui-popover/jquery.webui-popover.min
 *= require jquery-ui/tooltip
 */

@import "components/neatgrid";
@import "config/colors";

@import "redactor/redactor";
@import "vendor/vendor";
@import "bourbon";
@import "font-awesome";

@import "base/elements";
@import "base/form";
@import "base/typography";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/spacing";
@import "layout/tophat2";
@import "layout/stretch-button-bar";

@import "components/accordion";
@import "components/action";
@import "components/badge";
@import "components/banner";
@import "components/breadcrumb";
@import "components/buttons";
@import "components/callout-box";
@import "components/cards";
@import "components/date-picker";
@import "components/dual-select";
@import "components/emails";
@import "components/geographic-coverage";
@import "components/grid-list";
@import "components/groups";
@import "components/icons";
@import "components/internal";
@import "components/lightbox";
@import "components/masthead";
@import "components/metadata-cta";
@import "components/metadata-fields";
@import "components/metadata-form";
@import "components/metadata-preview";
@import "components/modal";
@import "components/navigation";
@import "components/popover";
@import "components/preview-gem-cards";
@import "components/science-and-location-keywords";
@import "components/search";
@import "components/skip-nav";
@import "components/tables";
@import "components/chooser";
@import "components/cursor";
@import "components/umm-version-label";
@import "components/variable_generation";
@import "components/timeline";

@import "pages/bulk-updates";
@import "pages/pages";
@import "pages/order-policies";
@import "pages/data-management";
@import "pages/order-option-assignments";
@import "pages/bulk-updates";
@import "pages/error-pages";

@import "overrides/content";
@import "overrides/datepicker";
@import "overrides/datetimepicker";
@import "overrides/eui";
@import "overrides/modifiers";
@import "overrides/popover";
@import "overrides/redactor";
@import "overrides/select2";
@import "overrides/tablesorter";
@import "overrides/metadatapreview";