<a href="#invalid-template-modal" id="display-invalid-template-modal" class="display-modal is-invisible">Invalid Template Modal</a>
<div id="invalid-template-modal" class="eui-modal-content">
  <a href="#" class="modal-close float-r"><i class="fa fa-times"></i><span class="is-invisible">Close</span></a>
  <p>A template needs a unique name to be saved.</p>
</div>
