---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/providers/MMT_2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message: 
    headers:
      x-secret-message:
      - HELLO
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"513ad7cbd2bac0dc065051e20f181901"'
    body:
      encoding: UTF-8
      string: '{"provider":{"additional_information":"Additional info...","contacts":[{"address":{"address_name":"Business","city":"Riverdale","country":"United
        States","state":"MD","street1":"5700 Rivertech Ct","us_format":true,"zip":"20774"},"email":"user@nasa.gov","first_name":"User","last_name":"One","middle_initial":"A","phones":[{"number":"555-555-5555","phone_number_type":"BUSINESS"}],"role":"Admin
        role","title":"Mr."}],"description_of_holdings":"If I were a holding description,
        I would be here","description_of_services":"description of services...","discovery_urls":["http://discoverurl.com"],"id":"07ACF84C-6360-0BC7-92A8-E95A958DDE12","organization_name":"MMT","provider_id":"MMT_2","provider_types":["CMR"],"rest_only":true}}'
  recorded_at: Mon, 13 Mar 2017 17:58:02 GMT
recorded_with: VCR 3.0.1
