<h4>Distribution Information Fields:</h4>

<!-- Related URL [r] -->
<%= render :partial=>'drafts/previews/types/related_url_type', :locals=>{:key_name=>'RelatedUrl', :hash_for_key=>@draft.draft, :title_override=>'Related URL'} %>

<!-- Distribution -->
<%= render :partial=>'drafts/previews/types/distribution_type', :locals=>{:key_name=>'Distribution', :hash_for_key=>@draft.draft} %>




