<div class="preview-collection accordion is-closed">
  <div class="accordion-header">
    <i class="fa fa-angle-down toggle"></i>
    <h4>Temporal Extent Fields:</h4>
  </div>
  <div class="accordion-body">
    <ul class="temporal-extent-preview">

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['TemporalExtent'],
          name: 'TemporalExtent',
          type: TypesHelper::TemporalExtentType
      } %>

      <%= render partial: 'drafts/previews/fields/display_array_with_header', locals: {
          key_name: 'TemporalKeyword',
          hash_for_key: draft
      } %>

      <%= render partial: 'drafts/previews/preview_type', locals: {
          data: draft['PaleoTemporalCoverage'],
          name: 'PaleoTemporalCoverage',
          type: TypesHelper::PaleoTemporalCoverageType
      } %>

    </ul>
  </div>
</div>
