
<% if @is_update %>
  <h1 class="styled-heading">Updated Metadata Record</h1>
<% else %>
  <h1 class="styled-heading">New Metadata Record</h1>
<% end %>

<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
  <p>
    <%= "Your collection metadata record has been successfully #{ @is_update ? 'updated' : 'published to the CMR'}. Your collection's concept ID is #{@concept_id}." %>
  </p>
  <div class="center">
    <%= link_to 'View Collection', collection_url(@concept_id, revision_id: @revision_id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
