<h1 class="styled-heading"><%= "#{@short_name} #{@publish_or_update}" %></h1>


<div class="email-message">
  <p>
    <%= @user[:name] %>,
  </p>
  <p>
    <%= @email_message %>
  </p>
  <div class="center">
    <%= link_to 'View Tool', tool_url(@concept_id, revision_id: @revision_id), class: 'btn btn-blue' %>
  </div>
</div>

<div class="email-footer">
  <img src="https://cdn.earthdata.nasa.gov/eui/latest/docs/assets/ed-logos/meatball.png" alt="Meatball" class="image-center" />
</div>
