---
http_interactions:
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/group_members/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f13a08832cac845ef6526e4c83ba4c94"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"q6ddmkhivmuhk","first_name":"Execktamwrwcqs","last_name":"02Wvhznnzjtrunff","email_address":"pvblvweo@hqdybllrn.sghjz"},{"uid":"qhw5mjoxgs2vjptmvzco","first_name":"06dutmtxyfxma","last_name":"Sppfwzsbwz","email_address":"jkbvtdzjtheltsmgx@ybgcztxabzqnzmmvf.ygen"},{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy"}]}'
  recorded_at: Wed, 19 Oct 2022 20:25:37 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/user?user_id=q6ddmkhivmuhk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"da7f955791d243db92f48d5abc04b424"
    body:
      encoding: UTF-8
      string: '{"msg":"q6ddmkhivmuhk successfully deleted from group 38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa"}'
  recorded_at: Wed, 19 Oct 2022 20:25:37 GMT
- request:
    method: delete
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/user?user_id=qhw5mjoxgs2vjptmvzco
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af6b11b0a244a7b2017520eeca1c2d03"
    body:
      encoding: UTF-8
      string: '{"msg":"qhw5mjoxgs2vjptmvzco successfully deleted from group 38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa"}'
  recorded_at: Wed, 19 Oct 2022 20:25:37 GMT
- request:
    method: post
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729/update
    body:
      encoding: UTF-8
      string: "&description=New%20Testing%20Description"
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"589d455328b68ba4365011423cd3d2dd"
    body:
      encoding: UTF-8
      string: '{"description":"Successfully updated user group 38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa"}'
  recorded_at: Wed, 19 Oct 2022 20:25:37 GMT
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/user_groups/ee2f6770-ad75-4eb4-9744-e0f70c145729
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a1bb06372727b0f052eb71519f367c21"
    body:
      encoding: UTF-8
      string: '{"group_id":"ee2f6770-ad75-4eb4-9744-e0f70c145729","name":"38732ce0dddssssjkjjaasa72ddd331eadycb9b6663ddddddddsdddddff3xx24dd6666deeeaaaaaaaa","description":"New
        Testing Description","shared_user_group":false,"tag":"MMT_2","created_by":"mmt_test","app_uid":"mmt_test","client_id":"81FEem91NlTQreWv2UgtXQ"}'
  recorded_at: Wed, 19 Oct 2022 20:25:37 GMT
[...]
- request:
    method: get
    uri: https://sit.urs.earthdata.nasa.gov/api/users?uids%5B%5D=rarxd5taqea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eaccess_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b4aaeb8624dd79f23f6be32d84ef931c"
    body:
      encoding: UTF-8
      string: '{"users":[{"uid":"rarxd5taqea","first_name":"Rvrhzxhtra","last_name":"Vetxvbpmxf","email_address":"uozydogeyyyujukey@tjbh.eyyy","email_verified":true,"country":"Macedonia","study_area":null,"registered_date":"2012-08-29T11:02:42.000Z","allow_auth_app_emails":true,"agreed_to_meris_eula":false,"agreed_to_sentinel_eula":false}]}'
  recorded_at: Wed, 19 Oct 2022 20:25:38 GMT
recorded_with: VCR 6.1.0
