.bounding-rectangle-container {
  display: flex;
  flex-direction: column;

  .bounding-rectangle-north-row,
  .bounding-rectangle-south-row {
    display: flex;
    justify-content: space-around;
  }

  .bounding-rectangle-east-west-row {
    display: flex;
    justify-content: space-between;
  }

  .bounding-rectangle-coordinate-label {
    text-align: center;
  }

  .bounding-rectangle-coordinate {
    width: 200px;  
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
