<div class="multiple chronostratigraphic-unit">
  <% chronostratigraphic_units.each_with_index do |chronostratigraphic_unit, index| %>
    <%= render partial: 'drafts/forms/fields/chronostratigraphic_unit_fields', locals: {
        chronostratigraphic_unit: chronostratigraphic_unit,
        name_prefix: "#{name_prefix}#{index}_",
        last_chronostratigraphic_unit: chronostratigraphic_unit == chronostratigraphic_units.last,
        index: index } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Chronostratigraphic Unit</button>
  </div>
</div>
