<div class="multiple contact">
  <% contacts.each_with_index do |contact, index| %>
    <%= render partial: 'drafts/forms/fields/contact_fields', locals: {
        contact: contact,
        name_prefix: "#{name_prefix}#{index}_",
        last_contact: contact == contacts.last,
        index: index } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Contact</button>
  </div>
</div>
