<div class="multiple distribution">
  <% distributions.each_with_index do |distribution, index| %>
    <%= render partial: 'drafts/forms/fields/distribution_fields', locals: {
        distribution: distribution,
        name_prefix: "#{name_prefix}#{index}_",
        last_distribution: distribution == distributions.last,
        index: index } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Distribution</button>
  </div>
</div>
