<div class="multiple <%= lineage_type %>-lineage">
  <% lineages.each_with_index do |lineage, lineage_index| %>
    <%= render partial: 'drafts/forms/fields/lineage_fields', locals: {
        lineage: lineage,
        name_prefix: "#{name_prefix}#{lineage_index}_",
        last_lineage: lineage == lineages.last,
        index: lineage_index,
        lineage_type: lineage_type } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Metadata Date</button>
  </div>
</div>
