<div class="multiple <%= lineage_type %>-lineage-date">
  <% dates.each_with_index do |date, index| %>
    <%= render partial: 'drafts/forms/fields/lineage_date_fields', locals: {
        date: date,
        name_prefix: "#{name_prefix}#{index}_",
        last_date: date == dates.last,
        index: index,
        lineage_type: lineage_type } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Date</button>
  </div>
</div>
