<div class="multiple responsibility">
  <% responsibilities.each_with_index do |responsibility, responsibility_index| %>
    <%= render partial: 'drafts/forms/fields/responsibility_fields', locals: {
        responsibility: responsibility,
        name_prefix: "#{name_prefix}#{responsibility_index}_",
        last_responsibility: responsibility == responsibilities.last,
        index: responsibility_index } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Responsibility</button>
  </div>
</div>
