<div class="multiple temporal-extent">
  <% temporal_extents.each_with_index do |temporal_extent, index| %>
    <%= render partial: 'drafts/forms/fields/temporal_extent_fields', locals: {
        temporal_extent: temporal_extent,
        name_prefix: "#{name_prefix}#{index}_",
        last_temporal_extent: temporal_extent == temporal_extents.last,
        index: index } %>
  <% end %>
  <div class="actions">
    <button type="button" class="btn btn-green btn-sm btn-round add-new">Add another Temporal Extent</button>
  </div>
</div>
