---
http_interactions:
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/providers/SEDAC.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - '"e8990b935f21d2b6fa2604ded8047390"'
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"provider":{"additional_information":" http://sedac.ciesin.columbia.edu/","contacts":[{"address":{"address_name":"work","city":"Palisades","country":"UNITED
        STATES","state":"NY","street1":"CIESIN, 61 Route 9W","street2":"P.O. Box 1000","us_format":false,"zip":"10964"},"email":"ciesin.info@ciesin.columbia.edu","first_name":"SEDAC","last_name":"User
        Services","organization":"SEDAC","phones":[{"number":"(845) 365-8920","phone_number_type":"BUSINESS"},{"number":"(845)
        365-8922","phone_number_type":"BUSINESS_FAX"}],"role":"user services"}],"description_of_holdings":"The
        Socioeconomic Data and Applications Center (SEDAC) mission is to develop and
        operate applications that support the integration of socioeconomic and Earth
        science data and to serve as an \"Information Gateway\" between the Earth
        and social sciences. SEDAC data holdings cover Administrative Boundaries,
        Biodiversity, Climate Change, Economic Activity, Environment & Health, Environmental
        Governance, Hazard Vulnerability, Population, Poverty & Food Security, and
        Sustainability Indicators at country, continent, and global scales.","description_of_services":"
        ","discovery_urls":["http://sedac.ciesin.columbia.edu/"],"id":"1217","organization_name":"Socioeconomic
        Data and Applications Center (SEDAC)","provider_id":"SEDAC","provider_types":["CATALOG_REST","DATA"],"rest_only":false}}'
  recorded_at: Fri, 10 Jul 2015 14:30:04 GMT
recorded_with: VCR 2.9.3
