---
http_interactions:
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/providers/SEDAC.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message:
    headers:
      etag:
      - '"3eec09d3ce8683432ab794f6aa3fb94b"'
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"provider":{"contacts":[{"address":{"address_name":"work","city":"Riverdale","country":"United
        States","state":"MD","street1":"5700 Rivertech Ct","us_format":true,"zip":"20737"},"email":"alai@echo.nasa.gov","first_name":"Alex","last_name":"Lai","phones":[{"number":"3018518034","phone_number_type":"BUSINESS"}],"role":"Tester"}],"description_of_holdings":"TEST","discovery_urls":["http://sedac.ciesin.columbia.edu"],"id":"1DF04AE8-59BF-C0FD-3189-18043002A682","organization_name":"Socioeconomic
        Data and Applications Data Center","provider_id":"SEDAC","provider_types":["CATALOG_REST","DATA"],"rest_only":false}}'
  recorded_at: Fri, 18 Sep 2015 03:40:04 GMT
recorded_with: VCR 2.9.3
