<!-- Platform -->
<div class="row taller">
  <div class="col-12">
    <label for="platform" class="icon-required">Platform</label><i class="fa fa-info-circle"></i><a href="#">Propose a new value</a>
    <div class="row">
      <div class="col-12">
        <a href="#" class="icon-more">Add platform</a>
      </div>
    </div>
  </div>
  <div class="banner banner-danger">
    <i class="fa fa-exclamation-triangle"></i><strong>Please select at least one platform.</strong>
  </div>
</div>
<!-- Instrument -->
<div class="row taller">
  <div class="col-12">
    <label for="instrument" class="icon-required">Instrument</label><i class="fa fa-info-circle"></i><a href="#">Propose a new value</a>
    <div class="row">
      <div class="col-12">
        <a href="#" class="icon-more">Add instrument</a>
      </div>
    </div>
  </div>
  <div class="banner banner-danger">
    <i class="fa fa-exclamation-triangle"></i><strong>Please select at least one instrument.</strong>
  </div>
</div>
<!-- Sensor -->
<!-- Not in UMM JSON Schema yet -->

<!-- Project -->
<div class="row taller">
  <div class="col-12">
    <label for="project">Project</label><i class="fa fa-info-circle"></i><a href="#">Propose a new value</a>
    <div class="row">
      <div class="col-12">
        <a href="#" class="icon-more">Add project</a>
      </div>
    </div>
  </div>
</div>
