<!-- ISOTopicCategory -->
<div class="row taller">
  <div class="col-12">
    <label for="iso_topic_category">ISO Topic Category</label><i class="fa fa-info-circle"></i>
    <div class="row">
      <!-- Insert Fields -->
    </div>
  </div>
</div>

<!-- ScienceKeyword [r] -->
<div class="row taller">
  <div class="col-12">
    <label for="science_keyword" class="icon-required">Science Keyword</label><i class="fa fa-info-circle"></i>
    <div class="row">
      TODO
    </div>
  </div>
</div>

<!-- AncillaryKeyword -->
<div class="row taller">
  <div class="col-12">
    <label for="ancillary_keyword">Ancillary Keyword</label><i class="fa fa-info-circle"></i>
    <div class="row">
      <!-- Insert Fields -->
    </div>
  </div>
</div>

<!-- AdditionalAttribute -->
<div class="row taller">
  <div class="col-12">
    <label for="additional_attribute">Additional Attribute</label><i class="fa fa-info-circle"></i>
    <div class="row">
      <!-- Insert Fields -->
    </div>
  </div>
</div>
