<div class="row metadata-cta">
  <div class="col-2">
    <%= submit_tag "Save & Done", class: "btn btn-blue" %>
  </div>

  <div class="col-9 form-nav">
    <label for="next-section">Next: </label>

    <%= select_tag "next_section_#{location}", options_for_select(@draft_forms.map{|d| [d[:form_partial_name].titleize, d[:form_partial_name]]}, @draft_form), onchange: 'goToForm(this.form, this.value)' %>

    <%= submit_tag "Save & Next", class: "btn btn-blue" %>
  </div>

  <div class="col-1">
    <%= link_to 'Cancel', draft_path(@draft), {:class=>"cancel", :id=>'discard_changes'} %>
  </div>

</div>
