<section class="content-header">
  <div class="content">
    <div class="breadcrumb">
      <ol>
        <li><%= link_to 'Manage Metadata Dashboard', dashboard_path %></li>
        <li><%= link_to (@draft.title.empty? ? nil : @draft.title) || '<Untitled Collection Record>', draft_path(@draft) %></li>
        <li><%= @current_form_name %></li>
      </ol>
    </div>
    <h2><%= @current_form_name %></h2>
  </div>
</section>