<!-- Metadata language -->
<div class="row taller">
  <div class="col-12">
    <label for="metadata_language">Metadata Language</label><i class="fa fa-info-circle"></i>
    <div class="row">
      <!-- Insert Fields -->
      <!--  Not clear in UMM json-schema what the field should be -->
    </div>
  </div>
</div>

<!-- Metdata Standard [r] -->
<div class="row">
  <div class="col-12">
    <label for="draft_metadata_standard" class="icon-required">Metadata Standard</label><i class="fa fa-info-circle"></i>

    <div class="row sub-fields">
      <% metadata_standard = @draft.draft['MetadataStandard'] || {} %>
      <label for="draft_metadata_standard_name" class="icon-required">Metadata Standard Name</label><i class="fa fa-info-circle"></i>
      <%= select_tag "draft[metadata_standard][name]", options_for_select(['SERF', 'UMM', 'ECHO10', 'DIF', 'ISO 19115-2', 'ISO 19115-1'], metadata_standard['Name']), class: 'half-width', required: true %>

      <label for="draft_metadata_standard_version" class="icon-required">Metadata Standard Version</label><i class="fa fa-info-circle"></i>
      <%= text_field_tag('draft[metadata_standard][version]', metadata_standard['Version'], class: 'half-width', required: true) %>

    </div>
  </div>
</div>


<!-- Metadata Dates -->
  <!-- Not in UMM JSON Schema  -->
<!-- <div class="row">
  <div class="col-12">
    <label for="Metedata Dates">Metedata Dates</label><i class="fa fa-info-circle"></i>
    <div class="row">

    </div>
  </div>
</div> -->
