<% content_for :header_title do %>
  <h2><%= titleize_form_name(@current_form) %></h2>
<% end %>

<div class="row row-content">
  <section>
    <%= form_tag(send("#{plural_resource_name}_path", associated_collection_id: @associated_collection_id), method: :post, id: 'umm_form', class: "umm-form #{published_resource_name}-form", novalidate: 'novalidate') do %>
      <%= render partial: 'form', locals: { resource: get_resource, json_form: @json_form, current_form: @current_form } %>
    <% end %>
  </section>
</div>

<%= render partial: 'drafts/shared/javascript', locals: { current_form: @current_form } %>
