<div class="grid-row row-content">
  <section>
    <h2><%= current_user.provider_id %> Order Option Assignments</h2>

    <%= link_to 'Create an Order Option Assignment', new_order_option_assignment_path, class: 'eui-btn--blue space-bot' %>

    <h3>Manage Order Option Assignments</h3>

    <p>To <em>view</em> or <em>remove</em> currently assigned Order Options select the collections to view below.</p>

    <%= form_tag(edit_order_option_assignments_path, method: :post, id: 'order-option-assignments-form') do %>
      <fieldset>
        <div class="grid-row">
          <div id="chooser-widget"></div>
        </div>
      </fieldset>

      <fieldset>
        <%= button_tag 'Display Assignments', class: 'eui-btn' %>
      </fieldset>
    <% end %>
  </section>
</div>
