<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Metadata Management Tool Invitation</title>
    <style type="text/css">
      #outlook a {padding:0;}
      body {
        max-width:800px !important;
        -webkit-text-size-adjust:100%;
        -ms-text-size-adjust:100%;
        margin:0 auto;
        padding:0;
        background-color: rgb(241, 241, 241);
        font-family: 'Open Sans', sans-serif;
      }
      .ExternalClass {width:100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}

      img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}

      p {margin: 1em 0;}

      h1, h2, h3, h4, h5, h6 {color: rgb(50, 50, 50) !important;}
      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
      h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
        color: #000 !important;
       }
      h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
        color: rgb(50, 50, 50) !important;
      }

      h1.styled-heading {
        padding: 0.5em 1em;
        background-color: rgb( 34, 118, 172);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-bottom: 0;
        color: #fff !important;
        font-weight: 200;
      }

      .email-message {
        background-color: #fff;
        margin-top: 0;
        padding: 2em 1em;
      }

      a:link { color: rgb(181, 206, 222); }
      a:visited { color: rgb(181, 206, 222); }
      a:hover { color: rgb(181, 206, 222); }

      .btn {
        padding: 0.5em 1em;
        text-align: center;
        vertical-align: middle;
        border: 1px solid rgba(50, 50, 50, 0.2);
        color: #000;
        background-color: rgb(235, 235, 235);
        text-decoration: none;
      }

      .btn-green {
        background-color: rgb( 32, 206, 111);
        color: #fff;
      }

      .btn-blue {
        background-color: rgb( 34, 118, 172);
        color: #fff;
      }

      .center {
        text-align: center;
      }

      .email-footer {
        background-color: rgb( 34, 118, 172);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 0.5em;
      }

      .image-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      /***************************************************
      ****************************************************
      MOBILE TARGETING
      Use @media queries with care.  You should not bring these styles inline -- so it's recommended to apply them AFTER you bring the other stlying inline.
      Note: test carefully with Yahoo.
      Note 2: Don't bring anything below this line inline.
      ****************************************************
      ***************************************************/
      /* NOTE: To properly use @media queries and play nice with yahoo mail, use attribute selectors in place of class, id declarations.
      table[class=classname]
      Read more: http://www.campaignmonitor.com/blog/post/3457/media-query-issues-in-yahoo-mail-mobile-email/
      */
      @media only screen and (max-device-width: 480px) {
        /* A nice and clean way to target phone numbers you want clickable and avoid a mobile phone from linking other numbers that look like, but are not phone numbers.  Use these two blocks of code to "unstyle" any numbers that may be linked.  The second block gives you a class to apply with a span tag to the numbers you would like linked and styled.
        Inspired by Campaign Monitor's article on using phone numbers in email: http://www.campaignmonitor.com/blog/post/3571/using-phone-numbers-in-html-email/.
        Step 1 (Step 2: line 224)
        */
        a[href^="tel"], a[href^="sms"] {
              text-decoration: none;
              color: rgb(181, 206, 222);
              pointer-events: none;
              cursor: default;
            }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
              text-decoration: default;
              color: rgb(181, 206, 222);
              pointer-events: auto;
              cursor: default;
            }
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        a[href^="tel"], a[href^="sms"] {
              text-decoration: none;
              color: rgb(181, 206, 222);
              pointer-events: none;
              cursor: default;
            }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
              text-decoration: default;
              color: rgb(181, 206, 222);
              pointer-events: auto;
              cursor: default;
            }
      }
    </style>

    <!-- Targeting Windows Mobile -->
    <!--[if IEMobile 7]>
    <style type="text/css">
    </style>
    <![endif]-->

    <!-- ***********************************************
    ****************************************************
    END MOBILE TARGETING
    ****************************************************
    ************************************************ -->

    <!--[if gte mso 9]>
    <style>
      /* Target Outlook 2007 and 2010 */
    </style>
    <![endif]-->

    <!-- <link rel="stylesheet" href="#"/> -->

  </head>
  <body class="email-template">
    <%= yield %>
  </body>
</html>
