---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/calendar_events.json?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message:
    headers:
      x-echo-feed-author:
      - ECHO Operations & Data Provider User Services
      x-echo-feed-title:
      - All Provider Events
      etag:
      - '"8e569f98ed3ef0fdfd048d9a046c9179"'
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"calendar_event": {"id": "9CF42425-B25C-F8D4-6A3B-2B6029FF79A8","message": "<p>GPM GMI data will not be available for the  22,  2014 8:14 UTC through October 24, 2014 15:05 UTC. Science observations  stopped while GMI was placed in standby mode due to an anomaly</p>","owner_provider_id": "45861","severity": "ALERT","start_date": "2014-10-22T08:14:00Z","title": "No GPM GMI data between 2014-10-22 and 2014-10-24"}}]'
  recorded_at: Mon, 06 Jul 2015 00:40:27 GMT
recorded_with: VCR 2.9.3
