---
http_interactions:
- request:
    method: get
    uri: https://testbed.echo.nasa.gov/echo-rest/calendar_events.json?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - MMT
      Echo-ClientId:
      - MMT
  response:
    status:
      code: 200
      message: 
    headers:
      x-echo-feed-author:
      - ECHO Operations & Data Provider User Services
      x-echo-feed-title:
      - All Provider Events
      etag:
      - '"8e569f98ed3ef0fdfd048d9a046c9179"'
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"calendar_event":
      {"end_date":"2021-07-27T21:00:00Z","id":"C4F4241B-5495-92DA-C600-3282025E1F0A","message":"<p>Regularly
        scheduled maintenance of the systems at NSIDC will prevent the distribution
        of AMSR-E, <span class=\"wikiword\">IceBridge</span>, <span class=\"wikiword\">ICESat</span>/GLAS,   MODIS,
        and NISE data holdings.  During this downtime period,  retrieving  data will
        not be possible.  We apologize for any  inconvenience that  this may cause.  Please
        contact NSIDC User Services  at nsidc@nsidc.org if you  have any questions.</p>","owner_provider_id":"248ED694-06AA-7DF0-E269-640DE00B628E","severity":"ALERT","start_date":"2021-07-27T15:00:00Z","title":"NSIDC
        scheduled downtime"}},
        {"calendar_event":{"end_date":"2021-07-18T13:00:00Z","id":"7B935536-46A7-639C-31C7-09E953E364E4","message":"<p>Testing
        ability of Reverb to pick up new events</p>","owner_provider_id":"AC2B72A7-A370-C545-038D-F4A53B77CACE","severity":"ALERT","start_date":"2021-07-18T12:00:00Z","title":"Operations
        Testing of NCR"}},
        {"calendar_event":{"end_date":"2024-04-02T16:00:00Z","id":"405EBF8F-8A76-18A7-871B-3F31A2CC0FA9","message":"<p>Misc
        OS patching will see an outage of ECHO-hosted browse access. All other services
        will remain operational</p>","severity":"ALERT","start_date":"2024-04-02T12:00:00Z","title":"Degraded
        Service"}},
        {"calendar_event":{"end_date":"2025-06-17T16:00:00Z","id":"3FB16900-5025-24CE-CD3B-79F1530D0443","message":"<p>OS
        patching will cause an outage of Test Bed.</p>","severity":"ALERT","start_date":"2025-06-17T12:00:00Z","title":"ECHO
        Outage"}}]'
  recorded_at: Mon, 06 Jul 2015 00:40:28 GMT
recorded_with: VCR 2.9.3
